<script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/localization/messages_ru.js"></script>
<script type="text/javascript" src="/static/javascripts/vendor/jquery.form.min.js"></script>
<script type="text/javascript" src="/static/javascripts/fetva_ask.js"></script>


<form class="ask_form" action="{{ path('ask_form') }}" method="post" novalidate style="display:none;">
    <a href="#" class="ask_form__hide">✕</a>
    <div class="ask_form__header">Задайте вопрос:</div>
    <div class="ask_form__text">
        {{ text }}
    </div>

    <div class="control-group">
        <div class="controls">
            <input type="text" name="name" id="name" class="name" placeholder="Введите ваше имя" required>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <input type="text" name="email" id="email" class="email" placeholder="Введите вашу электронную почту" required>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <textarea id="message" name="message" class="message" required></textarea>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <input type="checkbox" checked /> <label>Согласен на обработку персональных данных</label>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <button type="submit" class="mbtn">Отправить</button>

            <div class="ask_form__message success">Ваш вопрос успешно отправлен!</div>
            <div class="ask_form__message error">Что-то пошло не так!</div>
        </div>
    </div>
</form>

<div class="clearfix" style="">

    <a class="ask_form_opener pull-right" href="#" style="">
        <i class="sprite sprite-question_mark_2"></i>
        <span class="ask_form_opener__text">Задать вопрос</span>
    </a>

</div>
