{% extends "@IslamTodayApplication/New/layout.html.twig" %}

{% block title %}{% if (category is defined) and (category.meta.title is not empty) %}{{ category.meta.title }}{% else %}{{ category.title }}{% endif %}{% endblock %}
{% block meta_descr %}{% if category is defined %}{{ category.meta.descr }}{% endif %}{% endblock %}
{% block meta_keywords %}{% if category is defined %}{{ category.meta.keywords }}{% endif %}{% endblock %}

{% block content %}

    <div class="main">

        {% include 'IslamTodayApplicationBundle:Question:ask_form.html.twig' %}

        {% include '@IslamTodayApplication/New/Default/article_list.html.twig' with {'pagination':pagination} %}

        {{ knp_pagination_render(pagination, 'IslamTodayApplicationBundle:Pagination:default.html.twig') }}

        <div class="article article__smaller" style="margin-top: 65px;">
            <div class="article__text text-grayed" id="text">
                {{ category.descr | raw }}
            </div>
        </div>
    </div>

{% endblock %}
{% block rightSidebar %}{% endblock %}