{% extends  "@IslamTodayApplication/New/layout.html.twig" %}

{% block title %}{% if article.meta.title is not empty %}{{ article.meta.title }}{% else %}{{ article.title }}{% endif %}{% endblock %}
{% block meta_descr %}{% spaceless %}{% if article.meta.descr is not empty %}{{ article.meta.descr }}{% else %}{{ article.flatContent.flatContent | raw | striptags | slice(0, 200) }}{% endif %}{% endspaceless %}{% endblock %}
{% block meta_keywords %}{% if article.meta.keywords is not empty %}{{ article.meta.keywords }}{% endif %}{% endblock %}

{% block og %}
    <meta property="og:title" content="{{ article.title }}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ app.request.uri }}">
    <meta property="og:image" content="{{ articleImage }}">
    <meta property="og:description" content="{{ article.shortAnounce }}">


    <meta property="twitter:title" content="{{ article.title }}"/>
    <meta property="twitter:description" content="{{ article.shortAnounce }}"/>
    <meta property="twitter:card" content="summary_large_image"/>
    <meta property="twitter:image" content="{{ articleImage }}"/>
    <meta property="twitter:url" content="{{ app.request.uri }}"/>
{% endblock %}


{% block content %}


    <div class="main">

        {% include 'IslamTodayApplicationBundle:Question:ask_form.html.twig' %}

        <div class="article fetva">

            <div class="article__header fetva__header">
                {{ article.title }}

                <div class="article__indicators">
                    <div class="indicator__watch indicator_gradient"><i class="icon"></i> {{ article.getViewCnt.cnt }}</div>
                    {% if article.commentsCount > 0 %}
                        <div class="indicator__comment indicator_gradient"><i class="icon"></i> {{ article.commentsCount }}</div>
                    {% endif %}
                </div>
            </div>

            <div class="article__meta">
                <div class="article__date">{{ article.publishedAt | format_date('dd MMMM') }} {{ article.publishedAt | date('Y H:i') }}</div>
            </div>

            <div class="article__text">
                {{ article.flatContent.flatContent | raw }}
            </div>

            {% if article.tags is not empty %}
                <div class="article__tags">
                    <span class="article__tags__title">Метки:</span>
                    <span class="article__tags__items">
                {% for tag in article.tags %}
                    <a href="{{ path('islam_today_category', {category_path:tag.path}) }}">{{ tag.title }}</a>{% if not loop.last %},{% endif %}
                {% endfor %}
            </span>
                </div>
            {% endif %}

        </div>


        {{ render(controller('IslamTodayApplicationBundle:Common:socialShare')) }}

        {{ render(controller('IslamTodayApplicationBundle:Articles:related')) }}

        <div class="comments" style="width:620px;">
            <div id="mc-container"></div>
            <script type="text/javascript">
                cackle_widget = window.cackle_widget || [];
                cackle_widget.push({widget: 'Comment', id: 29657});
                (function () {
                    var mc = document.createElement('script');
                    mc.type = 'text/javascript';
                    mc.async = true;
                    mc.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cackle.me/widget.js';
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(mc, s.nextSibling);
                })();
            </script>
            <a id="mc-link" href="http://cackle.ru">Социальные комментарии <b style="color:#4FA3DA">Cackl</b><b style="color:#F65077">e</b></a>
        </div>

    </div>

{% endblock %}
{% block rightSidebar %}{% endblock %}