<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:news="http://www.google.com/schemas/sitemap-news/0.9">
{% for cat in categories %}
    <url>
        <loc>{{ url }}{{ path('islam_today_category', {category_path:cat.parent.path}) }}</loc>
        <news:news>
            <news:publication>
                <news:name>{% if cat.parent.meta.title is not empty %}{{ cat.parent.meta.title }}{% else %}Исламский интернет-сайт и мусульманский форум – портал «Ислам Сегодня»{% endif %}</news:name>
                <news:language>rus</news:language>
            </news:publication>
            <news:title>{{ cat.parent.title }}</news:title>
            {% if cat.parent.meta.keywords is not empty %}<news:keywords>{{ cat.parent.meta.keywords }}</news:keywords>{% endif %}
        </news:news>
    </url>
    {% if cat.subs is defined and cat.subs is not empty %}
        {% for __subs in cat.subs %}
            <url>
                {% if __subs.path == 'fetvy' %}
                    <loc>{{ url }}{{ path('islam_today_category', {category_path:__subs.path}) }}</loc>
                {% else %}
                    <loc>{{ url }}{{ path('islam_today_sub_category', {category_path:cat.parent.path, sub_category_path:__subs.path}) }}</loc>
                {% endif %}
                <news:news>
                    <news:publication>
                        <news:name>{% if __subs.meta.title is not empty %}{{ __subs.meta.title }}{% else %}Исламский интернет-сайт и мусульманский форум – портал «Ислам Сегодня»{% endif %}</news:name>
                        <news:language>rus</news:language>
                    </news:publication>
                    <news:title>{{ __subs.title }}</news:title>
                    {% if __subs.meta.keywords is not empty %}<news:keywords>{{ __subs.meta.keywords }}</news:keywords>{% endif %}
                </news:news>
            </url>
        {% endfor %}
    {% endif %}
{% endfor %}
</urlset>
