<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.8" xmlns:news="http://www.google.com/schemas/sitemap-news/0.8">
    {% for news in all_news %}
        {% set article_link %}{% spaceless %}
            {% if news.primaryCategory.id == 38 %}
                {{ path('news_single_with_date', {news_path:news.path, year:news.publishedAt.format('Y'), month:news.publishedAt.format('m'), day:news.publishedAt.format('d') }) }}
            {% elseif news.primaryCategory.id == 62 %}
                {{ path('secular_news_single_with_date', {news_path:news.path, year:news.publishedAt.format('Y'), month:news.publishedAt.format('m'), day:news.publishedAt.format('d') }) }}
            {% endif %}
        {% endspaceless %}{% endset %}
        <url>
            <loc>{{ url }}{{ article_link }}</loc>
            <news:news>
                <news:publication>
                    <news:name>Исламский интернет-сайт и мусульманский форум – портал «Ислам Сегодня»</news:name>
                    <news:language>rus</news:language>
                </news:publication><news:publication_date>{{ news.publishedAt | date('r')}}</news:publication_date>
                <news:title>{{ news.title }}</news:title>
            </news:news>
        </url>
    {% endfor %}
</urlset>
