<?xml version="1.0" encoding="UTF-8"?>
<sitemapindex xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    <sitemap>
        <loc>{{ url }}/sitemap_category.xml</loc>
    </sitemap>
    <sitemap>
        <loc>{{ url }}/sitemap_news.xml</loc>
    </sitemap>
    <sitemap>
        <loc>{{ url }}/sitemap_articles.xml</loc>
    </sitemap>
</sitemapindex>
