<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.8" xmlns:news="http://www.google.com/schemas/sitemap-news/0.8">
    {% for article in articles %}
        {% set article_link %}{% spaceless %}
        {% if article.secondaryCategories[0].path is defined %}
            {{ path('islam_today_sub_category_article', {category_path:article.primaryCategory.path, sub_category_path:article.secondaryCategories[0].path, article_path:article.path}) }}
        {% else %}
            {{ path('islam_today_category_article', {category_path:article.primaryCategory.path, article_path:article.path}) }}
        {% endif %}
    {% endspaceless %}{% endset %}
        <url>
            <loc>{{ url }}{{ article_link }}</loc>
            <news:news>
                <news:publication>
                    <news:name>Исламский интернет-сайт и мусульманский форум – портал «Ислам Сегодня»</news:name>
                    <news:language>rus</news:language>
                </news:publication><news:publication_date>{{ article.publishedAt | format_date('dd MMMM') }} {{ article.publishedAt | date('Y H:mm') }}</news:publication_date>
                <news:title>{{ article.title }}</news:title>
            </news:news>
        </url>
    {% endfor %}
</urlset>