{% extends "@IslamTodayApplication/New/layout.html.twig" %}

{% block title %}Карта информационно аналитического портала Islamtoday{% endblock %}
{% block meta_descr %}Благодаря карте сайта, значительно облегчается процесс навигации по всем разделам IslamToday.{% endblock %}
{% block meta_keywords %}карта{% endblock %}

{% block content %}
    <style>
        .links_container {
            *zoom: 1;
        }

        .links_container:before, .links_container:after {
            display: table;
            content: "";
            line-height: 0;
        }

        .links_container:after {
            clear: both;
        }

        .links_container .col1, .links_container .col2 {
        }

        .links_container .col3 {
        }

        .links_container .col1, .links_container .col2, .links_container .col3 {
        }

        .links_container .links {
            list-style: none;
        }

        .links_container .links:last-child {
            margin-bottom: 0;
        }

        .links_container .links li {
            font-size: 13px;
        }

        .links_container .links, .links_container .links a {
            color: #666;
        }

        .links_container .links b {
            text-transform: uppercase;
        }
    </style>
    <div class="main">
        <h3 class="page-header">Карта сайта</h3>
        <div class="links_container">
            {% for cat in map %}
                {% if loop.first %}
                    <div class="col1" style="float: left; margin-right: 30px">
                {% endif %}

                {% if loop.index%6 == 1  or loop.first %}
                    </div>
                    <div class="col1" style="float: left; margin-right: 30px">
                {% endif %}
                <ul class="links">
                    <li><a href="{{ path('islam_today_category', {category_path:cat.parent.path}) }}"><b>{{ cat.parent.title }}</b></a></li>
                    {% if cat.subs is defined and cat.subs is not empty %}
                        {% for __subs in cat.subs %}
                            <li><a href="{{ path('islam_today_sub_category', {category_path:cat.parent.path, sub_category_path:__subs.path}) }}">{{ __subs.title }}</a></li>
                        {% endfor %}
                    {% endif %}
                </ul>
                {% if loop.last %}
                    <ul class="links">
                        <li><a href="{{ path('photo') }}"><b>Фото</b></a></li>
                        <li><a href="{{ path('video') }}"><b>Видео</b></a></li>
                        <li><a href="/kontakty/"><b>Контакты</b></a></li>
                        <ul>
                    </div>
                    <div class="col3">
                        <ul class="links">
                            <li><a href="/islam_v_rossii/">Ислам в России</a></li>
                            <li><a href="/novosti/">Новости Ислама</a></li>
                            <li><a href="/politika/">Политический Ислам</a></li>
                            <li><a href="/muslim-world/">Мусульманские страны</a></li>
                            <li><a href="/muslim-photos/">Мусульманские фото</a></li>
                            <li><a href="/girl-in-islam/">Личность мусульманки</a></li>
                            <li><a href="/muslim-clothing/">Одежда</a></li>
                            <li><a href="/muslim-holidays/">Праздники</a></li>
                            <li><a href="/koran/">Коран</a></li>
                            <li><a href="/dream-book-sunnah/">Сонник</a></li>
                            <li><a href="/muslim-symbols/">Символы</a></li>
                            <li><a href="/islam-and-other-religions/">Отношение к другим религиям</a></li>
                            <li><a href="/woman-in-islam/">Женщина в Исламе</a></li>
                            <li><a href="/love-in-islam/">Любовь</a></li>
                            <li><a href="/man-in-islam/">Муж</a></li>
                            <li><a href="/wife-in-islam/">Жена</a></li>
                            <li><a href="/muslim-family/">Семья</a></li>
                            <li><a href="/female-muslim-names/">Значение имен</a></li>
                            <li><a href="/muslim-tradition/">Обычаи</a></li>
                            <li><a href="/sins-in-islam/">Грехи</a></li>
                            <li><a href="/islamic-prayers/">Молитвы</a></li>
                            <li><a href="/afterlife-in-islam/">Загробный мир</a></li>
                            <li><a href="/sharia/">Шариат</a></li>
                            <li><a href="/islam-world-creation/">Сотворение мира в Исламе</a></li>
                            <li><a href="/religion-islam/">Ислам - религия любви и мира</a></li>
                            <li><a href="/world-of-islam/">Мир Ислама</a></li>
                            <li><a href="/muslim-shrines/">Святыни</a></li>
                            <li><a href="/islamic-poetry/">Стихи</a></li>
                            <li><a href="/muslim-community/">Школы</a></li>
                            <li><a href="/muslim-ethics/">Этика</a></li>
                            <li><a href="/muslim-clergy/">Духовенство</a></li>
                            <li><a href="/ummah/">Умма</a></li>
                            <li><a href="/modern-islam/">Современный Ислам</a></li>
                            <li><a href="/great-people-of-islam/">Пророки</a></li>
                            <li><a href="/people-in-islam/">Права человека</a></li>
                            <li><a href="/music-of-islam/">Музыка</a></li>
                            <li><a href="/prayer-time/">Время намаза</a></li>
                            <li><a href="/ahlul-sunnah-jamaa/">Ахлю Сунна</a></li>
                            <li><a href="/press/">Пресса</a></li>
                            <li><a href="/radical-movements/">Ваххабизм</a></li>
                            <li><a href="/hajj/">Хадж</a></li>
                            <li><a href="/allah/">Аллах</a></li>
                            <li><a href="/education/">Проповеди</a></li>
                            <li><a href="/spirit-of-islam/">Духовная жизнь</a></li>
                            <li><a href="/bulgars/">Булгары</a></li>
                            <li><a href="/beard/">Борода</a></li>
                            <li><a href="/eid/">Курбан-байрам</a></li>
                            <li><a href="/guria/">Гурии</a></li>
                            <li><a href="/halal/">Халяль</a></li>
                            <li><a href="/meaning-of-life/">Смысл жизни</a></li>
                            <li><a href="/sabantui/">Сабантуй</a></li>
                            <li><a href="/sunna/">Сунна</a></li>
                            <li><a href="/supporters-of-islam/">Приверженцы</a></li>
                            <li><a href="/tatars/">Татары</a></li>
                            <li><a href="/imam/">Имам</a></li>
                            <li><a href="/islam-dini/">Дiн Ислам</a></li>
                            <li><a href="/muslim-faith/">Вера</a></li>
                            <li><a href="/mosque/">Мечети</a></li>
                            <li><a href="/terrorism/">Терроризм</a></li>
                            <li><a href="/kak_prinyat_Islam/">Как принять Ислам</a></li>
                            <li><a href="/first-religion/">Самая первая религия</a></li>
                            <li><a href="/smisl-islama/">Смысл Ислама</a></li>
                            <li><a href="/hutba-v-piatnicu/">Пятничные проповеди</a></li>
                            <li><a href="/konec-sveta/">Конец света в исламе</a></li>
                        </ul>
                    </div>

                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block rightSidebar %}{% endblock %}
