<script>
  $(function(){
    crossword.init();
  });
</script>

<div class="crossword-wrapper">
  <div class="crossword-wrapper-border">
    <table class="crossword" id="crossword" data-id="{{ crossword.id }}">
      {% for y in 1..crossword.height %}
        <tr>
          {% for x in 1..crossword.width %}
            <td class="letter-cell {% if not crossword.hasLetterByCoord(x, y) %} letter-cell-disabled {% endif %} coord-x-{{ x }} coord-y-{{ y }}" data-x="{{ x }}" data-y="{{ y }}">
              <div class="letter" id="letter-{{ x }}-{{ y }}">
                {% if crossword.isWordStart(x, y) %}
                  <div class="word-num">{% for number in crossword.wordNumbers(x, y) %}{{ number }}{% if not loop.last %},{% endif %}{% endfor %}</div>
                {% endif %}
                {% if crossword.hasLetterByCoord(x, y) %}
                  <input class="letter-input" id="letter-input-{{ x }}-{{ y }}" type="text" maxlength="1" data-x="{{ x }}" data-y="{{ y }}">
                {% endif %}
              </div>
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  </div>
</div>

<div class="crossword-questions">
  <div>
    <h4>По горизонтали</h4>
    {% for question in crossword.horizontalQuestions %}
      <div class="question" data-number="{{ question.number }}"><span>{{ question.number }}</span>. {{ question.text }}</div>
    {% endfor %}

    <br>
    <h4>По вертикали</h4>
    {% for question in crossword.verticalQuestions %}
    <div class="question" data-number="{{ question.number }}"><span>{{ question.number }}</span>. {{ question.text }}</div>
    {% endfor %}
  </div>
</div>
