{% extends ApplicationBundle ~ "::layout.html.twig" %}

{#{% block title %}{% if article.meta.title is not empty %}{{ article.meta.title }}{% else %}{{ article.title }}{% endif %}{% endblock %}#}
{#{% block meta_descr %}{% spaceless %}{% if article.meta.descr is not empty %}{{ article.meta.descr }}{% else %}{{ article.flatContent.flatContent | raw | striptags | slice(0, 200) }}{% endif %}{% endspaceless %}{% endblock %}#}
{#{% block meta_keywords %}{% if article.meta.keywords is not empty %}{{ article.meta.keywords }}{% endif %}{% endblock %}#}

{% block body %}
  <style>
    blockquote {
      padding: 5px 5px 5px 15px;
      margin: 0 0 20px;
      border-left: 5px solid #9bbfd4;
      background: #dee9ef;
      border-color: #9bbfd4;
      font-size: 19px;
      font-style: italic;
    }
  </style>

  <div class="container content">

    <div class="row-fluid">

      <div class="span9">
        {#{% set article_link %}#}
        {#{% if article.secondaryCategories[0].path is defined %}#}
        {#{{ path('islam_today_sub_category_article', {category_path:article.primaryCategory.path, sub_category_path:article.secondaryCategories[0].path, article_path:article.path}) }}#}
        {#{% else %}#}
        {#{{ path('islam_today_category_article', {category_path:article.primaryCategory.path, article_path:article.path}) }}#}
        {#{% endif %}#}
        {#{% endset %}#}
        {#<link href="http://m.islam-today.ru{{ article_link }}" rel="alternate">#}
        {#<h5><a href="{{ path('islam_today_category', {category_path:article.primaryCategory.path}) }}">{{ article.primaryCategory.title }}</a>#}
          {#{% if article.secondaryCategories[0].path is defined %}#}
          {#/ <a href="{{ path('islam_today_sub_category', {category_path:article.primaryCategory.path, sub_category_path:article.secondaryCategories[0].path}) }}">{{ article.secondaryCategories[0].title }}</a></h5>#}
        {#{% else %}#}
        {#</h5>#}
        {#{% endif %}#}

        <div class="article">

          <div class="article__header">
            <h1 class="article__header">{{ crossword.name }}</h1>
            <div class="article__indicators">
              <div class="indicator__watch indicator_gradient"><i class="icon"></i> {#{ article.getViewCnt.cnt }#}</div>
              {#{% if article.commentsCount > 0 %}#}
                {#<div class="indicator__comment indicator_gradient"><i class="icon"></i> &#123;&#35;{ article.commentsCount }&#35;&#125;</div>#}
              {#{% endif %}#}
            </div>
          </div>

          {#<div class="article__date">{{ article.publishedAt | format_date('dd MMMM') }} {{ article.publishedAt | date('Y H:i') }}</div>#}

          <div class="article__text">

            {% include "@Crossword/Crossword/crossword.html.twig" %}

          </div>

          {#{% if article.tags is not empty %}#}
            {#<div class="article__tags">#}
              {#<span class="article__tags__title">Метки:</span>#}
                        {#<span class="article__tags__items">#}
                            {#{% for tag in article.tags %}#}
                              {#{% if tag.path is not empty %}#}
                                {#<a href="{{ path('islam_today_category', {category_path:tag.path}) }}">{{ tag.title }}</a>{% if not loop.last %},{% endif %}#}
                              {#{% endif %}#}
                            {#{% endfor %}#}
                  {#</span>#}
            {#</div>#}
          {#{% endif %}#}

          {#{% render controller(ApplicationBundle~':Articles:relatedTags', {tags:article.tags}) %}#}

        </div>

        {% render controller(ApplicationBundle~':Common:socialShare') %}

        {#{% render controller(ApplicationBundle~':Articles:related', {excludeId: article.id}) %}#}

        <div class="comments" style="width:620px;">
          <div id="mc-container"></div>
          <script type="text/javascript">
            cackle_widget = window.cackle_widget || [];
            cackle_widget.push({widget: 'Comment', id: 29657});
            (function() {
              var mc = document.createElement('script');
              mc.type = 'text/javascript';
              mc.async = true;
              mc.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cackle.me/widget.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(mc, s.nextSibling);
            })();
          </script>
          <a id="mc-link" href="http://cackle.ru">Социальные комментарии <b style="color:#4FA3DA">Cackl</b><b style="color:#F65077">e</b></a>
        </div>


      </div>

      <div class="span3">

        {#{% render controller(ApplicationBundle~':Articles:popular') %}#}
        {% render(controller(ApplicationBundle ~ ":Banners:right2")) %}
        {% render(controller("SCBannersBundle:Default:getBanner", {id: 3, class: "banner-right3 sidebar_margin"})) %}
        {% render(controller(ApplicationBundle ~ ":Banners:right1")) %}
        {#<div class="panel_bordered sidebar_margin">#}
        {#<div id="hypercomments_mix"></div>#}
        {#<script type="text/javascript">#}
        {#_hcwp = window._hcwp || [];#}
        {#_hcwp.push({widget:"Mixstream", widget_id: 11350, template: "index", filter:"last",limit:5 ,default_filter:"last"});#}
        {#(function() {#}
        {#if("HC_LOAD_INIT" in window)return;#}
        {#HC_LOAD_INIT = true;#}
        {#var lang = (navigator.language || navigator.systemLanguage || navigator.userLanguage ||  "en").substr(0, 2).toLowerCase();#}
        {#var hcc = document.createElement("script"); hcc.type = "text/javascript"; hcc.async = true;#}
        {#hcc.src = ("https:" == document.location.protocol ? "https" : "http")+"://w.hypercomments.com/widget/hc/11350/"+lang+"/widget.js";#}
        {#var s = document.getElementsByTagName("script")[0];#}
        {#s.parentNode.insertBefore(hcc, s.nextSibling);#}
        {#})();#}
        {#</script>#}
        {#</div>#}

        <div class="panel_flat sidebar_margin">
          {% render(controller(ApplicationBundle ~ ":Default:services")) %}
        </div>
        {% render(controller(ApplicationBundle ~ ":Banners:holiday")) %}
        <div class="sidebar_margin">
          {#<script type="text/javascript" src="//vk.com/js/api/openapi.js?115"></script>#}

          <!-- VK Widget -->
          <div id="vk_groups1"></div>
          <script type="text/javascript">
            VK.Widgets.Group("vk_groups1", {mode: 0, width: "218", height: "400", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 3963339);
          </script>
        </div>
        <div class="sidebar_margin">
          <div class="fb-like-box" data-href="https://www.facebook.com/islam.today.russia" data-width="218" data-height="400" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
        </div>

        <!-- Banner #4 -->
        <div class="iSlider" id="slider_01"></div>
        <!-- Banner #5 -->
        <div class="iSlider" id="slider_02"></div>
        <!-- Banner #6 -->
        {% render(controller(ApplicationBundle ~ ":Banners:right6")) %}


        <div class="panel_flat sidebar_margin">
          {% render(controller(ApplicationBundle ~ ':Default:photo')) %}
        </div>

        {#<div class="panel_flat sidebar_margin">#}
        {#<a href="http://www.irada.su" target="_blank"><img src="/static/banners/Banner_gif_01-13-4.gif" /></a>#}
        {#</div>#}

        <div class="panel_flat sidebar_margin">
          {% render(controller(ApplicationBundle ~ ':Default:video')) %}
        </div>


      </div>
    </div>

  </div>
{% endblock %}