{% extends ApplicationBundle ~ "::layout.html.twig" %}

{% block title %}{{ article.meta.title }}{% endblock %}
{% block meta_descr %}{{ article.meta.descr }}{% endblock %}
{% block meta_keywords %}{{ article.meta.keywords }}{% endblock %}


{% block body %}
 <style>
     .phead {
         color: #387114;
         font-family: 'MyriadProSemibold';
         font-size: 14px;
         font-weight: normal;
         margin: 25px 0 5px;
         text-transform: uppercase;
     }

 </style>
    <div class="container content">

    <div class="row-fluid">

    <div class="span9">

        <div class="article">
            <h1 class="article__header">
                {{ article.title }}
            </h1>

            <div class="article__text">
                {{ article.flatContent.flatContent | raw }}
            </div>
        </div>
    </div>

    <div class="span3">
        {% render(controller(ApplicationBundle ~ ":Banners:right2")) %}
        {% render(controller(ApplicationBundle ~ ":Banners:right3")) %}
        {% render(controller(ApplicationBundle ~ ":Banners:right1")) %}

        {#<div class="panel_bordered sidebar_margin">#}
            {#<div id="hypercomments_mix"></div>#}
            {#<script type="text/javascript">#}
                {#_hcwp = window._hcwp || [];#}
                {#_hcwp.push({widget:"Mixstream", widget_id: 11350, template: "index", filter:"last",limit:5 ,default_filter:"last"});#}
                {#(function() {#}
                    {#if("HC_LOAD_INIT" in window)return;#}
                    {#HC_LOAD_INIT = true;#}
                    {#var lang = (navigator.language || navigator.systemLanguage || navigator.userLanguage ||  "en").substr(0, 2).toLowerCase();#}
                    {#var hcc = document.createElement("script"); hcc.type = "text/javascript"; hcc.async = true;#}
                    {#hcc.src = ("https:" == document.location.protocol ? "https" : "http")+"://w.hypercomments.com/widget/hc/11350/"+lang+"/widget.js";#}
                    {#var s = document.getElementsByTagName("script")[0];#}
                    {#s.parentNode.insertBefore(hcc, s.nextSibling);#}
                {#})();#}
            {#</script>#}
        {#</div>#}

        <!-- Banner #4 -->
        <div class="iSlider" id="slider_01"></div>
        <!-- Banner #5 -->
        <div class="iSlider" id="slider_02"></div>
        <!-- Banner #6 -->
        {% render(controller(ApplicationBundle ~ ":Banners:right6")) %}


        <div class="panel_flat sidebar_margin">
            {% render(controller(ApplicationBundle ~ ':Default:photo')) %}
        </div>

        {#<div class="panel_flat sidebar_margin">#}
            {#<a href="http://www.irada.su" target="_blank"><img src="/static/banners/Banner_gif_01-13-4.gif" /></a>#}
        {#</div>#}

        <div class="panel_flat sidebar_margin">
            {% render(controller(ApplicationBundle ~ ':Default:video')) %}
        </div>


    </div>
    </div>

    </div>
{% endblock %}