table {
    border: 0.1px solid black;
    border-collapse: collapse;
}

table, td, th {
    border: 0.1px solid black;
}

.solved {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    font-size: 36px;
    z-index: 99;
}
.solved center {
    margin-top: 260px;
}

