<div class="article_list">

    {% for article in pagination %}
        {%- set article_link -%}
            {% if article.secondaryCategories[0].path is defined %}
                {{ path('islam_today_sub_category_article', {category_path:article.primaryCategory.path, sub_category_path:article.secondaryCategories[0].path, article_path:article.path}) }}
            {% else %}
                {{ path('islam_today_category_article', {category_path:article.primaryCategory.path, article_path:article.path}) }}
            {% endif %}
        {%- endset -%}
        {%- set preview -%}
            {{ render(controller('IslamTodayApplicationBundle:Preview:getUrl', {'article':article, 'typeId': 200})) }}
        {%- endset -%}
        <div class="article_list__item">
            <a href="{{- article_link -}}" class="article_intro">
                <img src="{{ preview }}" alt="{{ article.title }}" class="article_intro__image">
                <div class="article_intro__wrapper">
                    <div class="article_intro__header">
                        {{ article.title }}
                    </div>
                    <div class="article_intro__text">
                        {{ article.shortAnounce }}
                    </div>
                    <div class="article_intro__meta">
                        <div class="article_intro__date">{{ article.publishedAt | format_date('dd MMMM') }} {{ article.publishedAt | date('Y') }}</div>
                        <div class="article_indicator_views"><span class="val">{{ article.getViewCnt.cnt }}</span></div>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
</div>
