<div class="panel_bordered panel_no_border" id="secular-articles">
    <div class="panel_bordered__header">
        <a class="panel_bordered__header__title" href="/svetskie_novosti/">Другие новости</a>
    </div>
    <div class="panel_bordered__body" style="padding: 10px 0">
    {% for new in news %}
        {% set article_link %}
            {% if new.secondaryCategories[0].path is defined %}
                {{ path('islam_today_sub_category_article', {category_path:new.primaryCategory.path, sub_category_path:new.secondaryCategories[0].path, article_path:new.path}) }}
            {% else %}
                {{ path('islam_today_category_article', {category_path: new.primaryCategory.path, article_path: new.path}) }}
            {% endif %}
        {% endset %}

        <a href="{{ article_link }}" class="link--title secular-news-link">
            <div class="w-news-stick">
                <div class="w-news-stick__image">
                    {% set preview -%}
                        {% render controller(ApplicationBundle ~':Preview:getUrl', {'article':new, 'typeId': 200}) %}
                    {%- endset %}
                    <img src="{{ preview }}" alt="{{ new.title }}">
                </div>

                {% if new.publishedAt.format('dMY') == date().format('dMY') %}
                    {% set news_date = 'Сегодня ' ~ new.publishedAt | date('H:i')  %}
                {% else %}
                    {% set news_date = new.publishedAt | format_date('dd MMMM') ~ ' ' ~ new.publishedAt | date('Y H:i') %}
                {% endif %}
                <div class="w-news-stick__text"><div class="w-news-stick__date">{{ news_date }}</div>{{ new.title }}</div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
