{% extends "@IslamTodayApplication/New/layout.html.twig" %}

{% block content %}
    <div class="main">
        <div id="mainSlider">
            <ul class="slides">
                {% for __art in sliderNews %}
                    {% set article_link %}{% spaceless %}
                        {% if __art.secondaryCategories[0].path is defined %}
                            {{ path('islam_today_sub_category_article', {category_path:__art.primaryCategory.path, sub_category_path:__art.secondaryCategories[0].path, article_path:__art.path}) }}
                        {% else %}
                            {{ path('islam_today_category_article', {category_path:__art.primaryCategory.path, article_path:__art.path}) }}
                        {% endif %}
                    {% endspaceless %}{% endset %}

                    {% set category_link %}{% spaceless %}
                        {% if (__art.primaryCategory.id != 37) and (__art.secondaryCategories[0].path is defined) %}
                            <a href="{{ path('islam_today_sub_category', {category_path:__art.primaryCategory.path, sub_category_path:__art.secondaryCategories[0].path}) }}" class="header_ribbon orange_ribbon">{{ __art.secondaryCategories[0].title }}</a>
                        {% else %}
                            <a href="{{ path('islam_today_category', {category_path:__art.primaryCategory.path}) }}" class="header_ribbon orange_ribbon">{{ __art.primaryCategory.title }}</a>
                        {% endif %}
                    {% endspaceless %}{% endset %}

                    {% if __art.superMain == 1 %}
                        {% set big_preview -%}
                            {{ render(controller('IslamTodayApplicationBundle:Preview:getUrl', {'article':__art, 'typeId': 440})) }}
                        {%- endset %}

                        <li>
                            <div class="article_preview">

                                <div class="article_preview__image">
                                    <a href="{{ article_link }}"><img src="{{ big_preview }}" alt="{{ __art.title }}"></a>
                                </div>
                                <div class="article_preview__title">
                                    <a href="{{ article_link }}">{{ __art.title }}</a>
                                </div>
                                {#<div class="article_preview__dates">#}
                                    {#{% if __art.publishedAt.format('dMY') == date().format('dMY') %}#}
                                        {#{% set art_date = 'Сегодня ' ~ __art.publishedAt | date('H:i') %}#}
                                    {#{% else %}#}
                                        {#{% set art_date = __art.publishedAt | format_date('dd MMMM') ~ ' ' ~ __art.publishedAt | date('Y H:i') %}#}
                                    {#{% endif %}#}

                                    {#<div class="article_preview__date pull-left">{{ art_date }}</div>#}
                                {#</div>#}
                                <div class="article_preview__text">
                                    {{ __art.shortAnounce }}
                                </div>
                            </div>
                        </li>
                    {% endif %}

                {% endfor %}
            </ul>
        </div>

        <div id="mainArticles">
            <ul>
                {% for __article in recentArticles %}

                    {% if __article.publishedAt.format('dMY') == date().format('dMY') %}
                        {% set news_date = 'Сегодня ' ~ __article.publishedAt | date('H:i') %}
                    {% else %}
                        {% set news_date =__article.publishedAt | date('H:i') ~ " | " ~ __article.publishedAt | format_date('dd MMMM Y') %}
                    {% endif %}

                    {% set article_link %}{% spaceless %}
                        {% if __article.secondaryCategories[0].path is defined %}
                            {{ path('islam_today_sub_category_article', {category_path:__article.primaryCategory.path, sub_category_path:__article.secondaryCategories[0].path, article_path:__article.path}) }}
                        {% else %}
                            {{ path('islam_today_category_article', {category_path:__article.primaryCategory.path, article_path:__article.path}) }}
                        {% endif %}
                    {% endspaceless %}{% endset %}

                    {% set preview -%}
                        {{ render(controller('IslamTodayApplicationBundle:Preview:getUrl', {'article':__article, 'typeId': 200})) }}
                    {%- endset %}


                    <li class="article">
                        <a href="{{ article_link }}">
                            <div class="image">
                                <img src="{{ preview }}" alt="{{ __article.title }}">
                            </div>
                            <div class="preview">

                                <div class="title">{{ __article.title }}</div>
                                <div class="dates">
                                    {{ news_date }}
                                    <span class="views-count">{{ __article.viewCnt.cnt }}</span>
                                </div>
                            </div>
                        </a>
                    </li>

                    {% if loop.index is divisible by(9) %}
                        <div class="list-banner">
                            {{ render(controller("SCBannersBundle:Default:getBanner", {id: 10, class: "", style: "text-align: center;max-height: 100px;"})) }}
                        </div>
                    {% elseif loop.index is divisible by(6) %}
                        <div class="list-banner">
                            {{ render(controller("SCBannersBundle:Default:getBanner", {id: 9, class: "", style: "text-align: center;max-height: 100px;"})) }}
                        </div>
                    {% elseif loop.index is divisible by(3) %}
                        <div class="list-banner">
                            {{ render(controller("SCBannersBundle:Default:getBanner", {id: 8, class: "", style: "text-align: center;max-height: 100px;"})) }}
                        </div>
                    {% endif %}
                {% endfor %}
                <h2>Самое читаемое</h2>
                {% for __article in relatedArticles %}

                    {% if __article.publishedAt.format('dMY') == date().format('dMY') %}
                        {% set news_date = 'Сегодня ' ~ __article.publishedAt | date('H:i') %}
                    {% else %}
                        {% set news_date =__article.publishedAt | date('H:i') ~ " | " ~ __article.publishedAt | format_date('dd MMMM Y') %}
                    {% endif %}

                    {% set article_link %}{% spaceless %}
                        {% if __article.secondaryCategories[0].path is defined %}
                            {{ path('islam_today_sub_category_article', {category_path:__article.primaryCategory.path, sub_category_path:__article.secondaryCategories[0].path, article_path:__article.path}) }}
                        {% else %}
                            {{ path('islam_today_category_article', {category_path:__article.primaryCategory.path, article_path:__article.path}) }}
                        {% endif %}
                    {% endspaceless %}{% endset %}

                    {% set preview -%}
                        {{ render(controller('IslamTodayApplicationBundle:Preview:getUrl', {'article':__article, 'typeId': 200})) }}
                    {%- endset %}


                    <li class="article">
                        <a href="{{ article_link }}">
                            <div class="image">
                                <img src="{{ preview }}" alt="{{ __article.title }}">
                            </div>
                            <div class="preview">

                                <div class="title">{{ __article.title }}</div>
                                <div class="dates">
                                    {{ news_date }}
                                    <span class="views-count">{{ __article.viewCnt.cnt }}</span>
                                </div>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

    </div>


{% endblock %}
