{% render(controller("SCBannersBundle:Default:getBanner", {id: 3, class: "banner-right3 sidebar_margin", onlyInnerPages:true})) %}
<div class="panel_bordered panel_no_border">

    {% render(controller("SCBannersBundle:Default:getBanner", {id: 7, style: '', class:"baner-ls", width:220 })) %}

    <div class="panel_bordered__header">
        <a href="{{ path('news') }}" class="panel_bordered__header__title">Новости</a>
    </div>

    <div class="panel_bordered__body no_sidepad">
        <ul class="w-lastnews jcarousel jcarousel-skin-lastnews hide" id="last-news">
            {% for _news in news %}
                {% set preview -%}
                    {% render controller('IslamTodayApplicationBundle:Preview:getUrl', {'article':_news, 'typeId': 200}) %}
                {%- endset %}
                <li class="w-lastnews__item">
                    <a href="{{ path('news_single_with_date', {news_path:_news.path, year:_news.publishedAt.format('Y'), month:_news.publishedAt.format('m'), day:_news.publishedAt.format('d') }) }}" class="w-lastnews__item__link">
                        <div class="w-news-stick">
                            <div class="w-news-stick__image">
                                <img src="{{ preview }}" alt="{{ _news.title }}">
                            </div>

                            {% if _news.publishedAt.format('dMY') == date().format('dMY') %}
                                {% set news_date = 'Сегодня ' ~ _news.publishedAt | date('H:i') %}
                            {% else %}
                                {% set news_date = _news.publishedAt | format_date('dd MMMM') ~ ' ' ~ _news.publishedAt | date('Y H:i') %}
                            {% endif %}

                            <div class="w-news-stick__text"><div class="w-news-stick__date">{{ news_date }}</div>
                                {{ _news.title }}</div>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
