{% if conf.id is defined %}
    <div class="panel_flat sidebar_margin">
        <a href="{{ path('conference_all') }}" class="panel_flat__header">Он-Лайн КОНФЕРЕНЦИЯ</a>

        <div class="panel_flat__body">

            {% set preview -%}
                {% render controller(ApplicationBundle ~':Preview:getUrl', {'article':conf, 'typeId': 200}) %}
            {%- endset %}
            {% if conf.isRecommeded %}
            <div class="announce_soon">
                <a href="{{ path('conference_single', {title_path:conf.path}) }}">
                    <img src="{{ preview }}" alt="{{ conf.title }}" class="panel_flat__image">
                </a>
            </div>
            {% else %}
                <a href="{{ path('conference_single', {title_path:conf.path}) }}">
                    <img src="{{ preview }}" alt="{{ conf.title }}" class="panel_flat__image">
                </a>
            {% endif %}

            <div class="panel_flat__h">
                <a href="{{ path('conference_single', {title_path:conf.path}) }}">{{ conf.title }}</a>
            </div>

            <div class="panel_flat__t">
                {{ conf.shortAnounce }}
            </div>
        </div>
    </div>
{% endif %}