<div class="ap_list">
    {% for article in articles %}
        {% if loop.index == 3 %}
            <div class="ap_list__item">
                {% render controller('IslamTodayApplicationBundle:Default:fetvy') %}
            </div>
        {% endif %}
        {% set preview -%}
            {% render controller(ApplicationBundle ~':Preview:getUrl', {'article':article, 'typeId': 200}) %}
        {%- endset %}
        {% set article_link %}
            {% if article.secondaryCategories[0].path is defined %}
                {{ path('islam_today_sub_category_article', {category_path:article.primaryCategory.path, sub_category_path:article.secondaryCategories[0].path, article_path:article.path}) }}
            {% else %}
                {{ path('islam_today_category_article', {category_path:article.primaryCategory.path, article_path:article.path}) }}
            {% endif %}
        {% endset %}

        {% set category_link %}{% spaceless %}
            {% if (article.primaryCategory.id != 37) and (article.secondaryCategories[0].path is defined) %}
                <a href="{{ path('islam_today_sub_category', {category_path:article.primaryCategory.path, sub_category_path:article.secondaryCategories[0].path}) }}" class="header_ribbon orange_ribbon">{{ article.secondaryCategories[0].title }}</a>
            {% else %}
                <a href="{{ path('islam_today_category', {category_path:article.primaryCategory.path}) }}" class="header_ribbon orange_ribbon">{{ article.primaryCategory.title }}</a>
            {% endif %}
        {% endspaceless %}{% endset %}

        {% if loop.index == 6 %}
</div>
            <!-- Banner #5 -->
            {% render(controller("SCBannersBundle:Default:getBanner", {id: 9, style: 'text-align:center;', class:"baner", width:720, height:120 })) %}
            {# <object class="baner" style="margin-top: 0;" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0" width="600" height="120" align="middle">
                    <param name="allowScriptAccess" value="sameDomain">
                    <param name="movie" value="/static/banners/zakyat_banner_q.swf">
                    <param name="quality" value="high">
                    <param name="bgcolor" value="#ffffff">
                    <embed src="/static/banners/zakyat_banner_q.swf" quality="high" bgcolor="#ffffff" width="600" height="120" align="middle" allowscriptaccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer">
                </object>
                        </object> #}
<div class="ap_list">
        {% endif %}

        <div class="ap_list__item">

            <div class="panel_bordered panel_bordered_link">
                {# <div class="panel_bordered__header">
                    {{ category_link }}
                </div> #}

                <div class="panel_bordered__body">

                    <div class="article_preview">

                        <div class="article_preview__content overflow_fade">
                            <a href="{{ article_link }}"><img class="article_preview__image panel_bordered__image" src="{{ preview }}" alt="{{ article.title }}"></a>

                            <div class="article_preview__date">{{ article.publishedAt | format_date('dd MMMM') }} {{ article.publishedAt | date('Y H:i') }}</div>
                            <a href="{{ article_link }}" class="article_preview__title">{{ article.title }}</a>
                        <span class="article_preview__text">
                            {{ article.shortAnounce }}
                        </span>

                            <div class="gradient_fade"></div>
                        </div>

                        <div class="article_preview__indicators">
                            <span class="indicator__watch">
                                <i class="icon"></i>
                                <span class="val">{{ article.getViewCnt.cnt }}</span>
                            </span>
                            {% if article.commentsCount > 0 %}
                                <span class="indicator__comment">
                                    <i class="icon"></i>
                                    <span class="val">{{ article.commentsCount }}</span>
                                </span>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
    <!-- Banner #6 -->
    {% render(controller("SCBannersBundle:Default:getBanner", {id: 10, style: 'text-align:center;', class:"baner" })) %}
<div class="ap_list">

    {% render controller('IslamTodayApplicationBundle:Default:relatedMain') %}

{#    {% render controller('IslamTodayApplicationBundle:Default:prMain') %}#}
</div>
