{% extends "@IslamTodayApplication/New/layout.html.twig" %}

{% block title %}Islam-today.ru{% endblock %}

{% block content %}
    <div class="main search-results">


        <h1 class="results-header">Результаты поиска по запросу: «<span>{{ q }}</span>»</h1>
        <div class="clearfix" style="margin: 18px 0">
            <div class="tags_filter pull-left">

                <div class="search-results-categories">
                    <div class="results" style="line-height: 75px;">Найдено {{ a | length }} материалов в категориях</div>
                    <div class="results" style="line-height: 40px;">
                        <a class="tags_filter__item {% if section == 'articles' %}active{% endif %}" href="{{ path('search', app.request.query.all|merge({show:'articles', page:1})) }}">Статьи {#<span class="count">{{ articles | length }}</span>#}</a>
                        <a class="tags_filter__item {% if section == 'news' %}active{% endif %}" href="{{ path('search', app.request.query.all|merge({show:'news', page:1})) }}">Новости {#<span class="count">{{ news | length }}</span>#}</a>
                    </div>
                </div>
                <div class="block-sort">
                    <div class="tags_filter__header">Сортировать:</div>
                    <div class="tags_filter__items">
                        {% set order = app.request.query.get('order') %}
                        <a class="tags_filter__item {% if app.request.query.get('sort') == 'name' %}active{% endif %}" href="{{ path('search', app.request.query.all|merge({sort:'name', page:1, order: order})) }}">По названию</a>
                        {% if app.request.query.get('sort') == 'name' %}
                            {% if order == 'asc' %}
                                <a class="tags_filter__item" href="{{ path('search', app.request.query.all|merge({sort:'name', page:1, order: 'desc'})) }}">↑</a>
                            {% elseif order == 'desc' %}
                                <a class="tags_filter__item" href="{{ path('search', app.request.query.all|merge({sort:'name', page:1, order: 'asc'})) }}">↓</a>
                            {% else %}
                                <a class="tags_filter__item" href="{{ path('search', app.request.query.all|merge({sort:'name', page:1, order: 'desc'})) }}">↑</a>
                            {% endif %}
                        {% endif %}


                        <a class="tags_filter__item {% if app.request.query.get('sort') == 'date' %}active{% endif %}" href="{{ path('search', app.request.query.all|merge({sort:'date', page:1, order: order})) }}">По актуальности</a>
                        {% if app.request.query.get('sort') == 'date' %}
                            {% if order == 'asc' %}
                                <a class="tags_filter__item" href="{{ path('search', app.request.query.all|merge({sort:'date', page:1, order: 'desc'})) }}">↑</a>
                            {% elseif order == 'desc' %}
                                <a class="tags_filter__item" href="{{ path('search', app.request.query.all|merge({sort:'date', page:1, order: 'asc'})) }}">↓</a>
                            {% else %}
                                <a class="tags_filter__item" href="{{ path('search', app.request.query.all|merge({sort:'date', page:1, order: 'desc'})) }}">↑</a>
                            {% endif %}
                        {% endif %}


                        <a class="tags_filter__item {% if app.request.query.get('sort') == 'rate' %}active{% endif %}" href="{{ path('search', app.request.query.all|merge({sort:'rate', page:1, order: order})) }}">По популярности</a>
                        {% if app.request.query.get('sort') == 'rate' %}
                            {% if order == 'asc' %}
                                <a class="tags_filter__item" href="{{ path('search', app.request.query.all|merge({sort:'rate', page:1, order: 'desc'})) }}">↑</a>
                            {% elseif order == 'desc' %}
                                <a class="tags_filter__item" href="{{ path('search', app.request.query.all|merge({sort:'rate', page:1, order: 'asc'})) }}">↓</a>
                            {% else %}
                                <a class="tags_filter__item" href="{{ path('search', app.request.query.all|merge({sort:'rate', page:1, order: 'desc'})) }}">↑</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <h2>{%- if section == 'articles' %}Статьи{% else %}Новости{% endif -%}</h2>

        {% include '@IslamTodayApplication/New/Default/article_list.html.twig' with {'pagination':pagination} %}

        {{ knp_pagination_render(pagination, 'IslamTodayApplicationBundle:Pagination:default.html.twig') }}

        {% if pagination is empty %}
            <div class="search-result push-double--ends">
                <div class="search-result__heading">По запросу «{{ q }}» ничего не найдено</div>
            </div>

            <div class="b-related_articles">
                <div class="b-related_articles__heading">Возможно вам будет интересно:</div>

                <ul class="b-related_articles__list">
                    {% for article in otherArticles if otherArticles is defined %}
                        {% set preview -%}
                            {{ render(controller('IslamTodayApplicationBundle:Preview:getUrl', {'article':article, 'typeId': 200})) }}
                        {%- endset %}
                        {% set article_link %}
                            {% if article.secondaryCategories[0].path is defined %}
                                {{ path('islam_today_sub_category_article', {category_path:article.primaryCategory.path, sub_category_path:article.secondaryCategories[0].path, article_path:article.path}) }}
                            {% else %}
                                {{ path('islam_today_category_article', {category_path:article.primaryCategory.path, article_path:article.path}) }}
                            {% endif %}
                        {% endset %}
                        <li>
                            <a href="{{ article_link }}"><img src="{{ preview }}" alt="{{ article.title }}" class="b-related_articles__item__image"></a>
                            <a href="{{ article_link }}" class="b-related_articles__item__title">
                                {{ article.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block rightSidebar %}{% endblock %}
