<div class="panel_bordered panel_no_border" id="secular-articles">
    <div class="panel_bordered__header">
        <a class="panel_bordered__header__title" href="/novosti-tatarstana/">Другие новости</a>
    </div>
    <div class="panel_bordered__body">
    {% for new in news %}
        <a href="{{ path('secular_news_single_with_date', {news_path:new.path, year:new.publishedAt.format('Y'), month:new.publishedAt.format('m'), day:new.publishedAt.format('d') }) }}" class="link--title secular-news-link">
            <div class="w-news-stick">
                <div class="w-news-stick__image">
                    {% set preview -%}
                        {% render controller(ApplicationBundle ~':Preview:getUrl', {'article':new, 'typeId': 200}) %}
                    {%- endset %}
                    <img src="{{ preview }}" alt="{{ new.title }}">
                </div>

                {% if new.publishedAt.format('dMY') == date().format('dMY') %}
                    {% set news_date = 'Сегодня ' ~ new.publishedAt | date('H:i')  %}
                {% else %}
                    {% set news_date = new.publishedAt | format_date('dd MMMM') ~ ' ' ~ new.publishedAt | date('Y H:i') %}
                {% endif %}
                <div class="w-news-stick__text"><div class="w-news-stick__date">{{ news_date }}</div>{{ new.title }}</div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
