<div class="town-select-container">
    <span class="town-select-caption">{% if userCity.title is defined %}{{ userCity.title }}{% else %}Казань{% endif %}</span>
    <div class="town-select-dropdown">
        <span class="title">Выберите город</span>
        <ul class="">
            {% for town in cities %}
                <li {% if town.id == app.session.get('userCity').id %}class="active"{% endif %} data-id="{{ town.id }}">{{ town.title }}</li>
            {% endfor %}
            <li></li>
            <li></li>
        </ul>
    </div>
</div>
<script>
    $(function () {
        $(document).on('click', '.town-select-caption', function () {
            $('.town-select-dropdown').toggle();
        }).on('click', '.town-select-dropdown li', function () {
            var url = document.location.href;
            if (url.indexOf('?') > 0) {
                url += '&changeCity=' + $(this).data('id');
            } else {
                url += '?changeCity=' + $(this).data('id');
            }
            document.location.href = url;
        });
    });
</script>