<a href="{{ path('video') }}" class="panel_flat__header">Видео</a>

<div class="panel_flat__body">
    <img src="//img.youtube.com/vi/{{ video.videoId }}/mqdefault.jpg" alt="{{ video.title }}" class="panel_flat__image">

    <div class="panel_flat__t">
        <a href="{{ path('video') }}">
            {{ video.title }}
        </a>
    </div>
</div>
