{% extends ApplicationBundle ~ "::layout.html.twig" %}

{% block title %}Виджеты{% endblock %}
{% block meta_descr %}{% endblock %}
{% block meta_keywords %}карта{% endblock %}

{% block body %}
    <style>
        #region_name {
            font-weight: bold;
            margin: 10px 5px;
        }
    </style>

    <div class="container content">

        {#<h3 class="page-header"><a href="{{ path('photo') }}">Фотогалерея</a></h3>#}

        <div class="article">

            <div class="article__header">
                <h1 class="article__header">Время намаза</h1>
            </div>

            <div class="article__text">
                <div class="row" id="namaz_widget_row" data-prototype="{{ namaz_widget }}">
                    <div class="span6" id="namaz_widget_preview">
                        <script>
                            widget_times = {
                                color1: 'F1A93C',
                                color2: 'eb7f29',
				city: 'kazan',
                            };
                        </script>
                        <iframe src="https://islam-today.ru/namaztime/widget/external" frameborder="0" height="320"></iframe>
                    </div>
                    <div class="span6">
                        <textarea name="" cols="30" rows="5" style="width: 100%;" id="namaz_widget_code"></textarea>
                        <div class="input-group">
                            <label for="">Ширина</label>
                            <input type="text" class="width_times" data-target="width" placeholder="Ширина" value="250">
                        </div>
                        <div class="input-group">
                            <label for="">Цвет 1</label>
                            <input type="text" class="color1 jscolor jscolor_times" data-target="color1" placeholder="Цвет 1" value="f1a93c">
                        </div>
                        <div class="input-group">
                            <label for="">Цвет 2</label>
                            <input type="text" class="color2 jscolor jscolor_times" data-target="color2" placeholder="Цвет 2" value="eb7f29">
                        </div>
                        <div class="input-group">
                            <label for="">Город по умолчанию</label>
                            <select class="namaz_city" target="city">
                               {% for city in cities %}
                               <option value="{{ city.path }}">{{ city.title }}</option>
                               {% endfor %}
			    </select>
                        </div>

                    </div>
                </div>

            </div>
            {#            <div class="article__header">
                            <h1 class="article__header">До Курбан Байрама осталось...</h1>
                        </div>
                        <div class="article__text">
                            <div class="row" id="namaz_widget_row" data-prototype="{{ namaz_widget }}">
                                <div class="span6" id="namaz_widget_preview">
                                    <script>
                                        document.write('<scr' + 'ipt type="text/javascript" src="https://islam-today.ru/static/javascripts/' + 'holiday.js"></scr' + 'ipt>');
                                    </script>
                                </div>
                                <div class="span6">
                                    <textarea name="" cols="30" rows="5" style="width: 100%;" id="namaz_widget_code">
            <script>document.write('<scr' + 'ipt type="text/javascript" src="https://islam-today.ru/static/javascripts/' + 'holiday.js"></scr' + 'ipt>');</script>
                                    </textarea>
                                </div>
                            </div>
                        </div>#}
            <div class="article__header">
                <h1 class="article__header">Имя по арабски</h1>
            </div>
            <div class="article__text">
                <div class="row" id="arabname_widget_row" data-prototype="{{ names_widget }}">
                    <div class="span6" id="names_widget_preview">
                        <script>
                            widget_name = {
                                color1: 'F1A93C',
                            }
                        </script>
                        <iframe src="https://islam-today.ru/arabname/widget/external" frameborder="0" height="115"></iframe>
                    </div>
                    <div class="span6">
                        <textarea name="" cols="30" rows="5" style="width: 100%;" id="names_widget_code"></textarea>
<p>При размещении виджета его ширина будет автоматически занимать 100% ширины блока, в который вы поместите код. Используйте div для оформления.</p>
                        <div class="input-group">
                            <label for="">Цвет 1</label>
                            <input type="text" class="color1 jscolor jscolor_name" data-target="color1" placeholder="Цвет 1" value="f1a93c">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            function refreshNamazCode() {
                var code = $("#namaz_widget_row").data('prototype');
                var color1 = $("#namaz_widget_row .color1").val();
                var color2 = $("#namaz_widget_row .color2").val();
                var city = $("#namaz_widget_row .namaz_city").val();
                var width = $("#namaz_widget_row .width_times").val();
                code = code.replace('__width__', width).replace('__color1__', color1).replace('__color2__', color2).replace('__city__', city);
                $("#namaz_widget_code").val(code);

                var src = 'https://islam-today.ru/namaztime/widget/external?bg=' + color1 + '&width=' + width + '&city=' + city;

                $('#namaz_widget_preview iframe').attr('src', src);
            }

            function refreshNamesCode() {
                var code = $("#arabname_widget_row").data('prototype');
                var color1 = $("#arabname_widget_row .color1").val();
                code = code.replace('__color1__', color1);
                $("#names_widget_code").val(code);

                var src = 'https://islam-today.ru/arabname/widget/external?bg=' + color1;

                $('#arabname_widget_row iframe').attr('src', src);
            }

            $(".jscolor_times").on("change", function () {
                widget_times[$(this).data('target')] = $(this).val();
                refreshNamazCode();
            });

            $(".namaz_city").on("change", function () {
                widget_times[$(this).data('target')] = $(this).val();
                refreshNamazCode();
            });


            $(".jscolor_name").on("change", function () {
                widget_name[$(this).data('target')] = $(this).val();
                refreshNamesCode();
            });

            $(document).on("change", '.width_times', function () {
                if ($(".width_times").val() < 220) {
                    $(".width_times").val(220);
                    refreshNamazCode();
                }
            });

            $(document).on("keyup", '.width_times', function () {
                widget_times[$(this).data('target')] = $(this).val();
                refreshNamazCode();
                if ($(this).data('target') == 'width') {
                    $('#namaz_widget_preview iframe').attr('width', $(this).val()).css({
                        'width': $(this).val()
                    });
                }

            });

            refreshNamazCode();
            refreshNamesCode();
        </script>
        <script src="{{ asset('static/javascripts/jscolor.min.js') }}"></script>


        {% render controller(ApplicationBundle~':Common:socialShare') %}

        <div class="comments" style="width:620px;">
            <div id="mc-container"></div>
            <script type="text/javascript">
                cackle_widget = window.cackle_widget || [];
                cackle_widget.push({widget: 'Comment', id: 29657});
                (function () {
                    var mc = document.createElement('script');
                    mc.type = 'text/javascript';
                    mc.async = true;
                    mc.src = ('https:' == document.ruation.protocol ? 'https' : 'http') + '://cackle.me/widget.js';
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(mc, s.nextSibling);
                })();
            </script>
            <a id="mc-link" href="http://cackle.ru">Социальные комментарии <b style="color:#4FA3DA">Cackl</b><b style="color:#F65077">e</b></a>
        </div>
    </div>
{% endblock %}





































