{% extends '::layout.html.twig' %}

{% block title %}Админка | Список пользователей{% endblock %}
{% block body %}
  <div class="row">
    <div class="span6">
    </div>
    <div style="text-align: right;" class="span6"><a href="{{ path('sc_users_new') }}" class="btn btn-primary">Создать нового пользователя</a></div>
  </div>


  <table class="table table-bordered">
    <caption>Пользователи</caption>
    <thead>
    <tr>
      <th>id</th>
      <th>Имя</th>
      <th>Логин</th>
      <th>Дата создания</th>
      <th>Роль</th>
    </tr>
    </thead>
    <tbody>
    {% for user in pagination %}
      <tr>
        <td><a href="{{ path('sc_users_edit', {'userId' :user.id}) }}">{{ user.id }}</a></td>
        <td><a href="{{ path('sc_users_edit', {'userId' :user.id}) }}">{{ user.screenName }}</a></td>
        <td>{{ user.username }}</td>
        <td>{{ user.createdAt|date('d M Y h:i') }}</td>
        <td>{{ user.roles[0].screenName }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <br />
  {{ knp_pagination_render(pagination) }}
{% endblock %}


