{% extends '::layout.html.twig' %}

{% block title %}Админка | Список кроссвордов{% endblock %}
{% block body %}
  <script>
    $(function(){
      $("#create-crossword-btn").click(function(){
        $('#create-crossword').modal('toggle');
      });

      $("#create-crossword-btn-save").click(function(){
        self = $(this);
        self.addClass('disabled');

        var data = {
          name:   $("#crossword-name").val(),
          width:  $("#crossword-width").val(),
          height: $("#crossword-height").val()
        };

        $.ajax({
          type: "POST",
          url: '{{ path('sc_crossword_admin_create_ajax') }}',
          data: data,
          dataType: "json",
          success: function(response) {
            if (response.success) {
              $("#crossword-name").val("");
              $("#crossword-width").val("");
              $("#crossword-height").val("");
              $('#create-crossword').modal('hide');
              $(".crossword-list").prepend(response.row);
            } else {

            }
            self.removeClass('disabled');
          },
          error: function(response) {
            self.removeClass('disabled');
          }
        });
      });

    });
  </script>

  <div class="row">
    <div class="span6">
    </div>
    <div style="text-align: right;" class="span6">
      <a href="#create-crossword" id="create-crossword-btn" role="button" class="btn btn-primary" -data-toggle="modal">Создать новый кроссворд</a>
    </div>

    <!-- Modal -->
    <div id="create-crossword" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Создание нового кроссворда</h3>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="control-group">
            <label class="control-label" for="crossword-name">Название</label>
            <div class="controls">
              <input type="text" id="crossword-name" placeholder="Название">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="crossword-width">Ширина</label>
            <div class="controls">
              <input type="text" id="crossword-width" placeholder="ширина в клетках < {{ constant('SC\\CrosswordBundle\\Entity\\Crossword::MAX_WIDTH') }}">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="crossword-height">Высота</label>
            <div class="controls">
              <input type="text" id="crossword-height" placeholder="высота в клетках < {{ constant('SC\\CrosswordBundle\\Entity\\Crossword::MAX_HEIGHT') }}">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
        <button class="btn btn-primary" id="create-crossword-btn-save">Создать</button>
      </div>
    </div>
  </div>




  <table class="table table-bordered">
    <caption>Кроссворды</caption>
    <thead>
    <tr>
      <th>id</th>
      <th>название</th>
      <th>дата создания</th>
    </tr>
    </thead>
    <tbody class="crossword-list">
    {% for crossword in pagination %}
      <tr>
        <td><a href="{{ path('sc_crossword_admin_edit', {'id' : crossword.id}) }}">{{ crossword.id }}</a></td>
        <td><a href="{{ path('sc_crossword_admin_edit', {'id' : crossword.id}) }}">{{ crossword.name }}</a></td>
        <td>{{ crossword.createdAt|date('d M Y h:i') }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <br />
  {{ knp_pagination_render(pagination) }}
{% endblock %}


