{% block footer %}
    <footer>
        <div class="container">
            <div class="row">

                <div class="span8">
                    {% render controller(ApplicationBundle~ ':Menu:footer') %}

                    <div class="restriction"></div>
                </div>


                <div class="span4">
                    <div class="logo">
                        <a href="/" class="logo__image"></a>

                        <div class="logo__text">
<p>Сетевое издание: Информационно-аналитический федеральный портал “Ислам Сегодня”. </p>
<p>Учредитель: Хамидуллин Ришат Ахтямович</p>
<p>Главный редактор: Миназова Л.Р.</p>
<p>Телефон редакции: (843) 598-09-39</p>
<p>Электронная почта редакции: Islam_today@mail.ru</p>
<p>Зарегистрировано Федеральной службой по надзору в сфере связи, информационных технологий и массовых коммуникаций (Роскомнадзор). Эл № ФС77-55671 от 09.10.2013 г. </p>
<p>Все права на материалы опубликованные на сайте принадлежат ЧУ «Издательский дом «Хузур-Спокойствие»</p>
<p>Мнение авторов может не совпадать с позицией редакции</p>
<p>При использовании материалов, гиперссылка на сайт Islam-Today.ru обязательна.</p>

                        </div>
                    </div>
                </div>

            </div>
            {% render controller('IslamTodayApplicationBundle:Menu:partners') %}

            <div class="row">
                <div class="span12">
                    <ul class="secondary">
                        <li><a href="/o-nas/">О нас</a></li>
                        <li><a href="/kontakty/">Контакты</a></li>
                        <li><a href="//m.islam-today.ru">Мобильная версия</a></li>
                        <li><a href="/cookies/">Cookies</a></li>
                        <li><a href="/privacy-policy/">Политика конфиденциальности</a></li>
                        <li><a href="/seo/reklamodatelam/">Рекламодателям</a></li>
                        <li><a href="/seo/vakansii/">Вакансии</a></li>
                        {#                        <li><a href="/press-relizy/">Пресс-релизы</a></li>#}
                        {#<li><a href="#">Вакансии</a></li>#}
                    </ul>
                </div>
            </div>
        </div>

        {% render controller(ApplicationBundle~ ':Menu:seoLinks') %}

        <div class="container" style="margin-top: 15px;">
            {% render(controller("SCBannersBundle:Default:getBanner", {id: 11} )) %}
        </div>

        <div class="bar">
            <div class="container">
                <div class="bar__row">

                    {#<div class="bar__text">#}
                    {#<a target="_blank" href="http://bulgar-promo.ru"><i class="sprite sprite-seo-logo"></i></a> <a target="_blank" href="http://bulgar-promo.ru">Продвижение сайта</a>: BulgarPromo.#}
                    {#</div>#}

                    {#<div class="bar__text">#}
                    {#<i class="sprite sprite-seo-logo"></i> Разработка сайта: <a href="#">BulgarPromo</a>#}
                    {#</div>#}

                    <div class="bar__counters">
                        <ul class="counters">
                            <li class="counters__item">
                                <!-- Yandex.Metrika informer -->
                                <a href="https://metrika.yandex.ru/stat/?id=15786340&amp;from=informer"
                                   target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/15786340/1_0_3A4046FF_1A2026FF_1_uniques"
                                                                       style="width:80px; height:15px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:15786340,lang:'ru'});return false}catch(e){}"/></a>
                                <!-- /Yandex.Metrika informer -->

                                {# <img src="/static/images/google/g_counter.png" width="142" height="33"/> #}
                            </li>

                            <li><!-- Rating@Mail.ru counter -->
                                <script type="text/javascript">
                                    var _tmr = _tmr || [];
                                    _tmr.push({id: "2218875", type: "pageView", start: (new Date()).getTime()});
                                    (function (d, w) {
                                        var ts = d.createElement("script");
                                        ts.type = "text/javascript";
                                        ts.async = true;
                                        ts.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//top-fwz1.mail.ru/js/code.js";
                                        var f = function () {
                                            var s = d.getElementsByTagName("script")[0];
                                            s.parentNode.insertBefore(ts, s);
                                        };
                                        if (w.opera == "[object Opera]") {
                                            d.addEventListener("DOMContentLoaded", f, false);
                                        } else {
                                            f();
                                        }
                                    })(document, window);
                                </script>
                                <noscript>
                                    <div style="position:absolute;left:-10000px;">
                                        <img src="//top-fwz1.mail.ru/counter?id=2218875;js=na" style="border:0;" height="1" width="1" alt="Рейтинг@Mail.ru"/>
                                    </div>
                                </noscript>
                                <!-- //Rating@Mail.ru counter -->
                            </li>
                        </ul>
                    </div>
                    <div class="other-buttons" style="float: left;">
                        <ul class="button-list">
                            <li><a href="{{ path('rss') }}" class="sprite sprite-rss"></a></li>
                            {#                            <li><a href="http://eng.islam-today.ru/" target="_blank" class="sprite sprite-english"></a></li>
                                                        <li><a href="http://tat.islam-today.ru/" target="_blank" class="sprite sprite-tatar"></a></li>#}
                            {#<li><a href="#" class="sprite sprite-tatar"></a></li>#}

                        </ul>
                    </div>
                    <div class="bar__social-buttons">
                        <ul class="button-list">
                            <li><a rel="nofollow" href="https://twitter.com/#!/Islamtodayru" target="_blank" class="sprite sprite-twitter"></a></li>
                            <li><a rel="nofollow" href="https://www.facebook.com/islam.today.russia" target="_blank" class="sprite sprite-facebook"></a></li>
                            <li><a rel="nofollow" href="https://vk.com/club3963339" target="_blank" class="sprite sprite-vkontakte"></a></li>
                            <li><a rel="nofollow" href="https://ok.ru/islam.today.russia" target="_blank" class="sprite sprite-odnoklassniki"></a></li>
                            <li><a rel="nofollow" href="https://www.youtube.com/channel/UC6Ytm9zOjwb2dZdN2hN_LiA" target="_blank" class="sprite sprite-youtube"></a></li>
                            <li><a rel="nofollow" href="https://instagram.com/islam_today_huzur" target="_blank" class="sprite sprite-instagram"></a></li>
{#                            <li><a rel="nofollow" href="https://ru.pinterest.com/choojoyya/pins/" target="_blank" class="sprite-pinterest"></a></li>#}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!--JS_PLUGIN.YandexMetrika--><!-- Yandex.Metrika counter -->
        <script type="text/javascript">
            (function (d, w, c) {
                (w[c] = w[c] || []).push(function () {
                    try {
                        w.yaCounter15786340 = new Ya.Metrika({id: 15786340, enableAll: true, webvisor: true});
                    } catch (e) {
                    }
                });

                var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () {
                        n.parentNode.insertBefore(s, n);
                    };
                s.type = "text/javascript";
                s.async = true;
                s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

                if (w.opera == "[object Opera]") {
                    d.addEventListener("DOMContentLoaded", f);
                } else {
                    f();
                }
            })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript>
            <div><img src="//mc.yandex.ru/watch/15786340" style="position:absolute; left:-9999px;" alt=""/></div>
        </noscript>
        <!-- /Yandex.Metrika counter -->
        <!-- Facebook Pixel Code -->
        <script>
            !function (f, b, e, v, n, t, s) {
                if (f.fbq)return;
                n = f.fbq = function () {
                    n.callMethod ?
                        n.callMethod.apply(n, arguments) : n.queue.push(arguments)
                };
                if (!f._fbq) f._fbq = n;
                n.push = n;
                n.loaded = !0;
                n.version = '2.0';
                n.queue = [];
                t = b.createElement(e);
                t.async = !0;
                t.src = v;
                s = b.getElementsByTagName(e)[0];
                s.parentNode.insertBefore(t, s)
            }(window,
                document, 'script', '//connect.facebook.net/en_US/fbevents.js');

            fbq('init', '476068435888321');
            fbq('track', "PageView");</script>
        <noscript><img height="1" width="1" style="display:none"
                       src="https://www.facebook.com/tr?id=476068435888321&ev=PageView&noscript=1"
            /></noscript>
        <!-- End Facebook Pixel Code -->
    </footer>
{% endblock %}
