{% block header %}
    <header>
        <div class="container">
            <div class="header">
                <div class="header__logo">
                    <div class="logo logo--header">
                        <a href="/" class="logo__image"></a>
                        {#                    <div class="logo__text">информационно-аналитический федеральный портал</div>#}
                    </div>
                    {% if app.request.get('_route') == 'islam_today_homepage' %}
                        <div class="restriction-header"></div>
                    {% endif %}
                    <div class="search-block-container">
                        <form class="search-block" action="{{ path('search') }}" method="get" {% if app.request.get('_route') == 'islam_today_homepage' %}style="width:380px;"{% endif %}>
                            <input type="text" name="q" class="search-block__field" placeholder="поиск по сайту" autocomplete="off">
                            <button type="submit" class="search-block__submit" title="найти"><i class="sprite sprite-search search-hover"></i></button>
                        </form>
                    </div>
                </div>

                <div class="header__social-buttons">
                    <ul class="button-list">
                        <li><a rel="nofollow" href="https://twitter.com/#!/Islamtodayru" target="_blank" class="sprite sprite-twitter"></a></li>
                        <li><a rel="nofollow" href="https://www.facebook.com/islam.today.russia" target="_blank" class="sprite sprite-facebook"></a></li>
                        <li><a rel="nofollow" href="https://vk.com/club3963339" target="_blank" class="sprite sprite-vkontakte"></a></li>
                        <li><a rel="nofollow" href="https://ok.ru/islam.today.russia" target="_blank" class="sprite sprite-odnoklassniki"></a></li>
                        <li><a rel="nofollow" href="https://youtube.com/c/Исламсегодня" target="_blank" class="sprite sprite-youtube"></a></li>
                        <li><a rel="nofollow" href="https://instagram.com/islam_today_huzur" target="_blank" class="sprite sprite-instagram"></a></li>
                        <li><a rel="nofollow" href="https://ru.pinterest.com/choojoyya/pins/" target="_blank" class="sprite-pinterest"></a></li>
                        <li><a rel="nofollow" href="https://t.me/islamt" target="_blank" class="sprite sprite-telegram"></a></li>

                    </ul>
                </div>

                {#            <div class="header__other-buttons">
                                <ul class="button-list">
                                    <li><a href="tg://resolve?domain=islamt" class="sprite sprite-telegram"></a></li>
                                    <li><a href="https://ask.fm/kamilhazrat" target="_blank" class="sprite sprite-askfm"></a></li>
                                    <li><a href="http://eng.islam-today.ru/" target="_blank" class="sprite sprite-english"></a></li>
                                    <li><a href="http://tat.islam-today.ru/" target="_blank" class="sprite sprite-tatar"></a></li>
                                    <li><a href="#" class="sprite sprite-tatar"></a></li>

                                </ul>
                            </div>
                #}

                {#            <div class="header__link">
                                <a class="subscribe" href="#subscribeModal" role="button" data-toggle="modal">Подписаться</a>
                            </div>#}
            </div>

            {% if category is defined %}
                {% set cat = category %}
            {% else %}
                {% set cat = null %}
            {% endif %}

            {% if sub_category is defined %}
                {% set sub_cat = sub_category %}
            {% else %}
                {% set sub_cat = null %}
            {% endif %}
            {% render controller(ApplicationBundle ~ ':Menu:header', {category:cat, sub_category:sub_cat}) %}

            <ul class="special_links">
                {% render controller(ApplicationBundle ~ ':Menu:extra') %}
                {#            <li><a href="http://islam-today.ru/specproekt-istoria-tatar/">Спецпроект "История татар"</a></li>#}
                <li><a href="/obsestvo/raznoe/rassylka/">Рассылка</a></li>
                <li><a href="/istoria-prorokov/">История Пророков</a></li>
                <li><a href="/cudesa-korana/">Чудеса Корана</a></li>

                {#            <li><a href="https://ask.fm/kamilhazrat" target="_blank" class="highlighted">Задать вопрос муфтию</a></li>#}
                {#            <li><a href="http://islam-today.ru/kmfmk-2018/" class="highlighted">Дневник КМФМК 2018</a></li>#}
                <li class="town-select">
                    {% render controller(ApplicationBundle ~ ':Default:townSelect') %}
                </li>
            </ul>

        </div>
    </header>

{% endblock %}
