{% extends ApplicationBundle ~ '::base.html.twig' %}

{% block stylesheets %}
    {#<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">#}
    {#<link rel="stylesheet" href="/static/banners/fonts/opensans/opensans.css"/>#}
    {#<link rel="stylesheet" href="/static/banners/css/slider.css"/>#}
    {#<link rel="stylesheet" href="/static/javascripts/vendor/retroclock/jquery.xdretroclock.css">#}
    {#<link rel="stylesheet" href="/static/javascripts/vendor/select2/select2.css">#}
    {#<link rel="stylesheet" href="/static/javascripts/vendor/flexslider/flexslider.css">#}
    {#<link rel="stylesheet" href="/static/stylesheets/banner.css">#}
    {#<link href="/static/stylesheets/styles.css" rel="stylesheet">#}

    {#{% endblock %}#}

    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="/static/compiled/main.css?201809131">
{% endblock %}


{% block javascripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
<!-- 123 {{ app.request.get('_route') }} -->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/i18n/jquery-ui-i18n.min.js"></script>
    <script src="/static/javascripts/bootstrap.min.js"></script>
    <script src="/static/javascripts/vendor/jwplayer/jwplayer.js"></script>
    <script src="/static/compiled/main.js?201804263"></script>
    <script src="{{ asset("static/javascripts/asgu.ajaxify.js") }}"></script>
{% endblock %}


{#{% block javascripts %}#}
    {#<script type="text/javascript" src="/static/javascripts/vendor/modernizr.js"></script>#}
    {#<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>#}
    {#<script src="//codeorigin.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>#}
    {#<script type="text/javascript"#}
            {#src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/i18n/jquery-ui-i18n.min.js"></script>#}
    {#<script type="text/javascript" src="/static/javascripts/vendor/jsor-jcarousel/lib/jquery.jcarousel.min.js"></script>#}
    {#<script type="text/javascript" src="/static/javascripts/main.js"></script>#}
    {#<script src="/static/banners/js/jquery.transit.min.js"></script>#}
    {#<script src="/static/banners/js/islider.js"></script>#}
    {#<script src="//netdna.bootstrapcdn.com/bootstrap/2.3.2/js/bootstrap.min.js"></script>#}
    {#<script src="/static/javascripts/vendor/jwplayer/jwplayer.js"></script>#}
    {#<script src="/static/javascripts/vendor/retroclock/jquery.xdretroclock.js"></script>#}
    {#<script src="/static/javascripts/vendor/select2/select2.min.js"></script>#}
    {#<script src="/static/javascripts/vendor/select2/select2_locale_ru.js"></script>#}
    {#<script src="/static/javascripts/vendor/flexslider/jquery.flexslider-min.js"></script>#}
    {#<script src="/static/javascripts/banner.js"></script>#}

    {#<script src="http://jwpsrv.com/library/JHS_UDjBEeOe+BIxOQfUww.js"></script>#}
{#{% endblock %}#}


{% block bodyTag %}
<div id="page">
    {% include ApplicationBundle ~ '::base_header.html.twig' %}
    {% block body %}{% endblock %}
    {% include ApplicationBundle ~ '::base_footer.html.twig' %}
</div>
{% endblock %}
