{% extends ApplicationBundle ~ "::layout.html.twig" %}

{% block title %}{% if (category is defined) and (category.meta.title is not empty) %}{{ category.meta.title }}{% else %}{{ category.title }}{% endif %}{% endblock %}
{% block meta_descr %}{% if category is defined %}{{ category.meta.descr }}{% endif %}{% endblock %}
{% block meta_keywords %}{% if category is defined %}{{ category.meta.keywords }}{% endif %}{% endblock %}

{% block body %}
    <div class="container content">

        <div class="row-fluid">
            <div class="span9">

                <h3 class="page-header">Новости <a href="{{ path('rss_news') }}"><img src="/static/images/rss-news.png"/></a></h3>

                <div class="article_list">
                    {% for news in pagination %}
                        <div class="article_list__item">
                            <a href="{{ path('news_single_with_date', {news_path:news.path, year:news.publishedAt.format('Y'), month:news.publishedAt.format('m'), day:news.publishedAt.format('d') }) }}" class="article_intro">
                                <div class="article_intro__wrapper">
                                    <div class="article_intro__meta">
                                        <div class="article_intro__date">{{ news.publishedAt | format_date('dd MMMM') }} {{ news.publishedAt | date('Y H:i') }}</div>
                                        <div class="article_intro__indicators">
                                            <div class="indicator__watch"><i class="icon"></i> <span class="val">{{ news.getViewCnt.cnt }}</span></div>
                                            {% if news.commentsCount > 0 %}
                                                <div class="indicator__comment"><i class="icon"></i> <span class="val">{{ news.commentsCount }}</span></div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="article_intro__header">
                                        {{ news.title }}
                                    </div>
                                    <div class="article_intro__text">
                                        {{ news.shortAnounce }}
                                        <div class="article_intro__more">Читать далее &rarr;</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>

                {{ knp_pagination_render(pagination, ApplicationBundle ~ ':Pagination:default.html.twig') }}
            </div>

            <div class="span3">

                {#<div class="panel_bordered sidebar_margin">#}

                {#</div>#}

                {% render(controller(ApplicationBundle ~ ":Banners:right2")) %}
                {% render(controller("SCBannersBundle:Default:getBanner", {id: 3, class: "banner-right3 sidebar_margin"})) %}

                {% render(controller(ApplicationBundle ~ ":Banners:right1")) %}

                <div class="panel_flat sidebar_margin">
                    {% render(controller(ApplicationBundle ~ ":Default:services")) %}
                </div>

                <!-- Banner #4 -->
                <div class="iSlider" id="slider_01"></div>
                <!-- Banner #5 -->
                <div class="iSlider" id="slider_02"></div>
                <!-- Banner #6 -->
                {% render(controller(ApplicationBundle ~ ":Banners:right6")) %}


                <div class="panel_flat sidebar_margin">
                    {% render(controller(ApplicationBundle ~ ':Default:photo')) %}
                </div>
                {#<div class="panel_flat sidebar_margin">#}
                {#<a href="http://www.irada.su" target="_blank"><img src="/static/banners/Banner_gif_01-13-4.gif" /></a>#}
                {#</div>#}

                <div class="panel_flat sidebar_margin">
                    {% render(controller(ApplicationBundle ~ ':Default:video')) %}
                </div>

            </div>
        </div>

    </div>
{% endblock %}