<?xml version="1.0" encoding="utf-8"?><rss version="2.0">
    <channel>
        <title>IslamToday.ru Новости RSS</title>
        <link>http://www.islam-today.ru/novosti/rss/</link>
        <description>Новости</description>
        {% for article in articles %}
            {% set descr %}{% spaceless %}
            <p>{{ article.shortAnounce }}</p>
        {% endspaceless %}{% endset %}
            <item>
                <guid isPermaLink="false">{{ article.id }}</guid>
                <link>{{ url }}{{ path('news_single_with_date', {news_path:article.path, year:article.publishedAt.format('Y'), month:article.publishedAt.format('m'), day:article.publishedAt.format('d') }) }}</link>
                <title>{{ article.title }}</title>
                <description>{{ descr | e }}</description>
                <pubDate>{{ article.publishedAt | date('r') }}</pubDate>
            </item>
        {% endfor %}
    </channel>
</rss>