{% extends "@IslamTodayApplication/New/layout.html.twig" %}

{% block title %}{% if news.meta.title is not empty %}{{ news.meta.title }}{% else %}{{ news.title }}{% endif %}{% endblock %}
{% block meta_descr %}{% spaceless %}{% if news.meta.descr is not empty %}{{ news.meta.descr }}{% else %}{{ news.flatContent.flatContent | raw | striptags | slice(0, 200) }}{% endif %}{% endspaceless %}{% endblock %}
{% block meta_keywords %}{% if news.meta.keywords is not empty %}{{ news.meta.keywords }}{% endif %}{% endblock %}
{% block og %}
    <meta property="og:title" content="{{ news.title }}">
    <meta property="og:url" content="https://islam-today.ru{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">
    <meta property="og:type" content="article">
    <meta property="og:image" content="{{ articleImage }}">
    <meta property="og:description" content="{{ news.shortAnounce }}">

    <meta property="twitter:title" content="{{ news.title }}"/>
    <meta property="twitter:description" content="{{ news.shortAnounce }}"/>
    <meta property="twitter:card" content="summary_large_image"/>
    <meta property="twitter:image" content="{{ articleImage }}"/>
    <meta property="twitter:url" content="{{ app.request.uri }}"/>
{% endblock %}

{% block content %}
    <div class="main">

        <ul class="breadcrumbs">
            <li><a href="{{ path('news') }}">Новости</a></li>
        </ul>

        <div class="article">

            <div class="article__header">
                <h1 class="article__header">{{ news.title }}</h1>

{#                <div class="article__indicators">
                    <div class="indicator__watch indicator_gradient">
                        <i class="icon"></i> {{ news.getViewCnt.cnt }}</div>
                    {% if news.commentsCount > 0 %}
                        <div class="indicator__comment indicator_gradient">
                            <i class="icon"></i> {{ news.commentsCount }}</div>
                    {% endif %}
                </div>#}
            </div>

            <div class="article__date">{{ news.publishedAt | date('H:i') }} , {{ news.publishedAt | format_date('dd MMMM YYYY') }}</div>

            <div class="article__text">
                {{ news.flatContent.flatContent | raw }}
            </div>

            <div class="article_poll">
                {% for question in news.questions %}
                    {{ render(controller('SCPollBundle:Default:vote', {'id': question.id} )) }}
                {% endfor %}
                {{ render(controller('SCPollBundle:Default:getIncludesFront', {"id": news.id })) }}
            </div>

            {% if news.tags is not empty %}
                <div class="article__tags">
                    <span class="article__tags__title">Метки</span>
                    <span class="article__tags__items">
                            {% for tag in news.tags %}
                                <a href="{{ path('islam_today_category', {category_path:tag.path}) }}">{{ tag.title }}</a>{% if not loop.last %} {% endif %}
                            {% endfor %}
                      </span>
                </div>
            {% endif %}

            <div class="article__tags__items" style="color: #4c4c4c;font-size: 12px; margin-top: 15px;">Если вы нашли ошибку, выделите текст и нажмите Ctrl + Enter.</div>
            <script type="text/javascript" src="/static/javascripts/orp.js"></script>

            <!-- Banner #6 -->
            {{ render(controller("SCBannersBundle:Default:getBanner", {id: 8, style: 'text-align:center;', class:"baner" })) }}


        </div>

        {{ render(controller('IslamTodayApplicationBundle:Common:socialShare')) }}

        {{ render(controller('IslamTodayApplicationBundle:Articles:related', {excludeId: news.id})) }}

        {{ render(controller("SCBannersBundle:Default:getBanner", {id: 9, style: 'text-align:center;', class:"baner" })) }}


        <div class="comments">
            <div id="mc-container"></div>
            <script type="text/javascript">
                cackle_widget = window.cackle_widget || [];
                cackle_widget.push({widget: 'Comment', id: 29657});
                (function () {
                    var mc = document.createElement('script');
                    mc.type = 'text/javascript';
                    mc.async = true;
                    mc.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cackle.me/widget.js';
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(mc, s.nextSibling);
                })();
            </script>
            <a id="mc-link" href="http://cackle.ru">Социальные комментарии <b style="color:#4FA3DA">Cackl</b><b
                        style="color:#F65077">e</b></a>
        </div>

        {{ render(controller("SCBannersBundle:Default:getBanner", {id: 10, style: 'text-align:center;', class:"baner" })) }}
    </div>
{% endblock %}
{% block rightSidebar %}{% endblock %}
