{% extends ApplicationBundle ~ "::layout.html.twig" %}

{% block title %}{% if news.meta.title is not empty %}{{ news.meta.title }}{% else %}{{ news.title }}{% endif %}{% endblock %}
{% block meta_descr %}{% spaceless %}{% if news.meta.descr is not empty %}{{ news.meta.descr }}{% else %}{{ news.flatContent.flatContent | raw | striptags | slice(0, 200) }}{% endif %}{% endspaceless %}{% endblock %}
{% block meta_keywords %}{% if news.meta.keywords is not empty %}{{ news.meta.keywords }}{% endif %}{% endblock %}
{% block og %}
    <meta property="og:title" content="{{ news.title }}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ app.request.uri }}">
    <meta property="og:image" content="{{ articleImageBig }}">
    <meta property="og:description" content="{{ news.shortAnounce }}">


    <meta property="twitter:title" content="{{ news.title }}" />
    <meta property="twitter:description" content="{{ news.shortAnounce }}" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:image" content="{{ articleImageBig }}" />
    <meta property="twitter:url" content="{{ app.request.uri }}" />
{% endblock %}


{% block body %}
    <style>
        blockquote {
            padding: 5px 5px 5px 15px;
            margin: 0 0 20px;
            border-left: 5px solid #9bbfd4;
            background: #dee9ef;
            border-color: #9bbfd4;
            font-size: 19px;
            font-style: italic;
        }
    </style>
    <div class="container content">

        <div class="row-fluid">

            <div class="span9">

                <ul class="breadcrumbs">
                    <li><a href="{{ path('secular_news') }}">Другие новости</a></li>
                </ul>

                <div class="article">

                    <div class="article__header">
                        <h1 class="article__header">{{ news.title }}</h1>

                        <div class="article__indicators">
                            <div class="indicator__watch indicator_gradient"><i class="icon"></i> {{ news.getViewCnt.cnt }}</div>
                            {% if news.commentsCount > 0 %}
                                <div class="indicator__comment indicator_gradient"><i class="icon"></i> {{ news.commentsCount }}</div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="article__date">{{ news.publishedAt | format_date('dd MMMM') }} {{ news.publishedAt | date('Y H:i') }}</div>

                    <div class="article__text">
                        {{ news.flatContent.flatContent | raw }}
                    </div>

                    <div class="article_poll">
                        {# {% render controller('SCPuzzleBundle:Default:getPuzzle', {article:article}) %} #}
                        {% for question in news.questions %}
                            {{ render(controller('SCPollBundle:Default:vote', {'id': question.id} )) }}
                        {% endfor %}
                        {% render(controller('SCPollBundle:Default:getIncludesFront', {"id": news.id })) %}
                    </div>

                    {% if news.tags is not empty %}
                        <div class="article__tags">
                            <span class="article__tags__title">Метки:</span>
                        <span class="article__tags__items">
                            {% for tag in news.tags %}
                                <a href="{{ path('islam_today_category', {category_path:tag.path}) }}">{{ tag.title }}</a>{% if not loop.last %},{% endif %}
                            {% endfor %}
                      </span>
                        </div>
                    {% endif %}

                    <div class="article__tags__items" style="font-size: 12px; margin-top: 15px;">Если вы нашли ошибку, выделите текст и нажмите Ctrl + Enter.</div>
                    <script type="text/javascript" src="/static/javascripts/orp.js"></script>


                    <!-- Banner #6 -->
                    {% render(controller("SCBannersBundle:Default:getBanner", {id: 10, style: 'text-align:center;', class:"baner" })) %}


{#                    {% render controller(ApplicationBundle~':Articles:relatedTags', {tags:news.tags}) %}#}
                </div>

                {% render controller(ApplicationBundle~':Common:socialShare') %}

                {% render controller(ApplicationBundle~':Articles:related') %}

                <div class="comments" style="width:620px;">
                    <div id="mc-container"></div>
                    <script type="text/javascript">
                        cackle_widget = window.cackle_widget || [];
                        cackle_widget.push({widget: 'Comment', id: 29657});
                        (function () {
                            var mc = document.createElement('script');
                            mc.type = 'text/javascript';
                            mc.async = true;
                            mc.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cackle.me/widget.js';
                            var s = document.getElementsByTagName('script')[0];
                            s.parentNode.insertBefore(mc, s.nextSibling);
                        })();
                    </script>
                    <a id="mc-link" href="http://cackle.ru">Социальные комментарии <b style="color:#4FA3DA">Cackl</b><b style="color:#F65077">e</b></a>
                </div>
            </div>

            <div class="span3">
                {% render(controller(ApplicationBundle ~ ":Banners:right2")) %}
                {% render(controller(ApplicationBundle ~ ":Banners:right3")) %}
                {#{% render controller(ApplicationBundle~':Articles:popular') %}#}

                {% render(controller(ApplicationBundle ~ ":Banners:right1")) %}

                <div class="panel_flat sidebar_margin">
                    {% render(controller(ApplicationBundle ~ ":Default:services")) %}
                </div>
{#                {% render(controller(ApplicationBundle ~ ":Banners:holiday")) %}#}

                {#<div class="panel_bordered sidebar_margin">#}
                {#<div id="hypercomments_mix"></div>#}
                {#<script type="text/javascript">#}
                {#_hcwp = window._hcwp || [];#}
                {#_hcwp.push({widget:"Mixstream", widget_id: 11350, template: "index", filter:"last",limit:5 ,default_filter:"last"});#}
                {#(function() {#}
                {#if("HC_LOAD_INIT" in window)return;#}
                {#HC_LOAD_INIT = true;#}
                {#var lang = (navigator.language || navigator.systemLanguage || navigator.userLanguage ||  "en").substr(0, 2).toLowerCase();#}
                {#var hcc = document.createElement("script"); hcc.type = "text/javascript"; hcc.async = true;#}
                {#hcc.src = ("https:" == document.location.protocol ? "https" : "http")+"://w.hypercomments.com/widget/hc/11350/"+lang+"/widget.js";#}
                {#var s = document.getElementsByTagName("script")[0];#}
                {#s.parentNode.insertBefore(hcc, s.nextSibling);#}
                {#})();#}
                {#</script>#}
                {#</div>#}
                <div class="sidebar_margin">
                    <script type="text/javascript" src="//vk.com/js/api/openapi.js?115"></script>

                    <!-- VK Widget -->
                    <div id="vk_groups4"></div>
                    <script type="text/javascript">VK.Widgets.Group("vk_groups4", {mode: 1, width: "220"}, 3963339);
                    </script>
                </div>
                <div class="sidebar_margin">
                    <div class="fb-like-box" data-href="https://www.facebook.com/islam.today.russia" data-width="218" data-height="400" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
                </div>
                <!-- Banner #4 -->
                <div class="iSlider" id="slider_01"></div>
                <!-- Banner #5 -->
                <div class="iSlider" id="slider_02"></div>
                <!-- Banner #6 -->
                {% render(controller(ApplicationBundle ~ ":Banners:right6")) %}


                <div class="panel_flat sidebar_margin">
                    {% render(controller(ApplicationBundle ~ ':Default:photo')) %}
                </div>

                {#<div class="panel_flat sidebar_margin">#}
                {#<a href="http://www.irada.su" target="_blank"><img src="/static/banners/Banner_gif_01-13-4.gif" /></a>#}
                {#</div>#}

                <div class="panel_flat sidebar_margin">
                    {% render(controller(ApplicationBundle ~ ':Default:video')) %}
                </div>


            </div>
        </div>

    </div>
{% endblock %}
