{% extends ApplicationBundle ~ "::layout.html.twig" %}

{% block title %}Коран на русском языке - читать онлайн{% endblock %}
{% block meta_descr %}Читайте Коран онлайн и бесплатно. Удобная форма для чтения Корана, перевод на русский язык{% endblock %}
{% block meta_keywords %}{% endblock %}

{% block body %}
<script src="/static/bower_components/iscroll/build/iscroll.js"></script>
<!-- uppod player -->
<script src="/static/javascripts/plugins/uppod/uppod-0.4.6.js"></script>
<script src="/static/javascripts/plugins/uppod/swfobject.js"></script>
<script src="/static/javascripts/plugins/uppod/uppod_api.js"></script>
<script src="/static/javascripts/plugins/uppod/uppod_ajax.js"></script>
<script src="/static/javascripts/plugins/uppod/audio179-540.js"></script>
<script src="/static/javascripts/plugins/uppod/player.js"></script>

    <script src="/static/javascripts/koran.js"></script>

    <script>

    </script>
<div class="container content">
<div class="row">
    <div class="span9">

        <div class="article">
            <div class="article__header">
                <h2>Коран</h2>
            </div>
            <div class="article__text article__text--small">

                <p>Здесь вы сможете читать Коран на 2 языках, слушать Коран, а также скачать текст Корана.</p>
                <p>Коран является последним посланием, ниспосланным Всевышним Аллахом всему человечеству.<br/>
                    Коран – слово Аллаха, ниспосланное Ангелом Джабраилем пророку Мухаммаду (мир ему),
                    который передал его всему человечеству. Священная книга является руководством для каждой
                    сферы человеческой жизни, следование которым приведет к счастью в обоих мирах.</p>
                <p>Коран состоит из 114 глав - сур. Суры состоят из аятов. Порядок сур не отражает хронолию их
                    ниспослания, так как аяты-откровения приходили пророку (мир ему) в разных местах и разном
                    времени, которые он запоминал наизусть и позже составил аяты в существующие суры. Суры
                    Корана сохранились в неизменном виде со времен их откровения, т.е. более 14 веков назад. Ни
                    одной буквы, ни одного пунктанационного знака не было изменено в Священной книге.</p>
                <p>
                    <a href="/files/koran/Koran.pdf">Скачать Коран</a> (PDF, на арабском языке)<br/>
                    <a href="/files/koran/koran_osmanova.pdf">Скачать Коран</a> (PDF, на русском языке)<br/>
                </p>
                {#<p>
                    В этом разделе вы найдете сведения о Коране. Кора́н (араб. أَلْقُرآن‎‎) — священная книга мусульман. Слово
                    «Коран» происходит от арабского «чтение вслух», «назидание» (Коран, 75:16-18). Коран согласно по
                    Исламу представляет собой свод откровений, произнесённых от имени Бога пророком Мухаммедом.
                </p>

                <p>
                    В Коране насчитывается 114 сур (глав) разной длины (от 3 до 286 айатов, от 15 до 6144 слов. Все суры
                    разделены на аяты (стихи). По различным подсчетам в Коране от 6204 до 6236 аятов и более 320
                    тысяч букв. Коран также разделён на семь равных частей, называемых манзилями для удобства чтения Корана
                    в течение недели. Деление Корана на 30 частей (джуз), позволяет прочитывать Коран равномерно в течение
                    одного месяца.
                </p> #}
                <p>Коран на аудио читает Мишари Рашид Аль-Афаси</p>
<p style="text-align: center;"><a href="http://t.me/islamt"><img alt="" height="67" src="http://islam-today.ru/files/news/part_5/59386/325792-INNERRESIZED600-600-Telega.jpg" width="600"></a></p>
            </div>

        </div>

    </div>
    <div class="span3">

        <div class="panel_flat sidebar_margin">
            {% render(controller(ApplicationBundle ~ ":Default:services")) %}
        </div>

    </div>
</div><!-- /row -->

    <div class="koran_inner_content">
        {% render(controller(ApplicationBundle~':Koran:getKoranPages')) %}
    </div>


{% endblock %}
