<div class="nav-koran push--top">
{#    <div class="bubble bubble--tail-bottom bubble--koran">
        Для просмотра выберите автора, переводчика и чтеца.
    </div>
#}
    <li class="nav-koran__item dropdown">
        <i class="sprite sprite-koran-nav-face"></i>
        <a href="#" class="nav-koran__target link link-dashed dropdown-toggle js_koran_author_selected" data-toggle="dropdown" data-author-id="{{ pages[0].author.id }}">{{ pages[0].author.name }}</a>
        <i class="icon-caret"></i>
        <ul class="dropdown-menu dropdown-menu--custom">
            {% for koranAuthor in koranAuthors %}
                <li><a href="#" data-value="{{ koranAuthor.id }}" data-name="{{ koranAuthor.name }}" class="link link-dashed link--colored-1 js_koran_author_select">{{ koranAuthor.name }}</a></li>
            {% endfor %}
        </ul>
    </li>

    <li class="nav-koran__item dropdown">
        <i class="sprite sprite-koran-nav-translate"></i>
        <a href="#" class="nav-koran__target link link-dashed dropdown-toggle" data-toggle="dropdown">Министерство религии</a>
        <i class="icon-caret"></i>
        <ul class="dropdown-menu dropdown-menu--custom">
            {% for commentAuthor in commentAuthors %}
                <li><a href="#" class="link link-dashed link--colored-1">{{ commentAuthor.name }}</a></li>
            {% endfor %}
        </ul>
    </li>

    <li class="nav-koran__item dropdown">
        <i class="sprite sprite-koran-nav-rupor"></i>
        <a href="#" class="nav-koran__target link link-dashed dropdown-toggle js_koran_audio_selected" data-toggle="dropdown" data-id="{{ audioAuthors[0].id }}">{{ audioAuthors[0].name }}</a>
        <i class="icon-caret"></i>
        <ul class="dropdown-menu dropdown-menu--custom">
            {% for audioAuthor in audioAuthors %}
                <li><a href="#" class="link link-dashed link--colored-1 js_koran_audio_select" data-id="{{ audioAuthor.id }}" data-name="{{ audioAuthor.name }}">{{ audioAuthor.name }}</a></li>
            {% endfor %}
        </ul>
    </li>

</div>


<!--- Koran Book -->
<section class="koran-book koran-book--embed push--top">

    <div class="koran-book__direction">
        <a href="#" class="koran-book__direction__item koran-book__direction__item--prev" data-page="{{ pages[0].page }}"></a>
        <a href="#" class="koran-book__direction__item koran-book__direction__item--next" data-page="{{ pages[1].page }}"></a>
    </div>

    <div class="koran-book__header">
        <div class="koran-book__nav">

            <li class="koran-book__nav__item">
                <span class="koran-book__nav__item__label">Джуз:</span>
                <div class="koran-book__nav__item__label dropdown">
                    <a href="#" class="koran-book__nav__item__target link-dashed dropdown-toggle js_koran_juz_selected" data-toggle="dropdown" data-part="{{ ((pages[0].page + 19) / 20) | number_format(0, '.', ',') }}">{{ ((pages[0].page + 19) / 20)| number_format(0, '.', ',') }}</a>
                    <i class="icon-caret-2"></i>

                    <ul class="dropdown-menu dropdown-menu--custom">
                        {% for i in range(1, 30) %}
                            <li><a href="#" class="link link-dashed link--colored-1 js_koran_juz_select" data-part="{{ i }}">{{ i }}</a></li>
                        {% endfor %}
                    </ul>

                </div>
            </li>

            <li class="koran-book__nav__item">
                <span class="koran-book__nav__item__label">Сура:</span>
                <div class="koran-book__nav__item__label dropdown">
                    <a href="#" class="koran-book__nav__item__target link-dashed dropdown-toggle js_koran_surah_selected" data-toggle="dropdown" data-surah-id="{{ currentSurah }}">{{ surahes[currentSurah] }}</a>
                    <i class="icon-caret-2"></i>

                    <ul class="dropdown-menu dropdown-menu--custom">
                        {% for id, title in surahes %}
                            <li><a href="#" class="link link-dashed link--colored-1 js_koran_surah_select" data-surah-id="{{ id }}" data-title="{{ title }}">{{ title }}</a></li>
                        {% endfor %}
                    </ul>

                </div>
            </li>

            <li class="koran-book__nav__item">
                <span class="koran-book__nav__item__label">Аяты:</span>
                <div class="koran-book__nav__item__label dropdown">
                    <a href="#" class="koran-book__nav__item__target link-dashed dropdown-toggle js_koran_ayah_selected" data-toggle="dropdown" data-ayah-id="{{ currentAyah }}">{{ ayahs[currentAyah] }}</a>
                    <i class="icon-caret-2"></i>

                    <ul class="dropdown-menu dropdown-menu--custom">
                        {% for ayah in ayahs %}
                            <li><a href="#" class="link link-dashed link--colored-1 js_koran_ayah_select" data-ayah="{{ ayah }}">{{ ayah }}</a></li>
                        {% endfor %}
                    </ul>

                </div>
            </li>

            {#<li class="koran-book__nav__item">#}
            {#<span class="koran-book__nav__item__label">Страницы:</span>#}
            {#<div class="koran-book__nav__item__label dropdown">#}
            {#<a href="#" class="koran-book__nav__item__target link-dashed dropdown-toggle" data-toggle="dropdown">{{ pages[0].page }}-{{ pages[1].page }}</a>#}
            {#<i class="icon-caret-2"></i>#}

            {#<ul class="dropdown-menu dropdown-menu--custom">#}
            {#<li><a href="#" class="link link-dashed link--colored-1">Хафиз Асман</a></li>#}
            {#<li><a href="#" class="link link-dashed link--colored-1">Хафиз Асман</a></li>#}
            {#<li><a href="#" class="link link-dashed link--colored-1">Хафиз Асман</a></li>#}
            {#</ul>#}

            {#</div>#}
            {#</li>#}

            <li class="koran-book__nav__item">
                <span class="koran-book__nav__item__label">Перевод:</span>

                <div class="koran-book__nav__item__label">
                    <div class="tags__filter">
                        <ul class="tags_filter__items">
                            <li class="tags_filter__item active js_show_comment">
                                <span>показать</span>
                            </li>
                            <li class="tags_filter__item js_hide_comment">
                                <a href="#" class="koran-book__nav__item__target link-dashed">скрыть</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </div>
    </div>

    <div class="koran-book__body">
            <div class="koran-book__pages">
                    {% for koran in pages %}
                        <div class="koran-book__pages__item">
                            <div class="koran-book__pages__item__inner">

                                <div class="koran-book__page">

                                    <div class="koran-book__page__translation koran-book__translation" data-iscroll>
                                        <div class="koran-book__translation__inner">{% if koran.comment.comment is defined %}{{ koran.comment.comment | raw}}{% endif %}
                                        </div>
                                    </div>

                                    <div class="koran-book__page__original">
                                        <img src="/files/koran/pages/{{ koran.author.id }}/{{ koran.page }}/preview/{{ koran.page }}.jpg" alt="">
                                    </div>

                                    <div class="koran-book__page__player js_audio_file" data-page="{{ koran.page }}">
                                        <div class="uppod uppod--style-540" data-audio data-file="/files/koran/audio/1/{{ koran.page }}.mp3"></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    {% endfor %}
            </div>
    </div>

    <div class="koran-book__footer">
        <ul class="koran-book__page-numbers">
            <li class="pull-left">{{ pages[0].page }}</li>
            <li class="pull-right">{{ pages[1].page }}</li>
        </ul>
    </div>

</section>

</div>
