.iSlider {
  font-family: 'Open Sans Condensed';
  margin-bottom: 40px;
}
.iSlider .iSliderBody {
  display: block;
  position: relative;
}
.iSlider .iSlidesContainer {
  padding: 0;
  margin: 0;
  width: auto;
  position: relative;
  background: transparent url('/static/banners/img/shadow.png') 50% 100% no-repeat;
}
.iSlider .iSlidesContainer .iSlide {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #666;
  position: relative;
  display: block;
}
.iSlider .iSlidesContainer .iSlide .title {
  position: absolute;
  display: block;
  text-align: center;
  font-size: 18px;
  bottom: 30px;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
}
.iSlider .iSlidesContainer .iSlide .link {
  display: block;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  position: absolute;
  bottom: -15px;
  width: 180px;
  left: 50%;
  margin-left: -90px;
  padding: 7px 0 5px 0;
  text-transform: uppercase;
  max-height: 32px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  background: #666666 url('/static/banners/img/button_bg.png') 0 0 repeat-x;
}
.iSlider .iSliderControls {
  position: absolute;
  bottom: 60px;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 1000;
}
.iSlider .iSliderControls a {
  display: block;
  padding: 0;
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 31px;
  height: 69px;
  cursor: pointer;
}
.iSlider .iSliderControls a.controlPrev {
  float: left;
  background-image: url('/static/banners/img/slider_arrow_left.png');
  margin-left: -1px;
}
.iSlider .iSliderControls a.controlNext {
  float: right;
  background-image: url('/static/banners/img/slider_arrow_right.png');
  margin-right: -1px;
}
