{%- block checkbox_widget -%}
    <label {% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        {{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}
    </label>
{%- endblock checkbox_widget -%}

{%- block datetime_widget -%}
    <input type="text" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}/>
{%- endblock datetime_widget -%}

{%- block date_widget -%}
    <input type="text" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}/>
{%- endblock date_widget -%}