{% extends '::layout.html.twig' %}

{% form_theme form '@SCBanners/Default/fields.html.twig' %}

{% block title %}Админка | Баннеры{% endblock %}
{% block body %}
    <script type="text/javascript" src="{{ asset('bundles/scuseradmin/js/jquery.form.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/scbanners/js/datepicker.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('bundles/scuseradmin/js/jquery-ui-1.10.3/ui/minified/jquery-ui.min.js') }}"></script>
    <link href="{{ asset('bundles/scuseradmin/js/jquery-ui-1.10.3/themes/base/jquery-ui.css') }}" type="text/css" rel="stylesheet"/>
    <link href="{{ asset('bundles/scbanners/css/datepicker.css') }}" type="text/css" rel="stylesheet"/>
    {{ form_start(form) }}
        <div class="row">
            <div class="col-md-12">
                <div style="display: none;" class="js_state_error alert alert-error">
                    <span></span>
                </div>

                <div style="display: none;" class="js_state_wait progress progress-striped active">
                    <div class="bar" style="width: 100%;">Сохраняем, подождите..</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">

                <div class="col-md-12">
                    <label for="banner_name">Внутреннее название</label>
                    {{ form_widget(form.name) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">

                <div class="col-md-12">
                    <label for="banner_link">Ссылка</label>
                    {{ form_widget(form.link) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-2">
                    <label for="banner_from">От</label>
                    {{ form_widget(form.dateFrom) }}
                </div>
                <div class="col-md-2">
                    <label for="banner_to">До</label>
                    {{ form_widget(form.dateTo) }}
                </div>
                <div class="col-md-4">
                    <label for="banner_place">Место</label>
                    {{ form_widget(form.place) }}
                </div>
                <div class="col-md-2">
                    <label>Размещение</label>

                    <div class="checkbox">
                        {{ form_widget(form.isMainpage) }}
                    </div>

                    <div class="checkbox">
                        {{ form_widget(form.isNewspage) }}
                    </div>

                    <div class="checkbox">
                        {{ form_widget(form.isOtherpage) }}
                    </div>

                    <div class="checkbox">
                        {{ form_widget(form.city) }}
                    </div>

                </div>
                <div class="col-md-2">
                    <div class="checkbox">
                        {{ form_widget(form.isActive) }}
                    </div>
                    <div class="checkbox">
                        {{ form_widget(form.showSubtitle) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-12">
                    {% if banner.filepath %}
                        {% if banner.isSwf %}
                        {% else %}
                            {{ banner.filepath }}
                            <img src="/files/banners/{{ banner.filepath }}"/>
                        {% endif %}
                        <br/>
                    {% endif %}
                    <label for="banner_file">Файл</label>
                    {{ form_widget(form.file) }}
                </div>
                <div class="col-md-12">
                    {{ form_widget(form.text) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                {{ form_widget(form.submit) }}
                <a href="{{ path('sc_banners') }}" class="btn btn-link">Отмена</a>
            </div>
        </div>
    {{ form_end(form) }}

    <script>
        $("#banner_dateFrom, #banner_dateTo").datetimepicker({
            format:'d.m.Y',
            allowTimes:[
                '01:01', '12:00', '23:59',
            ]
        });
    </script>
{% endblock %}

