{% if banner %}
    <div {% if style %}style="{{ style }}; position: relative;"{% endif %} {% if class %}class="{{ class }}"{% endif %}>
        <!-- banner {{ banner.place.id }} {{ banner.isSwf }} -->
        {% if banner.isSwf %}
            <object class="baner" style="margin-top: 0;" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0" width="{{ width }}" height="{{ height }}" align="middle">
                <param name="allowScriptAccess" value="sameDomain">
                <param name="movie" value="/files/stat_ban/{{ banner.file }}">
                <param name="quality" value="high">
                <param name="bgcolor" value="#ffffff">
                <embed src="/files/stat_ban/{{ banner.file }}" quality="high" bgcolor="#ffffff" width="{{ width }}" height="{{ height }}" align="middle" allowscriptaccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer">
            </object>
        {% elseif banner.text != "" %}
            {{ banner.text | raw }}
        {% else %}
            <a href="{{ banner.link }}" target="_blank">
                <img src="/files/stat_ban/{{ banner.filepath }}">
            </a>
            {% if banner.showSubtitle %}
                <span href="#" style="position: absolute;right: 0;bottom: -12px;color: #666;text-decoration: none;font-size: 8px;">Реклама</span>
            {% endif %}
        {% endif %}
    </div>
{% endif %}
