{% extends '::layout.html.twig' %}

{% block title %}Админка | Баннеры{% endblock %}

{% block body %}
    <link href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css" type="text/css" rel="stylesheet"/>

    <a href="{{ path('sc_banners_add') }}" class="btn">Добавить баннер</a>
    {% if(full) %}
        <a href="{{ path('sc_banners') }}" class="btn">Показать актуальные баннеры</a>
    {%  else %}
        <a href="{{ path('sc_banners')}}?full=true" class="btn">Показать все баннеры</a>
    {%  endif %}
    {% if banners %}
        <table class="table" id="banners">
            <thead>
            <tr>
                <th>Дата</th>
                <th>Название</th>
                <th>Блок</th>
                <th>Активен</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for banner in banners %}
                <tr>
                    <td>{{ banner.dateFrom |date('d.m.Y') }} - {{ banner.dateTo |date('d.m.Y') }}</td>
                    <td>{{ banner.name }}</td>
                    <td>{{ banner.place.name }}</td>
                    <td>{% if banner.isActive %}Да{% else %}Нет{% endif %}</td>
                    <td><a href="{{ path('sc_banners_edit', {'id': banner.id}) }}">Редактировать</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <script src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
        <script src="//cdn.datatables.net/buttons/1.1.0/js/dataTables.buttons.min.js"></script>
        <script>
            $('table').DataTable({
                paging: false,
                searching: false,
            });
        </script>
    {% endif %}
{% endblock %}