{{ form_start(form) }}
<div class="row">
    <div class="col-md-12">
        {% include 'SCPollBundle:Default:wysiwyg.html.twig' with {
        id : question.id,
        showFiles : true,
        wysiwygtextarea : 'sc_pollbundle_question_text',
        previewImageId : 'preview-img-articles1',
        contentCss : '{{ asset("bundles/scarticleadmin/css/articles.css?2") }}',
        content : question.text,
        fsModuleId : fsModuleId,
        previewModTypeId : previewModTypeId,
        fileStorageModTypeId : fileStorageModTypeId,
        height: 200
        } %}
    </div>
</div>
<div class="row" style="margin-top: 15px;">
    <div class="col-md-2">
        {{ form_label(form.answers) }}
    </div>
    <div class="col-md-10 answer_group opinions" data-prototype="{% filter escape %}{{ _self.answerPrototype(form.answers.vars.prototype) }}{% endfilter %}">
        {% for answer in form.answers -%}
            <div class="row answer_group" style="margin-top: 15px;">
                <div class="col-md-12">
                    {{ _self.answerPrototype(answer) }}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<div class="row" style="margin: 15px 0;">
    <div class="col-md-3">
        {{ form_widget(form.save) }}
    </div>
    <div class="col-md-3">
        <button class="btn btn-block btn-success add_choice">+ <span>Добавить вариант ответа</span></button>
    </div>
    <div class="col-md-3">
        <button class="btn btn-block btn-danger question_remove" data-path="{{ path("sc_poll_delete", { "id": question.id } ) }}">
            Удалить вопрос
        </button>
    </div>
    <div class="col-md-3">
        <p class="form-control-static">Статус: <span class="poll_status"></span></p>
    </div>
</div>
{{ form_widget(form._token) }}
</form>
<hr class="divider">


{% macro answerPrototype(answer) %}
    <div class="form-group">
        {{ form_widget(answer.text) }}
    </div>
    <div class="form-inline">
        <div class="col-md-4 checkbox">
            <label class="checkbox">
                {{ form_widget(answer.valid) }} Правильный ответ
            </label>
        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <button class="btn btn-block btn-danger delete_choice">Удалить</button>
        </div>
    </div>
{% endmacro %}