<script>
    $(document).on("change", ".vote_answer", function(){
        var form = $(this).parents("form:first");
        var form_container = $(this).parents(".panel:first");

        $.ajax({
            url: form.attr("action"),
            type: "POST",
            data: form.serialize(),
            success: function(response){
                form_container.replaceWith(response);
            }
        });

        return false;
    });

    $(document).on("click", ".test_answer", function(e) {
        var form = $(this).parents("form:first");
        var answer_id = $(this).data('id');
        var form_container = $(this).parents(".panel:first");

        $.ajax({
            url: form.attr("action"),
            type: "POST",
            data: {answer: answer_id},
            success: function(response){
                //form.find("btn").addClass("disabled")
                console.log(response);

                form_container.replaceWith(response);
            }
        });

        return false;
    });
</script>
<style>
    .list-group {
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 16px;
    }

    .answer_text {
        margin: 5px 15px 5px;
    }
    .bar_container {
        height: 30px;
        line-height: 30px;
        text-align: center;
        border: 1px solid #eee;
    }

    .bar_value {
        background: #9BBFD4;
        color: #F3F3F0;
        text-align: center;
        height: 30px;
        line-height: 30px;
    }
</style>