<script>
    $(document).on("click", "#test-reset", function() {
        $.ajax({
            url: "/poll/test/reset/"+$(this).data("id"),
            type: "POST",
            success: function() {
                location.reload();
            }
        });
        return false;
    });

    function checkForResults() {
        var questionCount = $(".question-block").length,
            validAnswers = $(".question-block .valid").length,
            invalidAnswers = $(".question-block .invalid").length;

        if (questionCount == validAnswers) {
            $("#test-results-block").show();
            $("#test-results").text("Вы ответили правильно на " + (validAnswers-invalidAnswers) + " вопросов из " + questionCount);
        }
    }
    checkForResults();
    $(document).on("click", ".question-answer", function() {
        var id = $(this).parents("ul").data("id");
        var form_container = $(this).parents(".question-block:first");
        var answer = $(this).data('id');
        $.ajax({
            url: "/poll/test/result/"+id,
            type: "POST",
            data: {answer:answer},
            success: function(response){
                if (typeof form_container.next(".question-block")[0] !== "undefined") {
                    $([document.documentElement, document.body]).animate({
                        scrollTop: form_container.next(".question-block").offset().top
                    }, 500);
                }
                form_container.replaceWith(response);
                checkForResults();
            }
        });
    });
    $(document).on("change", ".vote_answer", function(){
        var form = $(this).parents("form:first");
        var form_container = $(this).parents(".panel:first");

        $.ajax({
            url: form.attr("action"),
            type: "POST",
            data: form.serialize(),
            success: function(response){
                form_container.replaceWith(response);
            }
        });

        return false;
    });

    $(document).on("click", ".test_answer", function(e) {
        var form = $(this).parents("form:first");
        var answer_id = $(this).data('id');
        var form_container = $(this).parents(".panel:first");

        $.ajax({
            url: form.attr("action"),
            type: "POST",
            data: form.serialize(),
            success: function(response){
                console.log(response);

                form_container.replaceWith(response);
            }
        });
    });
</script>
<style>
#test-results {
font-family: "Manrope Bold", sans-serif;
font-size: 18px;
}
    .list-group {
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 16px;
    }

    .answer_text {
        margin: 5px 15px 5px;
    }
    .bar_container {
        height: 30px;
        line-height: 30px;
        text-align: center;
        border: 1px solid #eee;
    }

    .bar_value {
        background: #9BBFD4;
        color: #F3F3F0;
        text-align: center;
        height: 30px;
        line-height: 30px;
    }
    .question-answer {
        text-decoration: none;
        color: #707070;
        border: 1px #cccccc solid;
        padding: 2px 8px;
        border-radius: 4px;
        display: block;
        margin: 0 0 10px 0;
        cursor: pointer;
    }
    .question-answer input {
        display: none;
    }
    .answer-item {
        text-decoration: none;
        color: #707070;
        border: 1px #cccccc solid;
        padding: 2px 8px;
        border-radius: 4px;
        display: block;
        margin: 0 0 10px 0;
    }
    .answer-item.valid {
         background: #9cff9e;
     }
    .answer-item.invalid {
        background: #ffeec8;
    }
    #test-reset {
text-decoration: none;
    color: #707070;
    border: 1px #cccccc solid;
    padding: 2px 8px;
    border-radius: 4px;
    display: block;
    margin: 15px 0 15px 0;
    cursor: pointer;
width: 100%;
    height: 46px;
    background: #ffc9c9;
}
</style>
