<script>


    $(document).on('click','.js_poll_link', function (ev) {
        $('.js_poll').toggle();
        ev.stopPropagation();
        ev.preventDefault()
        $("html, body").animate({ scrollTop: $(document).height() }, 1000);
        return false;
    });

    $(document).on('click','.add_question', function (ev) {
        var myPath = '{{ path('sc_poll_edit') }}';

        $.ajax({
            type: "GET",
            url:  myPath,
            success: function(returnData){
                $('.poll_container').append(returnData);
                $("html, body").animate({ scrollTop: $(document).height() }, 1000);
            }
        });

        return false;
    });
    $(document).on("click", ".add_choice", function(e){
        var question_form = $(this).parents('form:first');
        e.preventDefault();
        addChoiceForm(question_form);

        return false;
    });

    $(document).on('click','.delete_choice', function(e) {
        e.preventDefault();
        $(this).parents(".answer_group:first").remove();
        return false;
    });

    $(document).on("click", ".question_remove", function(){
        event.preventDefault();
        event.stopPropagation();
        var path = $(this).data("path");
        var question_form = $(this).parents("form:first");
        $.ajax({
            url: path,
            type: "GET",
            success: function(){
                question_form.remove();
            }
        });
        return false;
    });

    $(document).on("click", ".submit_poll", function(e){
        e.preventDefault();
        e.stopPropagation();
        var question_form = $(this).parents('form:first');
        var path = question_form.attr("action");

        var form_data = question_form.serialize();
        form_data = form_data + "&article={{ article.id }}";

        $.ajax({
            type: "POST",
            url: path,
            data: form_data,
            success: function(response){
                response = JSON.parse(response);
                if (response.code == "OK") {
                    question_form.find(".poll_status").html(response.data.status + ' ' + response.data.time);
                }

            }
        });



        return false;
    });

    function addChoiceForm(form) {
        var collectionHolder = form.find('.opinions');
        var prototype = collectionHolder.attr('data-prototype');

        // Replace '__name__' in the prototype's HTML to instead be a number based on the current collection's length.
        var newForm = prototype.replace(/__name__/g, collectionHolder.children().children().length);

        var newFormRow = $('<div class="row answer_group" style="margin-top: 15px;"></div>').append('<div class="col-md-12">' + newForm + '</div>');
        collectionHolder.append(newFormRow);
    }
</script>
<style>
    .list-group{
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 16px;
    }
    answer_text {
        margin: 5px 0;
    }
    .bar_value {
        background: #9BBFD4;
        color: #F3F3F0;
        text-align: center;
        height: 30px;
        line-height: 30px;
    }
</style>
