<div class="question-block">
    <h3 class="panel-title">{{ question.text | raw -}}</h3>
    <ul class="list-group">
        {% for answer in question.answers -%}
            {% if answer.valid %}
                <li class="answer-item valid">{{ loop.index }}. {{ answer.text  }}</li>
            {% else %}
                {% if my_answer == answer.id %}
                    <li class="answer-item invalid">{{ loop.index }}. {{ answer.text  }}</li>
                {% else %}
                    <li class="answer-item">{{ loop.index }}. {{ answer.text  }}</li>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
</div>
