<div class="question-block">
    <h3 class="question-text">{{ question.text  | raw}}</h3>
    <ul class="list-group question" data-id="{{ question.id }}">
        {% for _answer in answers -%}
            <li class="list-group-item question-answer" data-id="{{ _answer.id }}">
                {{ loop.index }}. {{ _answer.text }}
            </li>
        {% endfor %}
    </ul>
</div>
