<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            {{ question.text  | raw -}}
        </h3>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            {% for answer in question.answers -%}
                {% set percent = (answer.click / total * 100) | round(2) -%}
                <li class="list-group-item">
                    <div class="answer_text">{{ answer.text }}</div>
                    <div class="bar_container">
                        {% if percent > 0 -%}
                        <div class="bar_value" style="width: {{ percent }}%;">{{ answer.click }} ({{ percent }}%)</div>
                        {% else %}
                           {{ answer.click }} ({{ percent }}%)
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
