<div class="col-md-3">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="glyphicon glyphicon-hand-right"></span>{{ question.text | raw }}</h3>
        </div>
        <div class="panel-body">
            {{ form_start(form) -}}
            <ul class="list-group">
                {% for answer in form.answers -%}
                    <li class="list-group-item question">
                        <div class="checkbox">
                            <label>
                                {{ form_widget(answer, {'attr': {'class' : 'vote_answer'}}) }}
                                {{ answer.vars.label }}
                            </label>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            {{ form_end(form) }}
        </div>
    </div>
</div>
