{% if id is not defined %}
    {% set id = 'primary' %}
{% endif %}

{% if height is not defined %}
    {% set height = 600 %}
{% endif %}

{% if showFiles == true %}
    <div id="preview-generation-dialog-{{ id }}" style="display:none;">
        <table cellspacing="0" width="1" cellpadding="0" border="0">
            <tr>
                <td align="center">
                    <div style="width:123px;height:100px; overflow:hidden;border:1px solid #bebebe;" align="center">
                        <img style="max-width: none;" src="{{ asset('bundles/scarticleadmin/images/0.gif') }}" id="preview-rect-{{ id }}"/>
                    </div>

                </td>
            </tr>
            <tr>
                <td align="center">
                    <br/>
                    <img src="{{ asset('bundles/scarticleadmin/images/0.gif') }}" id="target-rect-{{ id }}" style="border:1px solid #bebebe;max-width: none;"/>

                </td>
            </tr>
        </table>
    </div>
    <div style="display:none; font-size:14px;" id="preview-generation-please-wait-{{ id }}">Ждите</div>

    <style>
        .art_dlg_options_tbl tr td {
            padding-bottom: 5px;
            padding-right: 5px;
            padding-top: 5px;
        }

        .art_dlg_options_tbl tr.hr td {
            border-top: 1px solid #bebebe;
        }
    </style>

    <div id="file-insert-resize-dialog-{{ id }}" style="display:none;">
        <table border="0" width="100%" cellpadding="4" cellspacing="0" class="art_dlg_options_tbl">
            <tr>
                <td align="right" nowrap="nowrap">Уменьшить до:
                </td>
                <td colspan="3"><input type="text" id="file-insert-resize-previewWidth-{{ id }}" value="600"/>&nbsp;&nbsp;px</td>
            </tr>
            <tr class="hr">
                <td align="right" valign="middle">Выравнивание:</td>
                <td width="30%" align="center"><input type="radio" name="file-insert-resize-options-align-{{ id }}" id="file-insert-resize-options-align-{{ id }}-left" value="left"/><br/><label for="file-insert-resize-options-align-{{ id }}-left">Слева</label></td>
                <td width="30%" align="center"><input type="radio" name="file-insert-resize-options-align-{{ id }}" id="file-insert-resize-options-align-{{ id }}-center" value="center" checked="checked"/><br/><label for="file-insert-resize-options-align-{{ id }}-center">Центр</label></td>
                <td width="30%" align="center"><input type="radio" name="file-insert-resize-options-align-{{ id }}" id="file-insert-resize-options-align-{{ id }}-none" value="none"/><br/><label for="file-insert-resize-options-align-{{ id }}-none">Нет</label></td>
            </tr>

            <tr class="hr">
                <td align="right" valign="middle"></td>
                <td colspan="3"><input type="checkbox" id="file-insert-resize-options-border-{{ id }}" checked="checked" name="file-insert-options-border-{{ id }}"/> <label for="file-insert-resize-options-border-{{ id }}">Бордюр 1xp черный</label>
            </tr>
        </table>

    </div>

    <div id="file-insert-dialog-{{ id }}" style="display:none;">
        <table border="0" width="100%" cellpadding="4" cellspacing="0" class="art_dlg_options_tbl">
            <tr>
                <td align="right" valign="middle">Выравнивание:</td>
                <td width="30%" align="center"><input type="radio" name="file-insert-options-align-{{ id }}" id="file-insert-options-align-{{ id }}-left" value="left"/><br/><label for="file-insert-options-align-{{ id }}-left">Слева</label></td>
                <td width="30%" align="center"><input type="radio" name="file-insert-options-align-{{ id }}" id="file-insert-options-align-{{ id }}-center" value="center" checked="checked"/><br/><label for="file-insert-options-align-{{ id }}-center">Центр</label></td>
                <td width="30%" align="center"><input type="radio" name="file-insert-options-align-{{ id }}" id="file-insert-options-align-{{ id }}-none" value="none"/><br/><label for="file-insert-options-align-{{ id }}-none">Нет</label></td>
            </tr>

            <tr class="hr">
                <td align="right" valign="middle"></td>
                <td colspan="3"><input type="checkbox" id="file-insert-options-border-{{ id }}" checked="checked" name="file-insert-options-border-{{ id }}"/> <label for="file-insert-options-border-{{ id }}">Бордюр 1xp черный</label>
            </tr>
        </table>

    </div>


    <input type="file" id="file-uploader-input-{{ id }}" multiple="multiple" style="visibility:hidden; position:absolute;"/>
{% endif %}

<table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tr>
        <td width="100%" style="padding-right:10px;">
            <textarea id="{{ wysiwygtextarea }}" name="{{ wysiwygtextarea }}" style="visibility:hidden">{{ content }}</textarea>
        </td>
        {% if showFiles == true %}
            <td width="200">
                <div style="width:200px;" id="wysiwyg_files"></div>
                <div class="ws_right g2-border-radius5px" style="height:{{ height + 59 }}px;">
                    <ul class="ws_fileButtons">
                        <li class="ws_botBorders"><img title="удалить файл(ы)" id="files-delete-file-button-{{ id }}" src="{{ asset('bundles/scarticleadmin/images/0.gif') }}" style="background-position: -26px 0px;"/></li>
                        <li><img title="вставить картинку" id="files-insert-file-{{ id }}" src="{{ asset('bundles/scarticleadmin/images/0.gif') }}" style="background-position: -104px 0px;"/></li>
                        <li><img title="вставить картинку с ресайзом" id="files-insert-resize-file-{{ id }}" src="{{ asset('bundles/scarticleadmin/images/0.gif') }}" style="background-position: 0px 0px;"/></li>
                        <li><img title="генерировать превью" id="files-create-preview-{{ id }}" src="{{ asset('bundles/scarticleadmin/images/0.gif') }}" style="background-position: -130px 0px;"/></li>
                    </ul>

                    <div id="files-cnt-{{ id }}" class="ws_filelist" style="height: {{ height + 57 }}px;">
                        <table id="files-table-{{ id }}" width="100%">
                            <tbody></tbody>
                        </table>

                        <div class="ws_loadFile" id="files-empty-list-{{ id }}">
                            <p class="ws_fileHelp">Перетащите сюда файлы, которые хотите закачать</p>
                        </div>
                    </div>
                    <div class="ws_progressInfo" id="files-progress-{{ id }}" style="display:none;">
                        <div id="files-upload-success-status-{{ id }}"><img src="{{ asset('bundles/scarticleadmin/images/download.gif') }}" alt="" style="float: left; margin: 0 5px 0 0;"/>Файлы успешно закачаны</div>
                        <div id="files-progress-line-{{ id }}">
                            <div id="files-upload-count-info-{{ id }}">Загрузка файлов (6/15)</div>
                            <div class="ws_progress">
                                <div class="ws_progressLine">
                                    <span id="files-progress-num1-{{ id }}" class="ws_progressNumber">0%</span>

                                    <div id="files-progress-bar-{{ id }}" style="width:0%"><span id="files-progress-num2-{{ id }}">0%</span></div>
                                </div>
                            </div>
                            <div style="font-size: 10px;" id="files-upload-speed-info-{{ id }}"></div>
                        </div>
                    </div>
                </div>

            </td>
        {% endif %}
    </tr>
</table>


<script type="text/javascript">
    jQuery(document).ready(function () {
        var config = {
            toolbar: [
                {name: 'styles', items: ['Format', 'FontSize']},
                {name: 'basicstyles', items: ['Bold', 'Italic', 'Strike', '-', 'RemoveFormat', '-', 'Subscript', 'Superscript']},
                {name: 'paragraph', items: ['NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', 'Blockquote']},
                {name: 'links', items: ['Link', 'Unlink']},
                {name: 'insert', items: ['Table', 'youtube']},
                {name: 'tools', items: ['Maximize']},
                {name: 'source', items: ['Source']},
                {name: 'colors', items: ['TextColor', 'BGColor']}
            ],
            format_tags: 'p;h3',
            removePlugins: 'iframe',
            skin: 'kama',
            language: 'en',
            width: '100%',
            height: '{{ height }}px',
            resize_enabled: false,
            coreStyles_bold: {
                element: 'span',
                attributes: {'style': 'font-weight:bold;'}
            }
        };

        {% if contentCss is defined %}
        config['contentsCss'] = '{{ contentCss }}';
        {% endif %}

        config['extraPlugins'] = 'youtube';
        config.allowedContent = true;

        //var editor = CKEDITOR.replace('{{ wysiwygtextarea }}', config);

        jQuery('#' + '{{ wysiwygtextarea }}').ckeditor(config);
        {% if showFiles == true %}
        jQuery.SCWYSIWYG({
            id: '{{ id }}',
            previewModTypeId: {{ previewModTypeId }},
            previewImageId: '{{ previewImageId }}',
            showFiles: '{{ showFiles }}',
            fileStorageModuleId: '{{ fsModuleId }}',
            fileStorageItemId: {{ id }},
            fileStorageModTypeId: {{ fileStorageModTypeId }},
            fileIntegrationController: '{{ path('sc_article_wysiwyg_file_get_code') }}',
            editor: jQuery('#' + '{{ wysiwygtextarea }}').ckeditorGet(),
            fileUploadPath: '{{ path('sc_article_wysiwyg_file_upload') }}',
            getFilesListPath: '{{ path('sc_article_wysiwyg_file_get_list') }}',
            fileDeletePath: '{{ path('sc_article_wysiwyg_file_delete') }}',
            fileImgPreview: '{{ path('sc_article_wysiwyg_img_preview') }}',
            fileImgCreatePreview: '{{ path('sc_article_wysiwyg_file_create_preview') }}'
        });
        {% endif %}
    });
</script>
