
<a href="{{ path('blogs') }}" class="panel_flat__header">блоги</a>
<div class="panel_flat__body">
    <div class="w-in_blog">

        {% for blog in blogs %}
            <div class="w-in_blog__item">
                <a class="w-in_blog__media" href="{{ path('blogs_author', {author_path:blog.secondaryCategories[0].path}) }}"><img src="{{ blog.secondaryCategories[0].picUrl }}" class="img-circle" width="50" height="50" /></a>
                <div class="w-in_blog__wrap" style="text-align: right;">
                    <a style="line-height: 17px;" href="{{ path('blogs_author', {author_path:blog.secondaryCategories[0].path}) }}" class="w-in_blog__author">{{ blog.secondaryCategories[0].title }}</a>
                    <a href="{{ path('blogs_single', {author_path:blog.secondaryCategories[0].path, title_path:blog.path}) }}" class="w-in_blog__text">{{ blog.title }}</a>
                </div>
            </div>
            {% if not loop.last %}
                <hr>
            {% endif %}
        {% endfor %}
    </div>
</div>