<h1>Орфографическая ошибка</h1>
<p><a href="{{ data.ref }}">{{ data.ref }}</a></p>
<p><span>{{ data.c_pre }}</span><span style="color:red">{{ data.c_sel }}</span><span>{{ data.c_suf }}</span></p>
<p><span>Комментарий: {{ data.comment }}</span></p>
