<div class="panel_bordered fetvy">
    <div class="panel_bordered__header">
        <a href="{{ path('fetvy') }}" class="header_ribbon">Фетвы</a>
    </div>

    <div class="panel_bordered__body">


        {% set preview -%}
            {% render controller(ApplicationBundle ~':Preview:getUrl', {'article':recommendedFetv, 'typeId': 200}) %}
        {%- endset %}
        <div class="article_preview">
            <a href="{{ path('fetvy_single', {title_path:recommendedFetv.path}) }}">
                <img class="article_preview__image panel_bordered__image" src="{{ preview }}" alt="{{ recommendedFetv.title  }}">

                <div class="article_preview__date">{{ recommendedFetv.publishedAt | format_date('dd MMMM') }} {{ recommendedFetv.publishedAt | date('Y H:i') }}</div>
                <div class="article_preview__title">
                    <a href="{{ path('fetvy_single', {title_path:recommendedFetv.path}) }}" class="link--title">{{ recommendedFetv.title }}</a>
                </div>
            </a>
        </div>


    </div>

    <div class="w-ask w-blink">
        <div class="w-ask__container w-ask__items w-blink__items">
            {% for fetv in fetvy %}
                <a href="{{ path('fetvy_single', {title_path:fetv.path}) }}" class="w-ask__item w-blink__item">{{ fetv.title }}</a>
            {% endfor %}
        </div>
        <div class="w-ask__container text-center">
            <a href="{{ path('fetvy') }}" class="w-ask__link"><i class="sprite sprite-question_mark"></i><span>Задать вопрос</span></a>
        </div>


    </div>
</div>