{% extends ApplicationBundle ~ "::layout.html.twig" %}

{% block body %}
    <div class="container content">
        <div class="row">
            <div class="span9">

                <div class="clearfix">

                    <div class="pull-left" style="width: 220px;">
                        {% render(controller('IslamTodayApplicationBundle:Default:recentNews')) %}
                        {% render(controller('IslamTodayApplicationBundle:Default:categoryNews', {'category' : 62, 'limit' : 3})) %}
                    </div>
                    {% render(controller("IslamTodayApplicationBundle:Default:mainArticles")) %}
                </div>
                <!-- Banner #4 -->
                {% render(controller("SCBannersBundle:Default:getBanner", {id: 8, style: 'text-align:center;', class:"baner", width:700, height:120 })) %}
                <!-- Banner #2 -->
                {#<object class="baner baner__full_width" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0" width="468" height="60" align="middle">#}
                {#<param name="allowScriptAccess" value="sameDomain" />#}
                {#<param name="movie" value="/static/banners/shop-banner-2_2.swf">#}
                {#<param name="quality" value="high">#}
                {#<param name="bgcolor" value="#ffffff">#}
                {#<embed src="/static/banners/shop-banner-2_2.swf" quality="high" bgcolor="#ffffff" width="468" height="60" align="middle" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer">#}
                {#</object>#}
                {#<img src="/static/images/tmp_banner_2.png" alt="" class="baner baner__full_width">#}

                <!-- Banner #3 -->
                {#<img src="/static/images/tmp_banner_3.png" alt="" class="baner baner__full_width">#}


                {% render(controller('IslamTodayApplicationBundle:Default:recentArticles')) %}

                <div class="article article__smaller" style="margin-top: 65px;">
                    <h1 class="article__header">Ислам Сегодня: добро пожаловать на исламский портал!</h1>

                    <div class="article__text text-grayed" id="text">
                        <p>Во имя Аллаха, Милостивого, Милосердного!</p>

                        <p>Дорогие братья и сестры! Представляем вам уникальный онлайн-проект, правильно и справедливо освещающий все стороны Ислама.</p>

                        <p>Миссия портала Islam-Today.ru заключается в сближении мусульман из разных городов России и других стран, вне зависимости от их национальности и социального положения, предоставлении истинной информации о состоянии мусульманского мира, а также о богатых традициях и неиссякаемой вере мусульман.</p>

                        <p>В идеологической основе сайта Islam-Today.ru лежат традиции, которые исторически складывались в нашей стране и характерны для мусульман Татарстана и России.</p>

                        <p>Главная цель сайта Islam-Today.ru – заинтересовать читателя исламской культурой, мудростью мусульманских ученых, красотой и искренностью религиозных обрядов. На нашем сайте вы можете познакомиться с просветляющими сурами Священного писания, получить ответы на животрепещущие вопросы, постичь тонкости исламского вероучения.</p>
                    </div>
                </div>


            </div>

            <div class="span3">

                {#    {% render(controller("SCBannersBundle:Default:getBanner", {id: 3, class: "banner-right3 sidebar_margin"})) %} #}
                {% render(controller(ApplicationBundle ~ ":Banners:right2")) %}
                {% render(controller(ApplicationBundle ~ ":Banners:right3")) %}
                <div class="panel_flat panel_flat--blue sidebar_margin">
                    {% render(controller(ApplicationBundle ~ ":Default:blogs")) %}
                </div>

                
                {% if ("now"|date('U') < 1559606400 ) %}
                    {% render(controller(ApplicationBundle ~ ":Banners:holiday", {'date' : 1559606400, 'image' : 'timer_ur.jpg'})) %}
                {% endif %}





                <div class="panel_flat sidebar_margin">
		    <div class="sidebar_margin">
                    <!-- banner 4'  -->
                    </div>
                    {% render(controller(ApplicationBundle ~ ":Default:services")) %}
                </div>
{#
                {% if ("now"|date('U') < 1526504400 ) %}
                    {% render(controller(ApplicationBundle ~ ":Banners:holiday", {'date' : 1526504400, 'image' : 'ramadan.png'})) %}
                {% endif %}
#}
                {% render(controller(ApplicationBundle ~ ":Banners:right1")) %}

                <div class="panel_flat sidebar_margin">
                    {% render(controller(ApplicationBundle ~ ':Default:photo')) %}
                </div>

{#                <div class="panel_flat sidebar_margin">
                <a href="http://www.islamdag.ru" target="_blank"><img src="/static/images/dag.png" /></a>
                </div>#}

                <div class="panel_bordered sidebar_margin" style="width: 220px;">
                    <div class="panel_bordered__header">
                        <div class="panel_bordered__header__title">Последние комментарии</div>
                    </div>

                    <div class="panel_bordered__body">
                        <div id="mc-last"></div>
                        <script type="text/javascript">
                            cackle_widget = window.cackle_widget || [];
                            cackle_widget.push({widget: 'CommentRecent', id: 29657, size: 5, avatarSize: 0, textSize: 150});
                            (function () {
                                var mc = document.createElement('script');
                                mc.type = 'text/javascript';
                                mc.async = true;
                                mc.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cackle.me/widget.js';
                                var s = document.getElementsByTagName('script')[0];
                                s.parentNode.insertBefore(mc, s.nextSibling);
                            })();
                        </script>
                    </div>
                </div>

                <!-- Banner #4 -->
                <div class="iSlider" id="slider_01"></div>

                {#{% render(controller(ApplicationBundle ~ ':Default:online')) %}#}

                <!-- Banner #5 -->
                <div class="iSlider" id="slider_02"></div>
                <!-- Banner #6 -->
                {% render(controller("IslamTodayApplicationBundle:Banners:right6")) %}

                <div class="panel_flat sidebar_margin">
                    {% render(controller('IslamTodayApplicationBundle:Default:video')) %}
                </div>

                <div class="panel_flat sidebar_margin">
                    <a href="#" class="panel_flat__header">Архив новостей</a>

                    <div class="panel_flat__body">
                        <div class="calendar"></div>
                    </div>
                </div>
                {#
                                <div class="panel_flat sidebar_margin">
                                    {% render(controller('IslamTodayApplicationBundle:Default:whoIsWho')) %}
                                </div>
                                #}
            </div>
        </div>
    </div>
{% endblock %}
