<div class="wrapper main_articles pull-left" id="main-articles">

    <div class="panel_flat sidebar_margin">
        <div class="panel_flat__body">

            <div class="flexslider--headline">
                <ul class="slides">
                    {% for __art in articles %}
                        {% set article_link %}{% spaceless %}
                            {% if __art.secondaryCategories[0].path is defined %}
                                {{ path('islam_today_sub_category_article', {category_path:__art.primaryCategory.path, sub_category_path:__art.secondaryCategories[0].path, article_path:__art.path}) }}
                            {% else %}
                                {{ path('islam_today_category_article', {category_path:__art.primaryCategory.path, article_path:__art.path}) }}
                            {% endif %}
                        {% endspaceless %}{% endset %}

                        {% set category_link %}{% spaceless %}
                            {% if (__art.primaryCategory.id != 37) and (__art.secondaryCategories[0].path is defined) %}
                                <a href="{{ path('islam_today_sub_category', {category_path:__art.primaryCategory.path, sub_category_path:__art.secondaryCategories[0].path}) }}" class="header_ribbon orange_ribbon">{{ __art.secondaryCategories[0].title }}</a>
                            {% else %}
                                <a href="{{ path('islam_today_category', {category_path:__art.primaryCategory.path}) }}" class="header_ribbon orange_ribbon">{{ __art.primaryCategory.title }}</a>
                            {% endif %}
                        {% endspaceless %}{% endset %}

                        {% if __art.superMain == 1 %}
                            {% set big_preview -%}
                                {% render controller(ApplicationBundle ~':Preview:getUrl', {'article':__art, 'typeId': 440}) %}
                            {%- endset %}

                            <li>
                                <div class="article_preview article_preview--headline">
                                    <div class="article_preview__image">
                                        <a href="{{ article_link }}"><img src="{{ big_preview }}" alt="{{ __art.title }}"></a>
                                    </div>

                                    <div class="clearfix">
                                        {% if __art.publishedAt.format('dMY') == date().format('dMY') %}
                                            {% set art_date = 'Сегодня ' ~ __art.publishedAt | date('H:i')  %}
                                        {% else %}
                                            {% set art_date = __art.publishedAt | format_date('dd MMMM') ~ ' ' ~ __art.publishedAt | date('Y H:i') %}
                                        {% endif %}

                                        <div class="article_preview__date pull-left">{{ art_date }}</div>
                                        <div class="article_preview__indicators pull-right">

                                            <div class="indicator__watch">
                                                <i class="icon"></i>
                                                <span class="val">{{ __art.getViewCnt.cnt }}</span>
                                            </div>
                                            {% if __art.commentsCount > 0 %}
                                                <div class="indicator__comment">
                                                    <i class="icon"></i>
                                                    <span class="val">{{ __art.commentsCount }}</span>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>

                                    <div class="article_preview__title">
                                        <a href="{{ article_link }}">{{ __art.title }}</a>
                                    </div>
                                    <div class="article_preview__text">{{ __art.shortAnounce }}</div>
                                </div><!-- /end of article-preview -->


                            </li><!-- /end of slide -->
                        {% endif %}
                    {% endfor %}
                </ul>
            </div><!-- /end of flexslider -->

        </div><!-- /end of panel-body -->
    </div><!-- /end of panel -->

    <div class="panel_flat">
        <div class="panel_flat__body">

            <div class="article-row">
                {% for __art in articles %}
                    {% set category_link %}{% spaceless %}
                        {% if (__art.primaryCategory.id != 37) and (__art.secondaryCategories[0].path is defined) %}
                            <a href="{{ path('islam_today_sub_category', {category_path:__art.primaryCategory.path, sub_category_path:__art.secondaryCategories[0].path}) }}" class="header_ribbon orange_ribbon">{{ __art.secondaryCategories[0].title }}</a>
                        {% else %}
                            <a href="{{ path('islam_today_category', {category_path:__art.primaryCategory.path}) }}" class="header_ribbon orange_ribbon">{{ __art.primaryCategory.title }}</a>
                        {% endif %}
                    {% endspaceless %}{% endset %}

                    {% if ((__art.mainLeft == 1) or (__art.mainRight == 1)) %}
                        {% set preview -%}
                            {% render controller(ApplicationBundle ~':Preview:getUrl', {'article':__art, 'typeId': 200}) %}
                        {%- endset %}
                        {% set article_link %}{% spaceless %}
                            {% if __art.secondaryCategories[0].path is defined %}
                                {{ path('islam_today_sub_category_article', {category_path:__art.primaryCategory.path, sub_category_path:__art.secondaryCategories[0].path, article_path:__art.path}) }}
                            {% else %}
                                {{ path('islam_today_category_article', {category_path:__art.primaryCategory.path, article_path:__art.path}) }}
                            {% endif %}
                        {% endspaceless %}{% endset %}

                        <div class="article-col">

                            <div class="article_preview">
                                <div class="article_preview__content">
                                    <div class="article_preview__image">
                                        {{ category_link }}
                                        <a href="{{ article_link }}"><img src="{{ preview }}" alt="{{ __art.title }}"></a>
                                    </div>
                                    {% if __art.publishedAt.format('dMY') == date().format('dMY') %}
                                        {% set art_date = 'Сегодня ' ~ __art.publishedAt | date('H:i')  %}
                                    {% else %}
                                        {% set art_date = __art.publishedAt | format_date('dd MMMM') ~ ' ' ~ __art.publishedAt | date('Y H:i') %}
                                    {% endif %}
                                    <div class="clearfix">
                                        <div class="article_preview__date pull-left">{{ art_date }}</div>
                                    </div>
                                    <div class="article_preview__title">
                                        <a href="{{ article_link }}">{{ __art.title }}</a>
                                    </div>
                                    <div class="article_preview__text overflow_fade--announce">{{ __art.shortAnounce }}</div>
                                </div>

                                <div class="article_preview__indicators">
                                    <span class="indicator__watch"><i class="icon"></i> <span class="val">{{ __art.getViewCnt.cnt }}</span></span>
                                    {% if __art.commentsCount > 0 %}
                                        <span class="indicator__comment"><i class="icon"></i> <span class="val">{{ __art.commentsCount }}</span></span>
                                    {% endif %}
                                </div>

                            </div><!-- /end of article-preview -->

                        </div><!-- /end of col -->
                    {% endif %}
                {% endfor %}

            </div><!-- /end of row -->

        </div><!-- /end of panel-body -->
    </div><!-- /end of panel -->

</div><!-- /end of #main-articles -->