{% if gallery.id is defined %}
    <a href="{{ path('photo') }}" class="panel_flat__header">Фотогалерея</a>

    <div class="panel_flat__body">
        <a href="{{ path('photo_single', {title_path:gallery.path}) }}">
            <img src="{{ gallery.files[0].previewUrl('medium') }}" alt="{{ gallery.title }}" class="panel_flat__image">
        </a>
        <div class="panel_flat__t">
            <a href="{{ path('photo_single', {title_path:gallery.path}) }}">
                {{ gallery.title }}
            </a>
        </div>
    </div>
{% endif %}
</div>
<div>
{#
<div class="banner-right2 sidebar_margin">
    <a href="http://islamicstore.ru/" target="_blank">
        <img src="/static/banners/islamicstore.gif" alt=""/>
    </a>
</div>
#}