{% if articles is not empty %}
    {% for article in articles %}
        {% set article_link %}
            {% if article.secondaryCategories[0].path is defined %}
                {{ path('islam_today_sub_category_article', {category_path:article.primaryCategory.path, sub_category_path:article.secondaryCategories[0].path, article_path:article.path}) }}
            {% else %}
                {{ path('islam_today_category_article', {category_path:article.primaryCategory.path, article_path:article.path}) }}
            {% endif %}
        {% endset %}
        {% set preview -%}
            {% render controller(ApplicationBundle ~':Preview:getUrl', {'article':article, 'typeId': 200}) %}
        {%- endset %}
        <div class="ap_list__item">
            <div class="panel_bordered panel_bordered_link">
                <div class="panel_bordered__body">
                    <div class="article_preview">
                        <div class="article_preview__content overflow_fade">
                            <a href="{{ article_link }}"><img class="article_preview__image panel_bordered__image" src="{{ preview }}" alt="{{ article.title }}"></a>

                            <div class="article_preview__date">{{ article.publishedAt | format_date('dd MMMM') }} {{ article.publishedAt | date('Y H:i') }}</div>
                            <a href="{{ article_link }}" class="article_preview__title">{{ article.title }}</a>
                        <span class="article_preview__text">
                            {{ article.shortAnounce }}
                        </span>

                            <div class="gradient_fade"></div>
                        </div>

                        <div class="article_preview__indicators">
                            <span class="indicator__watch">
                                <i class="icon"></i>
                                <span class="val">{{ article.getViewCnt.cnt }}</span>
                            </span>
                            {% if article.commentsCount > 0 %}
                                <span class="indicator__comment">
                                    <i class="icon"></i>
                                    <span class="val">{{ article.commentsCount }}</span>
                                </span>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}

