<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0">
    <channel>
        <title>IslamToday.ru RSS</title>
        <link>
        https://www.islam-today.ru/rss/
        </link>
        <description>Все материалы</description>
        {% for article in articles %}
            {% set preview -%}
                {{ render(controller(ApplicationBundle ~':Preview:getUrl', {'article':article, 'typeId': 440})) }}
            {%- endset %}
            {% set article_link %}{% spaceless %}
                {% if article.secondaryCategories[0].path is defined %}
                    {{ url }}{{ path('islam_today_sub_category_article', {category_path:article.primaryCategory.path, sub_category_path:article.secondaryCategories[0].path, article_path:article.path}) }}
                {% else %}
                    {{ url }}{{ path('islam_today_category_article', {category_path:article.primaryCategory.path, article_path:article.path}) }}
                {% endif %}
            {% endspaceless %}{% endset %}
            {% set descr %}{% spaceless %}
                <img src="{{ preview }}" width="440" height="300" border="1"/>
                <p>{{ article.shortAnounce }}</p>
            {% endspaceless %}{% endset %}
            <item>
                <guid isPermaLink="false">{{ article.id }}</guid>
                <link>{{ article_link }}</link>
                <title>{{ article.title }}</title>
                <description>{{ descr | e }}</description>
                <pubDate>{{ article.publishedAt | date('r') }}</pubDate>
            </item>
        {% endfor %}
    </channel>
</rss>
