{% extends "@IslamTodayApplication/New/layout.html.twig" %}

{% block title %}Islam-today.ru{% endblock %}

{% block content %}
    <div class="main">


        <h3 class="page-header">Поиск</h3>
        <div class="clearfix" style="margin: 18px 0">
            <div class="tags_filter pull-left">
                <div class="tags_filter__header">Показывать:</div>
                <div class="tags_filter__items">
                    <a class="tags_filter__item {% if articles is defined %}active{% endif %}" href="{{ path('search', app.request.query.all|merge({show:'articles', page:1})) }}">Статьи</a>
                    <a class="tags_filter__item {% if news is defined %}active{% endif %}" href="{{ path('search', app.request.query.all|merge({show:'news', page:1})) }}">Новости</a>
                    {% set order = app.request.query.get('order') %}
                    <a class="tags_filter__item {% if app.request.query.get('sort') == 'name' %}active{% endif %}" href="{{ path('search', app.request.query.all|merge({sort:'name', page:1, order: order})) }}">По названию</a>
                    {% if app.request.query.get('sort') == 'name' %}
                        {% if order == 'asc' %}
                            <a class="tags_filter__item" href="{{ path('search', app.request.query.all|merge({sort:'name', page:1, order: 'desc'})) }}">↑</a>
                        {% elseif order == 'desc' %}
                            <a class="tags_filter__item" href="{{ path('search', app.request.query.all|merge({sort:'name', page:1, order: 'asc'})) }}">↓</a>
                        {% else %}
                            <a class="tags_filter__item" href="{{ path('search', app.request.query.all|merge({sort:'name', page:1, order: 'desc'})) }}">↑</a>
                        {% endif %}
                    {% endif %}


                    <a class="tags_filter__item {% if app.request.query.get('sort') == 'date' %}active{% endif %}" href="{{ path('search', app.request.query.all|merge({sort:'date', page:1, order: order})) }}">По актуальности</a>
                    {% if app.request.query.get('sort') == 'date' %}
                        {% if order == 'asc' %}
                            <a class="tags_filter__item" href="{{ path('search', app.request.query.all|merge({sort:'date', page:1, order: 'desc'})) }}">↑</a>
                        {% elseif order == 'desc' %}
                            <a class="tags_filter__item" href="{{ path('search', app.request.query.all|merge({sort:'date', page:1, order: 'asc'})) }}">↓</a>
                        {% else %}
                            <a class="tags_filter__item" href="{{ path('search', app.request.query.all|merge({sort:'date', page:1, order: 'desc'})) }}">↑</a>
                        {% endif %}
                    {% endif %}


                    <a class="tags_filter__item {% if app.request.query.get('sort') == 'rate' %}active{% endif %}" href="{{ path('search', app.request.query.all|merge({sort:'rate', page:1, order: order})) }}">По популярности</a>
                    {% if app.request.query.get('sort') == 'rate' %}
                        {% if order == 'asc' %}
                            <a class="tags_filter__item" href="{{ path('search', app.request.query.all|merge({sort:'rate', page:1, order: 'desc'})) }}">↑</a>
                        {% elseif order == 'desc' %}
                            <a class="tags_filter__item" href="{{ path('search', app.request.query.all|merge({sort:'rate', page:1, order: 'asc'})) }}">↓</a>
                        {% else %}
                            <a class="tags_filter__item" href="{{ path('search', app.request.query.all|merge({sort:'rate', page:1, order: 'desc'})) }}">↑</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="article_list">
            {% for article in pagination %}
                {% set article_link %}
                    {% if article.secondaryCategories[0].path is defined %}
                        {{ path('islam_today_sub_category_article', {category_path:article.primaryCategory.path, sub_category_path:article.secondaryCategories[0].path, article_path:article.path}) }}
                    {% else %}
                        {{ path('islam_today_category_article', {category_path:article.primaryCategory.path, article_path:article.path}) }}
                    {% endif %}
                {% endset %}
                {% set preview -%}
                    {{ render(controller('IslamTodayApplicationBundle:Preview:getUrl', {'article':article, 'typeId': 200})) }}
                {%- endset %}
                <div class="article_list__item">
                    <a href="{{ article_link }}" class="article_intro">
                        {% if articles is defined %}
                            <img src="{{ preview }}" alt="{{ article.title }}" class="article_intro__image">
                        {% endif %}
                        <div class="article_intro__wrapper">
                            <div class="article_intro__meta">
                                <div class="article_intro__date">{{ article.publishedAt | format_date('dd MMMM') }} {{ article.publishedAt | date('Y') }}</div>
                                <div class="article_intro__indicators">
                                    <div class="indicator__watch"><i class="icon"></i> <span class="val">{{ article.getViewCnt.cnt }}</span></div>
                                    {% if article.commentsCount > 0 %}
                                        <div class="indicator__comment"><i class="icon"></i> <span class="val">{{ article.commentsCount }}</span></div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="article_intro__header">
                                {{ article.title }}
                            </div>
                            <div class="article_intro__text">
                                {{ article.shortAnounce }}
                                <div class="article_intro__more">Читать далее &rarr;</div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        {{ knp_pagination_render(pagination, 'IslamTodayApplicationBundle:Pagination:default.html.twig') }}

        {% if pagination is empty %}
            <div class="search-result push-double--ends">
                <div class="search-result__heading">По запросу «{{ q }}» ничего не найдено</div>
            </div>

            <div class="b-related_articles">
                <div class="b-related_articles__heading">Возможно вам будет интересно:</div>

                <ul class="b-related_articles__list">
                    {% for article in otherArticles if otherArticles is defined %}
                        {% set preview -%}
                            {{ render(controller('IslamTodayApplicationBundle:Preview:getUrl', {'article':article, 'typeId': 200})) }}
                        {%- endset %}
                        {% set article_link %}
                            {% if article.secondaryCategories[0].path is defined %}
                                {{ path('islam_today_sub_category_article', {category_path:article.primaryCategory.path, sub_category_path:article.secondaryCategories[0].path, article_path:article.path}) }}
                            {% else %}
                                {{ path('islam_today_category_article', {category_path:article.primaryCategory.path, article_path:article.path}) }}
                            {% endif %}
                        {% endset %}
                        <li>
                            <a href="{{ article_link }}"><img src="{{ preview }}" alt="{{ article.title }}" class="b-related_articles__item__image"></a>
                            <a href="{{ article_link }}" class="b-related_articles__item__title">
                                {{ article.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block rightSidebar %}{% endblock %}
