{% render(controller("SCBannersBundle:Default:getBanner", {id: 4, class: "sidebar_margin"})) %}


{#<div class="panel_flat__header">Сервисы</div>#}

{% if ("now"|date('U') < 1504224000 ) %}
    {% render(controller(ApplicationBundle ~ ":Banners:holiday", {'date' : 1504224000, 'image' : 'timer_kurban.png'})) %}
{% endif %}


<div class="w-services" id="services">

    <div class="w-services__item  js_namaztime_widget_container opened">
        {% render controller('IslamTodayApplicationBundle:Service:getNamaztimeWidget') %}
    </div>
    <div class="w-services__item ">
        {% render controller(ApplicationBundle ~ ':Service:getArabNameWidget') %}
    </div>
    <!-- Виджет 3 -->
    <div class="w-services__item link">
        <div class="w-services__item__title"><a href="{{ path('names') }}">ЗНАЧЕНИЕ ИМЕНИ</a></div>
    </div>

    <!-- Виджет 4 -->
    <div class="w-services__item">
        {% render controller(ApplicationBundle ~ ':Service:getPrayersWidget') %}
    </div>

    <!-- Виджет 5 -->
    <div class="w-services__item link">
        <div class="w-services__item__title"><a href="{{ path('sonnik') }}">ТОЛКОВАНИЕ СНОВ</a></div>
    </div>

    <!-- Виджет 6 -->
    {#<div class="w-services__item link">#}
    {#<div class="w-services__item__title"><a href="{{ path('terms') }}">Исламские термины</a></div>#}
    {#</div>#}



    <!-- Виджет 7 -->
    <div class="w-services__item link">
        <div class="w-services__item__title"><a href="{{ path('koran') }}">Коран</a></div>
    </div>

    <!-- Виджет 8 -->
    <div class="w-services__item link">
        <div class="w-services__item__title"><a href="/audiobooks">Аудиокниги</a></div>
    </div>

    <div class="w-services__item link">
        <div class="w-services__item__title"><a href="/widget/list">Виджеты</a></div>
    </div>

</div>





{% render(controller("SCBannersBundle:Default:getBanner", {id: 5, class: "sidebar_margin"})) %}
