<div class="town-select-container">
    <span class="town-select-caption">{% if userCity.title is defined %}{{ userCity.title }}{% else %}Выбрать город{% endif %}</span>
    <ul class="town-select-dropdown">
        {% for town in cities %}
            <li data-id="{{ town.id }}">{{ town.title }}</li>
        {% endfor %}
    </ul>
</div>
