<a href="{{ path('whoiswho') }}" class="panel_flat__header">Кто есть кто</a>
{% if persona is defined and persona is not null %}
{% set preview -%}
    {% render controller(ApplicationBundle ~':Preview:getUrl', {'article':persona, 'typeId': 200}) %}
{%- endset %}
<div class="panel_flat__body text-center">
    <img src="{{ preview }}" alt="{{ persona.title }}" class="panel_flat__image">

    <div class="panel_flat__h">
        <a href="{{ path('whoiswho_single', {title_path:persona.path}) }}">{{ persona.title }}</a>
    </div>

    {# <div class="panel_flat__t">
        {{ persona.shortAnounce }}
    </div>#}
</div>
{% endif %}
