<rss version="2.0" xmlns="http://backend.userland.com/rss2" xmlns:yandex="http://news.yandex.ru">
    <channel>
        <title>Исламский интернет-сайт и мусульманский форум – портал «Ислам Сегодня»</title>
        <link>https://www.islam-today.ru/</link>
        <description>Международный официальный Исламский мусульманский сайт России «Ислам Сегодня».</description>
        <image>
            <url>https://www.islam-today.ru/static/images/sprite/logo.png</url>
            <title>Исламский интернет-сайт и мусульманский форум – портал «Ислам Сегодня»</title>
            <link>https://www.islam-today.ru/</link>
        </image>
        {% for article in articles %}
            {% set article_link %}{% spaceless %}
                {% if article.secondaryCategories[0].path is defined %}
                    {{ path('islam_today_sub_category_article', {category_path:article.primaryCategory.path, sub_category_path:article.secondaryCategories[0].path, article_path:article.path}) }}
                {% else %}
                    {{ path('islam_today_category_article', {category_path:article.primaryCategory.path, article_path:article.path}) }}
                {% endif %}
        {% endspaceless %}{% endset %}
            <item>
                <title>{{ article.title }}</title>
                <link>{{ url }}{{ article_link }}</link>
                {% if article.shortAnounce is not empty%}<description>{{ article.shortAnounce }}</description>{% endif %}
                <category>{{ article.primaryCategory.title }}</category>
                <pubDate>{{ article.publishedAt | date('r')}}</pubDate>
                <yandex:full-text>{{ article.flatContent.flatContent | escape }}</yandex:full-text>
            </item>
        {% endfor %}
    </channel>
</rss>
