
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic);

body {
    font-family: 'PT Sans', sans-serif;
}
.player {
    background-color: #f3f2ee;
    height: 224px;
    width: 220px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    //float: left;
    //position: relative;
}

.player h4 {
    font-size: 14px;
    padding: 6px 0px;
    margin: 0px;
}

.appscontainer {
    padding-top: 12px;
}

.card_container {
    /*perspective: 1000;*/
    /*-ms-perspective: 1000;*/
    /*-webkit-perspective: 1000;*/
    /*-webkit-transform-style: preserve-3d;*/
    height: 85px;
    width: 95px;
    z-index: 1;
    float: left;
    position: relative;
}

.card {
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
    margin-left: 11px;
    font-size: 12px;
    cursor: pointer;
}

.card.right .front,
.card.right .back{
    margin-left: 10px;
}

.card_container.left {
    margin-right: 9px;
}
/*.face {
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    position: absolute;
    transition: all 0.5s linear;
    backface-visibility: hidden;
    margin-left: 11px;
}*/


/*.card_container:hover .face {*/
    /*-ms-transform: rotateY(360deg);*/
    /*transform: rotateY(360deg);*/
    /*-webkit-transform: rotateY(360deg);*/
/*}*/
.card:hover .front {
    z-index: 900;

    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.card:hover .back {
    z-index: 1000;

    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
}
.front {
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 900;
    width: 100%;
    height: 100%;
    background: #f3f2ee;

    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;

    /* -- transition is the magic sauce for animation -- */
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.face span {
    float: left;
    position: relative;clear: both;
    text-align: center;
    font-size: 12px;
    width: 100%;
}
.back {
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 800;
    width: 100%;
    height: 1005;
    background: #f3f2ee;

    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(179deg); /* setting to 180 causes an unnatural-looking half-flip */
    transform: rotateY(179deg);

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;

    /* -- transition is the magic sauce for animation -- */
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.back a {
    border: none;
    text-decoration: none;
}

.back img {
    border: none;
}

.apps {
    background-image: url('/static/images/icon_apps.png');
    width: 85px;
    height: 29px;
    float: left;
    position: relative;
    background-repeat: no-repeat;
    margin-bottom: 5px;
}

.apps.apple {
    background-position: 0px 0px;
}
.apps.apple:hover {
    background-position: 0px -58px;
}
.apps.google {
    background-position: 0px -29px;
}
.apps.google:hover {
    background-position: 0px -87px;
}