.b-adt {
  font: normal 15px/normal "PT Sans", Arial, sans-serif;
}
.b-adt, .b-adt * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

.b-adt--center {
  margin-left: auto;
  margin-right: auto;
}

.b-adt--corners-all {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
}

.b-adt--shadow {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.36);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.36);
}

.b-adt--bg-white {
  background: #fff;
}

.b-adt--dimension-1 {
  width: 980px;
  height: 120px;
  overflow: hidden;
}

.b-adt__overlay-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #333;
  cursor: pointer;
}

.b-adt__slider {
  position: relative;
  float: left;
  margin-left: -9px;
  width: 267px;
  height: 100%;
}
.b-adt__slider img {
  height: 120px;
}

.b-adt__logo-1 {
  float: left;
  padding-top: 31px;
  padding-right: 8px;
  width: 106px;
  text-align: right;
}

.b-adt__logo-2 {
  float: left;
  padding-top: 19px;
  width: 226px;
  text-align: center;
}

.b-adt__text {
  float: left;
  width: 379px;
  height: 100%;
  background: url(../images/adt/part.png);
}
.b-adt__text .alpha {
  font: bold 24px/normal "PT Sans", Arial, sans-serif;
  color: #fff;
}

.b-adt__text__inner {
  padding-top: 15px;
  padding-left: 28px;
}

.b-adt__link {
  text-decoration: underline;
  color: #ffae21;
}

.b-adt__phone {
  padding-left: 10px;
  font-weight: bold;
  font-family: Tahoma, sans-serif;
  color: #ffae21;
}

.b-adt--pull-ends {
  margin-top: 15px;
  margin-bottom: 15px;
}
