/* Catalog sample */
/* Turn.js Stylesheet */
.no-selection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.ui-flipbook .page {
    background-color: white;
}

.ui-flipbook .page img {
    width: 100%;
}
.ui-flipbook .cover {
    background-color: white;
}
.ui-flipbook .page-wrapper {
    -webkit-perspective: 2000px;
    -moz-perspective: 2000px;
    -ms-perspective: 2000px;
    perspective: 2000px;
}
.ui-slider {
    width: 500px;
    height: 44px;
    cursor: default;
    display: inline-block;
    vertical-align: center;
    cursor: pointer;
}
.ui-slider .bar {
    width: 500px;
    height: 6px;
    background-color: #999;
    margin-top: 19px;
    float: left;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}
.ui-slider .progress {
    position: relative;
    height: 6px;
}
.ui-slider .progress-width {
    margin-left: 5px;
    width: 490px;
    height: 6px;
    -webkit-transition: all 100ms;
    -moz-transition: all 100ms;
    -o-transition: all 100ms;
    -ms-transition: all 100ms;
    transition: all 100ms;
}
.ui-slider .handler {
    float: left;
    height: 6px;
    width: 10px;
    background-color: black;
    position: absolute;
    top: 0;
    right: -5px;
    opacity: 0.5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all 100ms;
    -moz-transition: all 100ms;
    -o-transition: all 100ms;
    -ms-transition: all 100ms;
    transition: all 100ms;
}
.ui-slider.changing {
    cursor: none;
}
.ui-slider.changing .handler {
    width: 50px;
    right: -25px;
    opacity: 0.8;
}
@media screen and (min-width: 400px) and (max-width: 600px) {
    .ui-slider,
    .ui-slider .bar {
        width: 300px;
    }
    .ui-slider .progress-width {
        width: 290px;
    }
}
@media screen and (max-width: 400px) {
    .ui-slider,
    .ui-slider .bar {
        width: 100px;
    }
    .ui-slider .progress-width {
        width: 90px;
    }
}
.ui-region {
    position: absolute;
    overflow: hidden;
    z-index: 1;
    background-color: rgba(0, 102, 255, 0.15);
    border-radius: 5px;
    cursor: pointer;
}
.ui-region-hover {
    background-color: rgba(0, 102, 255, 0.3);
}
.ui-region-press {
    background-color: rgba(0, 102, 255, 0.5);
}
.ui-region-tooltip {
    font-size: 13px !important;
}
.ui-miniatures-slider {
    text-align: center;
    height: 180px;
    opacity: 0;
    z-index: 100;
    -webkit-transition: opacity 200ms;
    -moz-transition: opacity 200ms;
    -o-transition: opacity 200ms;
    -ms-transition: opacity 200ms;
    transition: opacity 200ms;
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    -ms-transition-delay: 100ms;
    transition-delay: 100ms;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.ui-miniatures-slider .container {
    margin-top: 25px;
    position: relative;
    height: 100px;
}
.ui-miniatures-slider .ui-page {
    background-color: white;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
}
.ui-miniatures-slider .page-img {
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    margin: 4px;
    background-color: white;
}
.ui-miniatures-slider .left-page .page-img {
    width: calc(96%);
    margin-right: 0;
}
.ui-miniatures-slider .right-page .page-img {
    width: calc(96%);
    margin-left: 0;
}
.ui-miniatures-slider .focused-page {
    background-color: #B30000;
}
.ui-miniatures-slider .animated-page {
    -webkit-transition: -webkit-transform ease-in-out 200ms;
    -moz-transition: -moz-transform ease-in-out 200ms;
    -ms-transition: -ms-transform ease-in-out 200ms;
    -o-transition: -o-transform ease-in-out 200ms;
    transition: transform ease-in-out 200ms;
}
.ui-miniatures-slider .page-number {
    font: lighter 10px arial;
    color: #000;
    text-shadow: 0 0 2px white;
    position: absolute;
    top: 8px;
    left: 0;
    width: 100%;
}
.show-miniatures .ui-miniatures-slider {
    opacity: 1;
}
.show-miniatures .show-miniatures #controls .ui-icon {
    color: #ccc;
}
.show-miniatures .show-miniatures #controls .ui-icon:hover {
    color: #eee;
}
.ui-tooltip {
    position: absolute;
    float: left;
    background: rgba(33, 33, 33, 0.8);
    padding: 5px 10px;
    font: 10px arial;
    color: white;
    letter-spacing: 1px;
    white-space: nowrap;
    z-index: 1000;
    opacity: 0;
    cursor: default;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: opacity 0.1s;
    -moz-transition: opacity 0.1s;
    -o-transition: opacity 0.1s;
    -ms-transition: opacity 0.1s;
    transition: opacity 0.1s;
}
.ui-tooltip-visible {
    opacity: 1;
}
.ui-tooltip-top:before {
    bottom: -5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid rgba(33, 33, 33, 0.8);
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    margin-left: -4px;
}
.ui-tooltip-bottom:before {
    top: -5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid rgba(33, 33, 33, 0.8);
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    margin-left: -4px;
}
.ui-tooltip-left:before {
    right: -5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid rgba(33, 33, 33, 0.8);
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    margin-top: -4px;
}
.ui-tooltip-right:before {
    left: -5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid rgba(33, 33, 33, 0.8);
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    margin-top: -4px;
}
.ui-menu {
    position: absolute;
    z-index: 102;
    background-color: #ccc;
    opacity: 0;
    width: 200px;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    transition: opacity 0.2s;
    border-radius: 5px;
}
.ui-menu .ui-menu-item {
    height: 34px;
    border-bottom: 1px solid #bbb;
    cursor: pointer;
}
.ui-menu .ui-menu-item:last-child {
    border-bottom: none;
}
.ui-menu .ui-menu-item-hover {
    background-color: #c0c0c0;
}
.ui-menu .ui-menu-item-hover:first-child {
    border-radius: 5px 5px 0 0;
}
.ui-menu .ui-menu-item-hover:last-child {
    border-radius: 0 0 5px 5px;
}
.ui-menu .ui-menu-item-desc {
    font: lighter 14px arial;
    padding: 0 20px;
    line-height: 34px;
}
.ui-menu .ui-selected-item .ui-menu-item-desc {
    font-weight: bold;
}
.ui-menu-visible {
    opacity: 1;
}
html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #dcdcdc;
}
.catalog-app {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: #dcdcdc;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .catalog-app {
        height: calc(100% - 20px);
    }
}
#viewer {
    width: 100%;
    height: calc(100%);
    overflow: hidden;
}
#miniatures {
    position: absolute;
    bottom: 54px;
    left: 0;
    width: 100%;
    height: 126px;
    background-color: rgba(220, 220, 220, 0.9);
}
.touch-device.display-single .ui-arrow-next-page,
.touch-device.display-single .ui-arrow-previous-page {
    display: none;
}
.ui-arrow-next-page,
.ui-arrow-previous-page {
    width: 30px;
    height: 60px;
    position: absolute;
    top: 50%;
    top: calc(50% - 30px);
    right: -40px;
    z-index: 10;
    background-image: url(/static/images/arrows@2x.png);
    background-size: 60px 120px;
    background-position: 0 0;
    opacity: 0.5;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    transition: opacity 0.2s;
    cursor: pointer;
}
.ui-arrow-previous-page {
    background-position: 30px 0;
    right: auto;
    left: -40px;
}
.ui-arrow-control-hover {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
    opacity: 0.7;
}
.ui-arrow-control-tap {
    opacity: 1;
}
.first-page .ui-arrow-previous-page {
    opacity: 0;
}
.last-page .ui-arrow-next-page {
    opacity: 0;
}
.ui-spinner {
    background-image: url(../../../catalog/assets/img/loader@2x.gif);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-size: 100% 100%;
    margin-left: -12px;
    margin-top: -12px;
}
.first-page .ui-arrow-next-page {
    -webkit-animation: next-page 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation: next-page 1s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
    -o-animation: next-page 1s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: ease-in-out;
    -ms-animation: next-page 1s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: ease-in-out;
    animation: next-page 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@-webkit-keyframes next-page /* Safari and Chrome */ {
    0% {
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -o-transform: translateX(0px);
        -ms-transform: translateX(0px);
        transform: translateX(0px);
    }
    50% {
        -webkit-transform: translateX(6px);
        -moz-transform: translateX(6px);
        -o-transform: translateX(6px);
        -ms-transform: translateX(6px);
        transform: translateX(6px);
    }
    100% {
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -o-transform: translateX(0px);
        -ms-transform: translateX(0px);
        transform: translateX(0px);
    }
}
@keyframes next-page /* Safari and Chrome */ {
    0% {
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -o-transform: translateX(0px);
        -ms-transform: translateX(0px);
        transform: translateX(0px);
    }
    50% {
        -webkit-transform: translateX(6px);
        -moz-transform: translateX(6px);
        -o-transform: translateX(6px);
        -ms-transform: translateX(6px);
        transform: translateX(6px);
    }
    100% {
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -o-transform: translateX(0px);
        -ms-transform: translateX(0px);
        transform: translateX(0px);
    }
}
#controls {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 54px;
    text-align: center;
    z-index: 101;
}
#controls .all {
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    transition: opacity 0.5s;
    background-color: rgba(220, 220, 220, 0.9);
    line-height: 54px;
}
#controls .ui-options {
    position: absolute;
    top: 5px;
    right: 0;
    height: 44px;
}
#controls #page-slider {
    margin-top: 5px;
}
#controls .ui-icon {
    width: 44px;
    height: 44px;
    display: inline-block;
    color: #555;
    cursor: pointer;
    -webkit-transition: color 0.1s;
    -moz-transition: color 0.1s;
    -o-transition: color 0.1s;
    -ms-transition: color 0.1s;
    transition: color 0.1s;
}
#controls .ui-ui-icon-on {
    background-color: #666;
    color: white !important;
    text-shadow: 0 0 2px #333;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}
#controls .ui-icon:hover {
    color: #333;
}
#controls .ui-icon .fa {
    float: left;
    line-height: 44px;
    width: 44px;
}
#controls #ui-icon-zoom {
    position: relative;
    z-index: 101;
}
#controls #ui-icon-expand-options {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 24px;
    background-color: rgba(220, 220, 220, 0.9);
    border-radius: 5px;
    width: 44px;
    height: 44px;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
.hide-controls #controls {
    display: none;
}
.hide-controls #viewer {
    height: 100%;
}
@media screen and (max-width: 1000px) {
    #controls #page-slider {
        position: relative;
        z-index: 2;
    }
    #controls .ui-options {
        right: 5px;
    }
    #controls .ui-options .ui-icon {
        -webkit-transition: all 0.2s cubic-bezier(0.515, 0.01, 0.225, 1.345);
        -moz-transition: all 0.2s cubic-bezier(0.515, 0.01, 0.225, 1.345);
        -o-transition: all 0.2s cubic-bezier(0.515, 0.01, 0.225, 1.345);
        -ms-transition: all 0.2s cubic-bezier(0.515, 0.01, 0.225, 1.345);
        transition: all 0.2s cubic-bezier(0.515, 0.01, 0.225, 1.345);
    }
    #controls .ui-options #ui-icon-toggle {
        display: inline-block !important;
        font-size: 24px;
    }
    #controls .ui-options .ui-icon:nth-child(1),
    #controls .ui-options .ui-icon:nth-child(2),
    #controls .ui-options .ui-icon:nth-child(3),
    #controls .ui-options .ui-icon:nth-child(4),
    #controls .ui-options .ui-icon:nth-child(5) {
        opacity: 0;
        pointer-events: none;
    }
    #controls #ui-icon-expand-options {
        position: absolute;
        bottom: 5px;
        right: 5px;
        width: 44px;
        height: 44px;
        cursor: pointer;
        pointer-events: auto;
    }
    #controls .ui-slider {
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        -ms-transition: all 0.2s;
        transition: all 0.2s;
    }
    #controls.extend-ui-options {
        /*#ui-icon-expand-options{
          display: none;
        }*/
    }
    #controls.extend-ui-options #page-slider {
        -webkit-transform: translate3d(-250px, 0px, 0px);
        -moz-transform: translate3d(-250px, 0px, 0px);
        -o-transform: translate3d(-250px, 0px, 0px);
        -ms-transform: translate3d(-250px, 0px, 0px);
        transform: translate3d(-250px, 0px, 0px);
    }
    #controls.extend-ui-options .ui-icon:nth-child(1),
    #controls.extend-ui-options .ui-icon:nth-child(2),
    #controls.extend-ui-options .ui-icon:nth-child(3),
    #controls.extend-ui-options .ui-icon:nth-child(4),
    #controls.extend-ui-options .ui-icon:nth-child(5) {
        pointer-events: auto;
        opacity: 1;
    }
    #controls.extend-ui-options #ui-icon-toggle {
        color: #999;
        -webkit-transform: rotateZ(90deg);
        -moz-transform: rotateZ(90deg);
        -o-transform: rotateZ(90deg);
        -ms-transform: rotateZ(90deg);
        transform: rotateZ(90deg);
    }
}
#controls.hidden-controls .all {
    opacity: 0;
    pointer-events: none;
}
#controls.hidden-controls #ui-icon-expand-options {
    opacity: 1;
    pointer-events: auto;
}
.zoom-slider .ui-slider:hover .handler,
.horizontal-zoom-slider .ui-slider:hover .handler {
    opacity: 0.8;
}
html:-webkit-full-screen #controls #ui-icon-full-screen .fa:before {
    content: "\f066";
}
html:full-screen #controls #ui-icon-full-screen .fa:before {
    content: "\f066";
}
.zoom-slider {
    position: absolute;
    z-index: 100;
    width: 44px;
    height: 150px;
    opacity: 0;
    -webkit-transform: translateY(100%);
    -webkit-transition: -webkit-transform 0.1s, opacity 0.2s;
    -moz-transition: -moz-transform 0.1s, opacity 0.2s;
    -ms-transition: -ms-transform 0.1s, opacity 0.2s;
    -o-transition: -o-transform 0.1s, opacity 0.2s;
    transition: transform 0.1s, opacity 0.2s;
    top: 0;
    left: -100px;
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    -ms-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
.zoom-slider .ui-slider {
    width: 44px;
    height: 90px;
    cursor: default;
    display: inline-block;
    vertical-align: center;
    cursor: pointer;
    opacity: 1;
}
.zoom-slider .bg {
    width: 44px;
    height: 150px;
    border-radius: 10px;
    background-color: #ccc;
}
.zoom-slider .ui-slider .bar {
    width: 6px;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 19px;
    margin-left: 19px;
    float: left;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}
.zoom-slider .ui-slider .progress {
    position: relative;
    width: 6px;
}
.zoom-slider .ui-slider .progress-width {
    margin-top: 3px;
    margin-left: 0;
    width: 6px;
    height: 84px;
    -webkit-transition: all 100ms;
    -moz-transition: all 100ms;
    -o-transition: all 100ms;
    -ms-transition: all 100ms;
    transition: all 100ms;
}
.zoom-slider .ui-slider .handler {
    float: left;
    height: 6px;
    width: 6px;
    background-color: white;
    position: absolute;
    top: auto;
    right: auto;
    left: 0;
    bottom: -3px;
    opacity: 0.8;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all 100ms;
    -moz-transition: all 100ms;
    -o-transition: all 100ms;
    -ms-transition: all 100ms;
    transition: all 100ms;
}
.zoom-slider.show-zoom-slider {
    opacity: 1;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -ms-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}
#controls .ui-options #ui-icon-toggle {
    display: none;
}
.ui-share-box {
    position: fixed;
    top: 0;
    left: -10000px;
    width: 100%;
    height: 100%;
    z-index: 101;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    transition: opacity 0.2s;
}
.ui-share-box .ui-share-options {
    font-size: 40px;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 80px;
    text-align: center;
}
.ui-share-box .ui-share-options .ui-icon {
    width: 60px;
    height: 60px;
    display: inline-block;
    cursor: pointer;
}
.ui-share-box .ui-share-options .ui-icon i {
    margin: 10px;
    color: #ccc;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    -ms-transition: all 0.1s;
    transition: all 0.1s;
}
.ui-share-box .ui-share-options .has-hint i {
    color: white;
    text-shadow: 0 0 10px white;
}
.ui-share-box .close-mark {
    width: 25px;
    height: 25px;
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    background-image: url(/static/images/arrows@2x.png);
    background-size: 60px 120px;
    background-position: 0 60px;
    cursor: pointer;
    opacity: 0.8;
}
.ui-share-box .close-mark:hover {
    opacity: 1;
}
.ui-share-box.show-ui-share-box {
    left: 0px;
    opacity: 1;
}
@media screen and (max-width: 400px) {
    .ui-share-box .ui-share-options {
        font-size: 30px !important;
    }
    .ui-share-box .ui-share-options .ui-icon {
        width: 50px !important;
        height: 50px !important;
    }
    .ui-share-box .ui-share-options {
        height: 50px !important;
    }
}