{% extends ApplicationBundle ~ "::layout.html.twig" %}

{% block title %}{% if fetva.meta.title is not empty %}{{ fetva.meta.title }}{% else %}{{ fetva.title }}{% endif %}{% endblock %}
{% block meta_descr %}{% spaceless %}{% if fetva.meta.descr is not empty %}{{ fetva.meta.descr }}{% else %}{{ fetva.flatContent.flatContent | raw | striptags | slice(0, 200) }}{% endif %}{% endspaceless %}{% endblock %}
{% block meta_keywords %}{% if fetva.meta.keywords is not empty %}{{ fetva.meta.keywords }}{% endif %}{% endblock %}

{% block og %}
    <meta property="og:title" content="{{ fetva.title }}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ app.request.uri }}">
    <meta property="og:image" content="{{ articleImage }}">
    <meta property="og:description" content="{{ fetva.shortAnounce }}">


    <meta property="twitter:title" content="{{ fetva.title }}" />
    <meta property="twitter:description" content="{{ fetva.shortAnounce }}" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:image" content="{{ articleImage }}" />
    <meta property="twitter:url" content="{{ app.request.uri }}" />
{% endblock %}

{% block body %}


<div class="container content">

<div class="row-fluid">

<div class="span9">

    {% include 'IslamTodayApplicationBundle:Fetvy:ask_form.html.twig' %}

<div class="article fetva">

    <div class="article__header fetva__header">
        {{ fetva.title }}

        <div class="article__indicators">
            <div class="indicator__watch indicator_gradient"><i class="icon"></i> {{ fetva.getViewCnt.cnt }}</div>
            {% if fetva.commentsCount > 0 %}
                <div class="indicator__comment indicator_gradient"><i class="icon"></i> {{ fetva.commentsCount }}</div>
            {% endif %}
        </div>
    </div>

    <div class="article__meta">
        <div class="article__date">{{ fetva.publishedAt | format_date('dd MMMM') }} {{ fetva.publishedAt | date('Y H:i') }}</div>
    </div>

    <div class="article__text">
        {{ fetva.flatContent.flatContent | raw }}
    </div>

    {% if fetva.tags is not empty %}
        <div class="article__tags">
            <span class="article__tags__title">Метки:</span>
            <span class="article__tags__items">
                {% for tag in fetva.tags %}
                    <a href="{{ path('islam_today_category', {category_path:tag.path}) }}">{{ tag.title }}</a>{% if not loop.last %},{% endif %}
                {% endfor %}
            </span>
        </div>
    {% endif %}
                    <div class="article__tags__items" style="font-size: 12px; margin-top: 5px;">Если вы нашли ошибку, выделите текст и нажмите Ctrl + Enter.</div>
                    <script type="text/javascript" src="/static/javascripts/orp.js"></script>

</div>


    {% render controller(ApplicationBundle~':Common:socialShare') %}

    {% render controller(ApplicationBundle~':Articles:related', {excludeId: fetva.id}) %}

    <div class="comments" style="width:620px;">
        <div id="mc-container"></div>
        <script type="text/javascript">
            cackle_widget = window.cackle_widget || [];
            cackle_widget.push({widget: 'Comment', id: 29657});
            (function() {
                var mc = document.createElement('script');
                mc.type = 'text/javascript';
                mc.async = true;
                mc.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cackle.me/widget.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(mc, s.nextSibling);
            })();
        </script>
        <a id="mc-link" href="http://cackle.ru">Социальные комментарии <b style="color:#4FA3DA">Cackl</b><b style="color:#F65077">e</b></a>
    </div>

</div>

<div class="span3">

    {% render controller(ApplicationBundle~':Articles:popular') %}

    {% render(controller(ApplicationBundle ~ ":Banners:right1")) %}

    {#<div class="panel_bordered sidebar_margin">#}
        {#<div id="hypercomments_mix"></div>#}
        {#<script type="text/javascript">#}
            {#_hcwp = window._hcwp || [];#}
            {#_hcwp.push({widget:"Mixstream", widget_id: 11350, template: "index", filter:"last",limit:5 ,default_filter:"last"});#}
            {#(function() {#}
                {#if("HC_LOAD_INIT" in window)return;#}
                {#HC_LOAD_INIT = true;#}
                {#var lang = (navigator.language || navigator.systemLanguage || navigator.userLanguage ||  "en").substr(0, 2).toLowerCase();#}
                {#var hcc = document.createElement("script"); hcc.type = "text/javascript"; hcc.async = true;#}
                {#hcc.src = ("https:" == document.location.protocol ? "https" : "http")+"://w.hypercomments.com/widget/hc/11350/"+lang+"/widget.js";#}
                {#var s = document.getElementsByTagName("script")[0];#}
                {#s.parentNode.insertBefore(hcc, s.nextSibling);#}
            {#})();#}
        {#</script>#}
    {#</div>#}

    <!-- Banner #4 -->
    <div class="iSlider" id="slider_01"></div>
    <!-- Banner #5 -->
    <div class="iSlider" id="slider_02"></div>
    <!-- Banner #6 -->
    {% render(controller(ApplicationBundle ~ ":Banners:right6")) %}

    <div class="panel_flat sidebar_margin">
        {% render(controller(ApplicationBundle ~ ":Default:services")) %}
    </div>

    {#<div class="panel_flat sidebar_margin">#}
        {#<a href="http://www.irada.su" target="_blank"><img src="/static/banners/Banner_gif_01-13-4.gif" /></a>#}
    {#</div>#}

    <div class="panel_flat sidebar_margin">
        {% render(controller(ApplicationBundle ~ ':Default:photo')) %}
    </div>

    <div class="panel_flat sidebar_margin">
        {% render(controller(ApplicationBundle ~ ':Default:video')) %}
    </div>


</div>
</div>

</div>
{% endblock %}
