{% extends ApplicationBundle ~ "::layout.html.twig" %}

{% block title %}{% if (sub_category is defined) and (sub_category.meta.title is not empty) %}{{ sub_category.meta.title }}{% else %}{{ sub_category.title }}{% endif %}{% endblock %}
{% block meta_descr %}{% if sub_category is defined %}{{ sub_category.meta.descr }}{% endif %}{% endblock %}
{% block meta_keywords %}{% if sub_category is defined %}{{ sub_category.meta.keywords }}{% endif %}{% endblock %}

{% block body %}

<div class="container content">

<div class="row-fluid">
<div class="span9">

    {% include 'IslamTodayApplicationBundle:Fetvy:ask_form.html.twig' %}

    <div class="article_list">
        {% for fetv in pagination %}
            {% set preview -%}
                {% render controller(ApplicationBundle ~':Preview:getUrl', {'article':fetv, 'typeId': 200}) %}
            {%- endset %}
            <div class="article_list__item">
                <div class="article_intro">
                    <a href="{{ path('fetvy_single', {title_path: fetv.path}) }}"><img src="{{ preview }}" alt="{{ fetv.title }}" class="article_intro__image"></a>
                    <div class="article_intro__wrapper">
                        <div class="article_intro__meta">
                            <div class="article_intro__date">{{ fetv.publishedAt | format_date('dd MMMM') }} {{ fetv.publishedAt | date('Y H:i') }}</div>
                            <div class="article_intro__indicators">
                                <div class="indicator__watch"><i class="icon"></i> <span class="val">{{ fetv.getViewCnt.cnt }}</span></div>
                                {% if fetv.commentsCount > 0 %}
                                    <div class="indicator__comment indicator_gradient"><i class="icon"></i> <span class="val">{{ fetv.commentsCount }}</span></div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="article_intro__header">
                            <a href="{{ path('fetvy_single', {title_path: fetv.path}) }}">{{ fetv.title }}</a>
                        </div>
                        <div class="article_intro__text">
                                {{ fetv.shortAnounce }}
                            <a href="{{ path('fetvy_single', {title_path: fetv.path}) }}" class="article_intro__more">Читать далее &rarr;</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
        {{ knp_pagination_render(pagination, ApplicationBundle ~ ':Pagination:default.html.twig') }}

    <div class="article article__smaller" style="margin-top: 65px;">
        <div class="article__text text-grayed" id="text">
            {{ sub_category.descr | raw}}
        </div>
    </div>
</div>

<div class="span3">

    {% render controller(ApplicationBundle ~ ':Default:recentNews') %}

    {% render(controller(ApplicationBundle ~ ":Banners:right1")) %}

    <div class="panel_flat sidebar_margin">
        {% render(controller(ApplicationBundle ~ ":Default:services")) %}
    </div>

    <!-- Banner #4 -->
    <div class="iSlider" id="slider_01"></div>
    <!-- Banner #5 -->
    <div class="iSlider" id="slider_02"></div>
    <!-- Banner #6 -->
    {% render(controller(ApplicationBundle ~ ":Banners:right6")) %}


    <div class="panel_flat sidebar_margin">
    {% render(controller(ApplicationBundle ~ ':Default:photo')) %}
</div>
    {#<div class="panel_flat sidebar_margin">#}
        {#<a href="http://www.irada.su" target="_blank"><img src="/static/banners/Banner_gif_01-13-4.gif" /></a>#}
    {#</div>#}

<div class="panel_flat sidebar_margin">
    {% render(controller(ApplicationBundle ~ ':Default:video')) %}
</div>

</div>
</div>

</div>
{% endblock %}