{% extends ApplicationBundle ~ "::layout.html.twig" %}

{% block title %}Islam-today.ru{% endblock %}

{% block body %}
    <div class="container content">

    <div class="row-fluid">
    <div class="span9">

        <h3 class="page-header">Блоги</h3>

        <div class="article_list">
            {% for blog in pagination %}
                {% set preview -%}
                    {% render controller(ApplicationBundle ~':Preview:getUrl', {'article':blog, 'typeId': 200}) %}
                {%- endset %}
                <div class="article_list__item">
                    <a href="{{ path('blogs_single', {author_path:blog.secondaryCategories[0].path, title_path: blog.path}) }}" class="article_intro">
                        <img src="{{ preview }}" alt="{{ blog.title }}" class="article_intro__image">
                        <div class="article_intro__wrapper">
                            <div class="article_intro__meta">
                                <div class="article_intro__date">{{ blog.publishedAt | format_date('dd MMMM') }} {{ blog.publishedAt | date('Y H:i') }}</div>
                                <div class="article_intro__indicators">
                                    <div class="indicator__watch"><i class="icon"></i> <span class="val">{{ blog.getViewCnt.cnt }}</span></div>
                                    {% if blog.commentsCount > 0 %}
                                        <div class="indicator__comment indicator_gradient"><i class="icon"></i> {{ blog.commentsCount }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="article_intro__header">
                                {{ blog.title }}
                            </div>
                            <div class="article_intro__text">
                                {{ blog.shortAnounce }}
                                <div class="article_intro__more">Читать далее &rarr;</div>
                            </div>

                            <div class="author_small article_intro__author">
                                <img class="author_small__image" src="{{ blog.secondaryCategories[0].picUrl }}" alt="">
                                <span href="#" class="author_small__name">{{ blog.secondaryCategories[0].title }}</span>
                            </div>

                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>

        {{ knp_pagination_render(pagination, ApplicationBundle ~ ':Pagination:default.html.twig') }}
    </div>

    <div class="span3">
        {% render(controller(ApplicationBundle ~ ":Banners:right2")) %}
        {% render(controller(ApplicationBundle ~ ':Default:recentNews')) %}

        {% render(controller(ApplicationBundle ~ ":Banners:right1")) %}
    <div class="panel_flat sidebar_margin">
        {% render(controller(ApplicationBundle ~ ":Default:services")) %}
    </div>

        <!-- Banner #4 -->
        <div class="iSlider" id="slider_01"></div>
        <!-- Banner #5 -->
        <div class="iSlider" id="slider_02"></div>
        <!-- Banner #6 -->
        {% render(controller(ApplicationBundle ~ ":Banners:right6")) %}


        <div class="panel_flat sidebar_margin">
        {% render(controller(ApplicationBundle ~ ':Default:photo')) %}
    </div>

        {#<div class="panel_flat sidebar_margin">#}
            {#<a href="http://www.irada.su" target="_blank"><img src="/static/banners/Banner_gif_01-13-4.gif" /></a>#}
        {#</div>#}

    <div class="panel_flat sidebar_margin">
        {% render(controller(ApplicationBundle ~ ':Default:video')) %}
    </div>

    </div>
    </div>

    </div>
{% endblock %}