{% extends "@IslamTodayApplication/New/layout.html.twig" %}

{% block title %}{{ category.title }}{% endblock %}
{% block meta_descr %}{% if category.meta.descr is not empty %}{{ category.meta.descr }}{% endif %}{% endblock %}
{% block meta_keywords %}{% if category.meta.keywords is not empty %}{{ category.meta.keywords }}{% endif %}{% endblock %}

{% block content %}
    <div class="main">

        <h3 class="page-header"><u>Блоги</u></h3>

        {% for author in authors %}
            <div class="author" style="max-width: 700px;">
                <a href="{{ path('blogs_author', {author_path:author.path}) }}">
                    <img style="width: 90px; height: 90px;" class="author__image" src="{{ author.picUrl }}" alt="{{ author.title }}"></a>

                <div class="author__wrapper">
                    <a href="{{ path('blogs_author', {author_path:author.path}) }}">
                        <div class="author__name" style="color: #414649;">{{ author.title }}</div>
                    </a>
                    <div class="author__text overflow_fade">
                        {{ author.descr|raw }}

                        <div class="gradient_fade"></div>
                    </div>

                </div>
            </div>
            <hr style="margin: 30px 0;">
        {% endfor %}
    </div>

{% endblock %}
{% block rightSidebar %}{% endblock %}