{% extends ApplicationBundle ~ "::layout.html.twig" %}

{% block title %}{{ author.title }}{% endblock %}
{% block meta_descr %}{% if author.meta.descr is not empty %}{{ author.meta.descr }}{% endif %}{% endblock %}
{% block meta_keywords %}{% if author.meta.keywords is not empty %}{{ author.meta.keywords }}{% endif %}{% endblock %}

{% block body %}
    <div class="container content">

    <div class="row-fluid">
    <div class="span9">

        <h3 class="page-header"><a href="{{ path('blogs') }}"><u>Блоги</u></a></h3>

        <div class="author">
            <img class="author__image" src="{{ author.picUrl }}" alt="{{ author.title }}">

            <div class="author__wrapper">

                <div class="author__name">{{ author.title }}</div>
                <div class="author__text overflow_fade">
                    {{ author.descr |raw }}

                    <div class="gradient_fade"></div>
                </div>

                <a class="flat-link" href="#" data-action="toggle" data-target=".overflow_fade">
                    <span class="current_text"><span class="flat-link__caption">подробно</span> &darr;</span>
                    <span class="swap_text"><span class="flat-link__caption">скрыть</span> &uarr;</span>
                </a>
            </div>
        </div>

        <hr style="margin: 30px 0;">


        <div class="article_list">
            {% for blog in pagination %}
                {% set preview -%}
                    {% render controller(ApplicationBundle ~':Preview:getUrl', {'article':blog, 'typeId': 200}) %}
                {%- endset %}
                <div class="article_list__item">
                    <a href="{{ path('blogs_single', {author_path:author.path, title_path:blog.path}) }}" class="article_intro">
                        <img src="{{ preview }}" alt="{{ blog.title }}" class="article_intro__image">
                        <div class="article_intro__wrapper">
                            <div class="article_intro__meta">
                                <div class="article_intro__date">{{ blog.publishedAt | format_date('dd MMMM') }} {{ blog.publishedAt | date('Y H:i') }}</div>

                                <div class="article_intro__indicators">
                                    <div class="indicator__watch"><i class="icon"></i> <span class="val">{{ blog.getViewCnt.cnt }}</span></div>
                                    {% if blog.commentsCount > 0 %}
                                        <div class="indicator__comment"><i class="icon"></i> <span class="val">{{ blog.commentsCount }}</span></div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="article_intro__header">
                                {{ blog.title }}
                            </div>
                            <div class="article_intro__text">
                                {{ blog.shortAnounce }}
                                <div class="article_intro__more">Читать далее &rarr;</div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        {{ knp_pagination_render(pagination, ApplicationBundle ~ ':Pagination:default.html.twig') }}
    </div>

    <div class="span3">
        {% render(controller(ApplicationBundle ~ ":Banners:right2")) %}
        {% render(controller(ApplicationBundle ~ ':Default:recentNews')) %}
        {% render(controller(ApplicationBundle ~ ":Banners:right1")) %}
    <div class="panel_flat sidebar_margin">
        {% render(controller(ApplicationBundle ~ ":Default:services")) %}
    </div>

        <!-- Banner #4 -->
        <div class="iSlider" id="slider_01"></div>
        <!-- Banner #5 -->
        <div class="iSlider" id="slider_02"></div>
        <!-- Banner #6 -->
        {% render(controller(ApplicationBundle ~ ":Banners:right6")) %}


        <div class="panel_flat sidebar_margin">
        {% render(controller(ApplicationBundle ~ ':Default:photo')) %}
    </div>

        {#<div class="panel_flat sidebar_margin">#}
            {#<a href="http://www.irada.su" target="_blank"><img src="/static/banners/Banner_gif_01-13-4.gif" /></a>#}
        {#</div>#}

    <div class="panel_flat sidebar_margin">
        {% render(controller(ApplicationBundle ~ ':Default:video')) %}
    </div>

    </div>
    </div>

    </div>

{% endblock %}