{% extends "@IslamTodayApplication/New/layout.html.twig" %}

{% block title %}{% if blog.meta.title is not empty %}{{ blog.meta.title }}{% else %}{{ blog.title }}{% endif %}{% endblock %}
{% block meta_descr %}{% spaceless %}{% if blog.meta.descr is not empty %}{{ blog.meta.descr }}{% else %}{{ blog.flatContent.flatContent | raw | striptags | slice(0, 200) }}{% endif %}{% endspaceless %}{% endblock %}
{% block meta_keywords %}{% if blog.meta.keywords is not empty %}{{ blog.meta.keywords }}{% endif %}{% endblock %}
{% block og %}
    <meta property="og:title" content="{{ blog.title }}">
    <meta property="og:type" content="article">
    <meta property="og:image" content="{{ articleImage }}">
    <meta property="og:description" content="{{ blog.shortAnounce }}">
    <meta property="og:url" content="{{ app.request.uri }}">

    <meta property="twitter:title" content="{{ blog.title }}"/>
    <meta property="twitter:description" content="{{ blog.shortAnounce }}"/>
    <meta property="twitter:card" content="summary_large_image"/>
    <meta property="twitter:image" content="{{ articleImage }}"/>
    <meta property="twitter:url" content="{{ app.request.uri }}"/>
{% endblock %}

{% block content %}
    <style>
        blockquote {
            padding: 5px 5px 5px 15px;
            margin: 0 0 20px;
            border-left: 5px solid #9bbfd4;
            background: #dee9ef;
            border-color: #9bbfd4;
            font-size: 19px;
            font-style: italic;
        }
    </style>
    <div class="main">

        <h3 class="page-header"><a href="{{ path('blogs') }}">Блоги</a></h3>

        <div class="article blog_entry">

            <div class="author_small blog_entry__author">
                <img class="author_small__image" src="{{ blog.secondaryCategories[0].picUrl }}" alt="">
                <a href="{{ path('blogs_author', {author_path:blog.secondaryCategories[0].path}) }}" class="author_small__name">{{ blog.secondaryCategories[0].title }}</a>
            </div>

            <div class="article__header">
                <h1 class="article__header">{{ blog.title }}</h1>

                <div class="article__indicators">
                    <div class="indicator__watch indicator_gradient"><i class="icon"></i> {{ blog.getViewCnt.cnt }}</div>
                    {% if blog.commentsCount > 0 %}
                        <div class="indicator__comment indicator_gradient"><i class="icon"></i> {{ blog.commentsCount }}</div>
                    {% endif %}
                </div>
            </div>

            <div class="article__date">{{ blog.publishedAt | format_date('dd MMMM') }} {{ blog.publishedAt | date('Y') }}</div>

            <div class="article__text">

                {{ blog.flatContent.flatContent | raw }}
            </div>

            {% if blog.tags is not empty %}
                <div class="article__tags">
                    <span class="article__tags__title">Метки:</span>
                    <span class="article__tags__items">
                            {% for tag in blog.tags %}
                                {% if tag.title is not empty %}
                                    <a href="{{ path('islam_today_category', {category_path:tag.path}) }}">{{ tag.title }}</a>{% if not loop.last %},{% endif %}
                                {% endif %}
                            {% endfor %}
                  </span>
                </div>
            {% endif %}

            <div class="article__tags__items" style="font-size: 12px; margin-top: 15px;">Если вы нашли ошибку, выделите текст и нажмите Ctrl + Enter.</div>
            <script type="text/javascript" src="/static/javascripts/orp.js"></script>


            <!-- Banner #6 -->
            {{ render(controller("SCBannersBundle:Default:getBanner", {id: 8, style: 'text-align:center;', class:"baner" })) }}


            {#        {{ render(controller(ApplicationBundle~':Articles:relatedTags', {tags:blog.tags}) %}#}

        </div>


        {{ render(controller(ApplicationBundle~':Common:socialShare')) }}

        {{ render(controller(ApplicationBundle~':Articles:related', {excludeId: blog.id})) }}

        {{ render(controller("SCBannersBundle:Default:getBanner", {id: 9, style: 'text-align:center;', class:"baner" })) }}


        {#<div class="w-related_articles">#}
        {#<div class="w-related_articles__header">Другие статьи Резеды Сулеймановой:</div>#}

        {#<div class="w-related_articles__items">#}
        {#<div class="w-related_articles__item">#}
        {#<img src="/static/images/article_prview.jpg" alt="" class="w-related_articles__item__image">#}
        {#<a href="#" class="w-related_articles__item__title">#}
        {#Эдуард Димасов: «Раньше была в моде японская каллиграфия, теперь – арабская»#}
        {#</a>#}
        {#</div>#}
        {#<div class="w-related_articles__item">#}
        {#<img src="/static/images/article_prview.jpg" alt="" class="w-related_articles__item__image">#}
        {#<a href="#" class="w-related_articles__item__title">#}
        {#Как «Ан-Нуман» стал Абу Ханифой#}
        {#</a>#}
        {#</div>#}
        {#<div class="w-related_articles__item">#}
        {#<img src="/static/images/article_prview.jpg" alt="" class="w-related_articles__item__image">#}
        {#<a href="#" class="w-related_articles__item__title">#}
        {#«Всевышнему ничего не стоило бы сотворить меня абсолютно здоровой»#}
        {#</a>#}
        {#</div>#}
        {#<div class="w-related_articles__item">#}
        {#<img src="/static/images/article_prview.jpg" alt="" class="w-related_articles__item__image">#}
        {#<a href="#" class="w-related_articles__item__title">#}
        {#Иван, сын Амира#}
        {#</a>#}
        {#</div>#}
        {#</div>#}
        {#</div>#}

        <div class="comments" style="width:620px;">
            <div id="mc-container"></div>
            <script type="text/javascript">
                cackle_widget = window.cackle_widget || [];
                cackle_widget.push({widget: 'Comment', id: 29657});
                (function () {
                    var mc = document.createElement('script');
                    mc.type = 'text/javascript';
                    mc.async = true;
                    mc.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cackle.me/widget.js';
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(mc, s.nextSibling);
                })();
            </script>
            <a id="mc-link" href="http://cackle.ru">Социальные комментарии <b style="color:#4FA3DA">Cackl</b><b style="color:#F65077">e</b></a>
        </div>

        {{ render(controller("SCBannersBundle:Default:getBanner", {id: 10, style: 'text-align:center;', class:"baner" })) }}
    </div>
{% endblock %}
{% block rightSidebar %}{% endblock %}