.iSlider {
  font-family: 'Open Sans Condensed';
  margin-bottom: 40px;
  
  .iSliderBody {
    display: block;
    position: relative;
  }

  .iSlidesContainer {
    padding: 0;
    margin: 0;
    width: auto;
    position: relative;
    background: transparent url('../img/shadow.png') 50% 100% no-repeat;

    .iSlide {
      margin: 0 auto;
      padding: 0;
      list-style: none;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
      border: 1px solid #666;
      position: relative;
      display: block;

      .title {
        position: absolute;
        display: block;
        text-align: center;
        font-size: 18px;
        bottom: 30px;
        text-transform: uppercase;
        font-weight: bold;
        width: 100%;
      }

      .link {
        display: block;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: #fff;
        font-weight: bold;
        text-align: center;
        font-size: 16px;
        line-height: 20px;
        position: absolute;
        bottom: -15px;
        width: 180px;
        left: 50%;
        margin-left: -90px;
        padding: 7px 0 5px 0;
        text-transform: uppercase;
        max-height: 32px;
        text-shadow: 0 1px 0 rgba(0,0,0,0.2);
        background: #666 url('../img/button_bg.png') 0 0 repeat-x;
      }
  	}
  }

  .iSliderControls {
    position: absolute;
    bottom: 60px;
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 1000;

    a {
      display: block;
      padding: 0;
      background-position: 0 0;
      background-repeat: no-repeat;
      width: 31px;
      height: 69px;
      cursor: pointer;

      &.controlPrev {
        float: left;
        background-image: url('../img/slider_arrow_left.png');
        margin-left: -1px;
      }

      &.controlNext {
        float: right;
        background-image: url('../img/slider_arrow_right.png');
        margin-right: -1px;
      }
    }
  }
}