{% extends "@IslamTodayApplication/New/layout.html.twig" %}

{% block title %}Фото на исламском портале - мусульманский мир - портал «Ислам сегодня»{% endblock %}
{% block meta_descr %}Самые интересные фото из мусульманского мира. Фотогалереи важных событий, занимательные фотоподборки и многое другое!{% endblock %}
{% block meta_keywords %}Фото{% endblock %}

{% block content %}
    <div class="main">
        <h3 class="page-header">Фотогалерея</h3>
        <div class="gallery_list" style="width: 720px;">
            {% for gallery in pagination %}
                <a href="{{ path('photo_single', {title_path:gallery.path}) }}" class="gallery_list__item">
                    <img src="{{ gallery.files[0].previewUrl('medium') }}" alt="{{ gallery.title }}" class="gallery_list__item__image">
                    <div class="gallery_list__item__meta">
                        <div class="gallery_list__item__date">{{ gallery.publishedAt | format_date('dd MMMM') }} {{ gallery.publishedAt | date('Y') }}</div>
                    </div>
                    <div class="gallery_list__item__title">{{ gallery.title }}</div>
                </a>
            {% endfor %}
        </div>
        {{ knp_pagination_render(pagination, 'IslamTodayApplicationBundle:Pagination:default.html.twig') }}
    </div>
{% endblock %}
{% block rightSidebar %}{% endblock %}