{% extends "@IslamTodayApplication/New/layout.html.twig" %}

{% block title %}{{ gallery.title }} – фото – портал «Ислам сегодня»{% endblock %}
{% block meta_descr %}{% endblock %}
{% block meta_keywords %}Фото{% endblock %}

{% block content %}
    {#<script type="text/javascript" src="/static/javascripts/bootstrap-carousel.js"></script>#}
    <script type="text/javascript" src="/static/javascripts/vendor/jsor-jcarousel/lib/jquery.jcarousel.min.js"></script>

    <div class="main">

        <h3 class="page-header"><a href="{{ path('photo') }}">Фотогалерея</a></h3>

        <div class="article">

            <div class="article__header">
                <h1 class="article__header">{{ gallery.title }}</h1>

                <div class="article__indicators">
                    <div class="indicator__watch indicator_gradient"><i class="icon"></i> {{ gallery.getViewCnt.cnt }}</div>
                    {% if gallery.commentsCount > 0 %}
                        <div class="indicator__comment indicator_gradient"><i class="icon"></i> {{ gallery.commentsCount }}</div>
                    {% endif %}
                </div>
            </div>

            <div class="article__meta">
                <div class="article__date">{{ gallery.publishedAt | format_date('dd MMMM') }} {{ gallery.publishedAt | date('Y') }}</div>
                {#<div class="article__category category_name">Общество</div>#}
            </div>

            <div class="article__text">

                <p>
                    {{ gallery.shortDescr }}
                </p>

                <div class="gallery_preview_container" style="width: 928px;">

                    <ul id="gallery-preview" class="jcarousel jcarousel-skin-gallery_preview">
                        {% for preview in gallery.files %}
                            <li><a href="#" {% if loop.first %}class="active"{% endif %}><img src="{{ preview.previewUrl('small') }}" alt="{{ preview.title }}"></a></li>
                        {% endfor %}
                    </ul>

                </div>


                <div id="gallery" class="carousel fade gallery_fullsize">
                    <div class="carousel-inner">
                        {% for file in gallery.files %}
                            <div itemscope itemtype="http://schema.org/ImageObject" class="item {% if loop.first %}active{% endif %}">
                                <a href="{{ file.previewUrl('original') }}" target="_blank">
                                    <img itemprop="contentUrl" src="{{ file.previewUrl('big') }}" class="image" alt="{{ file.title }}" data-orig="{{ file.previewUrl('original') }}">
                                </a>
                                <div itemprop="name" class="text">
                                    {{ file.title }}
                                    {% if file.author is not empty %}<br>Фото: {{ file.author }}{% endif %}
                                    {% if file.descr is not empty %}<br>Описание: {{ file.descr }}{% endif %}

                                </div>
                            </div>
                        {% endfor %}

                    </div>

                    <a class="carousel-control-prev" href="#gallery" data-slide="prev"></a>
                    <a class="carousel-control-next" href="#gallery" data-slide="next"></a>
                </div>

                <p>
                    {{ gallery.longDescr }}
                </p>

            </div>

        </div>


        {{ render(controller('IslamTodayApplicationBundle:Common:socialShare')) }}


        <div class="comments" style="width:620px;">
            <div id="mc-container"></div>
            <script type="text/javascript">
                cackle_widget = window.cackle_widget || [];
                cackle_widget.push({widget: 'Comment', id: 29657});
                (function () {
                    var mc = document.createElement('script');
                    mc.type = 'text/javascript';
                    mc.async = true;
                    mc.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cackle.me/widget.js';
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(mc, s.nextSibling);
                })();
            </script>
            <a id="mc-link" href="http://cackle.ru">Социальные комментарии <b style="color:#4FA3DA">Cackl</b><b style="color:#F65077">e</b></a>
        </div>
    </div>
{% endblock %}

{% block rightSidebar %}{% endblock %}