html, body, ul, li {
    padding: 0;
    margin: 0;
    font-family: Arial;
}

ul {
    list-style: none;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: row;
    padding: 25px 0;
    align-items: stretch;
    border-bottom: 4px #000 solid;
}

.header__logo {
    position: relative;
    width: 300px;
}

.town-select-container {
    position: absolute;
    left: 60px;
    top: 32px;
    text-transform: uppercase;
    font-size: 14px;
}

.town-select-caption {
    text-decoration: underline;
    color: #ff9700;
}

/* HEADER */
.logo__image {
    display: block;
    width: 250px;
    height: 50px;
    background: url(/static_new/images/logo_islam_today.png);
    background-repeat: no-repeat;
}

.namaz-top-widget {
    flex: 1;
}

.namaz-top-widget ul {
    display: flex;
    flex-direction: row;
}

.namaz-top-widget li {
    border-right: 1px #ccc solid;
    flex: 1;
    text-align: left;
    display: flex;
    max-width: 77px;
    justify-content: center;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0 20px;
}

.namaz-top-widget li.active {
    max-width: none;
}

.namaz-top-widget li:last-child {
    border-right: none;
}

.town-select-dropdown {
    display: none;
}

.search-block-container {
    width: 400px;
}

.search-block__field {
    border: none;
    border-bottom: 1px solid #cccccc;
    width: 310px;
    color: #000;
    font-size: 14px;
    padding: 12px 0;
    margin: 0 40px 0 50px;
}

.retroclock {
    width: 144px;
    position: relative;
    margin-right: 20px;
}

.retroclock .xddigit {
    width: 32px;
    height: 46px;
    overflow: hidden;
    float: left;
    margin-right: 2px;
}

.retroclock .xddigit div {
    background: url(/static/images/digits.png) no-repeat;
    background-size: auto 2820px;
    height: 2820px;
}

.retroclock .rcSeparator {
    font-size: 54px;
    margin: 10px 7px;
    color: #3c3c3c;
    float: left;
}

.retroclock .xdgroup {
    margin-right: 12px;
    float: left;
}

.xdgroup:last-of-type {
    margin: 0;
}

.xddigit:last-of-type {
    margin: 0;
}

.retroclock:after {
    clear: both;
    display: table;
    content: "";
}

.content {
    display: flex;
    flex-direction: row;
    border-bottom: 4px #000 solid;
}

.content .left-sidebar {
    width: 300px;
    border: 1px #e5e5e5 solid;
    border-top: none;
    border-bottom: none;
}

.sidebar-news .tabs {
    display: flex;
}

.sidebar-news .tabs .tab {
    flex: 1;
    text-align: center;
    border: 1px #eee solid;
    text-transform: uppercase;
    font-size: 12px;
}

.sidebar-news .tabs .tab:first-child {
    border-left: none;
}

.sidebar-news .tabs .tab:last-child {
    border-right: none;
}

.sidebar-news .tabs .tab {
    flex: 1;
    text-align: center;
    border: 1px #e5e5e5 solid;
    border-top: none;
    text-transform: uppercase;
    font-size: 12px;
    padding: 20px 0;
    cursor: pointer;
}

.sidebar-news .news-item {

    border-bottom: 1px #e5e5e5 solid;
}

.news-item a {
    text-decoration: none;
    padding: 30px;
    display: block;
}

.sidebar-news .news-item:last-child {
    border-bottom: none;
}

.sidebar-news .news-item .title {
    font-size: 14px;
    margin-bottom: 20px;
    color: #000;
}

.sidebar-news .news-item .dates,
.article .dates
{
    color: #e5e5e5;
    font-size: 12px;
}

.sidebar-news .tabs .tab.active {
    border: none;
}

.content .main {
    flex: 1;
    padding: 0 50px;
}

.content .main #mainSlider {
    padding: 50px 0;
    border-bottom: 1px #e5e5e5 solid;
}

.content .main #mainArticles {
    padding: 50px 0;
}

#mainArticles .article {

}

#mainArticles .article .image{
    width: 100px;
    height: 100px;
    margin-right:20px;
}
#mainArticles .article .preview{
    flex: 1;
}

#mainArticles .article  a {
    display: flex;
    text-decoration: none;
    margin-bottom: 30px;
}

#mainArticles .article .title {
    color: #000;
    font-size: 20px;
    font-weight: bold;
}

#mainArticles .article .views-count {
    padding: 0 0 0 30px;
    background-image: url(/static_new/images/count.png);
    background-repeat: no-repeat;
    background-position: 0 3px;
    color: #e5e5e5;
    font-size: 12px;
}

.content .right-sidebar {
    width: 400px;
    border: 1px #e5e5e5 solid;
    border-bottom: none;
    border-top: none;
}