/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
	font-family: 'flexslider-icon';
	src:url('fonts/flexslider-icon.eot');
	src:url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),
		url('fonts/flexslider-icon.woff') format('woff'),
		url('fonts/flexslider-icon.ttf') format('truetype'),
		url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider { margin: 0 0 60px; background: #fff; border: 4px solid #fff; position: relative; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2); -o-box-shadow: 0 1px 4px rgba(0,0,0,.2); box-shadow: 0 1px 4px rgba(0,0,0,.2); zoom: 1; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a  { text-decoration:none; display: block; width: 40px; height: 40px; margin: -20px 0 0; position: absolute; top: 50%; z-index: 10; overflow: hidden; opacity: 0; cursor: pointer; color: rgba(0,0,0,0.8); text-shadow: 1px 1px 0 rgba(255,255,255,0.3); -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; }
.flex-direction-nav .flex-prev { left: -50px; }
.flex-direction-nav .flex-next { right: -50px; text-align: right; }
.flexslider:hover .flex-prev { opacity: 0.7; left: 10px; }
.flexslider:hover .flex-next { opacity: 0.7; right: 10px; }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }
.flex-direction-nav a:before  { font-family: "flexslider-icon"; font-size: 40px; display: inline-block; content: '\f001'; }
.flex-direction-nav a.flex-next:before  { content: '\f002'; }

/* Pause/Play */
.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
.flex-pauseplay a:before  { font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: '\f004'; }
.flex-pauseplay a:hover  { opacity: 1; }
.flex-pauseplay a.flex-play:before { content: '\f003'; }

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); box-shadow: inset 0 0 3px rgba(0,0,0,0.3); }
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
  .flex-direction-nav .flex-next { opacity: 1; right: 10px;}
}

html, body, ul, li {
    padding: 0;
    margin: 0;
    font-family: "Manrope Light", sans-serif;
}

@font-face {
    font-family: 'Manrope Light';
    src: url(/static_new/fonts/manrope-light.woff) format("woff"), url(/static_new/fonts/manrope-light.woff2) format("woff2"), url(/static_new/fonts/manrope-light.otf) format("otf");
}

@font-face {
    font-family: 'Manrope Semibold';
    src: url(/static_new/fonts/manrope-semibold.woff) format("woff"), url(/static_new/fonts/manrope-semibold.woff2) format("woff2"), url(/static_new/fonts/manrope-semibold.otf) format("otf");
}

@font-face {
    font-family: 'Manrope Bold';
    src: url(/static_new/fonts/manrope-bold.woff) format("woff"), url(/static_new/fonts/manrope-bold.woff2) format("woff2"), url(/static_new/fonts/manrope-bold.otf) format("otf");
}

/*@font-face {*/
/*font-family: 'Montserrat';*/
/*src: url(/static_new/fonts/manrope-light.woff) format("woff"), url(/static_new/fonts/manrope-light.woff2) format("woff2"), url(/static_new/fonts/manrope-light.otf) format("otf");*/
/*}*/

ul {
    list-style: none;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: row;
    padding: 25px 0;
    align-items: stretch;
    border-bottom: 4px #000 solid;
}

.header__logo {
    position: relative;
    width: 300px;
}

.town-select-container {
    position: absolute;
    left: 60px;
    top: 32px;
    text-transform: uppercase;
    font-size: 14px;
}

.town-select-caption {
    text-decoration: underline;
    color: #ff9700;
    font-family: "Manrope Bold", sans-serif;
}

/* HEADER */
.logo__image {
    display: block;
    width: 250px;
    height: 50px;
    background: url(/static_new/images/logo_islam_today.png);
    background-repeat: no-repeat;
}

.namaz-top-widget {
    flex: 1;
}

.namaz-top-widget ul {
    display: flex;
    flex-direction: row;
}

.namaz-top-widget li {
    border-right: 1px #ccc solid;
    flex: 1;
    text-align: left;
    display: flex;
    max-width: 77px;
    justify-content: center;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0 20px;
    align-items: center;
}

.namaz-top-widget li.active {
    max-width: none;
}

.namaz-top-widget li:last-child {
    border-right: none;
}

.town-select-dropdown {
    display: none;
}

.search-block-container {
    width: 400px;
}

.search-block__field {
    border: none;
    border-bottom: 1px solid #cccccc;
    width: 310px;
    color: #000;
    font-size: 14px;
    padding: 12px 0;
    margin: 0 40px 0 50px;
    font-family: "Manrope Light", sans-serif;

}

.retroclock {
    width: 144px;
    position: relative;
    margin-right: 20px;
}

.retroclock .xddigit {
    width: 32px;
    height: 46px;
    overflow: hidden;
    float: left;
    margin-right: 2px;
}

.retroclock .xddigit div {
    background: url(/static/images/digits.png) no-repeat;
    background-size: auto 2820px;
    height: 2820px;
}

.retroclock .rcSeparator {
    font-size: 54px;
    margin: 10px 7px;
    color: #3c3c3c;
    float: left;
}

.retroclock .xdgroup {
    margin-right: 12px;
    float: left;
}

.xdgroup:last-of-type {
    margin: 0;
}

.xddigit:last-of-type {
    margin: 0;
}

.retroclock:after {
    clear: both;
    display: table;
    content: "";
}

.content {
    display: flex;
    flex-direction: row;
    border-bottom: 4px #000 solid;
}

.content .left-sidebar {
    width: 300px;
    border: 1px #e5e5e5 solid;
    border-top: none;
    border-bottom: none;
}

.sidebar-news .tabs {
    display: flex;
}

.sidebar-news .tabs .tab {
    flex: 1;
    text-align: center;
    border: 1px #eee solid;
    text-transform: uppercase;
    font-size: 12px;
    font-family: "Manrope Bold", sans-serif;
}

.sidebar-news .tabs .tab:first-child {
    border-left: none;
}

.sidebar-news .tabs .tab:last-child {
    border-right: none;
}

.sidebar-news .tabs .tab {
    flex: 1;
    text-align: center;
    border: 1px #e5e5e5 solid;
    border-top: none;
    text-transform: uppercase;
    font-size: 12px;
    padding: 20px 0;
    cursor: pointer;
}

.sidebar-news .news-item {

    border-bottom: 1px #e5e5e5 solid;
}

.news-item a {
    text-decoration: none;
    padding: 30px;
    display: block;
}

.sidebar-news .news-item:last-child {
    border-bottom: none;
}

.sidebar-news .news-item .title {
    font-size: 14px;
    margin-bottom: 20px;
    color: #000;
    font-family: "Montserrat", sans-serif;
}

.sidebar-news .news-item .dates,
.article .dates {
    color: #a3a3a3;
    font-size: 12px;
}

.sidebar-news .tabs .tab.active {
    border: none;
}

.content .main {
    flex: 1;
    padding: 0 50px;
}

.content .main #mainSlider {
    padding: 50px 0;
    border-bottom: 1px #e5e5e5 solid;
}

.content .main #mainArticles {
    padding: 50px 0;
}

#mainArticles .article {

}

#mainArticles .article .image {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

#mainArticles .article .preview {
    flex: 1;
}

#mainArticles .article a {
    display: flex;
    text-decoration: none;
    margin-bottom: 30px;
}

#mainArticles .article .title {
    color: #000;
    font-size: 22px;
    font-family: "Manrope Semibold", sans-serif;
}

#mainArticles .article .views-count {
    padding: 0 0 0 30px;
    background-image: url(/static_new/images/count.png);
    background-repeat: no-repeat;
    background-position: 0 3px;
    color: #a3a3a3;
    font-size: 12px;
}

.content .right-sidebar {
    width: 400px;
    border: 1px #e5e5e5 solid;
    border-bottom: none;
    border-top: none;
}

#mainSlider .article_preview__title {


}
#mainSlider .article_preview__title a {
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #000;
    display: block;
}
#mainSlider .article_preview__image a {
    display: block;
}
#mainSlider .article_preview__image  img{
    width: 100%;
    padding: 25px 0;
}


#mainSlider .article_preview__text {
    font-family: "Manrope Light";
    font-size: 18px;
}