{% extends ApplicationBundle ~ "::layout.html.twig" %}

{% block title %}Исламское радио Азан - мусульманские проповеди, притчи, онлайн трансляции передач{% endblock %}
{% block meta_descr %}Слушайте круглосуточную интернет-радиостанцию 'Азан' - 'Голос Ислама' - прямая онлайн трансляции на информационно аналитическом портале Ислам Тудей.{% endblock %}
{% block meta_keywords %}радио азан, мусульманское радио, исламское радио онлайн{% endblock %}

{% block body %}
    <div class="container content">

        <div class="row-fluid">

            <div class="span9">

                <div class="article">

                    <div class="article__header">
                        <h1 class="article__header">Программа передач</h1>
                    </div>

                    <div class="article__text">
                        {{ programSchedule.flatContent.flatContent | raw }}
                    </div>

                </div>

                {% render controller(ApplicationBundle~':Common:socialShare') %}

            </div>

            <div class="span3">

                <div class="panel_flat sidebar_margin">
                    <span class="panel_flat__header">Передачи</span>

                    <div class="panel_flat__body">

                        <div class="panel_flat__t">
                            {{ broadcasts.flatContent.flatContent | raw }}
                        </div>
                    </div>
                </div>

                {#<div class="panel_bordered sidebar_margin">#}
                    {#<div id="hypercomments_mix"></div>#}
                    {#<script type="text/javascript">#}
                        {#_hcwp = window._hcwp || [];#}
                        {#_hcwp.push({widget:"Mixstream", widget_id: 11350, template: "index", filter:"last",limit:5 ,default_filter:"last"});#}
                        {#(function() {#}
                            {#if("HC_LOAD_INIT" in window)return;#}
                            {#HC_LOAD_INIT = true;#}
                            {#var lang = (navigator.language || navigator.systemLanguage || navigator.userLanguage ||  "en").substr(0, 2).toLowerCase();#}
                            {#var hcc = document.createElement("script"); hcc.type = "text/javascript"; hcc.async = true;#}
                            {#hcc.src = ("https:" == document.location.protocol ? "https" : "http")+"://w.hypercomments.com/widget/hc/11350/"+lang+"/widget.js";#}
                            {#var s = document.getElementsByTagName("script")[0];#}
                            {#s.parentNode.insertBefore(hcc, s.nextSibling);#}
                        {#})();#}
                    {#</script>#}
                {#</div>#}

                <!-- Banner #4 -->
                <div class="iSlider" id="slider_01"></div>
                <!-- Banner #5 -->
                <div class="iSlider" id="slider_02"></div>
                <!-- Banner #6 -->
                {% render(controller(ApplicationBundle ~ ":Banners:right6")) %}


                <div class="panel_flat sidebar_margin">
                    {% render(controller(ApplicationBundle ~ ':Default:photo')) %}
                </div>

                {#<div class="panel_flat sidebar_margin">#}
                    {#<a href="http://www.irada.su" target="_blank"><img src="/static/banners/Banner_gif_01-13-4.gif" /></a>#}
                {#</div>#}

                <div class="panel_flat sidebar_margin">
                    {% render(controller(ApplicationBundle ~ ':Default:video')) %}
                </div>


            </div>
        </div>

    </div>
{% endblock %}