{% extends '::layout.html.twig' %}

{% block title %}Админка | Редактирование карты(id: {{ map.id }}){% endblock %}

{% block body %}
    <style>
        #map {
            width: 100%;
        }
    </style>


    <div class="row">
        {{ form_start(form) }}
        <div class="col-md-12">
            {{ form_label(form.title) }}
            {{ form_widget(form.title, {'attr' : {'class' : 'form-control'}}) }}
        </div>
        <div class="col-md-12" style="margin: 15px 0;">
            {{ form_widget(form.submit, {'attr' : {'class' : 'btn btn-primary'}}) }}
            <a href="//islam-today.ru/map/show/{{ map.id }}" class="btn btn-success" target="_blank">Просмотреть на сайте</a>
        </div>
        {{ form_end(form) }}
    </div>


    <div class="row">
        <div id="mapWrapper">
            <div id="map"></div>
        </div>
    </div>

    <div id="region_name"></div>
    <div id="region_edit"></div>


    <script type="text/javascript" src="{{ asset('bundles/scarticleadmin/ckeditor1/3.6.2/ckeditor.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/scarticleadmin/ckeditor1/3.6.2/adapters/jquery.js') }}"></script>

    <script src="{{ asset('js/raphael.js') }}"></script>
    <script src="{{ asset('js/paths.js') }}"></script>
    <script>

        var data = {{ data | json_encode | raw }};

        var r = Raphael('map', 1170, 500),
                color = {
                    used: '#00ff00',
                    free: '#ffb4b4',
                },
                attributes = {
                    fill: color.free,
                    stroke: '#5e5e5e',
                    'stroke-width': 1,
                    'stroke-linejoin': 'round'
                },
                arr = new Array();
        r.setViewBox(0, 0, 1170, 600, true);
        //r.canvas.setAttribute('preserveAspectRatio', 'none');
        for (var country in paths) {
            var countryObj = paths[country];
            var obj = r.path(countryObj.path);
            obj.attr(attributes);
            if (data[countryObj.number] !== undefined) {
                obj.content = data[countryObj.number]
                obj.attr({
                    fill: color.used,
                });
            }
            arr[obj.id] = country;

            obj.data = countryObj;


            obj.hover(function () {
                this.animate({
                    fill: '#5e5e5e'
                }, 300);

                $("#region_name").text(this.data.name);

                /*$('#map').next('.point').remove();
                 $('.point')
                 .html(paths[arr[this.id]].name)
                 .css({
                 left: point.x + (point.width / 2) - 80,
                 top: point.y + (point.height / 2) - 20
                 })
                 .fadeIn();*/
            }, function () {
                var bg = color.free;
                if (this.content !== undefined) {
                    bg = color.used;
                }
                this.animate({
                    fill: bg
                }, 300);

                $("#region_name").text(regionName);
            });


            obj.click(function () {
                editMapData(this);
            });
        }
        var regionName;

        function editMapData(region) {
            var url,
                    data = {};
            if (region.content !== undefined) {
                url = '/map/data/' + region.content.id + '/edit';
                data.region = region.content.id;
            } else {
                url = '{{ path('map_data_create', {'id' : map.id} ) }}';
                data.region = region.data.number;
            }

            $.ajax({
                type: 'POST',
                url: url,
                data: data,
                region: region,
                success: function (response) {
                    regionName = this.region.data.name
                    $("#region_name").text(regionName);
                    $("#region_edit").html(response);
                    $("#region_edit").data('region', this.region);


                    if (CKEDITOR.instances['map_data_content'] === undefined) {
                        CKEDITOR.replace('map_data_content', {
                            uiColor: '#9AB8F3'
                        });

                    } else {
                        var editor = CKEDITOR.instances['map_data_content'];
                        editor.destroy(true);
                        CKEDITOR.replace('map_data_content', {
                            uiColor: '#9AB8F3'
                        });
                    }
                }
            });
        }

        function loadEditor(name) {
            var instance = CKEDITOR.instances[editorID];
            if (instance) {
                instance.destroy(true);
            }
            CKEDITOR.replace(editorID);

        }

        $(document).on("click", '#mapdata_delete', function () {
            var url = $(this).attr('href');
            $.ajax({
                url: url,
                type: "POST",
                success: function (response) {
                    if (response.status) {
                        var regionEdit = $("#region_edit").data('region');
                        regionEdit.attr({fill: color.free});
                        $("#region_edit").data('region', false);
                    }
                }
            });
            return false;
        });


        $(document).on("submit", 'form', function () {
            event.preventDefault();
            for (instance in CKEDITOR.instances) CKEDITOR.instances[instance].updateElement();

            var url = $(this).attr("action");
            var form = $(this);
            $.ajax({
                url: url,
                type: 'POST',
                data: form.serialize(),
                success: function (response) {
                    if (response.status) {
                        if (response.type == 'region') {
                            var regionEdit = $("#region_edit").data('region');
                            regionEdit.attr({fill: color.used});
                            regionEdit.content = {
                                id: response.id
                            };
                        }
                    }
                }
            });
            return false;
        });


    </script>
{% endblock %}
