{% extends '::layout.html.twig' %}

{% block title %}Админка | Список статей{% endblock %}
{% block body %}
    <script type="text/javascript"
            src="{{ asset('bundles/scarticleadmin/jquery-ui-1.10.3/ui/minified/jquery-ui.min.js') }}"></script>
    <link href="{{ asset('bundles/scarticleadmin/jquery-ui-1.10.3/themes/base/jquery-ui.css') }}" type="text/css"
          rel="stylesheet"/>
    <script type="text/javascript"
            src="{{ asset('bundles/scarticleadmin/jquery-ui/1.8.16/jquery.ui.datepicker-ru.js') }}"></script>

    <a href="{{ path('map_create') }}" class="btn btn-primary">Добавить</a>
    <table class="table table-bordered">
        <caption>Карты</caption>
        <thead>
        <tr>
            <th>id</th>
            <th>Название</th>
            <th>Дата публикации</th>
            <th><input type="checkbox" class="js_select_all_unpublish"></th>
        </tr>
        </thead>
        <tbody>
        {% for map in maps %}
            <tr>
                <td>{{ map.id }}</td>
                <td>
                    <a href="{{ path('map_edit', {'id' : map.id}) }}">
                        {{ map.title }}
                    </a>
                </td>
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('map_create') }}" class="btn btn-primary">Добавить</a>
{% endblock %}


