{% extends ApplicationBundle ~ "::layout.html.twig" %}

{% block title %}{{ map.title }} – карта – портал «Ислам сегодня»{% endblock %}
{% block meta_descr %}{% endblock %}
{% block meta_keywords %}карта{% endblock %}

{% block body %}
    <style>
        #region_name {
            font-weight: bold;
            margin: 10px 5px;
        }
    </style>

    <div class="container content">

        {#<h3 class="page-header"><a href="{{ path('photo') }}">Фотогалерея</a></h3>#}

        <div class="article">

            <div class="article__header">
                <h1 class="article__header">{{ map.title }}</h1>

                {#<div class="article__indicators">
                    <div class="indicator__watch indicator_gradient"><i class="icon"></i> {{ gallery.getViewCnt.cnt }}</div>
                    {% if gallery.commentsCount > 0 %}
                        <div class="indicator__comment indicator_gradient"><i class="icon"></i> {{ gallery.commentsCount }}</div>
                    {% endif %}
                </div>#}
            </div>

            <div class="article__text">
                {#
                                <p>
                                    {{ gallery.shortDescr }}
                                </p>

                                <div class="gallery_preview_container" style="width: 928px;">

                                    <ul id="gallery-preview" class="jcarousel jcarousel-skin-gallery_preview">
                                        {% for preview in gallery.files %}
                                            <li><a href="#" {% if loop.first %}class="active"{% endif %}><img src="{{ preview.previewUrl('small') }}" alt="{{ preview.title }}"></a></li>
                                        {% endfor %}
                                    </ul>

                                </div>#}


                <div class="row">
                    <div id="mapWrapper">
                        <div id="map"></div>
                    </div>
                </div>

                <div id="region_name"></div>
                <div id="region_info"></div>

                <script src="{{ asset('static/javascripts/paths.js') }}"></script>
                <script src="{{ asset('static/javascripts/raphael.js') }}"></script>
                <script>

                    var data = {{ data | json_encode | raw }};

                    var r = Raphael('map', 1170, 500),
                            color = {
                                used: '#00ff00',
                                free: '#ffb4b4',
                            },
                            attributes = {
                                fill: color.free,
                                stroke: '#5e5e5e',
                                'stroke-width': 1,
                                'stroke-linejoin': 'round'
                            },
                            arr = new Array();
                    r.setViewBox(0, 0, 1170, 600, true);
                    //r.canvas.setAttribute('preserveAspectRatio', 'none');
                    for (var country in paths) {
                        var countryObj = paths[country];
                        var obj = r.path(countryObj.path);
                        obj.attr(attributes);
                        if (data[countryObj.number] !== undefined) {
                            obj.content = data[countryObj.number]
                            obj.attr({
                                fill: color.used,
                            });
                        }
                        arr[obj.id] = country;

                        obj.data = countryObj;


                        obj.hover(function () {
                            this.animate({
                                fill: '#5e5e5e'
                            }, 300);
                            $("#region_name").text(this.data.name);
                        }, function () {
                            var bg = color.free;
                            if (this.content !== undefined) {
                                bg = color.used;
                            }
                            this.animate({
                                fill: bg
                            }, 300);

                            $("#region_name").text(regionName);
                        });


                        obj.click(function () {
                            showMapData(this);
                        });
                    }
                    var regionName;

                    function showMapData(region) {
                        var url = '/map/data/' + region.content.id + '/show';

                        $.ajax({
                            type: 'POST',
                            url: url,
                            data: data,
                            region: region,
                            success: function (response) {
                                if (response.status) {
                                    regionName = this.region.data.name
                                    $("#region_name").text(regionName);
                                    $("#region_info").html(response.data);
                                }
                            }
                        });
                    }
                </script>

            </div>

        </div>

        {% render controller(ApplicationBundle~':Common:socialShare') %}

        <div class="comments" style="width:620px;">
            <div id="mc-container"></div>
            <script type="text/javascript">
                cackle_widget = window.cackle_widget || [];
                cackle_widget.push({widget: 'Comment', id: 29657});
                (function () {
                    var mc = document.createElement('script');
                    mc.type = 'text/javascript';
                    mc.async = true;
                    mc.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cackle.me/widget.js';
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(mc, s.nextSibling);
                })();
            </script>
            <a id="mc-link" href="http://cackle.ru">Социальные комментарии <b style="color:#4FA3DA">Cackl</b><b style="color:#F65077">e</b></a>
        </div>
    </div>
{% endblock %}



































