<style>
    @font-face {
        font-family: Philosopher; /* Имя шрифта */
        src: url(//islam-today.ru/static/banners/fonts/philosopher_bold.ttf); /* Путь к файлу со шрифтом */
    }

    .ramadan-counter:hover {
        text-decoration: none;
        color: #06123c;
    }

    .kurban-banner {
        background: left top no-repeat;
        height: 132px;
        width: 100px;
        display: block;
        font-size: 60px;
        padding-top: 155px;
        padding-left: 120px;
        line-height: 100px;
        text-align: center;
        color: #020202 !important;
        font-family: Impact;
        background: url(//islam-today.ru/static/banners/kurban.jpg);
        text-decoration: none !important;
    }

    .counter-container {
        background: left top no-repeat;
        width: auto;
        height: 300px;
        display: block;
        text-align: center;
        color: #020202 !important;
        font-family: Philosopher;
        text-decoration: none !important;
        position: relative;
    }

    .counter-container a {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .counter-container a span.days {
    display: block;
    position: absolute;
    top: 180px;
    width: 100%;
    font-size: 50px;
    line-height: 60px;
    text-decoration: none;
    color: #5e2a62 !important;
    }

    .counter-container a span.text {
    display: block;
    position: absolute;
    top: 230px;
    width: 100%;
    font-size: 24px;
    text-decoration: none;
    color: #5e2b64 !important;
    }
</style>

<div class="counter-container" style=" background: url(//islam-today.ru/static/banners/{{ image }});">
    <a class="" href="https://islam-today.ru/veroucenie/kogda-i-kak-musulmane-budut-otmecat-prazdnik-kurban-bajram/" target="_blank">
        <span class="days">{{ days }}</span>
        <span class="text">{{ text }}</span>
    </a>
</div>
