<!-- Banner #1 -->
{#<div class="b-adt b-adt--center b-adt--dimension-1 b-adt--corners-all b-adt--shadow b-adt--bg-white b-adt--pull-ends">#}
        {#<a href="http://alanyaproperties.ru/buy/properties/elvin-towers" class="b-adt__overlay-link" target="_blank">#}
            {#<div class="b-adt__logo-1">#}
                {#<img src="/static/images/adt/elvin.png" alt=""/>#}
            {#</div>#}
            {#<div class="b-adt__text">#}
                {#<div class="b-adt__text__inner">#}
                    {#<div class="alpha">Комфортное жилье для семей <br> с мусульманскими традициями</div>#}
                    {#<span class="b-adt__link">www.alanyaproperties.ru</span>#}
                    {#<span class="b-adt__phone">+7 915 064-86-34</span>#}
                {#</div>#}
            {#</div>#}
            {#<div class="b-adt__slider" role="flexslider">#}
                {#<ul class="slides">#}
                    {#<li><img src="/static/images/adt/slider-1.png" alt=""/></li>#}
                    {#<li><img src="/static/images/adt/slider-2.png" alt=""/></li>#}
                {#</ul>#}
            {#</div>#}
            {#<div class="b-adt__logo-2">#}
                {#<img src="/static/images/adt/alanya.png" alt=""/>#}
            {#</div>#}
        {#</a>#}
    {#</div>#}

{#    <object class="baner" style="margin-top: 0;" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0" width="980" height="120" align="middle">
        <param name="allowScriptAccess" value="sameDomain">
        <param name="movie" value="/static/banners/zakyat_banner_q.swf">
        <param name="quality" value="high">
        <param name="bgcolor" value="#ffffff">
        <embed src="/static/banners/zakyat_banner_q.swf" quality="high" bgcolor="#ffffff" width="980" height="120" align="middle" allowscriptaccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer">
    </object> 
#}
{% render(controller("SCBannersBundle:Default:getBanner", {id: 1, style:"width: 980px", class:"baner baner_top", width:980, height:120})) %}
