{#<div class="iSlider" id="slider_03"></div>#}


{#<div class="panel_flat sidebar_margin">#}
    {#<a href="http://moika-blesk.com" target="_blank"><img src="/static/banners/banner_biznes_s_mashinoy.jpg" /></a>#}
{#</div>#}