{#<div class="sidebar_margin" style="text-align: center;">#}
    {#<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0" width="200" height="300" align="middle">#}
        {#<param name="allowScriptAccess" value="sameDomain">#}
        {#<param name="movie" value="/static/banners/sami-yusuf.swf">#}
        {#<param name="quality" value="high">#}
        {#<param name="bgcolor" value="#ffffff">#}
        {#<embed src="/static/banners/a3-logo.swf" quality="high" bgcolor="#ffffff" width="200" height="300" align="middle" allowscriptaccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer">#}
    {#</object>#}
{#</div>#}

{#<div class="sidebar_margin">#}
    {#<a href="http://planeta.ru/campaigns/7471/updates" target="_blank"><img src="/static/banners/Planeta.jpg" /></a>#}
{#</div>#}

<div class="player sidebar_margin">
    <h4>СКАЧАТЬ ПРИЛОЖЕНИЯ</h4>
    <div class="appscontainer">
        <div class="card_container left">
            <div class="card">
                <div class="front">
                    <img src="/static/images/icons_radio.png"/><br/>
                    <span class="info">Радио Азан</span>
                </div>
                <div class="back">
                    <a href="https://itunes.apple.com/ru/app/radio-azan.-golos-islama./id742016161?mt=8" target="_blank" class="apps apple"></a>
                    <a href="https://play.google.com/store/apps/details?id=com.itef.radioazan" target="_blank" class="apps google"></a>
                </div>
            </div>
        </div>
        <div class="card_container">
            <div class="card right">
                <div class="front">
                    <img src="/static/images/icons_namaz.png"/><br/>
                    <span class="info">Время намаза</span>
                </div>
                <div class="back">
                    <a href="https://itunes.apple.com/ru/app/vrema-namazov/id888585554?mt=8" target="_blank" class="apps apple"></a>
                    <a href="https://play.google.com/store/apps/details?id=com.resonancelab.namazrus" target="_blank" class="apps google"></a>
                </div>
            </div>
        </div>
        <div class="card_container left">
            <div class="card">
                <div class="front ">
                    <img src="/static/images/icons_namaz3.png"/><br/>
                    <span class="info">Гыйбадәте<br/>исламия</span>
                </div>
                <div class="back">
                    <a href="https://itunes.apple.com/us/app/les-pitchounes-2/id956760015?mt=8" target="_blank" class="apps apple"></a>
                    <a href="https://play.google.com/store/apps/details?id=com.disoft.namas&hl=ru" target="_blank" class="apps google"></a>
                </div>
            </div>
        </div>
        <div class="card_container">
            <div class="card right">
                <div class="front ">
                    <img src="/static/images/icons_namaz2.png"/><br/>
                    <span class="info">Намаз<br/>вакытлары</span>
                </div>
                <div class="back">
                    <a href="https://itunes.apple.com/ru/app/namaz-vakytlary/id867005260?l=en&mt=8" target="_blank" class="apps apple"></a>
                    <a href="https://play.google.com/store/apps/details?id=com.resonancelab.namaz" target="_blank" class="apps google"></a>
                </div>
            </div>
        </div>
        <div class="card_container left">
            <div class="card ">
                <div class="front ">
                    <img src="/static/images/icons_guide.png"/><br/>
                    <span class="info">Халяль гид</span>
                </div>
                <div class="back">
                    <a href="https://itunes.apple.com/ru/app/halalgid.ru-bol-soj-halal/id699723838?l=en&mt=8" target="_blank" class="apps apple"></a>
                    <a href="https://play.google.com/store/apps/details?id=com.resonancelabllc.halalGid" target="_blank" class="apps google"></a>
                </div>
            </div>
        </div>
        <div class="card_container">
            <div class="card right">
                <div class="front ">
                    <img src="/static/images/icon_quran.jpg"/><br/>
                    <span class="info">Куръан</span>
                </div>
                <div class="back">
                    <a href="https://itunes.apple.com/ru/app/%D0%BA%D1%83%D1%80%D1%8A%D0%B0%D0%BD/id1448097524?mt=8" target="_blank" class="apps apple"></a>
                    <a href="https://play.google.com/store/apps/details?id=com.itef.quran" target="_blank" class="apps google"></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% render(controller("SCBannersBundle:Default:getBanner", {id: 6, class: "sidebar_margin"})) %}

{% if not mainPage %}
{#    {% render(controller("SCBannersBundle:Default:getBanner", {id: 2, class:"banner-right1 sidebar_margin"})) %} #}
{% endif %}
