{% extends ApplicationBundle ~ "::layout.html.twig" %}

{% block title %}Исламские термины{% endblock %}

{% block meta_descr %}{% endblock %}
{% block meta_keywords %}{% endblock %}

{% block body %}
<div class="container content">

    <div class="row">
        <div class="span9">


            <div class="article">
                <h1 class="article__header">Исламские термины</h1>

                <div class="article__text article__text--small">
                    <p>
                        Какое-то описание
                    </p>

                    <p>

                    </p>
                </div>
            </div>

            <div class="tags_filter epsilon push-double--ends">
                <span class="text--label">Найти термин с помощью:</span>
                <ul class="tags_filter__items">
                    <li class="tags_filter__item active">
                        <a href="{{ path('terms') }}" class="link-dashed">строки поиска</a>
                    </li>
                    <li class="tags_filter__item">
                        <a href="{{ path('terms_byletter') }}" class="link-dashed">алфавитного указателя</a>
                    </li>
                    <li class="tags_filter__item">
                        <a href="{{ path('terms_themes') }}" class="link-dashed">по темам</a>
                    </li>
                </ul>
            </div>

            <div class="nine-twelfths push--bottom">
                <form class="form-search form-search--type-1" method="get" action="{{ path('terms') }}">
                    <input type="text" placeholder="Введите ключевое слово исламского термина" class="input-medium search-query" name="q" value="{% if q is defined %}{{ q }}{% endif %}">
                    <a title="найти" class="process" href="#"></a>
                </form>
            </div>

            <div class="row-fluid push-double--top">
                <div class="span4">
                    <ul class="list list-1 epsilon">
                        {% for item in items %}
                            <li><a href="{{ path('terms_single', {path: item.path}) }}" class="link link--style-1">{{ item.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </div>
    </div>


</div>
{% endblock %}