{% extends ApplicationBundle ~ "::layout.html.twig" %}

{% block title %}{{ item.title }} - толкование исламского термина {{ item.title }}{% endblock %}

{% block meta_descr %}{{ metaDescr }}.{% endblock %}
{% block meta_keywords %}{{ item.title }}, сон{% endblock %}

{% block body %}
    <div class="container content">

        <div class="row">
            <div class="span9">


                <div class="article">
                    <h1 class="article__header">{{ item.title }}</h1>

                    {#<div class="article__text article__text--small">#}
                        {#<p>#}
                            {#Интересные и серые, пропитанные отголосками прошедшего дня или, напротив, несущие в себе некие знамения,#}
                            {#переносящие нас в далекое прошлое или рисующие в сознании картины будущего, приятные или кошмарные — все это#}
                            {#наши сны. Их содержание с давних пор являлось загадкой для человека — в разные времена существовали разные#}
                            {#толкования снов.#}
                        {#</p>#}

                        {#<p>#}
                            {#Пытаясь узнать значение снов, люди, прежде всего, старались заглянуть в свое будущее, понять, что готовит им#}
                            {#судьба. Правильно истолкованный сон мог стать верным предостережением, обещанием радости и благополучия,#}
                            {#напротив, предвестником болезни или даже смерти, обещанием семейного счастья или скорой женитьбы. Вариантов#}
                            {#предсказания существовало и существует множество, и все они собраны в сонники или толкователи снов.#}
                        {#</p>#}
                    {#</div>#}
                </div>

                <div class="tags_filter epsilon push-double--ends">
                    <span class="text--label">Найти исламский термин с помощью:</span>
                    <ul class="tags_filter__items">
                        <li class="tags_filter__item">
                            <a href="{{ path('terms') }}" class="link-dashed">строки поиска</a>
                        </li>
                        <li class="tags_filter__item">
                            <a href="{{ path('terms_byletter') }}" class="link-dashed">алфавитного указателя</a>
                        </li>
                        <li class="tags_filter__item">
                            <a href="{{ path('terms_themes') }}" class="link-dashed">по темам</a>
                        </li>
                    </ul>
                </div>


                <div class="eleven-twelfths">
                    {#<h1 class="delta weight--semibold">{{ dream.title }}</h1>#}

                    <div class="push-half--top">
                        {{ item.descr }}
                    </div>
                </div>

                <div class="tag-list push--ends">
                    <span class="tag-list__title">Тема:</span>
                <span class="tag-list__items">
                    <a href="{{ path('terms_themes_single', {path:item.theme.path}) }}">{{ item.theme.title }}</a>
                </span>
                </div>

                <div class="see-more push-double--top">
                    <div class="see-more__title">Смотри также:</div>
                    <div class="see-more__items">
                        {% for otherItem in otherItems %}
                            <a href="{{ path('terms_single', {path:otherItem.path}) }}">{{ otherItem.title }}</a>{% if not loop.last  %}, {% endif %}
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}