<h3>{{ 'photo'|trans }}</h3>
<ul id="photo-carousel" class="jcarousel-skin-custom">
{% for image in images %}
    <li>
        <a href="{{ image.bigResize }}" rel="photo-gallery"><img src="{{ image.smallResize }}"></a>
    </li>
{% else %}
    {{ 'category.is.empty'|trans }}
{% endfor %}
</ul>