<h3>{{ 'video'|trans }}</h3>
<ul id="video-carousel" class="jcarousel-skin-custom">
{% for video in videos %}
    <li>
        <a href="http://www.youtube.com/embed/{{ video.videoId }}?autoplay=1" rel="video-gallery" class="fancybox.iframe">
            <img src="http://img.youtube.com/vi/{{ video.videoId }}/3.jpg">
        </a>
    </li>
{% else %}
    {{ 'category.is.empty'|trans }}
{% endfor %}
</ul>