<script>
    jQuery(function() {
        jQuery('.js_arab_name_input').on('change', function() {
            name = jQuery(this).val();

            if (name.length >= 3) {
                jQuery.ajax({
                    type: 'POST',
                    async: false,
                    url: '{{ path('arab_name_widget_get_name') }}',
                    data: {'name': jQuery(this).val() },
                    error: function (jqXHR, textStatus, errorThrown) {

                    },
                    success: function (data, textStatus, jqXHR) {
                        jQuery('.js_arab_name_result').empty();
                        jQuery('.js_arab_name_result').html(data);
                    }
                });
            }
        });
    });
</script>
    <div class="w-services__item__title"><a href="http://islam-today.ru/arabname/" data-action="toggle-service">Имя по-арабски</a></div>
    <div class="w-services__item__help" data-toggle="popover" data-placement="top"
         data-content='Напиши свое имя арабскими буквами'>?</div>
    <div class="w-services__item__body">

        <!-- Виджет сервиса "Имя по-арабски" -->
        <div class="ws-name">
            <div class="ws-name__control-group">
                <input type="text" class="ws-name__control input-block-level js_arab_name_input" placeholder="Введите имя">
            </div>
            <div class="ws-name__result js_arab_name_result" dir="rtl"></div>
        </div>

    </div>
    <div class="w-services__item__more"><a href="/arabname/">Подробнее</a></div>
