<html>
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{{ asset('static/javascripts/vendor/retroclock/jquery.xdretroclock.js') }}"></script>
    <script src="{{ asset('static/bower_components/select2/select2.min.js') }}"></script>
{#    <script src="{{ asset('static/javascripts/bootstrap-popover.js') }}"></script>#}

    <link rel="stylesheet" href="{{ asset('static/compiled/external.css') }}">
    <style>
        body {
        {% if app.request.get('bg') %}
            background-color: #{{ app.request.get('bg') }};
        {% else %}
            background-color: #f1a93c;
        {% endif %}
            background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
            background-size: 100%;
        }
        .ws-name__control {
            width: 100%;
        }

        .widget_container {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            margin: auto auto;
            height: 100px;
        }
        .w-services__item__more {
            display: block;
        }
    </style>
</head>
<body>
<div class="widget_container">
    <script>
        $(function () {
            $('.js_arab_name_input').on('change', function () {
                name = $(this).val();

                if (name.length >= 3) {
                    $.ajax({
                        type: 'POST',
                        async: false,
                        url: '{{ path('arab_name_widget_get_name') }}',
                        data: {'name': $(this).val()},
                        error: function (jqXHR, textStatus, errorThrown) {

                        },
                        success: function (data, textStatus, jqXHR) {
                            $('.js_arab_name_result').empty();
                            $('.js_arab_name_result').html(data);
                        }
                    });
                }
            });
        });
    </script>
    <div class="w-services__item__title"><a href="#" data-action="toggle-service">Имя по-арабски</a></div>
    <div class="w-services__item__help" data-toggle="popover" data-placement="top"
         data-content='Напиши свое имя арабскими буквами'>?
    </div>
    <div class="">
        <!-- Виджет сервиса "Имя по-арабски" -->
        <div class="ws-name">
            <div class="ws-name__control-group">
                <input type="text" class="ws-name__control input-block-level js_arab_name_input" placeholder="Введите имя">
            </div>
            <div class="ws-name__result js_arab_name_result" dir="rtl"></div>
        </div>

    </div>
    <div class="w-services__item__more"><a href="http://islam-today.ru/arabname/" target="_blank">Подробнее</a></div>
</div>
</body>
</html>
