{% extends ApplicationBundle ~ "::layout.html.twig" %}

{% block title %}Имя по-арабски{% endblock %}
{% block meta_descr %}Напиши свое имя арабскими буквама на информационно-аналитическом портале islam-today.ru{% endblock %}
{% block meta_keywords %}Имя, имя по-арабски, арабские буквы{% endblock %}

{% block body %}
    <script>
        jQuery(function() {
            jQuery('.js_arab_name_input').on('change', function() {
                name = jQuery(this).val();

                if (name.length >= 3) {
                    jQuery.ajax({
                        type: 'POST',
                        async: false,
                        url: '{{ path('arab_name_widget_get_name') }}',
                        data: {'name': jQuery(this).val() },
                        error: function (jqXHR, textStatus, errorThrown) {

                        },
                        success: function (data, textStatus, jqXHR) {
                            jQuery('.js_arab_name_result').empty();
                            jQuery('.js_arab_name_result').html(data);
                        }
                    });
                }
            });
        });
    </script>
<div class="container content">

    <div class="row">

    <!-- Content goes here -->
    <div class="span7">


        <div class="article">
            <h1 class="article__header">Имя по-арабски</h1>

            <div class="article__text article__text--small">
                {#<p>#}
                    {#В этом разделе вы найдете сведения о значении имени, его происхождении, узнаете о вариантах#}
                    {#толкования значений имен – от исконно русских и привычных слуху до редких и незаслуженно#}
                    {#забытых. Вы сможете узнать, что скрывается за тайной имени, на какую судьбу обрекает имя своего#}
                    {#носителя, каков характер у имен и их хозяев, и какое влияние оказывает на нас человек, названный#}
                    {#так или иначе.#}
                {#</p>#}

            </div>

            <div class="push--ends">

                <div class="form-group">
                    <input type="text" class="form-control form-control--name js_arab_name_input" placeholder="Введите имя, например, Магомед" />
                    <div class="result delta js_arab_name_result">
                        ـاـلــيــکــثــاـنــدـر
                    </div>
                </div>

            </div>

            {% render controller(ApplicationBundle~':Common:socialShare') %}

            {#<div class="article__text article__text--small">#}
                {#<p>#}
                    {#В этом разделе вы найдете сведения о значении имени, его происхождении, узнаете о вариантах#}
                    {#толкования значений имен – от исконно русских и привычных слуху до редких и незаслуженно#}
                    {#забытых. Вы сможете узнать, что скрывается за тайной имени, на какую судьбу обрекает имя своего#}
                    {#носителя, каков характер у имен и их хозяев, и какое влияние оказывает на нас человек, названный#}
                    {#так или иначе.#}
                {#</p>#}
            {#</div>#}
        </div>

    </div>


    <div class="span3 offset2">

        <div class="panel_flat sidebar_margin">
            {% render(controller(ApplicationBundle ~ ":Default:services")) %}
        </div>

    </div>

    </div>
    </div>

{% endblock %}