<noindex><nofollow>
<div class="w-services__item__title"><a href="#" data-action="toggle-service">Время намазов</a></div>
<div class="w-services__item__help" data-toggle="popover" data-placement="top"
     data-content='Нама́з (перс. نماز‎) или Саля́т (араб. صلاة‎‎) — в исламе обязательная ежедневная пятикратная молитва, один из пяти столпов ислама. Салят в основном состоит из произнесения аятов Корана и прославления Бога одновременно с принятием различных поз. Пять промежутков времени, в которые следует совершать поклонение, соответствуют пяти частям суток и распределению различных видов человеческой деятельности: рассвет, полдень, послеполуденное время, конец дня и ночь.
                            '>?</div>
<div class="w-services__item__body">

    <!-- Виджет сервиса "Время намаза" -->
<noindex><nofollow>
    <div class="ws-namaz-time">
        <div class="ws-namaz-time__city">
            <select class="select2 js_city_select">
                {% for __city in cities %}
                    <option {% if city == __city %}selected{% endif %} value="{{ __city.path }}">{{ __city.title }}</option>
                {% endfor %}
            </select>
        </div>

        <ul class="ws-namaz-time__schedule">
            <li>
                <div class="target">Фаджр</div>
                <div class="time"></div>
            </li>
            <li>
                <div class="target">Восход</div>
                <div class="time"></div>
            </li>
            <li>
                <div class="target">Зухр</div>
                <div class="time"></div>
            </li>
            <li>
                <div class="target">Аср</div>
                <div class="time"></div>
            </li>
            <li>
                <div class="target">Магриб</div>
                <div class="time"></div>
            </li>
            <li class="active">
                <div class="target">Иша</div>
                <div class="time"></div>
            </li>
        </ul>

        <div class="ws-namaz-time__next">
            <div class="ws-namaz-time__next__title">Следующий намаз через:</div>
            <div class="ws-namaz-time__next__val">
                <div class="ws-namaz-time__clock">
                    <div id="retroclockbox"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</nofollow></noindex>

<div class="w-services__item__more"><a href="{{ path('namaztime', {city:city.path}) }}">Подробнее</a></div>

<script>
(function ($, undefined) {
    $(function () {
        var interval;
        $(".js_city_select").on('change', function () {
            jQuery.ajax({
                type: 'POST',
                async: false,
                url: '{{ path('namaztime_widget') }}',
                data: {'city': jQuery(this).val() },
                error: function (jqXHR, textStatus, errorThrown) {

                },
                success: function (data, textStatus, jqXHR) {
                    clearInterval(interval);
                    jQuery('.js_namaztime_widget_container').empty();
                    jQuery('.js_namaztime_widget_container').html(data);
                    $('[data-toggle=popover]').popover({
                        html: true,
                        trigger: 'click'
                    });
                }
            });
        });

        $('.select2').select2();

        var clock = $('#retroclockbox').xdretroclock({
            showSecond: 0
        });

        function convertDateToUTC(date) {
            return new Date(date.getUTCFullYear(), date.getUTCMonth(), date.getUTCDate(), date.getUTCHours(), date.getUTCMinutes(), date.getUTCSeconds());
        }

        function declOfNum(number, titles) {
            var cases = [2, 0, 1, 1, 1, 2];
            return titles[ (number % 100 > 4 && number % 100 < 20) ? 2 : cases[(number % 10 < 5) ? number % 10 : 5] ];
        }


        var scheduleHandler = {
            // Расписание на сегодня
            scheduleToday: [ {{ todayTime.fajr.format('U') * 1000 }},
                {{ todayTime.tulu.format('U') * 1000 }},
                {{ todayTime.zuhr.format('U') * 1000 }},
                {{ todayTime.asr.format('U') * 1000 }},
                {{ todayTime.maghrib.format('U') * 1000 }},
                {{ todayTime.isha.format('U') * 1000 }}
            ],
            // Расписание на завтра
            scheduleTomorrow: [
                {{ tomorrowTime.fajr.format('U') * 1000 }},
                {{ tomorrowTime.tulu.format('U') * 1000 }},
                {{ tomorrowTime.zuhr.format('U') * 1000 }},
                {{ tomorrowTime.asr.format('U') * 1000 }},
                {{ tomorrowTime.maghrib.format('U') * 1000 }},
                {{ tomorrowTime.isha.format('U') * 1000 }}
            ],
            activeIndex: 0,

            // Выбор расписание
            selectSchedule:
                    function () {
                        var d = new Date();

                        if (d < this.scheduleToday.slice(-1)[0]) {
                            this.actualSchedule = this.scheduleToday;
                        } else { //if (d < this.scheduleTomorrow.slice(-1)[0]) {
                            this.actualSchedule = this.scheduleTomorrow;
                        }
                    },

            // Получение ближайшего времени намаза
            getNearestTime: function () {
                var d = new Date();
                for (var i = 0; i < this.actualSchedule.length; i++) {
                    if ((i == 0 || this.actualSchedule[i - 1] < d) && d < this.actualSchedule[i]) {
                        this.activeIndex = i;
                        break;
                    }
                } // for
                return this.actualSchedule[this.activeIndex];
            }
            ,

            // Получение следующего времени намаза
            getNextTime: function () {
                this.activeIndex++;
                if (typeof this.actualSchedule[this.activeIndex] == 'undefined') {
                    this.selectSchedule();
                    this.activeIndex = 0;
                }
                return this.actualSchedule[this.activeIndex];
            }
            ,

            // Задание счетчика
            updateCounter: function (time) {
                var diffCounter, diffString;
                clock.time(this.calcTimeDiff(time));
            }
            ,
            calcTimeDiff: function (time) {
                var d, diff, out;
                d = new Date();
                diff = time - d;
                if (diff <= 0) {
                    out = 0;
                }
                else {
                    out = convertDateToUTC(new Date(diff));
                }
                return out;
            }
            ,
            setCounter: function (time) {
                var _this = this;

                this.updateCounter(time);

                interval = setInterval(function () {
                    var d, diff;
                    return;
                    d = new Date();
                    diff = _this.calcTimeDiff(time);
                    if (diff === 0) {
                        time = _this.getNextTime();
                        _this.updateCounter(time);
                        _this.fillScheduleTable();
                    }

                    if (d.getSeconds() == 0) {
                        _this.updateCounter(time);
                    }

                    _this.updateCounter(time);
                }, 1000);


            }
            ,
            fillScheduleTable: function () {
                // Заполнение времени
                for (var i = 0; i < this.actualSchedule.length; i++) {
                    var minutes = this.actualSchedule[i].getMinutes();
                    minutes = minutes > 9 ? minutes : '0' + minutes;
                    $('.ws-namaz-time__schedule li').eq(i).find('.time').html(this.actualSchedule[i].getHours()+ ':' + minutes);
                }
                $('.ws-namaz-time__schedule li').removeClass('active');
                $('.ws-namaz-time__schedule li').eq(this.activeIndex).addClass('active');
            }
            ,
            // init
            init: function () {
                // Convert to UTC
                for (var i = 0; i < this.scheduleToday.length; i++) {
                    this.scheduleToday[i] = new Date(this.scheduleToday[i]);
                    this.scheduleTomorrow[i] = new Date(this.scheduleTomorrow[i]);
                }

                this.selectSchedule();
                this.setCounter(this.getNearestTime());
                this.fillScheduleTable();

            }
        }.init(); // Object
    });
})(jQuery);
</script>
