{% extends "@IslamTodayApplication/New/layout.html.twig" %}

{% block title %}Время намаза{% endblock %}
{% block meta_descr %}Время намаза информационно-аналитического портала islam-today.ru{% endblock %}
{% block meta_keywords %}Намаз, время намаза{% endblock %}

{% block content %}
    <style>
        .month { display:none;}
        .zeta, .tags_filter__items {display: flex}
        .tags_filter__items li {margin-left: 8px;}
        .tags_filter__items li a {color: #000; text-decoration: none;}
        .tags_filter__items li.active a { font-weight: bold; text-decoration: underline;}
    </style>
    <script>

            $(document).on("change", ".u-city_list", function() {
                location.href = "/namaztime/?city="+$(this).val();
                return false;
            });

            $(document).on('click', function (e) {
                $('[data-toggle=popover-namaz-page]').popover('hide');
            });

            $(document).on("click", ".tags_filter__item a", function() {
                $(".tags_filter__item").removeClass("active");
                $(this).parents("li").addClass("active");
		if ($(this).data("type") == "month") {
                    $(".month").show();
                } else {
                    $(".month").hide();
                }
                return false;
            });

    </script>
    <div class="main">


        <div class="article">
            <h1 class="article__header">Расписание намазов</h1>

            <div class="article__text article__text--small">
                <p>
                    Нама́з (перс. نماز‎) или Саля́т (араб. صلاة‎‎) — в исламе обязательная ежедневная пятикратная
                    молитва, один из пяти столпов ислама. Салят в основном состоит из произнесения аятов Корана и
                    прославления Бога одновременно с принятием различных поз. Пять промежутков времени, в которые
                    следует совершать поклонение, соответствуют пяти частям суток и распределению различных видов
                    человеческой деятельности: рассвет, полдень, послеполуденное время, конец дня и ночь.
                </p>
                <p>
                    Скачать расписание времени намазов по 100 городам, xls файл:
                </p>
                <ul>
                    <li>
                        <a href="/static/namaz/namaz2020.xls">На 2020 год полностью</a>
                    </li>
                </ul>
{#                <p>
                    <a href="{{ path('widget_list') }}?desktop=true">Установить виджет "Время намазов" на свою страницу </a>
                </p>#}

            </div>
        </div>

        <div class="zeta push-double--top">
            <span class="text--label">Ваш город:</span>

                <select class="u-city_list">
                    {% for __city in cities %}
                        <option value="{{__city.path}}" {{ city.path == __city.path ? "selected" : "" }}>{#<a href="{{ path('namaz', {city:__city.path}) }}" class="link-dotted">#}{{ __city.title }}{#</a>#}</option>
                    {% endfor %}
                </select>

{#            <a href="#" class="link-dashed" data-toggle="popover-namaz-page" data-placement="right" data-class="popover-1">{{ city.title }}</a>
            <script type="text/html" role="popover-content">
                <ul class="u-city_list">
                    {% for __city in cities %}
                        <li><a href="{{ path('namaztime', {city:__city.path}) }}" class="link-dotted">{{ __city.title }}</a></li>
                    {% endfor %}
                </ul>
            </script>#}

        </div>

        <div class="tags_filter zeta push--top">
            <span class="text--label">Показать:</span>
            <ul class="tags_filter__items">
                <li class="tags_filter__item active">
                    <a href="#" class="link-dashed" data-type="week">На неделю</a>
                </li>
                <li class="tags_filter__item ">
                    <a href="#" class="link-dashed" data-type="month">На месяц</a>
                </li>
            </ul>
        </div>

        <table class="table table-striped push--top"  style="width:100%">
            <thead>
            <tr>
                <th  style="width:40%;text-align: left;"><h4>Дата</h4></th>
                <th class="one-eighth" style="width:10%;text-align: left;"><h4>Фаджр</h4></th>
                <th class="one-eighth" style="width:10%;text-align: left;"><h4>Восход</h4></th>
                <th class="one-eighth" style="width:10%;text-align: left;"><h4>Зухр</h4></th>
                <th class="one-eighth" style="width:10%;text-align: left;"><h4>Аср</h4></th>
                <th class="one-eighth" style="width:10%;text-align: left;"><h4>Магриб</h4></th>
                <th class="one-eighth" style="width:10%;text-align: left;"><h4>Иша</h4></th>
            </tr>
            </thead>
            <tbody>
            {% for time in times %}
                <tr  {% if loop.index is odd %} style="background: #eee;" {% endif %} class="{% if loop.index > 7 %}month{% endif %}">
                    <td>{{ time.date | format_date('d MMMM Y г., EEEE') }}</td>
                    <td>{{ time.fajr.format('H:i') }}</td>
                    <td>{{ time.tulu.format('H:i') }}</td>
                    <td>{{ time.zuhr.format('H:i') }}</td>
                    <td>{{ time.asr.format('H:i') }}</td>
                    <td>{{ time.maghrib.format('H:i') }}</td>
                    <td>{{ time.isha.format('H:i') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <img src="/static/images/rabby.jpg" alt="Намаз"/>
        {{ render(controller('IslamTodayApplicationBundle:Common:socialShare')) }}

    </div>
{% endblock %}
{% block rightSidebar %}{% endblock %}
