<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{{ asset('static/javascripts/vendor/retroclock/jquery.xdretroclock.js') }}"></script>
    <script src="{{ asset('static/bower_components/select2/select2.min.js') }}"></script>
{#    <script src="{{ asset('static/javascripts/bootstrap-popover.js') }}"></script>#}

    <link rel="stylesheet" href="{{ asset('static/compiled/external.css') }}">
    <style>
        body {
        {% if app.request.get('bg') %} background-color: #{{ app.request.get('bg') }};
        {% else %} background-color: #ee9432;{% endif %} 
            background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
            background-size: 100%;
        }

.select2-container .select2-choice div {
    {% if app.request.get('color2') %} background-color: #{{ app.request.get('color2') }};
    {% else %} background-color: #eb7f29;{% endif %}

}

.select2-container .select2-choice, .select2-container-active .select2-choice, .select2-container.select2-drop-above .select2-choice {
    {% if app.request.get('color2') %} background-color: #{{ app.request.get('color2') }};
    {% else %} background-color: #eb7f29;{% endif %}
background-image: none;
}

        .widget_container {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            margin: auto auto;
            height: 302px;
        }
    </style>
</head>
<body>
<div class="widget_container">
    <div class="w-services__item  js_namaztime_widget_container opened">
        <div class="w-services__item__title"><a href="{{ path('namaztime', {city:city.path}) }}" target="_blank" data-action="toggle-service">Время намазов</a></div>
        <div class="w-services__item__body">
            <div class="ws-namaz-time">
                <div class="ws-namaz-time__city">
                    <select class="js_city_select">
                        {% for __city in cities %}
                            <option {% if city == __city %}selected{% endif %} value="{{ __city.path }}">{{ __city.title }}</option>
                        {% endfor %}
                    </select>
                </div>

                <ul class="ws-namaz-time__schedule">
                    <li>
                        <div class="target">Фаджр</div>
                        <div class="time"></div>
                    </li>
                    <li>
                        <div class="target">Восход</div>
                        <div class="time"></div>
                    </li>
                    <li>
                        <div class="target">Зухр</div>
                        <div class="time"></div>
                    </li>
                    <li>
                        <div class="target">Аср</div>
                        <div class="time"></div>
                    </li>
                    <li>
                        <div class="target">Магриб</div>
                        <div class="time"></div>
                    </li>
                    <li class="active">
                        <div class="target">Иша</div>
                        <div class="time"></div>
                    </li>
                </ul>

                <div class="ws-namaz-time__next">
                    <div class="ws-namaz-time__next__title">Следующий намаз через:</div>
                    <div class="ws-namaz-time__next__val">
                        <div class="ws-namaz-time__clock">
                            <div id="retroclockbox" data-today="{{ todayData | json_encode }}" data-tomorrow="{{ tomorrowData | json_encode }}"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="w-services__item__more"><a href="{{ path('namaztime', {city:city.path}) }}" target="_blank">Подробнее</a></div>
    </div>
</div>
<script>
    var widget_times = {
        {% if app.request.get('bg') %} color1: '#{{ app.request.get('bg') }}'
        {% else %} color1: '#f1a93c'{% endif %},

        {% if app.request.get('color2') %} color1: '#{{ app.request.get('color2') }}'
        {% else %} color2: '#eb7f29'{% endif %},

        {% if app.request.get('city') %} city: '#{{ app.request.get('city') }}'
        {% else %} ccity: 'kazan'{% endif %},


    }, colors;

/*    if (typeof window.parent.widget_times !== 'undefined') {
        widget_times = window.parent.widget_times;
    }*/
//    $('body, .widget_container').css('width', widget_times.width);

    //$('body').css({'background-color': '#' + widget_times.color1,});

    var interval;

    window.scheduleHandler = {
        // Расписание на сегодня
        scheduleToday: [],
        scheduleTomorrow: [],
        activeIndex: 0,

        // Выбор расписание
        selectSchedule: function () {
            var d = new Date();

            if (d < this.scheduleToday.slice(-1)[0]) {
                this.actualSchedule = this.scheduleToday;
            } else { //if (d < this.scheduleTomorrow.slice(-1)[0]) {
                this.actualSchedule = this.scheduleTomorrow;
            }
        },

        // Получение ближайшего времени намаза
        getNearestTime: function () {
            var d = new Date();
            for (var i = 0; i < this.actualSchedule.length; i++) {
                if ((i == 0 || this.actualSchedule[i - 1] < d) && d < this.actualSchedule[i]) {
                    this.activeIndex = i;
                    break;
                }
            } // for
            return this.actualSchedule[this.activeIndex];
        },

        // Получение следующего времени намаза
        getNextTime: function () {
            this.activeIndex++;
            if (typeof this.actualSchedule[this.activeIndex] == 'undefined') {
                this.selectSchedule();
                this.activeIndex = 0;
            }
            return this.actualSchedule[this.activeIndex];
        },

        // Задание счетчика
        updateCounter: function (time, clock) {
            var diffCounter, diffString;
            clock.xdretroclock({
                showSecond: 0
            });
            clock.time(this.calcTimeDiff(time));
        },
        calcTimeDiff: function (time) {
            var d, diff, out;
            d = new Date();
            diff = time - d;
            if (diff <= 0) {
                out = 0;
            }
            else {
                out = convertDateToUTC(new Date(diff));
            }
            return out;
        },
        setCounter: function (time, clock) {
            var _this = this;

            this.updateCounter(time, clock);

            interval = setInterval(function () {
                var d, diff;
                return;
                d = new Date();
                diff = _this.calcTimeDiff(time);
                if (diff === 0) {
                    time = _this.getNextTime();
                    _this.updateCounter(time, clock);
                    _this.fillScheduleTable();
                }

                if (d.getSeconds() == 0) {
                    _this.updateCounter(time, clock);
                }
                _this.updateCounter(time, clock);
            }, 1000);
        },
        fillScheduleTable: function () {
            // Заполнение времени
            for (var i = 0; i < this.actualSchedule.length; i++) {
                var minutes = this.actualSchedule[i].getMinutes();
                minutes = minutes > 9 ? minutes : '0' + minutes;
                $('.ws-namaz-time__schedule li').eq(i).find('.time').html(this.actualSchedule[i].getHours() + ':' + minutes);
            }
            $('.ws-namaz-time__schedule li').removeClass('active');
            $('.ws-namaz-time__schedule li').eq(this.activeIndex).addClass('active');
        },
        pickData: function (selector) {
            this.scheduleToday = selector.data('today');
            this.scheduleTomorrow = selector.data('tomorrow');
        },
        // init
        init: function (clock) {
            this.pickData(clock);
            for (var i = 0; i < this.scheduleToday.length; i++) {
                this.scheduleToday[i] = new Date(this.scheduleToday[i]);
                this.scheduleTomorrow[i] = new Date(this.scheduleTomorrow[i]);
            }

            this.selectSchedule();
            this.setCounter(this.getNearestTime(), clock);
            this.fillScheduleTable();
            return this;
        }
    }.init($("#retroclockbox")); // Object

    $(".js_city_select").select2();

    $(document).on('change', ".js_city_select", function () {
        $.ajax({
            type: 'POST',
            url: '{{ path('namaztime_widget_extenral') }}',
            data: {'city': $(this).val()},
            error: function (jqXHR, textStatus, errorThrown) {

            },
            success: function (data, textStatus, jqXHR) {
                clearInterval(interval);
                $('.js_namaztime_widget_container').html($(data).find('.js_namaztime_widget_container'));
                /*$('[data-toggle=popover]').popover({
                 html: true,
                 trigger: 'click'
                 });*/

                $(".js_city_select").select2();

                window.scheduleHandler.init($("#retroclockbox"));

                $('.select2-choice').css({
                    'background': '#' + widget_times.color2,
                });
            }
        });
    });

    $('.select2-choice').css({
        'background': '#' + widget_times.color2,
    });


    function convertDateToUTC(date) {
        return new Date(date.getUTCFullYear(), date.getUTCMonth(), date.getUTCDate(), date.getUTCHours(), date.getUTCMinutes(), date.getUTCSeconds());
    }

    function declOfNum(number, titles) {
        var cases = [2, 0, 1, 1, 1, 2];
        return titles[(number % 100 > 4 && number % 100 < 20) ? 2 : cases[(number % 10 < 5) ? number % 10 : 5]];
    }


</script>
</body>
</html>
