<div class="ws-namaz-time">
    <ul class="ws-namaz-time__schedule">
        <li>
            <div class="times">
                <div class="target">Фаджр</div>
                <div class="time"></div>
            </div>
        </li>
        <li>
            <div class="times">
                <div class="target">Восход</div>
                <div class="time"></div>
            </div>
        </li>
        <li>
            <div class="times">
                <div class="target">Зухр</div>
                <div class="time"></div>
            </div>
        </li>
        <li>
            <div class="times">
                <div class="target">Аср</div>
                <div class="time"></div>
            </div>
        </li>
        <li>
            <div class="times">
                <div class="target">Магриб</div>
                <div class="time"></div>
            </div>
        </li>
        <li>
            <div class="times">
                <div class="target">Иша</div>
                <div class="time"></div>
            </div>
        </li>
    </ul>


</div>

<script>
    $(function () {
        var interval;
        $(".js_city_select").on('change', function () {
            $.ajax({
                type: 'POST',
                async: false,
                url: '{{ path('namaztime_widget') }}',
                data: {'city': $(this).val()},
                error: function (jqXHR, textStatus, errorThrown) {

                },
                success: function (data, textStatus, jqXHR) {
                    clearInterval(interval);
                    $('.js_namaztime_widget_container').empty();
                    $('.js_namaztime_widget_container').html(data);
                    $('[data-toggle=popover]').popover({
                        html: true,
                        trigger: 'click'
                    });
                }
            });
        });
        $('.select2').select2();
//        var clock = $('#retroclockbox').xdretroclock({
//            showSecond: 0
//        });

        function convertDateToUTC(date) {
            return new Date(date.getUTCFullYear(), date.getUTCMonth(), date.getUTCDate(), date.getUTCHours(), date.getUTCMinutes(), date.getUTCSeconds());
        }

        function declOfNum(number, titles) {
            var cases = [2, 0, 1, 1, 1, 2];
            return titles[(number % 100 > 4 && number % 100 < 20) ? 2 : cases[(number % 10 < 5) ? number % 10 : 5]];
        }

        var clock;

        var scheduleHandler = {
            scheduleToday: [ {{ todayTime.fajr.format('U') * 1000 }},
                {{ todayTime.tulu.format('U') * 1000 }},
                {{ todayTime.zuhr.format('U') * 1000 }},
                {{ todayTime.asr.format('U') * 1000 }},
                {{ todayTime.maghrib.format('U') * 1000 }},
                {{ todayTime.isha.format('U') * 1000 }}
            ],
            scheduleTomorrow: [
                {{ tomorrowTime.fajr.format('U') * 1000 }},
                {{ tomorrowTime.tulu.format('U') * 1000 }},
                {{ tomorrowTime.zuhr.format('U') * 1000 }},
                {{ tomorrowTime.asr.format('U') * 1000 }},
                {{ tomorrowTime.maghrib.format('U') * 1000 }},
                {{ tomorrowTime.isha.format('U') * 1000 }}
            ],
            activeIndex: 0,
            selectSchedule: function () {
                var d = new Date();

                if (d < this.scheduleToday.slice(-1)[0]) {
                    this.actualSchedule = this.scheduleToday;
                } else { //if (d < this.scheduleTomorrow.slice(-1)[0]) {
                    this.actualSchedule = this.scheduleTomorrow;
                }
            },
            getNearestTime: function () {
                var d = new Date();
                for (var i = 0; i < this.actualSchedule.length; i++) {
                    if ((i === 0 || this.actualSchedule[i - 1] < d) && d < this.actualSchedule[i]) {
                        this.activeIndex = i;
                        break;
                    }
                }
                return this.actualSchedule[this.activeIndex];
            },
            getNextTime: function () {
                this.activeIndex++;
                if (typeof this.actualSchedule[this.activeIndex] == 'undefined') {
                    this.selectSchedule();
                    this.activeIndex = 0;
                }
                return this.actualSchedule[this.activeIndex];
            },
            updateCounter: function (time) {
                var diffCounter, diffString;
                if (typeof clock != 'undefined') {
                    clock.time(this.calcTimeDiff(time));
                }
            },
            calcTimeDiff: function (time) {
                var d, diff, out;
                d = new Date();
                diff = time - d;
                if (diff <= 0) {
                    out = 0;
                }
                else {
                    out = convertDateToUTC(new Date(diff));
                }
                return out;
            },
            setCounter: function (time) {
                var _this = this;
                this.updateCounter(time);
                interval = setInterval(function () {
                    var d, diff;
                    d = new Date();
                    diff = _this.calcTimeDiff(time);
                    if (diff === 0) {
                        time = _this.getNextTime();
                        _this.updateCounter(time);
                        _this.fillScheduleTable();
                    }

                    if (d.getSeconds() === 0) {
                        _this.updateCounter(time);
                    }

                    _this.updateCounter(time);
                }, 1000);
            },
            fillScheduleTable: function () {
                $(".active #retroclockbox").remove();
                $(".active").removeClass("future");
                $('.ws-namaz-time__schedule li').removeClass('active');
                for (var i = 0; i < this.actualSchedule.length; i++) {
                    $('.ws-namaz-time__schedule li').eq(i).find('.time').html(("0" + this.actualSchedule[i].getHours()).slice(-2) + ':' + ("0" + this.actualSchedule[i].getMinutes()).slice(-2));
                    if (i == this.activeIndex) {

                        $('.ws-namaz-time__schedule li').eq(i).addClass('active');


                        var $clock = $("<div />").attr("id", "retroclockbox");
                        clock = $clock.xdretroclock({
                            showSecond: 0
                        });


                        $('.ws-namaz-time__schedule li').eq(i).prepend($clock);
                    }
                    if (i >= this.activeIndex) {
                        $('.ws-namaz-time__schedule li').eq(i).addClass('future');
                    }
                }

            },
            init: function () {
                for (var i = 0; i < this.scheduleToday.length; i++) {
                    this.scheduleToday[i] = new Date(this.scheduleToday[i]);
                    this.scheduleTomorrow[i] = new Date(this.scheduleTomorrow[i]);
                }
                this.selectSchedule();
                this.setCounter(this.getNearestTime());
                this.fillScheduleTable();
            }
        }.init();
    });

</script>
