{% extends ApplicationBundle ~ "::layout.html.twig" %}

{% block title %}Значения мусульманских имен, женские и мужские мусульманские имена{% endblock %}
{% block meta_descr %}Узнать значение своего имени для мусульман. Исламские имена и их значения. Самая полная информация по теме.{% endblock %}
{% block meta_keywords %}имена, значение имени, мужские имена, женские имена{% endblock %}

{% block body %}
    <div class="container content">

        <div class="row-fluid">
            <div class="span9">

                <div class="article">
                    <h1 class="article__header">Значение имени</h1>

                    <div class="article__text article__text--small">
                        Ислам - это религия, призывающая людей стремится к красоте и ко всему прекрасному. Не
                        являются исключением и имена людей, которым Ислам уделяет большое внимание. Посланник
                        Аллаха (мир ему и благословение Аллаха), являющийся для верующих мусульман примером во
                        всем, сам лично давал имена своим внукам, акцентировав свое внимание на то, чтобы Его
                        последователи давали своим потомкам хорошие и красивые имена. А праведный халиф Умар (да
                        будет им доволен Аллах) завещал отправлять послов от имени мусульман не только людей с
                        красивой внешности, но обладателей хорошего имени. И уже сегодня современные ученые
                        доказали, что хорошее имя, благоприятно влияют на психику человека.
                        {#В этом разделе вы найдете сведения о значении имени, его происхождении, узнаете о вариантах
                        толкования значений имен – от исконно русских и привычных слуху до редких и незаслуженно забытых. Вы
                        сможете узнать, что скрывается за тайной имени, на какую судьбу обрекает имя своего носителя, каков
                        характер у имен и их хозяев, и какое влияние оказывает на нас человек, названный так или иначе.#}
                    </div>
                </div>

                <div class="tags_filter zeta push-double--ends">
                    <span class="text--label">Найти имя с помощью:</span>
                    <ul class="tags_filter__items">
                        <li class="tags_filter__item active">
                            <a href="{{ path('names') }}" class="link-dashed">строки поиска</a>
                        </li>
                        <li class="tags_filter__item">
                            <a href="{{ path('names_by_letters') }}" class="link-dashed">алфавитного указателя</a>
                        </li>
                    </ul>
                </div>
                <div class="nine-twelfths push--bottom">
                    <form class="form-search form-search--type-1" method="get" action="{{ path('names') }}">
                        <input type="text" placeholder="Введите имя" class="input-medium search-query" name="q" value="{% if q is defined %}{{ q }}{% endif %}">
                        <a title="найти" class="process" href="#"></a>
                    </form>
                </div>

                {% for name in names %}
                    <div class="nine-twelfths" style="padding-bottom: 10px;">
                        <div class="delta weight--semibold">{{ name.name }} <small>{{ name.arab }}</small></div>

                        <div class="push-half--top">
                            {{ name.name }} {% if name.lang != '' %}({{ name.lang }}){% endif %} – {{ name.description }}
                        </div>
                    </div>
                {% endfor %}

                {% render controller(ApplicationBundle~':Common:socialShare') %}

            </div>
            <div class="span3">
                <div class="panel_flat sidebar_margin">
                    {% render(controller(ApplicationBundle ~ ":Default:services")) %}
                </div>

                <!-- Banner #4 -->
                <div class="iSlider" id="slider_01"></div>

                <!-- Banner #5 -->
                <div class="iSlider" id="slider_02"></div>
                <!-- Banner #6 -->
                {% render(controller(ApplicationBundle ~ ":Banners:right6")) %}

                {#<div class="panel_flat sidebar_margin">#}
                    {#<a href="http://www.irada.su" target="_blank"><img src="/static/banners/Banner_gif_01-13-4.gif" /></a>#}
                {#</div>#}
            </div>
        </div><!-- end of .row -->

    </div>
{% endblock %}