{% extends ApplicationBundle ~ "::layout.html.twig" %}

{% block title %}Значение мужского и женского имени на букву - {{ letter }}{% endblock %}
{% block meta_descr %}Значение древнего имени - {{ last15names }}{% endblock %}
{% block meta_keywords %}{{ last15names }}{% endblock %}

{% block body %}
    <div class="container content">
        <div class="row-fluid">
            <div class="span9">

                <div class="article">
                    <h2 class="article__header">Значение имени</h2>

                    <div class="article__text article__text--small">
                        В этом разделе вы найдете сведения о значении имени, его происхождении, узнаете о вариантах
                        толкования значений имен – от исконно русских и привычных слуху до редких и незаслуженно забытых. Вы
                        сможете узнать, что скрывается за тайной имени, на какую судьбу обрекает имя своего носителя, каков
                        характер у имен и их хозяев, и какое влияние оказывает на нас человек, названный так или иначе.
                    </div>
                </div>

                <div class="tags_filter zeta push-double--ends">
                    <span class="text--label">Найти имя с помощью:</span>
                    <ul class="tags_filter__items">
                        <li class="tags_filter__item">
                            <a href="{{ path('names') }}" class="link-dashed">строки поиска</a>
                        </li>
                        <li class="tags_filter__item active">
                            <a href="{{ path('names_by_letters') }}" class="link-dashed">алфавитного указателя</a>
                        </li>
                    </ul>
                </div>

                <div class="push--bottom">
                    <ul class="alphabet">
                        {% for __letter in letters %}
                            <li {% if letter == __letter %}class="active"{% endif %}><a href="{{ path('names_by_letters', {'letter': __letter}) }}">{{ __letter }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="eight-tenths">
                    {% for name in pagination %}
                        <div class="push-half--bottom">
                            <strong>{{ name.name }} {% if name.lang != '' %}({{ name.lang }}){% endif %}</strong> – {{ name.description }}
                        </div>
                    {% endfor %}
                </div>

                {{ knp_pagination_render(pagination, ApplicationBundle ~ ':Pagination:default.html.twig') }}

                {% render controller(ApplicationBundle~':Common:socialShare') %}

            </div>
            <div class="span3">
                <div class="panel_flat sidebar_margin">
                    {% render(controller(ApplicationBundle ~ ":Default:services")) %}
                </div>

                <!-- Banner #4 -->
                <div class="iSlider" id="slider_01"></div>

                <!-- Banner #5 -->
                <div class="iSlider" id="slider_02"></div>
                <!-- Banner #6 -->
                {% render(controller(ApplicationBundle ~ ":Banners:right6")) %}

                {#<div class="panel_flat sidebar_margin">#}
                    {#<a href="http://www.irada.su" target="_blank"><img src="/static/banners/Banner_gif_01-13-4.gif" /></a>#}
                {#</div>#}
            </div>
        </div><!-- end of .row -->

    </div>
{% endblock %}