<div class="w-services__item__title"><a href="{{ path('prayers') }}" data-action="toggle-service">Молитвы</a></div>
<div class="w-services__item__body">

    {% if prayer is defined and prayer is not null %}
    <div class="ws-molitva">
        <div class="ws-molitva__well">
            <a href="{{ path('prayers_single', {path:prayer.path}) }}">{{ prayer.title }}</a>
        </div>
    </div>
    {% endif %}

</div>
<div class="w-services__item__more"><a href="{{ path('prayers') }}">Посмотреть все молитвы</a></div>