{% extends "@IslamTodayApplication/New/layout.html.twig" %}


{% block title %}Ритуальные молитвы мусульман: слова обращения и поминания Аллаха{% endblock %}
{% block meta_descr %}Самая полная подборка ритуальных молитв Дуа к Аллаху. Крупнейший исламский портал на территори СНГ, все молитвы.{% endblock %}
{% block meta_keywords %}ритуальные молитвы, молитвы дуа{% endblock %}

{% block body %}
<div class="container content">

    <div class="row-fluid">
        <div class="span9">

            <div class="article">
                <h2 class="article__header">Молитвы</h2>

                <div class="article__text article__text--small ten-twelfths">
                    <p>
                        В исламе под словом молитва обычно подразумевают как ритуальную молитву (намаз), так и
                        произвольную молитву (дуа), которую также называют мольбой.
                    </p>
                    <p>
                        Помимо ритуальной молитвы мусульмане часто используют молитву-дуа. Дуа (араб. دعاء‎‎ — мольба,
                        молитва) — это произвольная молитва не имеющая условий определённого времени, состояния чистоты
                        и т. д. Мусульмане часто используют определённые молитвы в разных жизненных ситуациях, после
                        ритуальных намазов и во время зикров (поминаний Аллаха). Некоторые молитвы содержат те слова и
                        тот смысл, который определил пророк Мухаммад (мир ему и благословение Всевышнего!) во время своей пророческой миссии. Тексты этих
                        молитв являются каноническими и их изменение крайне не желательно. Так же и в Коране есть аяты,
                        которые можно назвать мольбой. Их особенностью является то, что они начинаются со слов «Господь
                        наш!» и обращены к Аллаху, при том, что согласно исламскому вероучению сам Коран является прямой
                        речью Аллаха. При чтении дуа мусульмане обычно поднимают руки на уровень плеч ладонями к лицу, а
                        по завершению протирают ими лицо.
                    </p>
                </div>
            </div>

            <div class="push-double--top">
                <ul class="list-1 enlarged">
                    {% for prayer in pagination %}
                        <li>
                            <a href="{{ path('prayers_single', {path:prayer.path}) }}" class="link-as-plain link-underlined">{{ prayer.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            {{ knp_pagination_render(pagination, ApplicationBundle ~ ':Pagination:default.html.twig') }}

        </div>
        <div class="span3">
            <div class="panel_flat sidebar_margin">
                {{ render(controller(ApplicationBundle ~ ":Default:services")) }}
            </div>

            <!-- Banner #4 -->
            <div class="iSlider" id="slider_01"></div>

            <!-- Banner #5 -->
            <div class="iSlider" id="slider_02"></div>
            <!-- Banner #6 -->
            {{ render(controller(ApplicationBundle ~ ":Banners:right6")) }}

            {#<div class="panel_flat sidebar_margin">#}
                {#<a href="http://www.irada.su" target="_blank"><img src="/static/banners/Banner_gif_01-13-4.gif" /></a>#}
            {#</div>#}
        </div>
    </div><!-- end of .row -->

</div>
{% endblock %}
