{% extends ApplicationBundle ~ "::layout.html.twig" %}

{% block title %}{{ prayer.title }}{% endblock %}
{% block meta_descr %}{{ prayer.flatContent.flatContent[:150] | striptags }}{% endblock %}
{% block meta_keywords %}{% endblock %}

{% block body %}
    <div class="container content">

        <div class="row-fluid">
            <div class="span9">

                <div class="article">
                    <h2 class="article__header">Молитвы</h2>

                    <div class="article__text">
                        <p class="epsilon"> {{ prayer.title }}</p>
                        {{ prayer.flatContent.flatContent | raw }}
                    </div>


                    <div class="link-highlighted">
                        &larr;
                        <a href="{{ path('prayers') }}" class="link-highlighted link-underlined">Вернуться к списку</a>
                    </div>
                </div>


                {% render controller(ApplicationBundle~':Common:socialShare') %}

                <div class="push--top">
                    <div class="epsilon push-half--bottom">Читайте также:</div>
                    <ul class="list-1">
                        {% for __pray in prayers %}
                            {% if __pray != prayer %}
                                <li>
                                    <a href="{{ path('prayers_single', {path:__pray.path}) }}" class="link-as-plain link-underlined">{{ __pray.title }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>

            </div>
            <div class="span3">
                <div class="panel_flat sidebar_margin">
                    {% render(controller(ApplicationBundle ~ ":Default:services")) %}
                </div>

                <!-- Banner #4 -->
                <div class="iSlider" id="slider_01"></div>

                <!-- Banner #5 -->
                <div class="iSlider" id="slider_02"></div>
                <!-- Banner #6 -->
                {% render(controller(ApplicationBundle ~ ":Banners:right6")) %}

                {#<div class="panel_flat sidebar_margin">#}
                    {#<a href="http://www.irada.su" target="_blank"><img src="/static/banners/Banner_gif_01-13-4.gif" /></a>#}
                {#</div>#}
            </div>
        </div><!-- end of .row -->

    </div>
{% endblock %}