{% extends "@IslamTodayApplication/New/layout.html.twig" %}


{% block title %}Расписание времени поста для месяца Рамадан - 2020 намаза{% endblock %}
{% block meta_descr %}Расписание времени поста для месяца Рамадан - 2020 информационно-аналитического портала islam-today.ru{% endblock %}
{% block meta_keywords %}Расписание, Рамадан, 2020{% endblock %}

{% block content %}
    <script>
        jQuery(function () {

            $(document).on("change", ".u-city_list", function() {
                location.href = "/namazramadan/?city="+$(this).val();
                return false;
            });

            $('[data-toggle=popover-namaz-page] + [role=popover-content]').each(function (e) {
                var switcher = $(this).prev('[data-toggle=popover-namaz-page]');
                switcher.data('content', $(this).html());
            });

            $('[data-toggle=popover-namaz-page]').popover({
                html: true,
                trigger: 'manual'
            }).on('click', function (e) {
                e.preventDefault();

                if ($(this).next('div.popover:visible').length) {
                    return;
                }

                $(this).popover('show');
                var popover = $(this).data('popover');
                popover.$tip.addClass(popover.$element.attr("data-class"));

                // handle clicking on the popover itself
                $('.popover').off('click').on('click', function (e) {
                    //e.stopPropagation(); // prevent event for bubbling up => will not get caught with document.onclick
                });

                e.stopPropagation();
            });

            $(document).on('click', function (e) {
                $('[data-toggle=popover-namaz-page]').popover('hide');
            });


        });
    </script>
    <div class="main">


        <div class="article">
                    <h1 class="article__header">Время сухура и ифтара на 2020 год</h1>

                    <div class="article__text article__text--small">
<p>Рамадан – Священный месяц для мусульман. Именно в этот месяц Всевышний Создатель ниспослал первые аяты Благородного Корана. В Рамадан мусульмане соблюдают обязательный пост, который призван напомнить людям о всемогуществе Аллаха, показать, насколько тяжело нуждающимся людям, а также призвать к духовной нравственности и очищению.</p>
<p>Во время сухура и ифтара необходимо читать следующие дуа:</p>
<p>Намерение, которое произносят после сухура:</p>
<p style="text-align: right">نَوَيْتُ أَنْ أَصُومَ صَوْمَ شَهْرِ رَمَضَانَ مِنَ الْفَجْرِ إِلَى الْمَغْرِبِ خَالِصًا لِلَّهِ تَعَالَى</p>
<p>Навайту ан-асуума саума шяхри рамадаан миняль-фаджри иляль-магриби хаалисан лилляяхи тя’ааля</p>
<p>Перевод: «Я вознамерился держать пост месяца Рамадан от рассвета до заката искренне ради Аллаха»</p>
<p>Молитва (дуа), читаемая после разговения (ифтара):</p>
<p  style="text-align: right">اَللَّهُمَّ لَكَ صُمْتُ وَبِكَ أَمَنْتُ وَعَلَيْكَ تَوَكَّلْتُ وَعَلَى رِزْقِكَ أَفْطَرْتُ <br>
فَاغْفِرْ لِى يَا غَفَّارُ مَا قَدَّمْتُ وَمَا أَخَّرْتُ</p>
<p>Аллахумма лякя сумту, ва бикя ааманту, ва ‘аляйкя таваккяльту, ва ‘аля ризкыкя афтарту, фагфирлии йя гаффаару маа каддамту ва маа аххарту</p>
<p>Перевод: “О Аллах, ради Тебя я постился, в Тебя уверовал, на Тебя положился, Твоей пищей разговелся. О, Прощающий, прости мне грехи, что я совершил или совершу”</p>

<p><a href="/static/namaz/namaz.pdf">Скачать расписание сухура и ифтара</a></p>
                    </div>
                    
                </div>

                <div class="zeta push-double--top">
                    <span class="text--label">Ваш город:</span>

{#                    <a href="#" class="link-dashed" data-toggle="popover-namaz-page" data-placement="right" data-class="popover-1">{{ city.title }}</a>
                    <script type="text/html" role="popover-content">
                        <ul class="u-city_list" style="width:560px;">
                            {% for __city in cities %}
                                <li style="width:33%;"><a href="{{ path('namazramadan', {city:__city.path}) }}&desktop=true" class="link-dotted">{{ __city.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </script>#}
                <select class="u-city_list">
                    {% for __city in cities %}
                        <option value="{{__city.path}}" {{ city.path == __city.path ? "selected" : "" }}>{#<a href="{{ path('namaz', {city:__city.path}) }}" class="link-dotted">#}{{ __city.title }}{#</a>#}</option>
                    {% endfor %}
                </select>
                </div>

                <table class="table table-striped push--top"  style="width: 100%">
                    <thead>
                    <tr>
                        <th style="width:40%;"><h5>Дата</h5></th>
                        <th class="one-eighth" style="width:10%;text-align: left;"><h5>Фаджр (окончание сухура)</h5></th>
{#                        <th class="one-eighth" style="width:10%;text-align: left;"><h5>Фаджр</h5></th>#}
                        <th class="one-eighth"><h5>Восход</h5></th>
                        <th class="one-eighth" style="width:10%;text-align: left;"><h5>Зухр</h5></th>
                        <th class="one-eighth" style="width:10%;text-align: left;"><h5>Аср</h5></th>
                        <th class="one-eighth" style="width:10%;text-align: left;"><h5>Магриб (Ифтар)</h5></th>
                        <th class="one-eighth" style="width:10%;text-align: left;"><h5>Иша</h5></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for time in times %}
                        <tr   {% if loop.index is odd %} style="background: #eee;" {% endif %}>
                            <td>{{ time.date | format_date('d MMMM Y г., EEEE') }}</td>
                            <td class="">{{ time.time1.format('H:i') }}</td>
{#                            <td>{{ time.time2.format('H:i') }}</td>#}
                            <td>{{ time.time3.format('H:i') }}</td>
                            <td>{{ time.time4.format('H:i') }}</td>
                            <td>{{ time.time5.format('H:i') }}</td>
                            <td  class="">{{ time.time6.format('H:i') }}</td>
                            <td>{{ time.time7.format('H:i') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <img src="/static/images/rabby.jpg" alt="Намаз"/>

            </div>
        </div><!-- end of .row -->

    </div>
    <style>
        .one-eighth {
            width: 9%;
            text-align: left;
        }
        .bold {
            font-weight: bold;
        }
    </style>
{% endblock %}
{% block rightSidebar %}{% endblock %}

