{#<ul class="like_buttons" style="width: 700px;">#}
    {#<li>#}
        {#<!-- Put this script tag to the place, where the Share button will be -->#}
        {#<script type="text/javascript"><!--#}
            {#document.write(VK.Share.button(false,{type: "link", text: "Сохраню эту статью"}));#}
            {#--></script>#}
    {#</li>#}
    {#<li>#}
        {#<div class="fb-like" data-href="http://islam-today.ru/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>#}
    {#</li>#}
    {#<li>#}
        {#<div id="ok_shareWidget"></div>#}
        {#<script>#}
            {#!function (d, id, did, st) {#}
                {#var js = d.createElement("script");#}
                {#js.src = "http://connect.ok.ru/connect.js";#}
                {#js.onload = js.onreadystatechange = function () {#}
                    {#if (!this.readyState || this.readyState == "loaded" || this.readyState == "complete") {#}
                        {#if (!this.executed) {#}
                            {#this.executed = true;#}
                            {#setTimeout(function () {#}
                                {#OK.CONNECT.insertShareWidget(id,did,st);#}
                            {#}, 0);#}
                        {#}#}
                    {#}};#}
                {#d.documentElement.appendChild(js);#}
            {#}(document,"ok_shareWidget","http://islam-today.ru/","{width:190,height:30,st:'straight',sz:20,ck:2}");#}
        {#</script>#}
    {#</li>#}
{#</ul>#}

<ul class="like_buttons" style="width: 700px;">
    <li>
{#<script type="text/javascript" src="//yandex.st/share/share.js"
        charset="utf-8"></script>
<div class="yashare-auto-init" data-yashareL10n="ru"
     data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,moimir,gplus" data-yashareTheme="counter"  data-counter=""></div>
#}
<script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
<script src="//yastatic.net/share2/share.js"></script>
<div class="ya-share2" data-services="vkontakte,facebook,twitter,odnoklassniki,moimir,gplus,telegram" data-counter=""></div>
</li>
</ul>
