<!doctype html>
<html>
<head>
    <title>Книги издания</title>
    <meta name="viewport" content="width = device-width, minimum-scale=1, maximum-scale=1, user-scalable = no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- External JS dependencies -->
    <script type="text/javascript" src="{{ asset('static/javascripts/vendor/jquery-1.12.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('static/javascripts/underscore.js') }}"></script>
    <script type="text/javascript" src="{{ asset('static/javascripts/backbone.js') }}"></script>

    <!-- Turn.js UI Kit -->
    <script type="text/javascript" src="{{ asset('static/javascripts/turn.js') }}"></script>

    <!-- App dependencies -->
    <script type="text/javascript" src="{{ asset('static/javascripts/book.js') }}"></script>


    <!-- External CSS dependencies -->
    <script src="https://use.fontawesome.com/f0aae23d02.js"></script>

    <link rel="icon" type="image/png" href="assets/img/favicon.png?a"/>
    <link href='http://fonts.googleapis.com/css?family=Carrois+Gothic+SC' rel='stylesheet' type='text/css'>

    <!-- App CSS dependencies -->
    <link type="text/css" rel="stylesheet" href="{{ asset('static/stylesheets/book.css') }}">
    <style>
        .books {
            background-color: #dcdcdc;
            text-align: center;
        }

        .book {
            /* float: left; */
            width: 300px;
            margin: 50px;
            /*line-height: 500px;*/
            vertical-align: top;
            display: inline-block;
            *display: inline;
            zoom: 1;
            text-decoration: none;
            font-family:sans-serif;
        }

        .book img {
            width: 100%;
            display: block;
        }

        .book span {
            font-size: 18px;
            line-height: 36px;
            display: block;
            text-align: center;
            color: #000;
            text-decoration: none;
        }
        .book span.author {

        }

        .book span.title {
            font-weight: bold;
        }

    </style>
</head>
<body style="overflow: auto;">
<div class="books">
    {% for book in books %}
        <a href="{{ path("book_show", {'id' : book.id}) }}" class="book">
            <img src="{{ "/" ~ book.directory ~ "/01.jpg" }}" alt="">
            <span class="author">{{ book.author }}</span>
            <span class="title">{{ book.title }}</span>
        </a>
        {% if loop.index == 4 %}
            </div><div class="books">
        {% endif %}
    {% endfor %}
</div>

{#  <script>
      (function (i, s, o, g, r, a, m) {
          i['GoogleAnalyticsObject'] = r;
          i[r] = i[r] || function () {
                      (i[r].q = i[r].q || []).push(arguments)
                  }, i[r].l = 1 * new Date();
          a = s.createElement(o),
                  m = s.getElementsByTagName(o)[0];
          a.async = 1;
          a.src = g;
          m.parentNode.insertBefore(a, m)
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

      ga('create', 'UA-24672978-4', 'auto');
      ga('send', 'pageview');

  </script>

  <script type="text/javascript">

      FlipbookSettings = {
          options: {
              width: 1280,
              height: 920
          },

          shareMessage: '{{ book.title }}',

          pageFolder: '/{{ book.directory }}'
      };

      $(window).load(function (event) {
          $("#flipbook .page-1").addClass('animation-on');
      });
  </script>#}

</body>
</html>