<!doctype html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

    <!-- viewport -->
    <meta content="width=device-width,initial-scale=1" name="viewport">

    <!-- title -->
    <title>{{ book.title }}</title>

    <!-- add css and js for flipbook -->
    <link type="text/css" href="{{ asset('static/javascripts/book/style.css') }}" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Play:400,700">

    <script src="{{ asset('static/javascripts/book/jquery.js') }}"></script>
    <script src="{{ asset('static/javascripts/book/turn3.js') }}"></script>
    <script src="{{ asset('static/javascripts/book/jquery.fullscreen.js') }}"></script>
    <script src="{{ asset('static/javascripts/book/jquery.address-1.6.min.js') }}"></script>
    <script src="{{ asset('static/javascripts/book/wait.js') }}"></script>
    <script src="{{ asset('static/javascripts/book/onload.js') }}"></script>


    <!-- style css  -->
    <style>
        html, body {
            margin: 0;
            padding: 0;
            overflow: auto !important;
            background-color: #dcdcdc;
        }
    </style>

</head>

<body>


<!-- BEGIN FLIPBOOK STRUCTURE -->
<div id="fb5-ajax">

    <!-- BEGIN HTML BOOK -->
    <div data-current="book5" class="fb5" id="fb5">

        <!-- PRELOADER -->
        <div class="fb5-preloader">
            <div id="wBall_1" class="wBall">
                <div class="wInnerBall">
                </div>
            </div>
            <div id="wBall_2" class="wBall">
                <div class="wInnerBall">
                </div>
            </div>
            <div id="wBall_3" class="wBall">
                <div class="wInnerBall">
                </div>
            </div>
            <div id="wBall_4" class="wBall">
                <div class="wInnerBall">
                </div>
            </div>
            <div id="wBall_5" class="wBall">
                <div class="wInnerBall">
                </div>
            </div>
        </div>

        <!-- BACKGROUND FOR BOOK -->
        <div class="fb5-bcg-book"></div>

        <!-- BEGIN CONTAINER BOOK -->
        <div id="fb5-container-book">

            <!-- BEGIN deep linking -->
            <section id="fb5-deeplinking">
                <ul>
                    {% for page in pages %}
                        <li data-address="page{{ loop.index }}" data-page="{{ loop.index }}"></li>
                    {% endfor %}
                </ul>
            </section>
            <!-- END deep linking -->

            <!-- BEGIN BOOK -->
            <div id="fb5-book">

                {% for page in pages %}
                    <div data-background-image="{{ ("/" ~ page) }}" class="">
                        <div class="fb5-cont-page-book">
                            <div class="fb5-page-book"></div>
                        </div>
                    </div>
                {% endfor %}


            </div>
            <!-- END BOOK -->


            <!-- arrows -->
            <a class="fb5-nav-arrow prev"></a>
            <a class="fb5-nav-arrow next"></a>


        </div>
        <!-- END CONTAINER BOOK -->

        <!-- BEGIN FOOTER -->
        <div id="fb5-footer">

            <div class="fb5-menu" id="fb5-center">
                <ul>
                    <!-- icon_allpages -->
                    <li>
                        <a title="ВСЕ СТРАНИЦЫ" class="fb5-show-all"></a>
                    </li>

                    <!-- icon_home -->
                    <li>
                        <a title="ПЕРЕЙТИ НА ПЕРВУЮ СТРАНИЦУ" class="fb5-home"></a>
                    </li>

                </ul>
            </div>

            <div class="fb5-menu" id="fb5-right">
                <ul>
                    <!-- icon page manager -->
                    <li class="fb5-goto">
                        <label for="fb5-page-number" id="fb5-label-page-number">СТРАНИЦА</label>
                        <input type="text" id="fb5-page-number">
                        <button type="button">ПЕРЕЙТИ</button>
                    </li>
                </ul>
            </div>
        </div>
        <!-- END FOOTER -->


        <!-- BEGIN ALL PAGES -->
        <div id="fb5-all-pages" class="fb5-overlay">
            <section class="fb5-container-pages">
                <div id="fb5-menu-holder">
                    <ul id="fb5-slider">
                        {% for page in pages %}
                            <li class="{{ loop.index }}">
                                <img alt="" data-src="{{ ("/" ~ page) | imagine_filter("book_page") }}">
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
        </div>
        <!-- END ALL PAGES -->
    </div>
    <!-- END HTML BOOK -->

</div>
<!-- END FLIPBOOK STRUCTURE -->

<!-- CONFIGURATION FLIPBOOK -->
<script>

    if ($(window).width() < $(window).height()) {
        $(".fb5-nav-arrow").remove();
    }


    jQuery('#fb5').data('config',
            {
                "page_width": "550",
                "page_height": "715",
                "zoom_double_click": "1",
                "zoom_step": "0.06",
                "double_click_enabled": "true",
                "tooltip_visible": "true",
                "toolbar_visible": "true",
                "gotopage_width": "30",
                "deeplinking_enabled": "true",
                "rtl": "{{ book.rtlPlain }}",
                'full_area': 'true',
                'lazy_loading_thumbs': 'true',
                'lazy_loading_pages': 'true',
            })
</script>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-24672978-4', 'auto');
    ga('send', 'pageview');

</script>

</body>
</html>
