<!doctype html>
<html>
<head>
    <title>{{ book.title }}</title>
    <meta name="viewport" content="width = device-width, minimum-scale=1, maximum-scale=1, user-scalable = no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- External JS dependencies -->
    <script type="text/javascript" src="{{ asset('static/javascripts/vendor/jquery-1.12.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('static/javascripts/underscore.js') }}"></script>
    <script type="text/javascript" src="{{ asset('static/javascripts/backbone.js') }}"></script>

    <!-- Turn.js UI Kit -->
    <script type="text/javascript" src="{{ asset('static/javascripts/turn.js') }}"></script>

    <!-- App dependencies -->
    <script type="text/javascript" src="{{ asset('static/javascripts/book.js') }}"></script>


    <!-- External CSS dependencies -->
    <script src="https://use.fontawesome.com/f0aae23d02.js"></script>

    <link rel="icon" type="image/png" href="assets/img/favicon.png?a"/>
    <link href='http://fonts.googleapis.com/css?family=Carrois+Gothic+SC' rel='stylesheet' type='text/css'>

    <!-- App CSS dependencies -->
    <link type="text/css" rel="stylesheet" href="{{ asset('static/stylesheets/book.css') }}"></link>

    <style type="text/css">
        .page-1 .s1 {
            -webkit-transform: translateY(100px);
            -webkit-transition: all 1.5s;
            opacity: 0;
        }

        .page-1 .s2 {
            -webkit-transform: translateY(100px);
            -webkit-transition: all 1s;
            -webkit-transition-delay: 0.5s;
            opacity: 0;
            font-family: 'Carrois Gothic SC', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 40px;
            text-align: center;
            color: white;
        }

        .page-1.animation-on .s1 {
            -webkit-transform: translateY(0px);
            opacity: 1;
        }

        .page-1.animation-on .s2 {
            -webkit-transform: translateY(0px);
            opacity: 1;
        }

    </style>
</head>
<body>
<div class="catalog-app">
    <div id="viewer">
        <div id="flipbook" class="ui-flipbook">

            {% for page in pages %}
                <div>
                    <img src="{{ ("/" ~ page) }}" alt="" data-thumb="{{ ("/" ~ page) | imagine_filter("book_page") }}">
                    {#<img src="{{ ("/" ~ page) | imagine_filter("book_page") }}" alt="" data-thumb="">#}
                </div>
            {% endfor %}
            <a ignore="1" class="ui-arrow-control ui-arrow-next-page"></a>
            <a ignore="1" class="ui-arrow-control ui-arrow-previous-page"></a>
        </div>
    </div>

    <div id="controls">
        <div class="all">
            <div class="ui-slider" id="page-slider">
                <div class="bar">
                    <div class="progress-width">
                        <div class="progress">
                            <div class="handler"></div>
                        </div>
                    </div>
                </div>
            </div>
            {#
                        <div class="ui-options" id="options">
                            <a class="ui-icon" id="ui-icon-table-contents">
                                <i class="fa fa-bars"></i>
                            </a>
                            <a class="ui-icon show-hint" title="Miniatures" id="ui-icon-miniature">
                                <i class="fa fa-th"></i>
                            </a>
                            <a class="ui-icon" id="ui-icon-zoom">
                                <i class="fa fa-file-o"></i>
                            </a>
                            <a class="ui-icon show-hint" title="Share" id="ui-icon-share">
                                <i class="fa fa-share"></i>
                            </a>
                            <a class="ui-icon show-hint" title="Full Screen" id="ui-icon-full-screen">
                                <i class="fa fa-expand"></i>
                            </a>
                            <a class="ui-icon show-hint" id="ui-icon-toggle">
                                <i class="fa fa-ellipsis-h"></i>
                            </a>
                        </div>#}

            <!-- zoom slider -->
            <div id="zoom-slider-view" class="zoom-slider">
                <div class="bg">
                    <div class="ui-slider" id="zoom-slider">
                        <div class="bar">
                            <div class="progress-width">
                                <div class="progress">
                                    <div class="handler"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="miniatures" class="ui-miniatures-slider">
    </div>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-24672978-4', 'auto');
        ga('send', 'pageview');

    </script>

    <script type="text/javascript">

        FlipbookSettings = {
            options: {
                width: 1170,
                height: 920
            },
            shareMessage: '{{ book.title }}',
            pageFolder: '/{{ book.directory }}',
        };


        $(window).load(function (event) {
            $("#flipbook .page-1").addClass('animation-on');
        });

    </script>

</body>
</html>
