{% if pageCount > 1 %}
    <div class="default_pagination">
        <ul>
            <li class="pointer">
                {% if previous is defined %}
                    <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}">&larr;&nbsp;</a>
                {% else %}
                    <span>&larr;&nbsp;</span>
                {% endif %}
            </li>
            {% if startPage > 1 %}
                <li>
                    <a href="{{ path(route, query|merge({(pageParameterName): 1})) }}">1</a>
                </li>
                {% if startPage == 3 %}
                    <li>
                        <a href="{{ path(route, query|merge({(pageParameterName): 2})) }}">2</a>
                    </li>
                {% elseif startPage != 2 %}
                    <li class="disabled">
                        <span>&hellip;</span>
                    </li>
                {% endif %}
            {% endif %}

            {% for page in pagesInRange %}
                {% if page != current %}
                    <li>
                        <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                    </li>
                {% else %}
                    <li class="active">
                        <span>{{ page }}</span>
                    </li>
                {% endif %}

            {% endfor %}

            {% if pageCount > endPage %}
                {% if pageCount > (endPage + 1) %}
                    {% if pageCount > (endPage + 2) %}
                        <li class="disabled">
                            <span>&hellip;</span>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ path(route, query|merge({(pageParameterName): (pageCount - 1)})) }}">{{ pageCount -1 }}</a>
                        </li>
                    {% endif %}
                {% endif %}
                <li>
                    <a href="{{ path(route, query|merge({(pageParameterName): pageCount})) }}">{{ pageCount }}</a>
                </li>
            {% endif %}
            <li class="pointer">
                {% if next is defined %}
                    <a href="{{ path(route, query|merge({(pageParameterName): next})) }}">&nbsp;&rarr;</a>
                {% else %}
                    <span>&nbsp;&rarr;</span>
                {% endif %}
            </li>
        </ul>
    </div>
{% endif %}
