{% extends ApplicationBundle ~ "::layout.html.twig" %}

{% block title %}{% if category.meta.title is not empty %}{{ category.meta.title }}{% else %}{{ category.title }}{% endif %}{% endblock %}

{% block meta_descr %}{% if category.meta.descr is not empty %}{{ category.meta.descr }}{% endif %}{% endblock %}
{% block meta_keywords %}{% if category.meta.keywords is not empty %}{{ category.meta.keywords }}{% endif %}{% endblock %}

{% block body %}
    <div class="container content">

    <div class="row-fluid">
    <!-- Main Content -->
    <div class="span9">

        <h3 class="page-header">Кто есть кто</h3>

        <div class="article_list">
            {% for article in pagination %}
                {% set preview -%}
                    {% render controller(ApplicationBundle ~':Preview:getUrl', {'article':article, 'typeId': 200}) %}
                {%- endset %}

                <div class="article_list__item">
                    <a href="{{ path('whoiswho_single', {title_path:article.path}) }}" class="article_intro">
                        <img src="{{ preview }}" alt="{{ article.title }}" class="article_intro__image">
                        <div class="article_intro__wrapper">
                            <div class="article_intro__meta">
                                <div class="article_intro__date">{{ article.publishedAt | format_date('dd MMMM') }} {{ article.publishedAt | date('Y H:i') }}</div>
                                <div class="article_intro__indicators">
                                    <div class="indicator__watch"><i class="icon"></i> <span class="val"> {{ article.getViewCnt.cnt }}</span></div>
                                    <div class="indicator__comment"><i class="icon"></i> <span class="val"> {{ article.commentsCount }}</span></div>
                                </div>
                            </div>
                            <div class="article_intro__header">
                                {{ article.title }}
                            </div>
                            <div class="article_intro__text">
                                {{ article.shortAnounce }}
                                <div class="article_intro__more">Читать далее &rarr;</div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>

        {{ knp_pagination_render(pagination, ApplicationBundle ~ ':Pagination:default.html.twig') }}
    </div>

    <!-- Sidebar -->
    <div class="span3">

        {% render(controller(ApplicationBundle ~ ':Default:recentNews')) %}
        {% render(controller(ApplicationBundle ~ ":Banners:right1")) %}

        <div class="panel_flat sidebar_margin">
            {% render(controller(ApplicationBundle ~ ":Default:services")) %}
        </div>

        <!-- Banner #4 -->
        <div class="iSlider" id="slider_01"></div>
        <!-- Banner #5 -->
        <div class="iSlider" id="slider_02"></div>
        <!-- Banner #6 -->
        {% render(controller(ApplicationBundle ~ ":Banners:right6")) %}


        <div class="panel_flat sidebar_margin">
        {% render(controller(ApplicationBundle ~ ':Default:photo')) %}
    </div>

        {#<div class="panel_flat sidebar_margin">#}
            {#<a href="http://www.irada.su" target="_blank"><img src="/static/banners/Banner_gif_01-13-4.gif" /></a>#}
        {#</div>#}

    <div class="panel_flat sidebar_margin">
        {% render(controller(ApplicationBundle ~ ':Default:video')) %}
    </div>

    </div>
    </div>

    </div>
{% endblock %}