<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}Исламский, мусульманский сайт - Islam-Today.ru - Ислам Сегодня{% endblock %}</title>
        <meta name="description" content="{% block meta_descr %}Мы рады приветствовать вас на официальном исламском сайте Ислам Сегодня. Новости, ответы на свои вопросы, связанные с Исламом – религией мира и добра.{% endblock %}">
        <meta name="keywords" content="{% block meta_keywords %}Ислам дiнi сайты, ислам онлайн, ислам сайты, ислам читать, исламские интернет сайты, исламские сайты, исламские сайты вопросы и ответы, исламские сайты россии, лучшие исламские сайты, международный мусульманский сайт, мусульманский сайт, мусульманский форум, официальный исламский сайт, сайт для мусульманок{% endblock %}">
        <meta name="viewport" content="width=device-width">
        <meta name="wot-verification" content="f30bf76a76eb9b87eaa4"/>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    {% endblock %}
    {% block og %}
    <meta name="og:title" content=">{% block ogtitle %}Исламский, мусульманский сайт - Islam-Today.ru - Ислам Сегодня{% endblock %}">
    <meta name="og:description" content="{% block ogmeta_descr %}Мы рады приветствовать вас на официальном исламском сайте Ислам Сегодня. Новости, ответы на свои вопросы, связанные с Исламом – религией мира и добра.{% endblock %}">
    <meta name="og:keywords" content="{% block ogmeta_keywords %}Ислам дiнi сайты, ислам онлайн, ислам сайты, ислам читать, исламские интернет сайты, исламские сайты, исламские сайты вопросы и ответы, исламские сайты россии, лучшие исламские сайты, международный мусульманский сайт, мусульманский сайт, мусульманский форум, официальный исламский сайт, сайт для мусульманок{% endblock %}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://islam-today.ru">
{% endblock %}
{#    "static/stylesheets/jquery-ui.min.css"
#}
    {% stylesheets
    "static_new/bower_components/flexslider/css/flexslider.css"
    "static/stylesheets/jquery-ui.min.css"
    "static_new/css/main.css" %}

    <link rel="preload" href="//islam-today.ru/static_new/fonts/manrope-light.woff" as="font">
    <link rel="preload" href="//islam-today.ru/static_new/fonts/manrope-regular.woff" as="font">
    <link rel="preload" href="//islam-today.ru/static_new/fonts/manrope-medium.woff" as="font">

    <link rel="stylesheet" href="{{ asset_url }}"/>

    {% endstylesheets %}

    {% block stylesheets %}{% endblock %}

    {% javascripts
    "static/javascripts/jquery-1.12.4.min.js"
    "static/javascripts/jquery-ui.min.js"
    "static/javascripts/jquery-ui-i18n.min.js"
    "static/javascripts/vendor/select2/select2.js"
    "static/javascripts/vendor/retroclock/jquery.xdretroclock.js"
    "static_new/bower_components/flexslider/js/jquery.flexslider.js"
    "static/javascripts/hls.js"

    "static_new/js/main.js" %}

    <script src="{{ asset_url }}"></script>

    {% endjavascripts %}

    {% block javascripts %}{% endblock %}

    <link rel="alternate" media="only screen and (max-width: 640px)" href="http://m.islam-today.ru{{ app.request.pathInfo }}">

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-24672978-4', 'auto');
        ga('send', 'pageview');

    </script>
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?115"></script>
    <script type="text/javascript" src="//vk.com/js/api/share.js?90" charset="utf-8"></script>
    <script type="application/ld+json">
        {
         "@context": "http://schema.org",
         "@type": "WebSite",
         "url": "http://islam-today.ru/",
         "potentialAction": {
         "@type": "SearchAction",
         "target": "http://islam-today.ru/search/?q={search_term_string}",
         "query-input": "required name=search_term_string"
         }
        }




    </script>
</head>
<body>
<a href="https://plus.google.com/112837563172408964888" rel="publisher"></a>
<div id="fb-root"></div>
<script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

{% block bodyTag %}{% endblock %}
{#<a class="scrollup" href="#">Scroll</a>#}
{#<a class="home" href="/">Home</a>#}
</body>
</html>
