{% block header %}
    <header>
        {{ render(controller("SCBannersBundle:Default:getBanner", {id: 1, class: "", style: "text-align: center;max-height: 90px;margin: 0 auto;max-width: 1400px;"})) }}
        <div class="container header">
            <div class="header__logo">
                <div class="logo logo--header">
                    <a href="/" class="logo__image"></a>
                </div>
                {{ render(controller('IslamTodayApplicationBundle:NewDefault:townSelect')) }}

            </div>
            <div class="namaz-top-widget">
                {{ render(controller('IslamTodayApplicationBundle:Service:getNamaztimeWidgetNew')) }}
            </div>
{#            <div class="nisab">
		<div><span class="nisab-title">Нисаб закята</span><a href="#" class="nisab-article">?</a></div>
                <div class="nisab-sum">{{ nisab }} P</div>
            </div>#}
            <div class="search-block-container">
                <form class="search-block" action="{{ path('search') }}" method="get" {% if app.request.get('_route') == 'islam_today_homepage' %}style="width:400px;"{% endif %}>
                    <input type="text" name="q" class="search-block__field" placeholder="Поиск по сайту" autocomplete="off">
                </form>
            </div>
            <div class="side-menu">
                <a href="#" class="button">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                    <span class="icon-close"></span>
                    {#<span class="icon-arrow"></span>#}
                </a>
                <div class="search">
                    <form action="{{ path('search') }}">
                        <input type="text" name="q" class="search-block__field" placeholder="Поиск по сайту">
                    </form>
                </div>
                <div class="menu">
                    <ul class="links">
                        <li><a href="/novosti/">Новости</a></li>
                        <li><a href="/svetskie_novosti/">Другие новости</a></li>
                        <li><a href="/veroucenie/">Вероучение</a></li>
                        <li><a href="/veroucenie/vopros-otvet/">Вопрос-Ответ</a></li>
                        <li><a href="/zhenshhina_v_islame/">Женщина в Исламе</a></li>
                        <li><a href="/istoria/">История</a></li>
                        {#<li><a href="/ekonomika/">Экономика</a></li>#}
                        <li><a href="/obsestvo/">Общество</a></li>
                        <li><a href="/islam_v_rossii/tatarstan/">Татарстан</a></li>
                    </ul>
                </div>
                <div class="menu sub-menu">
                    <ul class="links">
                        <li><a href="/namaztime/">Расписание намазов</a></li>
			<li><a href="/ramadan/">Рамадан</a></li>
                        <li><a href="/istoria-prorokov/">История пророков</a></li>
                        <li><a href="/uroki-namaza/">Уроки намаза</a></li>
                        <li><a href="/dua-na-kazdyj-den/">Дуа на каждый день</a></li>
                        <li><a href="//old.islam-today.ru/">Старая версия сайта</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
