{% block footer %}
    <footer>
        <div class="container">
            <div class="row">

                <div class="links_container">
                    <div class="col1">
                        <div style="display: flex;">
                            <div style="width: 180px;">
                                <ul class="links">
                                    <li><a href="/islam_v_mire/"><b>В мире</b></a></li>
                                    <li><a href="/islam_v_mire/bliznij-vostok/">Ближний восток</a></li>
                                    <li><a href="/islam_v_mire/centralnaa-i-srednaa-azia/">Центральная Азия и Иран</a></li>
                                    <li><a href="/islam_v_mire/zapad/">Запад</a></li>
                                    <li><a href="/islam_v_mire/arabskij-mir-i-afrika/">Арабский мир и Африка</a></li>
                                    <li><a href="/islam_v_mire/turcia/">Турция</a></li>
                                    <li><a href="/islam_v_mire/ostalnoj-mir/">Остальной мир</a></li>
                                </ul>
                                <ul class="links">
                                    <li><a href="/islam_v_rossii/"><b>В России</b></a></li>
                                    <li><a href="/islam_v_rossii/tatarstan/">Татарстан</a></li>
                                </ul>
                            </div>
                            <div style="width: 146px;">
                                <ul class="links">
                                    <li><a href="/ekonomika/"><b>Экономика</b></a></li>
                                </ul>
                                <ul class="links">
                                    <li><a href="/politika/"><b>Политика</b></a></li>
                                </ul>
                                <ul class="links">
                                    <li><a href="/obsestvo/"><b>Общество</b></a></li>
                                    <li><a href="/obsestvo/obrazovanie/">Образование</a></li>
                                    <li><a href="/obsestvo/kultura/">Культура</a></li>
                                    <li><a href="/obsestvo/nauka-i-tehnologii/">Наука и технологии</a></li>
                                    <li><a href="/obsestvo/raznoe/">Разное</a></li>
                                    <li><a href="/obsestvo/radioazan/">Радио Azan</a></li>
                                    <li><a href="/obsestvo/igry/">Игры</a></li>
                                </ul>
                            </div>
                            <div style="width: 207px;">
                                <ul class="links">
                                    <li><b><a href="/fetvy/">Фетвы</a></b></li>
                                </ul>
                                <ul class="links">
                                    <li><a href="/blogi/"><b>Блоги</b></a></li>
                                    <li><a href="/blogi/kamil_xazrat_samigullin/">Камиль хазрат Самигуллин</a></li>
                                    <li><a href="/blogi/gsv-rossia-islamskij-mir/">ГСВ "Россия - Исламский мир"</a></li>
                                    <li><a href="/blogi/asya_gagieva/">Ася Гагиева</a></li>
                                    <li><a href="/blogi/ajdar_xajrutdinov/">Айдар Хайрутдинов</a></li>
{#                                    <li><a href="/blogi/farid-salman/">Фарид Салман</a></li>#}
{#                                    <li><a href="/blogi/rezeda-safiullina-alansi/">Резеда Сафиуллина</a></li>#}
{#                                    <li><a href="/blogi/rinat-pateev/">Ринат Патеев</a></li>#}
                                    <li><a href="/blogi/ismail-nasirbanov/">Исмаил Наширбанов</a></li>
                                </ul>
                            </div>
                            <div style="width: 181px;">
                                <ul class="links">
                                    <li><a href="/zhenshhina_v_islame/"><b>Женщина в Исламе</b></a></li>
                                    <li><a href="/zhenshhina_v_islame/vzaimootnosenia/">Взаимоотношения</a></li>
                                    <li><a href="/zhenshhina_v_islame/deti/">Дети</a></li>
                                    <li><a href="/zhenshhina_v_islame/krasota-i-zdorove/">Красота и здоровье</a></li>
                                </ul>

                                <ul class="links">
                                    <li><b><a href="/molitvy/">Молитвы</a></b></li>
                                </ul>

                                <ul class="links">
                                    <li><b><a href="/knigi-online/">Книги Online</a></b></li>
                                </ul>
                                <ul class="links">
                                    <li><a href="/press-relizy/"><b>Пресс-релизы</b></a></li>
                                </ul>
                            </div>
                            <div style="width: 127px;">
                                <ul class="links">
                                    <li><a href="/veroucenie/"><b>Вероучение</b></a></li>
                                    <li><a href="/veroucenie/poklonenie/">Поклонение</a></li>
                                    <li><a href="/veroucenie/veroubezdenie/">Вероубеждение</a></li>
                                    <li><a href="/veroucenie/nravstvennost/">Нравственность</a></li>
                                    <li><a href="/veroucenie/nacinausim/">Начинающим</a></li>
                                    <li><a href="/veroucenie/vopros-otvet/">Вопрос-Ответ</a></li>
                                </ul>
                                <ul class="links">
                                    <li><b><a href="/video-dna/">Видео дня</a></b></li>
                                </ul>

                                <ul class="links">
                                    <li><b><a href="/foto-dna/">Фото дня</a></b></li>
                                </ul>
                            </div>
                            <div style="width: 134px;">
                                <ul class="links">
                                    <li><a href="/istoria/"><b>История</b></a></li>
                                    <li><a href="/istoria/licnosti/">Личности</a></li>
                                    <li><a href="/istoria/tatarskij-mir/">Татарский мир</a></li>
                                    <li><a href="/istoria/mirovaa-istoria/">Мировая история</a></li>
                                    <li><a href="/istoria/kto-est-kto/">Кто есть кто</a></li>
                                </ul>
                                <ul class="links">
                                    <li><a href="/sport/"><b>Спорт</b></a></li>
                                </ul>
                                <ul class="links">
                                    <li><a href="/novosti/"><b>Новости</b></a></li>
                                    <li><a href="/svetskie_novosti/">Другие новости</a></li>
                                    <li><a href="/novosti-tatarstana/">Новости Татарстана</a></li>
                                </ul>
                            </div>
                        </div>
                        <ul class="secondary">
                            <li><a href="/o-nas/">О нас</a></li>
                            <li><a href="/kontakty/">Контакты</a></li>
                            <li><a href="//m.islam-today.ru">Мобильная версия</a></li>
                            <li><a href="/cookies/">Cookies</a></li>
                            <li><a href="/privacy-policy/">Политика конфиденциальности</a></li>
                            <li><a href="/seo/reklamodatelam/">Рекламодателям</a></li>
                            <li><a href="/seo/vakansii/">Вакансии</a></li>
                        </ul>
                        <div>
                            <ul class="social">
                                <li class="rss"><a href="https://islam-today.ru/rss/"></a></li>
                                <li class="vk"><a rel="nofollow" href="https://vk.com/club3963339"></a></li>
                                <li class="fb"><a rel="nofollow" href="https://www.facebook.com/islam.today.russia"></a></li>
                                <li class="ok"><a rel="nofollow" href="https://ok.ru/islam.today.russia"></a></li>
                                <li class="tw"><a rel="nofollow" href="https://twitter.com/Islamtodayru"></a></li>
                                <li class="in"><a rel="nofollow" href="https://instagram.com/islam_today_huzur"></a></li>
                                <li class="yt"><a rel="nofollow" href="https://www.youtube.com/channel/UC6Ytm9zOjwb2dZdN2hN_LiA"></a></li>
                                <li class="tg"><a rel="nofollow" href="https://t.me/islamt"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col2">
                        <div class="logo__text">
                            <p>Сетевое издание: Информационно-аналитический федеральный портал “Ислам Сегодня”. </p>
                            <p>Учредитель: Хамидуллин Ришат Ахтямович <br> Главный редактор: Миназова Л.Р.</p>
                            <p>Телефон редакции: (843) 598-09-39 <br> Электронная почта редакции: Islam_today@mail.ru</p>
                            <p>Зарегистрировано Федеральной службой по надзору в сфере связи, информационных технологий и массовых коммуникаций (Роскомнадзор). Эл № ФС77-55671 от 09.10.2013 г. </p>
                            <p>Все права на материалы опубликованные на сайте принадлежат ЧУ «Издательский дом «Хузур-Спокойствие»</p>
                            <p>Мнение авторов может не совпадать с позицией редакции. При использовании материалов, гиперссылка на сайт Islam-Today.ru обязательна.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="container">
            <div class="linksbar" id="linksbar">
                <a href="/socialnaa-doktrina-rossijskih-musulman/">Социальная доктрина</a> |
                <a href="/interaktiv/">Интерактив</a> |
                <a href="/test/">Тесты</a> |
                <a href="/concept/">Ислам и татарский мир</a> |
                <a href="/muslim-world/">Мусульманские страны</a> |
                <a href="/muslim-photos/">Мусульманские фото</a> |
                <a href="/girl-in-islam/">Личность мусульманки</a> |
                <a href="/muslim-clothing/">Одежда</a> |
                <a href="/muslim-holidays/">Праздники</a> |
                <a href="/dream-book-sunnah/">Сонник</a> |
                <a href="/muslim-symbols/">Символы</a> |
                <a href="/islam-and-other-religions/">Отношение к другим религиям</a> |
                <a href="/woman-in-islam/">Женщина в Исламе</a> |
                <a href="/love-in-islam/">Любовь</a> |
                <a href="/man-in-islam/">Муж</a> |
                <a href="/wife-in-islam/">Жена</a> |
                <a href="/muslim-family/">Семья</a> |
                <a href="/female-muslim-names/">Значение имен</a> |
                <a href="/muslim-tradition/">Обычаи</a> |
                <a href="/sins-in-islam/">Грехи</a> |
                <a href="/islamic-prayers/">Молитвы</a> |
                <a href="/afterlife-in-islam/">Загробный мир</a> |
                <a href="/sharia/">Шариат</a> |
                <a href="/islam-world-creation/">Сотворение мира в Исламе</a> |
                <a href="/religion-islam/">Ислам - религия любви и мира</a> |
                <a href="/world-of-islam/">Мир Ислама</a> |
                <a href="/muslim-shrines/">Святыни</a> |
                <a href="/islamic-poetry/">Стихи</a> |
                <a href="/muslim-community/">Школы</a> |
                <a href="/muslim-ethics/">Этика</a> |
                <a href="/muslim-clergy/">Духовенство</a> |
                <a href="/ummah/">Умма</a> |
                <a href="/modern-islam/">Современный Ислам</a> |
                <a href="/great-people-of-islam/">Пророки</a> |
                <a href="/people-in-islam/">Права человека</a> |
                <a href="/music-of-islam/">Музыка</a> |
                <a href="/prayer-time/">Время намаза</a> |
                <a href="/ahlul-sunnah-jamaa/">Ахлю Сунна</a> |
                <a href="/press/">Пресса</a> |
                <a href="/radical-movements/">Ваххабизм</a> |
                <a href="/hajj/">Хадж</a> |
                <a href="/allah/">Аллах</a> |
                <a href="/education/">Проповеди</a> |
                <a href="/spirit-of-islam/">Духовная жизнь</a> |
                <a href="/bulgars/">Булгары</a> |
                <a href="/beard/">Борода</a> |
                <a href="/eid/">Курбан-байрам</a> |
                <a href="/guria/">Гурии</a> |
                <a href="/halal/">Халяль</a> |
                <a href="/meaning-of-life/">Смысл жизни</a> |
                <a href="/sabantui/">Сабантуй</a> |
                <a href="/sunna/">Сунна</a> |
                <a href="/supporters-of-islam/">Приверженцы</a> |
                <a href="/tatars/">Татары</a> |
                <a href="/imam/">Имам</a> |
                <a href="/islam-dini/">Дiн Ислам</a> |
                <a href="/muslim-faith/">Вера</a> |
                <a href="/mosque/">Мечети</a> |
                <a href="/islam-protiv-terrora/">Ислам против террора</a> |
                <a href="/kak_prinyat_Islam/">Как принять Ислам</a> |
                <a href="/first-religion/">Самая первая религия</a> |
                <a href="/hutba-v-piatnicu/">Пятничные проповеди</a> |
                <a href="/konec-sveta/">Конец света в исламе</a> |
                <a href="/zakyat/">Фонд «Закят»</a> |
                <a href="{{ path('sitemap') }}">Карта сайта</a>
            </div>
        </div>


        <div class="container" style="margin-top: 15px;">
            {{ render(controller("SCBannersBundle:Default:getBanner", {id: 11} )) }}
        </div>


        <!--JS_PLUGIN.YandexMetrika--><!-- Yandex.Metrika counter -->
        <script type="text/javascript">
            (function (d, w, c) {
                (w[c] = w[c] || []).push(function () {
                    try {
                        w.yaCounter15786340 = new Ya.Metrika({id: 15786340, enableAll: true, webvisor: true});
                    } catch (e) {
                    }
                });

                var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () {
                        n.parentNode.insertBefore(s, n);
                    };
                s.type = "text/javascript";
                s.async = true;
                s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

                if (w.opera == "[object Opera]") {
                    d.addEventListener("DOMContentLoaded", f);
                } else {
                    f();
                }
            })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript>
            <div><img src="//mc.yandex.ru/watch/15786340" style="position:absolute; left:-9999px;" alt=""/></div>
        </noscript>
        <!-- /Yandex.Metrika counter -->
        <!-- Facebook Pixel Code -->
        <script>
            !function (f, b, e, v, n, t, s) {
                if (f.fbq)return;
                n = f.fbq = function () {
                    n.callMethod ?
                        n.callMethod.apply(n, arguments) : n.queue.push(arguments)
                };
                if (!f._fbq) f._fbq = n;
                n.push = n;
                n.loaded = !0;
                n.version = '2.0';
                n.queue = [];
                t = b.createElement(e);
                t.async = !0;
                t.src = v;
                s = b.getElementsByTagName(e)[0];
                s.parentNode.insertBefore(t, s)
            }(window,
                document, 'script', '//connect.facebook.net/en_US/fbevents.js');

            fbq('init', '476068435888321');
            fbq('track', "PageView");</script>
        <noscript><img height="1" width="1" style="display:none"
                       src="https://www.facebook.com/tr?id=476068435888321&ev=PageView&noscript=1"
            /></noscript>
        <!-- End Facebook Pixel Code -->
    </footer>
    <div class="counters">
        <div class="counters__item">
            <a href="https://metrika.yandex.ru/stat/?id=15786340&amp;from=informer" target="_blank" rel="nofollow">
                <img class="ym-advanced-informer" data-cid="15786340"  src="//bs.yandex.ru/informer/15786340/1_0_3A4046FF_1A2026FF_1_uniques" style="width:80px; height:15px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:15786340,lang:'ru'});return false}catch(e){}"/>
            </a>
        </div>
        <div>
            <script type="text/javascript">
                var _tmr = _tmr || [];
                _tmr.push({id: "2218875", type: "pageView", start: (new Date()).getTime()});
                (function (d, w) {
                    var ts = d.createElement("script");
                    ts.type = "text/javascript";
                    ts.async = true;
                    ts.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//top-fwz1.mail.ru/js/code.js";
                    var f = function () {
                        var s = d.getElementsByTagName("script")[0];
                        s.parentNode.insertBefore(ts, s);
                    };
                    if (w.opera == "[object Opera]") {
                        d.addEventListener("DOMContentLoaded", f, false);
                    } else {
                        f();
                    }
                })(document, window);
            </script>
            <noscript>
                <div style="position:absolute;left:-10000px;">
                    <img src="//top-fwz1.mail.ru/counter?id=2218875;js=na" style="border:0;" height="1" width="1" alt="Рейтинг@Mail.ru"/>
                </div>
            </noscript>
            <!-- //Rating@Mail.ru counter -->
        </div>
    </div>
{% endblock %}
