{% extends '@IslamTodayApplication/New/base.html.twig' %}

{% block stylesheets %}
    {#<link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">#}
{% endblock %}


{% block javascripts %}

{% endblock %}



{% block bodyTag %}
    <div id="page">
        {% include 'IslamTodayApplicationBundle:New:base_header.html.twig' %}
        <div class="container content">
            {% block leftSidebar %}
                <div class="left-sidebar">
                    <div class="sidebar-news">
                        <div class="tabs">
                            <span class="tab">{{ 'Новости' }}</span>
                            <span class="tab">{{ 'Другие' }}</span>
                        </div>
                        <div class="tab_content">
                            <div class="tab_item">
                                <ul>
                                    {% for __news in sidebarNews %}
                                        {% if __news.publishedAt.format('dMY') == date().format('dMY') %}
                                            {% set news_date = 'Сегодня ' ~ __news.publishedAt | date('H:i') %}
                                        {% else %}
                                            {% set news_date = __news.publishedAt | format_date('dd MMMM') ~ ' ' ~ __news.publishedAt | date('Y H:i') %}
                                        {% endif %}

                                        <li class="news-item">
                                            <a href="{{ path('news_single_with_date', {news_path:__news.path, year:__news.publishedAt.format('Y'), month:__news.publishedAt.format('m'), day:__news.publishedAt.format('d') }) }}">
                                                <div class="title">{{ __news.title }}</div>
                                                <div class="dates">{{ news_date }} {#13:50 | 21 сентября 2018#}</div>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="tab_item">
                                <ul>
                                    {% for __news in sidebarCatNews %}
                                        {% if __news.publishedAt.format('dMY') == date().format('dMY') %}
                                            {% set news_date = 'Сегодня ' ~ __news.publishedAt | date('H:i') %}
                                        {% else %}
                                            {% set news_date = __news.publishedAt | format_date('dd MMMM') ~ ' ' ~ __news.publishedAt | date('Y H:i') %}
                                        {% endif %}
                                        {%- set article_link -%}
                                            {% if __news.secondaryCategories[0].path is defined %}
                                                {{ path('islam_today_sub_category_article', {category_path:__news.primaryCategory.path, sub_category_path:__news.secondaryCategories[0].path, article_path:__news.path}) }}
                                            {% else %}
                                                {{ path('islam_today_category_article', {category_path: __news.primaryCategory.path, article_path: __news.path}) }}
                                            {% endif %}
                                        {%- endset -%}
                                        <li class="news-item">
                                            <a href="{{ article_link }}">
                                                <div class="title">{{ __news.title }}</div>
                                                <div class="dates">{{ news_date }} {#13:50 | 21 сентября 2018#}</div>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <script>
                        $(".tab_item").not(":first").hide();
                        $(".sidebar-news .tab").click(function () {
                            $(".sidebar-news .tab").removeClass("active").eq($(this).index()).addClass("active");
                            $(".tab_item").hide().eq($(this).index()).fadeIn()
                        }).eq(0).addClass("active");
                    </script>
                </div>
            {% endblock %}

            {% block content %}{% endblock %}

            {% block rightSidebar %}
                <div class="right-sidebar">
                    <div class="block huzurtv">
                        <div class="logo">
                            <img src="{{ asset('static_new/images/logo_huzur.png') }}" alt="Хузур ТВ">
                        </div>
                        <div class="block-content">
                            <a href="http://huzurtv.ru" class="title" style="margin-top: 5px;">
                                <span>Хузур ТВ</span>
                                <span style="margin-left: 10px; text-decoration: none; padding: 4px 10px; border-radius: 4px; font-family: 'Manrope Light', sans-serif; font-size: 14px; color:#fff;background: #f26065;">Смотреть прямой эфир</span>
                            </a>
                            <div style="letter-spacing: 2px;margin: 14px 10px 0 0;text-transform: uppercase; font-family: 'Manrope Light', sans-serif; font-size: 9px; ">Первое мусульманское телевидение</div>
                        </div>
                    </div>
                    <div class="block huzurtv">
                        <div class="logo">
                            <img src="{{ asset('static_new/images/logo_azan.png') }}" alt="" style="width: 60px;">
                        </div>
                        <div class="block-content">
                            <a href="//azan.fm" class="title" style="margin-top: 5px;">
                                <span>Азан FM</span>
                                <span style="margin-left: 19px; text-decoration: none; padding: 4px 14px; border-radius: 4px; font-family: 'Manrope Light', sans-serif; font-size: 14px; color:#fff;background: #f26065;">Слушать прямой эфир</span>
                            </a>
                            <div id="player">
                                <button id="play"></button>
                                <div id="volume">
                                    <span></span>
                                </div>
                                <video id="radio" style="display: none;"></video>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-banner" style="margin: 50px auto 0px;">
                        {% if ("now"|date('U') < 1596178800 ) %}
                            {{ render(controller("IslamTodayApplicationBundle:Banners:holiday", {'date' : 1596168000, 'image' : 'kurban-2020.png'})) }}
                        {% endif %}
                    </div>
                    <div>
                        <div class="sidebar-daily-video">
                            {% set preview -%}
                                {{ render(controller('IslamTodayApplicationBundle:Preview:getUrl', {'article':video, 'typeId': 440})) }}
                            {%- endset %}
                            <div class="preview">
                                <a href="/video-dna/" class="block-name">Видео дня</a>
                                <a href="{{ path('islam_today_category_article', {'category_path':video.primaryCategory.path, 'article_path':video.path}) }}">
                                    <img src="{{ preview }}" alt="">
                                </a>
{#                                <div class="button"></div>#}
                            </div>
                            <a href="{{ path('islam_today_category_article', {'category_path':video.primaryCategory.path, 'article_path':video.path}) }}" class="title">{{ video.title }}</a>
                            <div class="call">
                                <a href="https://www.youtube.com/channel/UC6Ytm9zOjwb2dZdN2hN_LiA">Еще видео на YouTube-канале ХузурТВ</a>
                            </div>
                        </div>
                        <div class="sidebar-daily-photo">
                            {% set preview -%}
                                {{ render(controller('IslamTodayApplicationBundle:Preview:getUrl', {'article':photo, 'typeId': 440})) }}
                            {%- endset %}
                            <div class="preview">
                                <a href="/foto-dna/" class="block-name">Фото дня</a>
                                <a href="{{ path('islam_today_category_article', {'category_path':photo.primaryCategory.path, 'article_path':photo.path}) }}">
                                    <img src="{{ preview }}" alt="">
                                </a>
                            </div>
                            <a href="{{ path('islam_today_category_article', {'category_path':photo.primaryCategory.path, 'article_path':photo.path}) }}" class="title">{{ photo.title }}</a>
                            <div class="call">
                                <a href="https://islam-today.ru/foto-dna/">Фотогалерея</a>
                            </div>
                        </div>
                        <div class="sidebar-banner">
                            {{ render(controller("SCBannersBundle:Default:getBanner", {id: 4, class: ""})) }}
                        </div>
                        <div class="sidebar-banner">
                            {{ render(controller("SCBannersBundle:Default:getBanner", {id: 5, class: ""})) }}
                        </div>
                        <div class="sidebar-banner">
                            {{ render(controller("SCBannersBundle:Default:getBanner", {id: 6, class: ""})) }}
                        </div>
                        <div class="sidebar-apps">
                            <div class="preview">
                                <div class="icon">
                                    <img src="{{ asset('static_new/images/apps/koran_90_90.png') }}" alt="">
                                </div>
                                <div class="info">
                                    <div class="title">Куръан</div>
                                    <div class="links">
                                        <a href="https://itunes.apple.com/ru/app/%D0%BA%D1%83%D1%80%D1%8A%D0%B0%D0%BD/id1448097524?mt=8" class="appstore"></a>
                                        <a href="https://play.google.com/store/apps/details?id=com.itef.quran" class="playstore"></a>
                                    </div>
                                    <span class="price">Бесплатно</span>
                                </div>
                            </div>
                            <div class="description">Куръан «Казан басма» - уникальное издание Куръана, соответствующее мировым стандартам. Приобрело всемирную известность благодаря легкости чтения его шрифта. Издание признано удобным для чтения, заучивания и правильного произношения.</div>

                            <div class="app-list">


                            </div>
                            <script>
$(document).ready(function () {
    var apps = [
        {
            title: 'Радио «Азан»',
            description: "Круглосуточное интернет-радио для мусульман, а также для всех, кто интересуется Исламом. Радиовещание идет на русском и татарском языках.",
            icon: "/static_new/images/apps/radio_90_90.png",
            link_appstore: "https://apps.apple.com/ru/app/radio-azan-golos-islama/id742016161",
            link_playstore: "https://play.google.com/store/apps/details?id=com.itef.radioazan",
            active: false,
        }, {
            title: 'Время намаза',
            description: "Мобильное приложение вовремя напомнит вам о наступлении времени каждой молитвы. Программа не требует постоянного подключения мобильного устройства к Интернет. На русском языке.",
            icon: "/static_new/images/apps/namaztime_90_90.png",
            link_appstore: "https://itunes.apple.com/ru/app/vrema-namazov/id888585554?mt=8",
            link_playstore: "https://play.google.com/store/apps/details?id=com.resonancelab.namazrus",
            active: false,

        }, {
            title: 'Гыйбадәте исламия',
            description: "Классический труд известного татарского ученого Ахмадхади Максуди, который уже более века является прекрасным пособием по богослужению, духовным наследием татар-мусульман. Учебник представляет собой упрощенный вариант объемных трудов по фикху ханафитского мазхаба.",
            icon: "/static_new/images/apps/gyibadete_90_90.png",
            link_appstore: "https://itunes.apple.com/us/app/les-pitchounes-2/id956760015?mt=8",
            link_playstore: "https://play.google.com/store/apps/details?id=com.disoft.namas&hl=ru",
            active: false,

        }, {
            title: 'Намаз вакытлары',
            description: "Мобильное приложение вовремя напомнит вам о наступлении времени каждой молитвы. Программа не требует постоянного подключения мобильного устройства к Интернет. На татарском языке.",
            icon: "/static_new/images/apps/namaz_vakytlary_90_90.png",
            link_appstore: "https://itunes.apple.com/ru/app/namaz-vakytlary/id867005260?l=en&mt=8",
            link_playstore: "https://play.google.com/store/apps/details?id=com.resonancelab.namaz",
            active: false,

        }, {
            title: 'Халяль гид',
            description: "С этим мобильным приложением вы без особых усилий сможете найти халяльные места, выбрать из всего многообразия нужное, узнать о нем поподробнее, и даже как до него добраться, проложив маршрут.",
            icon: "/static_new/images/apps/halalgid_90_90.png",
            link_appstore: "https://itunes.apple.com/ru/app/halalgid.ru-bol-soj-halal/id699723838?l=en&mt=8",
            link_playstore: "https://play.google.com/store/apps/details?id=com.resonancelabllc.halalGid",
            active: false,

        }, {
            title: 'Куръан',
            description: "Куръан «Казан басма» - уникальное издание Куръана, соответствующее мировым стандартам. Приобрело всемирную известность благодаря легкости чтения его шрифта. Издание признано удобным для чтения, заучивания и правильного произношения.",
            icon: "/static_new/images/apps/koran_90_90.png",
            link_appstore: "https://itunes.apple.com/ru/app/%D0%BA%D1%83%D1%80%D1%8A%D0%B0%D0%BD/id1448097524?mt=8",
            link_playstore: "https://play.google.com/store/apps/details?id=com.itef.quran",
            active: false,

        },
        {
            title: 'Хузур ТВ',
            description: "Первое мусульманское телевидение «Хузур ТВ» в режиме круглосуточного вещания на русском и татарском языках.",
            icon: "/static_new/images/apps/huzurtv_logo.jpg",
            link_appstore: "https://apps.apple.com/ru/app/%D1%85%D1%83%D0%B7%D1%83%D1%80-%D1%82%D0%B2/id1494692721#?platform=iphone",
            link_playstore: "https://play.google.com/store/apps/details?id=com.itef.huzur",
            active: true,
        },
    ];

    function renderApps() {
	$(".app-list").empty();
        apps.forEach(function (app) {
            var $app = $("<div />", {"class": "app"}).data("title", app.title);
            $app.append($("<img />").attr("src", app.icon));
            $app.append($("<span />", {'class': 'title'}).html(app.title));

            $app.on("click", function () {
                var title = $(this).data("title");
                apps = apps.map(function (app) {
                    app.active = (app.title == title);
                    return app;
                });
		renderApps();
            });
            if (app.active) {
                $(".sidebar-apps .preview .icon img").attr('src', app.icon);
                $(".sidebar-apps .preview .title").html(app.title);
                $(".sidebar-apps .preview .links .appstore").attr('href', app.link_appstore);
                $(".sidebar-apps .preview .links .playstore").attr('href', app.link_playstore);
                $(".sidebar-apps .description").html(app.description);
            } else {
                $(".app-list").append($app);
            }

        });
    }

    renderApps();
});
                            </script>
                        </div>
			<div class="sidebar-calendar">
                            <div class="panel_flat sidebar_margin">
                                <div class="panel_flat__body">
                        	    <div class="calendar"></div>
	                        </div>
        	            </div>
			</div>
                    </div>
                </div>
            {% endblock %}
        </div>
        {% include 'IslamTodayApplicationBundle:New:base_footer.html.twig' %}
    </div>
{% endblock %}
