{% if menu is not empty %}
    {#{% for item in menu %}
        <li><a href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}#}
    <li><a href="http://islam-today.ru/video-dna/">Видео дня</a></li>
    <li><a href="http://islam-today.ru/foto-dna/">Фото дня</a></li>
    <li><a href="http://islam-today.ru/infografika/">Инфографика</a></li>
    <li><a href="http://islam-today.ru/obsestvo/igry/">Игры</a></li>
{% endif %}
