<nav>
    <ul class="primary">
        {% for cat in menu %}
            <li {% if (category == cat.parent) %} class="active" {% endif %} >
                {% if cat.parent.path == 'vopros-otvet' %}
                    <a href="{{ path('islam_today_sub_category', {category_path:'veroucenie', sub_category_path:cat.parent.path}) }}">{{ cat.parent.title }}</a>
                {% else %}
                    <a href="{{ path('islam_today_category', {category_path:cat.parent.path}) }}">{{ cat.parent.title }}</a>
                {% endif %}
            </li>
        {% endfor %}
        <li><a href="{{ path('video') }}" class="highlighted">Видео</a></li>
        <li><a href="{{ path('photo') }}" class="highlighted">Фото</a></li>

        <li class="radio" id="radio-widget">
            <div class="inner">
                <div class="helper"></div>
                <div class="radio_container">
                    <!-- Радио вставлять сюда -->
                    <div id="icecast"></div>
                    {#<img src="/static/images/tmp_radio.png">#}
                </div>
                <nofollow>
                    <noindex><a rel="noindex, nofollow" class="azan" href="http://radioazan.ru" target="_blank">Радио Азан</a></noindex>
                </nofollow>
            </div>
            {#<div class="radio_popover" id="radio-widget-playlist">#}
            {#<div class="radio_logo">#}
            {#<a href="http://radioazan.ru"><img src="/static/images/tmp_radio.png" alt=""></a>#}
            {#</div>#}
            {#</div>#}
        </li>
    </ul>
</nav>
