{% if partners | length > 0 %}
    <div class="row partners">
        <div class="span12">
            <h2 class="partners__title">Наши партнеры</h2>
            {% for __partner in partners %}
                <div class="partner">
                    <a href="{{ __partner.link }}">
                        <img src="/{{ __partner.webPath }}" alt="">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}