{% extends ApplicationBundle ~ "::layout.html.twig" %}

{% block title %}Сонник от {% if firstDream.title is defined %}{{ firstDream.title }}{% endif %} до {% if lastDream.title is defined %}{{ lastDream.title }}{% endif %} - толкование слов на букву {{ letter }}{% endblock %}

{% block meta_descr %}Что значит сон, начинающийся на букву {{ letter }}. Узнайте смысл вашего сна от {% if firstDream.title is defined %}{{ firstDream.title }}{% endif %} до {% if lastDream.title is defined %}{{ lastDream.title }}{% endif %}.{% endblock %}
{% block meta_keywords %}сонник на букву {{ letter }}, толкование снов на букву {{ letter }}{% endblock %}

{% block body %}
    <div class="container content">

        <div class="row">
            <div class="span9">


                <div class="article">
                    <h1 class="article__header">Сонник на букву {{ letter }}</h1>

                    {#<div class="article__text article__text--small">#}
                        {#<p>#}
                            {#Интересные и серые, пропитанные отголосками прошедшего дня или, напротив, несущие в себе#}
                            {#некие знамения,#}
                            {#переносящие нас в далекое прошлое или рисующие в сознании картины будущего, приятные или#}
                            {#кошмарные — все это#}
                            {#наши сны. Их содержание с давних пор являлось загадкой для человека — в разные времена#}
                            {#существовали разные#}
                            {#толкования снов.#}
                        {#</p>#}

                        {#<p>#}
                            {#Пытаясь узнать значение снов, люди, прежде всего, старались заглянуть в свое будущее,#}
                            {#понять, что готовит им#}
                            {#судьба. Правильно истолкованный сон мог стать верным предостережением, обещанием радости и#}
                            {#благополучия,#}
                            {#напротив, предвестником болезни или даже смерти, обещанием семейного счастья или скорой#}
                            {#женитьбы. Вариантов#}
                            {#предсказания существовало и существует множество, и все они собраны в сонники или#}
                            {#толкователи снов.#}
                        {#</p>#}
                    {#</div>#}
                </div>

                <div class="tags_filter epsilon push-double--ends">
                    <span class="text--label">Найти сон с помощью:</span>
                    <ul class="tags_filter__items">
                        <li class="tags_filter__item">
                            <a href="{{ path('sonnik') }}" class="link-dashed">строки поиска</a>
                        </li>
                        <li class="tags_filter__item active">
                            <a href="{{ path('sonnik_byletter') }}" class="link-dashed">алфавитного указателя</a>
                        </li>
                        <li class="tags_filter__item">
                            <a href="{{ path('sonnik_themes') }}" class="link-dashed">по темам</a>
                        </li>
                    </ul>
                </div>


                <div class="push--bottom">
                    <ul class="alphabet">
                        {% for __letter in letters %}
                            <li {% if letter == __letter %}class="active"{% endif %}><a
                                        href="{{ path('sonnik_byletter', {'letter': __letter}) }}">{{ __letter }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="row-fluid push-double--top">
                    {% set total = dreams|length %}
                    {% for dream in dreams %}
                        {% if loop.first %}
                            <div class="span4">
                                <ul class="list list-1 epsilon">
                        {% endif %}
                        {% if loop.index%((total / 3  + 1)|round) == 0%}
                                </ul>
                                </div>
                                    <div class="span4">
                                        <ul class="list list-1 epsilon">
                        {% endif %}



                                <li><a href="{{ path('sonnik_single', {path:dream.path}) }}"
                                       class="link link--style-1">{{ dream.title }}</a></li>


                        {% if loop.last %}
                            </ul></div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="span3">

                <div class="panel_flat sidebar_margin">
                    {% render(controller(ApplicationBundle ~ ":Default:services")) %}
                </div>

            </div>
        </div>


    </div>
{% endblock %}