{% extends ApplicationBundle ~ "::layout.html.twig" %}

{% block title %}Мусульманский сонник{% endblock %}

{% block meta_descr %}{% endblock %}
{% block meta_keywords %}{% endblock %}

{% block body %}
<div class="container content">

    <div class="row">
        <div class="span9">


            <div class="article">
                <h1 class="article__header">Сонник — толкование снов</h1>

                <div class="article__text article__text--small">
                    <p>Всех людей, независимо от пола, возраста, объединяет одно – они видят сны. Сон является одним
                    из самых мистических и таинственных явлений, которые постигают человека, завесу тайн которых
                    хочется приоткрыть каждому. Даже наука не в состоянии описать природу сна и его влияние на
                    жизнь человека: как сознание человека способно воплощать незабываемые картины и ситуации
                    во время сна.</p>
                    <p>Сны очаровывают, заставляют мечтать, настораживают и беспокоят, в снах – самые сокровенные
                    желания и страхи. Пока человек спит, он может побывать в стране, в которой никогда не был,
                    попробовать еду, которую никогда не пробовал, увидеть то, что никогда не видел. Наш мозг
                    чудесным образом строит изображения городов и мест, людей и вещей, которые, возможно,
                    вовсе не существуют в реальности.</p>

                    <p>Что же представляет собой <b>сон с точки зрения ислама</b>? Когда верующий читает дуа, он
                    разговаривает со Всевышним, а когда читает Коран – Всевышний разговаривает с ним. Также
                    Всевышний разговаривает со своим рабом посредством снов.
                    Сон может стать откровением Господа, посредством которого Он сообщает, оберегает человека –
                    такой сон праведный, от Аллаха – рахмани. Верующий может испытать сладость сна от
                    Всевышнего. Но также ему снятся бесполезные сны, не имеющие никакого смысла – это сон от
                    шайтана, шайтани, или подсознательный сон, отражение наших мыслей – нафсани.</p>
                    {#<p>
                        Интересные и серые, пропитанные отголосками прошедшего дня или, напротив, несущие в себе некие знамения,
                        переносящие нас в далекое прошлое или рисующие в сознании картины будущего, приятные или кошмарные — все это
                        наши сны. Их содержание с давних пор являлось загадкой для человека — в разные времена существовали разные
                        толкования снов.
                    </p>

                    <p>
                        Пытаясь узнать значение снов, люди, прежде всего, старались заглянуть в свое будущее, понять, что готовит им
                        судьба. Правильно истолкованный сон мог стать верным предостережением, обещанием радости и благополучия,
                        напротив, предвестником болезни или даже смерти, обещанием семейного счастья или скорой женитьбы. Вариантов
                        предсказания существовало и существует множество, и все они собраны в сонники или толкователи снов.
                    </p> #}
<p style="text-align: center;"><a href="http://t.me/islamt"><img alt="" height="67" src="http://islam-today.ru/files/news/part_5/59386/325792-INNERRESIZED600-600-Telega.jpg"  width="600" /></a></p>
                </div>
            </div>

            <div class="tags_filter epsilon push-double--ends">
                <span class="text--label">Найти сон с помощью:</span>
                <ul class="tags_filter__items">
                    <li class="tags_filter__item active">
                        <a href="{{ path('sonnik') }}" class="link-dashed">строки поиска</a>
                    </li>
                    <li class="tags_filter__item">
                        <a href="{{ path('sonnik_byletter') }}" class="link-dashed">алфавитного указателя</a>
                    </li>
                    <li class="tags_filter__item">
                        <a href="{{ path('sonnik_themes') }}" class="link-dashed">по темам</a>
                    </li>
                </ul>
            </div>

            <div class="nine-twelfths push--bottom">
                <form class="form-search form-search--type-1" method="get" action="{{ path('sonnik') }}">
                    <input type="text" placeholder="Введите ключевое слово из вашего сна" class="input-medium search-query" name="q" value="{% if q is defined %}{{ q }}{% endif %}">
                    <a title="найти" class="process" href="#"></a>
                </form>
            </div>

            <div class="row-fluid push-double--top">
                <div class="span4">
                    <ul class="list list-1 epsilon">
                        {% for dream in dreams %}
                            <li><a href="{{ path('sonnik_single', {path: dream.path}) }}" class="link link--style-1">{{ dream.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </div>
        <div class="span3">

            <div class="panel_flat sidebar_margin">
                {% render(controller(ApplicationBundle ~ ":Default:services")) %}
            </div>

        </div>
    </div>


</div>
{% endblock %}
