{% extends ApplicationBundle ~ "::layout.html.twig" %}

{% block title %}Сонник по темам - узнать полное толкование снов{% endblock %}

{% block meta_descr %}На сайте islam-today.ru Вы найдете общирное описание различных снов, для удобства разделенных по темам.{% endblock %}
{% block meta_keywords %}сонник по темам{% endblock %}

{% block body %}
    <div class="container content">

        <div class="row">
            <div class="span9">


                <div class="article">
                    <h1 class="article__header">Сонник по темам</h1>

                    {#<div class="article__text article__text--small">#}
                        {#<p>#}
                            {#Интересные и серые, пропитанные отголосками прошедшего дня или, напротив, несущие в себе некие знамения,#}
                            {#переносящие нас в далекое прошлое или рисующие в сознании картины будущего, приятные или кошмарные — все это#}
                            {#наши сны. Их содержание с давних пор являлось загадкой для человека — в разные времена существовали разные#}
                            {#толкования снов.#}
                        {#</p>#}

                        {#<p>#}
                            {#Пытаясь узнать значение снов, люди, прежде всего, старались заглянуть в свое будущее, понять, что готовит им#}
                            {#судьба. Правильно истолкованный сон мог стать верным предостережением, обещанием радости и благополучия,#}
                            {#напротив, предвестником болезни или даже смерти, обещанием семейного счастья или скорой женитьбы. Вариантов#}
                            {#предсказания существовало и существует множество, и все они собраны в сонники или толкователи снов.#}
                        {#</p>#}
                    {#</div>#}
                </div>

                <div class="tags_filter epsilon push-double--ends">
                    <span class="text--label">Найти сон с помощью:</span>
                    <ul class="tags_filter__items">
                        <li class="tags_filter__item">
                            <a href="{{ path('sonnik') }}" class="link-dashed">строки поиска</a>
                        </li>
                        <li class="tags_filter__item">
                            <a href="{{ path('sonnik_byletter') }}" class="link-dashed">алфавитного указателя</a>
                        </li>
                        <li class="tags_filter__item active">
                            <a href="{{ path('sonnik_themes') }}" class="link-dashed">по темам</a>
                        </li>
                    </ul>
                </div>

                <div class="row-fluid push-double--top">
                    {% set total = themes|length %}
                    {% for theme in themes %}
                        {% if loop.first %}
                            <div class="span4">
                            <ul class="list-themes">
                        {% endif %}
                        {% if loop.index%((total / 3  + 1)|round) == 0%}
                            </ul>
                            </div>
                            <div class="span4">
                            <ul class="list-themes">
                        {% endif %}


                            <li class="list-themes__item list-themes__item--headline"><a href="{{ path('sonnik_themes_single', {path:theme.parent.path}) }}" class="link link--style-1">{{ theme.parent.title }}</a></li>
                            {% if theme.subs is defined and theme.subs is not empty %}
                                {% for __subs in theme.subs %}
                                    <li class="list-themes__item"><a href="{{ path('sonnik_themes_single', {path:__subs.path}) }}" class="link link-underlined">{{ __subs.title }}</a></li>
                                {% endfor %}
                            {% endif %}
                         {% if loop.last %}
                            </ul></div>
                        {% endif %}
                        {% endfor %}
                </div>
            </div>
            <div class="span3">

                <div class="panel_flat sidebar_margin">
                    {% render(controller(ApplicationBundle ~ ":Default:services")) %}
                </div>

            </div>
        </div>


    </div>
{% endblock %}