.article__text ul {
    padding: initial;
    list-style: initial;
padding-inline-start: 40px;
}
.nisab {
font-family: "Manrope Medium", sans-serif;
    color: #000;
    text-transform: uppercase;
    font-size: 12px;
    width: 148px;
    padding: 0 0 0 17px;
    letter-spacing: 2px;
    margin: 15px 0 0 17px;
    border-left: 1px #ccc solid;
}
.nisab-article {
    border: 1px #ccc solid;
    border-radius: 50%;
    padding: 0px 3px 0 5px;
    color: #848484;
    margin-left: 5px;
    text-align: center;
    text-decoration: none;
}
.nisab-sum {
    margin-top: 1px;
}

.ramadan {
    padding: 45px 45px 0 45px;
    background: url(//islam-today.ru/static/ramadan.jpg) center no-repeat;
    height: 300px;
}
.ramadan a {
    position: relative;
    display: block;
    height: 100%;
}
.ramadan a .days, .ramadan a .text {
    position: absolute;
    color: #4a2306;
    font-size: 42px;
    font-family: "Manrope Semibold", sans-serif;
left: 26px;
text-align: center;
width: 155px;
}
.ramadan .days {
    top: 65px;
    font-size: 48px;
}
.ramadan .text {
    top: 113px;
    font-size: 42px;
}

html, body, ul, li {
    padding: 0;
    margin: 0;
    font-family: "Manrope Light", sans-serif;
}

@font-face {
    font-family: 'Manrope Light';
    src: url(/static_new/fonts/manrope-light.woff) format("woff"), url(/static_new/fonts/manrope-light.woff2) format("woff2"), url(/static_new/fonts/manrope-light.otf) format("otf");
    font-display: fallback;
}

@font-face {
    font-family: 'Manrope Medium';
    src: url(/static_new/fonts/manrope-medium.woff) format("woff"), url(/static_new/fonts/manrope-medium.woff2) format("woff2"), url(/static_new/fonts/manrope-medium.otf) format("otf");
    font-display: fallback;
}

@font-face {
    font-family: 'Manrope Regular';
    src: url(/static_new/fonts/manrope-regular.woff) format("woff"), url(/static_new/fonts/manrope-regular.woff2) format("woff2"), url(/static_new/fonts/manrope-regular.otf) format("otf");
    font-display: fallback;
}

@font-face {
    font-family: 'Manrope Semibold';
    src: url(/static_new/fonts/manrope-semibold.woff) format("woff"), url(/static_new/fonts/manrope-semibold.woff2) format("woff2"), url(/static_new/fonts/manrope-semibold.otf) format("otf");
    font-display: fallback;
}

@font-face {
    font-family: 'Manrope Bold';
    src: url(/static_new/fonts/manrope-bold.woff) format("woff"), url(/static_new/fonts/manrope-bold.woff2) format("woff2"), url(/static_new/fonts/manrope-bold.otf) format("otf");
    font-display: fallback;
}

@font-face {
    font-family: 'Manrope Thin';
    src: url(/static_new/fonts/manrope-thin.woff) format("woff"), url(/static_new/fonts/manrope-thin.woff2) format("woff2"), url(/static_new/fonts/manrope-thin.otf) format("otf");
    font-display: fallback;
}

@font-face {
    font-family: 'Montserrat Regular';
    src: url(/static_new/fonts/Montserrat-Regular.otf) format("otf"), url(/static_new/fonts/Montserrat-Regular.ttf) format("ttf");
    font-display: fallback;
}

@font-face {
    font-family: 'Montserrat Medium';
    src: url(/static_new/fonts/Montserrat-Medium.otf) format("otf"), url(/static_new/fonts/Montserrat-Medium.ttf) format("ttf");
    font-display: fallback;
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url(/static_new/fonts/Montserrat-Bold.otf) format("otf"), url(/static_new/fonts/Montserrat-Bold.ttf) format("ttf");
    font-display: fallback;
}

ul {
    list-style: none;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: row;
    padding: 26px 0;
    align-items: stretch;
    border-bottom: 4px #000 solid;
    position: relative;
}

.header__logo {
    position: relative;
    /*width: 300px;*/
    padding: 0 70px 0 0;
}

.header__logo:before {
    display: block;
    content: "";
    position: absolute;
    left: -35px;
    top: 0;
    -webkit-mask-image: url(/static_new/images/16.svg);
    -webkit-mask-size: cover;
    background: #ff9600;
    width: 23px;
    height: 23px;
}

.town-select-container {
    position: absolute;
    left: 60px;
    top: 33px;
    text-transform: uppercase;
    font-size: 12px;
}

.town-select-caption {
    border-bottom: 1px dashed #ff9700;
    color: #ff9700;
    font-family: "Manrope Semibold", sans-serif;
    letter-spacing: 3px;
    font-size: 10px;
    white-space: nowrap;
}

/* HEADER */
.logo__image {
    display: block;
    width: 230px;
    height: 50px;
    background: url(/static_new/images/logo_islam_today.png);
    background-repeat: no-repeat;
}

.namaz-top-widget {
    flex: 1;
    max-width: 700px;
}

.namaz-top-widget ul {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    padding-left: 52px;
}

.ws-namaz-time__schedule li:first-of-type {
    padding-left: 0px;
}

.namaz-top-widget li {
    border-right: 1px #ccc solid;
    flex: 1;
    text-align: left;
    display: flex;
    max-width: 77px;
    justify-content: center;
    font-size: 12px;
    text-transform: uppercase;
    padding: 0 20px;
    align-items: center;
    color: #666666;
    letter-spacing: 2px;
    line-height: 15px;
}

.namaz-top-widget .future {
    font-family: "Manrope Medium", sans-serif;
    color: #000;
}

.namaz-top-widget li.active {
    max-width: none;
}

.namaz-top-widget li:last-child {
    border-right: none;
    padding-right: 0;
}

.town-select-dropdown {
    display: none;
    position: absolute;
    left: -59px;
    top: 47px;
    padding: 35px;
    background: #ff9600;
    color: #fff;
    z-index: 3;
    width: 1330px;
    text-transform: none;

}

.town-select-dropdown .title {
    font-family: "Manrope Bold", sans-serif;
    font-size: 40px;
    margin-bottom: 35px;
    display: block;
}

.town-select-dropdown ul {
    display: flex;
    flex-wrap: wrap;
}

.town-select-dropdown ul li {
    flex: 1 0 8%;
    font-family: "Manrope Regular", sans-serif;
    color: #fff;
    text-decoration: underline;
    font-size: 14px;
    cursor: pointer;
    padding: 8px;
    height: 9px;
    line-height: 9px;
    margin: 0 35px 8px 0;
    white-space: nowrap;
    min-width: 0px;
}

.town-select-dropdown ul li.active {
    background: #000;
    text-decoration: none;
    border-radius: 4px;
}

.town-select-dropdown ul li a {

}

.search-block-container {
    min-width: 200px;
}

.search-block__field {
    border: none;
    border-bottom: 1px solid #cccccc;
    width: 190px;
    color: #000;
    height: 12px;
    font-size: 14px;
    padding: 9px 0 12px 0;
    margin: 13px 39px 0 113px;
    font-family: "Manrope Light", sans-serif;
    background: url(/static_new/images/button_search.png) no-repeat;
    background-position: 172px 10px;
}

.search-block__field:after {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background: url(/static_new/images/button_search.png);
}

.retroclock {
    width: 117px;
    position: relative;
    margin-right: 20px;
}

.retroclock .xddigit {
    width: 25px;
    height: 30px;
    overflow: hidden;
    float: left;
    margin-right: 2px;
}

.retroclock .xddigit div {
    background: url(/static/images/digits.png) no-repeat;
    background-size: auto 300px;
    height: 300px;
}

.retroclock .rcSeparator {
    font-size: 54px;
    margin: 10px 7px;
    color: #3c3c3c;
    float: left;
}

.retroclock .xdgroup {
    margin-right: 13px;
    float: left;
}

.xdgroup:first-child:after {
    content: ":";
    position: absolute;
    font-size: 35px;
    text-align: center;
    margin: 5px 0 0 1px;
    opacity: 1;
    animation: blinking 1s linear infinite;
}

@keyframes blinking {
    from,
    49.9% {
        opacity: 0;
    }
    50%,
    to {
        opacity: 1;
    }
}

.xdgroup:last-of-type {
    margin: 0;
}

.xddigit:last-of-type {
    margin: 0;
}

.retroclock:after {
    clear: both;
    display: table;
    content: "";
}

.content {
    display: flex;
    flex-direction: row;
    border-bottom: 4px #000 solid;
    position: relative;
}

.content .left-sidebar {
    width: 300px;
    border: 1px #e5e5e5 solid;
    border-top: none;
    border-bottom: none;
}

.sidebar-news .tabs {
    display: flex;
}

.sidebar-news .tabs .tab {
    flex: 1;
    text-align: center;
    border: 1px #eee solid;
    text-transform: uppercase;
    font-size: 12px;
    font-family: "Manrope Bold", sans-serif;
}

.sidebar-news .tabs .tab:first-child {
    border-left: none;
}

.sidebar-news .tabs .tab:last-child {
    border-right: none;
}

.sidebar-news .tabs .tab {
    flex: 1;
    text-align: center;
    border: 1px #e5e5e5 solid;
    border-top: none;
    text-transform: uppercase;
    font-size: 12px;
    padding: 20px 35px;
    cursor: pointer;
    letter-spacing: 2.2px;
}

.sidebar-news .news-item {

    border-bottom: 1px #e5e5e5 solid;
}

.news-item a {
    text-decoration: none;
    padding: 30px 35px;
    display: block;
}

.sidebar-news .news-item:last-child {
    border-bottom: none;
}

.sidebar-news .news-item .title {
    font-size: 14px;
    margin-bottom: 13px;
    line-height: 20px;
    color: #000;
    font-family: "Manrope Light", sans-serif;
}

.article {
    max-width: 700px;
}

.sidebar-news .news-item .dates,
.article .dates {
    color: #a3a3a3;
    font-size: 12px;
}

.sidebar-news .tabs .tab.active {
    border: none;
}

.content .main {
    flex: 1;
    padding: 0 50px;
}

.content .main #mainSlider {
    padding: 50px 0;
    border-bottom: 1px #e5e5e5 solid;
    position: relative;
}

.content .main #mainArticles {
    padding: 50px 0;
}

#mainArticles .article {

}

#mainArticles .article .image {
    width: 100px;
    padding-top: 5px;
    margin-right: 20px;
}

#mainArticles .article .image img {
    width: 100%;
}

#mainArticles .article .preview {
    flex: 1;
}

#mainArticles .article a {
    display: flex;
    text-decoration: none;
    margin-bottom: 30px;
}

#mainArticles .article .title {
    color: #000;
    font-size: 22px;
    font-family: "Manrope Semibold", sans-serif;
    margin-bottom: 8px;
    line-height: 28px;
}

#mainArticles .article .views-count {
    padding: 0 0 0 40px;
    background-image: url(/static_new/images/count.png);
    background-repeat: no-repeat;
    background-position: 10px 3px;
    color: #a3a3a3;
    font-size: 12px;
}

.content .right-sidebar {
    width: 400px;
    border: 1px #e5e5e5 solid;
    border-bottom: none;
    border-top: none;
}

.content .main #mainSlider:after {
    content: "";
    display: table;
    clear: both;
}

#mainSlider .article_preview__title {
    margin-bottom: 8px;
    line-height: 32px;
}

#mainSlider .article_preview__title a {
    text-decoration: none;
    font-family: "Montserrat Bold", sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #000;
    display: block;
}

#mainSlider .article_preview__image a {
    display: block;
}

#mainSlider .article_preview__image img {
    width: 100%;
    padding: 0 0 8px 0;
}

#mainSlider .article_preview__text {
    font-family: "Manrope Light", sans-serif;
    font-size: 18px;
}

#mainSlider .flex-control-nav,
.slider .flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: 18px;
    text-align: left;
}

#mainSlider .flex-next ,
.slider .flex-next {

    background-position: 0 -518px;
    height: 80px;
    width: 58px;
}

.right-sidebar .block {
    padding: 20px;
    display: flex;
    border-bottom: 1px solid #cccccc;
}

.right-sidebar .block a {
    text-decoration: none;
    color: #000;
}

.right-sidebar .block .title {
    font-family: 'Manrope Semibold', sans-serif;
    font-size: 18px;
    display: block;
    margin-top: 6px;
}

.right-sidebar .block .logo {
    margin-right: 10px;
}

footer {
    padding: 50px 35px;
}

footer .links_container {
    display: flex;
    flex-direction: row;
    padding: 0 35px;
}

footer .links_container .col1 {
    flex: 1;
    display: flex;
    flex-direction: column;
}

footer .links_container ul {
    margin-bottom: 24px;
}

footer .links_container li {
    font-size: 11px;
    line-height: 24px;
}

footer .links_container .logo__text {
    font-size: 10px;
    padding: 0 40px 0 50px;
    margin-top: -7px;
    line-height: 20px;
    color: #7f7f7f;
}

footer .links_container .logo__text p {
    margin: 0 0 20px 0;
}

footer .links_container b {
    font-family: "Manrope Bold", sans-serif;
    font-size: 13px;
    text-transform: uppercase;
}

footer .links_container .col2 {
    max-width: 400px;
    margin-right: -35px;
    flex: 2;
}

footer .links_container .col3 {
    flex: 3;
}

footer a {
    text-decoration: none;
    color: #000;

}

.breadcrumbs {
    margin: 20px 0;
}

.breadcrumbs,
.breadcrumbs a,
.breadcrumbs span {
    text-decoration: none;
    color: #4c4c4c;
    font-family: "Manrope Thin", sans-serif;
    font-size: 14px;
}

.breadcrumbs a {
    text-decoration: underline;
}

footer .secondary {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    /*padding: 0 35px;*/
    justify-content: space-between;
    max-width: 1000px;
    text-transform: uppercase;
    font-size: 10px;
    font-family: "Manrope Light", sans-serif;
}

footer .secondary li {
    /*margin-right: 20px;*/
    border-bottom: 1px #cccccc solid;
}

footer .linksbar {
    font-size: 10px;
    padding: 0 35px;

}

footer .linksbar a {
    color: #858585;
    padding: 0 5px;
    line-height: 24px;
}

footer .social {
    display: flex;
}

footer .social li a {
    display: block;
    width: 100%;
    height: 100%;
}

footer .social li {
    width: 30px;
    height: 30px;
    display: inline-block;
    -webkit-mask-size: cover;
    mask-size: cover;
    margin: 0 17px 0 0;
    background: #6b6b6b;
}

footer .social li.rss {
    -webkit-mask-image: url(/static_new/images/rss.svg);
    mask: url(/static_new/images/rss.svg);
    background: #ffa000;
}

footer .social li.vk {
    mask: url(/static_new/images/vk-social-network-logo.svg);
    -webkit-mask-image: url(/static_new/images/vk-social-network-logo.svg);
}

footer .social li.fb {
    -webkit-mask-image: url(/static_new/images/facebook-logo.svg);
    mask: url(/static_new/images/facebook-logo.svg);
}

footer .social li.ok {
    -webkit-mask-image: url(/static_new/images/odnoklassniki.svg);
    mask: url(/static_new/images/odnoklassniki.svg);
}

footer .social li.tw {
    -webkit-mask-image: url(/static_new/images/twitter.svg);
    mask: url(/static_new/images/twitter.svg);
}

footer .social li.in {
    -webkit-mask-image: url(/static_new/images/instagram.svg);
    mask: url(/static_new/images/instagram.svg);
}

footer .social li.yt {
    -webkit-mask-image: url(/static_new/images/youtube-symbol.svg);
    mask: url(/static_new/images/youtube-symbol.svg);
}

footer .social li.tg {
    -webkit-mask-image: url(/static_new/images/telegram.svg);
    mask: url(/static_new/images/telegram.svg);
}

.bar {
    margin: 21px 0 0;
    font-size: 13px;
    line-height: 15px;
    background: #1a2026;
    color: #999;
}

.bar__row {
    padding: 10px;
}

.bar__row:after {
    display: table;
    clear: both;
    content: "";
}

.bar .other-buttons {

}

.bar .bar__counters {
    float: right;
    margin-left: 21px;
}

.bar .button-list {
    list-style: none;
    margin-left: -3px;
    margin-right: -3px;
    margin-bottom: 0;
}

.bar .button-list > li {
    float: left;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding-left: 3px;
    padding-right: 3px;
}

.sprite-rss {
    background-position: 0 -2380px;
    height: 32px;
    width: 32px;
    display: block;
}

.slider-nav .flex-prev, .slider-nav .flex-next, .sprite-sprite, .sprite-azan, .sprite-bubble-small, .indicator__comment .icon, .sprite-bubble_dotted-small, .sprite-caret-2-open, .dropdown.open .icon-caret-2, .sprite-caret-2, .dropdown .icon-caret-2, .sprite-caret-open, .dropdown.open .icon-caret, .sprite-caret, .dropdown .icon-caret, .sprite-carousel-control-next, .carousel .carousel-control-next, .sprite-carousel-control-prev, .carousel .carousel-control-prev, .sprite-close, .custom-modal .modal-header .close, .sprite-control-down, .sprite-control-up, .sprite-english, .sprite-eye-small, .indicator__watch .icon, .sprite-facebook, .sprite-home, .home, .sprite-horizontal-control-next-2, #mainSlider .flex-next, .sprite-horizontal-control-next-3, .koran-book__direction__item--next, .flexslider--book .flex-next, .sprite-horizontal-control-next, .jcarousel-skin-gallery_preview .jcarousel-next, .sprite-horizontal-control-next_disabled, .jcarousel-skin-gallery_preview .jcarousel-next-disabled, .jcarousel-skin-gallery_preview .jcarousel-next-disabled:hover, .sprite-horizontal-control-prev-2, #mainSlider .flex-prev, .sprite-horizontal-control-prev-3, .koran-book__direction__item--prev, .flexslider--book .flex-prev, .sprite-horizontal-control-prev, .jcarousel-skin-gallery_preview .jcarousel-prev-horizontal, .sprite-horizontal-control-prev_disabled, .jcarousel-skin-gallery_preview .jcarousel-prev-disabled, .jcarousel-skin-gallery_preview .jcarousel-prev-disabled:hover, .sprite-instagram, .sprite-koran-nav-face, .sprite-koran-nav-rupor, .sprite-koran-nav-translate, .sprite-lens, .form-search .process, .sprite-logo, .sprite-logo_smaller, footer .logo .logo__image, .sprite-odnoklassniki, .sprite-poin, .sprite-popover_angle-2, .w-services__item__help + .popover .arrow, .sprite-popover_angle-3, .popover-1.right .arrow, .sprite-popover_angle, .radio_popover:before, .sprite-question_mark, .sprite-question_mark_2, .sprite-restrict, footer .restriction, .sprite-rss, .sprite-scroll-top, .scrollup, .sprite-search, .sprite-seo-logo, .sprite-tag-small, .article__tags, .tag-list--icon:before, .sprite-tail, .bubble--tail-bottom:after, .sprite-tatar, .sprite-toolbox, .sprite-twitter, .sprite-user-small, .article__author, .sprite-vertical-control-next, .jcarousel-skin-lastnews .jcarousel-next-vertical, .sprite-vertical-control-next_disabled, .jcarousel-skin-lastnews .jcarousel-next-disabled, .jcarousel-skin-lastnews .jcarousel-next-disabled:hover, .sprite-vertical-control-prev, .jcarousel-skin-lastnews .jcarousel-prev-vertical, .sprite-vertical-control-prev_disabled, .jcarousel-skin-lastnews .jcarousel-prev-disabled, .jcarousel-skin-lastnews .jcarousel-prev-disabled:hover, .sprite-vkontakte, .sprite-youtube {
    background-image: url(/static_new/images/sprite-sb86afe8aec.png);
    background-repeat: no-repeat;
}

#mainSlider:hover .flex-control-nav, #mainSlider:hover .flex-direction-nav, #mainSlider:hover .flex-direction-nav a {
    opacity: 1;
}

.flex-direction-nav a:before, .flex-direction-nav a.flex-next:before {
    content: none;
}

#mainSlider .flex-direction-nav a {
    top: 180px;
    margin: 0;
    z-index: 100;
    opacity: 0;
    text-indent: 1000px;
    overflow: hidden;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}
.slider-nav .flex-direction-nav a {
opacity: 1;
text-indent: 1000px;
top: -88px;
}


#mainSlider .flex-next ,
.slider-nav .flex-next {
    background-position: 0 -518px;
    height: 80px;
    width: 58px;
    right: 0;
}

#mainSlider .flex-next:hover {
    background-position: 0 -608px;
}

#mainSlider .flex-prev,
.slider-nav .flex-prev {
    background-position: 0 -1130px;
    height: 80px;
    width: 58px;
    left: 0;
}

#mainSlider .flex-prev:hover {
    background-position: 0 -1220px;
}

.flex-control-paging li a {
    background: #fff;
    box-shadow: inset 0 0 2px #ff9700;

}

.flex-control-paging li a.flex-active {
    background: #ff9700;
}

.list-banner {
    display: block;
    /*height: 100px;*/
    background: #f2f2f2;
    margin: 60px 0;
}

.sidebar-banner {
    width: 300px;
    /*height: 300px;*/
    margin: 0px auto 50px;
    background: #f2f2f2;
    position: relative;
}

.sidebar-daily-video, .sidebar-daily-photo {
    padding: 45px 45px 5px 45px;
    margin-bottom:5px;
}

.sidebar-daily-video img, .sidebar-daily-photo img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.sidebar-daily-video .preview, .sidebar-daily-photo .preview {
    position: relative;
    height: 200px;
}

.sidebar-daily-video .title, .sidebar-daily-photo .title {
    font-family: 'Manrope Medium', sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: #0a0a0a;
    margin: 15px 0 25px;
    display: block;

}

.sidebar-daily-video .call a, .sidebar-daily-photo .call a {
    font-family: 'Manrope Regular', sans-serif;
    font-size: 13px;
    border: 1px #cccccc solid;
    border-radius: 5px;
    color: #4c4c4c;
    text-decoration: none;
    padding: 8px 12px;
}

.sidebar-daily-video .preview .button {
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(/static_new/images/video_dnya_overbutton.png);
    display: block;
    width: 50px;
    height: 50px;
}

.sidebar-daily-video .preview .block-name, .sidebar-daily-photo .preview .block-name {
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 0;
    background: #ff9600;
    color: #fff;
    text-transform: uppercase;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-family: "Manrope Regular", sans-serif;
    font-size: 11px;
    padding: 8px;
    letter-spacing: 2px;
}

.sidebar-apps {
    padding: 0px 45px 5px 45px;
}

.sidebar-apps .preview {
    margin-bottom: 30px;
}

.sidebar-apps .preview:after {
    content: "";
    clear: both;
    display: table;
}

.sidebar-apps .preview .icon {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    float: left;
    margin-right: 18px;
    padding-top: 3px;
}

.sidebar-apps .preview .info {
    width: 190px;
    float: right;
    height: 100px;
}

.sidebar-apps .preview .info .title {
    font-family: "Manrope Light", sans-serif;
    font-size: 20px;
    margin-bottom: 7px;
    white-space: nowrap;
    line-height: 24px;
}

.sidebar-apps .preview .info .links {
    display: flex;
    margin-bottom: 18px;
    justify-content: space-between;
}

.sidebar-apps .preview .info .links a {
    flex: 1;
    width: 85px;
    background: url(/static_new/images/icon_apps.png) no-repeat;
    height: 29px;
}

.sidebar-apps .preview .info .links a.appstore {
    background-position-y: 0;
}

.sidebar-apps .preview .info .links a.playstore {
    background-position-y: -29px;
}

.sidebar-apps .preview .info .links a.appstore:hover {
    background-position-y: -58px;
}

.sidebar-apps .preview .info .links a.playstore:hover {
    background-position-y: -87px;
}

.sidebar-apps .preview .info .price {
    font-family: "Manrope Light", sans-serif;
    font-size: 14px;
    border: 1px #cccccc solid;
    color: #7f7f7f;
    border-radius: 5px;
    padding: 3px 7px;
}

.sidebar-apps .preview .icon img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.sidebar-apps .description {
    font-family: "Manrope Light", sans-serif;
    font-size: 14px;
    color: #616161;
    margin-bottom: 40px;
    line-height: 20px;
}

.sidebar-apps .app-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sidebar-apps .app-list .app {
    flex: 1 0 26%;
    max-width: 80px;
    margin-bottom: 30px;
    cursor: pointer;
    text-align: center;
}

.sidebar-apps .app-list .app .title {
    font-family: "Manrope Light", sans-serif;
    font-size: 14px;
    line-height: 16px;
    margin: 6px 1px 0;
    display: block;
}

.sidebar-apps .app-list img {
    width: 80px;
    height: 80px;
    border-radius: 8px;
}

.town-select-caption:after {
    display: block;
    content: "";
    position: absolute;
    right: -15px;
    top: 8px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #ff9600;
    cursor: pointer;
}

.article__indicators {
    display: flex;
    justify-content: space-between;
    color: #989898;
    font-size: 12px;
}

.article__date {
    font-size: 14px;
    font-family: "Manrope Thin", sans-serif;
}

.article__header h1 {
    font-size: 45px;
    line-height: 54px;
    font-family: "Manrope Bold", sans-serif;
}

.article__text {
    font-size: 18px;
    font-family: "Manrope Light", sans-serif;
    margin-bottom: 20px;
}

.article__tags__items a {
    text-decoration: none;
    color: #707070;
    border: 1px #cccccc solid;
    padding: 2px 8px;
    border-radius: 4px;
    display: inline-block;
    margin-right: 9px;
}

.article__tags__title {
    letter-spacing: 7px;
    font-size: 14px;
    text-transform: uppercase;
    font-family: "Montserrat Bold", sans-serif;
}

.like_buttons {
    padding: 60px 0;
    border-bottom: 1px #e5e5e5 solid;
}

.b-related_articles {
    max-width: 700px;
}

.b-related_articles__list {

}

.b-related_articles__list li {
    display: flex;
    margin-bottom: 40px;
}

.b-related_articles__list li:after {
    display: table;
    content: "";
    clear: both;
}

.b-related_articles__heading {
    font-family: "Manrope Bold", sans-serif;
    font-size: 22px;
    margin: 45px 0 30px;
}

.b-related_articles__item__image {
    display: block;
    float: left;
    min-width: 300px;
    height: 200px;
    margin-right: 35px;

}

.b-related_articles__item__image img {
    width: 100%;
    height: 100%;
}

.b-related_articles__item__title {
    text-decoration: none;
    color: #000;
    font-family: "Manrope Light", sans-serif;
    font-size: 18px;
    display: block;
    float: left;
    max-height: 170px;
    overflow: hidden;
}

.b-related_articles__item__title h2 {
    margin: 0;
    font-family: "Manrope Semibold", sans-serif;
    font-size: 22px;
}

.img-description {
    color: #4c4c4c;
    font-size: 14px;
    font-family: "Manrope Regular", sans-serif;
}

.side-menu {
    position: absolute;
    top: 26px;
    right: 0;
    width: 50px;
    height: 50px;
    background: #ff9600;
    overflow: hidden;
    z-index: 10;
}

.side-menu .menu {
    display: none;
    padding: 0 33px 0;
    margin-bottom: 50px;
}

.side-menu .button {
    height: 19px;
    position: absolute;
    padding: 16px 12px;
    display: block;
    text-align: right;
    width: 25px;
    right: 0;
    top: 0;
}

.side-menu .button .icon-bar {
    width: 24px;
    height: 3px;
    border-radius: 5px;
    background: #fff;
    display: block;
    margin-bottom: 5px;
}

.side-menu .button .icon-arrow {
    width: 12px;
    height: 12px;
    border-right: 2px solid #fff;
    border-top: 2px solid #fff;
    transform: rotate(-135deg);
    display: none;
    margin: 5px 0 0 10px;
}

.side-menu .button .icon-close {
    display: none;
}

.side-menu .button .icon-close:before, .side-menu .button .icon-close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 23px;
    width: 3px;
    background-color: #ff7e00;
}

.side-menu .button .icon-close:before {
    transform: rotate(45deg);
}

.side-menu .button .icon-close:after {
    transform: rotate(-45deg);
}

i {
    display: inline-block;
    font-style: normal;
    position: relative;
}

.side-menu a {
    color: #fff;
    text-decoration: none;
}

.side-menu.active .icon-bar {
    display: none;
}

.side-menu.active .icon-arrow {
    display: block;
}

.side-menu.active .icon-close {
    display: block;
    position: absolute;
    right: 38px;
}

.side-menu.active {
    width: 300px;
    background: #484848;
    height: auto;
}

.side-menu.active .menu {
    display: block;
}

.side-menu .menu li {
    line-height: 40px;
}

.side-menu .menu li a {
    text-transform: uppercase;
    font-family: "Manrope Bold", sans-serif;
    font-size: 12px;
}

.side-menu .sub-menu li {
    line-height: 30px;
}

.side-menu .sub-menu li a {
    text-transform: uppercase;
    font-family: "Manrope Semibold", sans-serif;
    font-size: 10px;
}

.side-menu .search-block__field {
    margin: 12px 30px 0 33px;
    border-bottom: 1px solid #6d6d6d;
    width: 190px;
    display: none;
}

.side-menu.active .search-block__field {
    display: block;
}

.article_list__item {
    margin-bottom: 50px;
    border-bottom: 1px #e5e5e5 solid;
    padding-bottom: 50px;
    max-width: 704px;
}

.article_intro {
    display: flex;
    height: 133px;
    text-decoration: none;
    color: #000;
}

.article_intro__image {
    width: 200px;
    min-width: 200px;
    max-width: 200px;
    flex: 1;
    height: 133px;
    display: block;
    margin-right: 25px;
}

.article_intro__wrapper {
    margin-top: -5px;
    display: flex;
    flex-direction: column;
    height: 138px;
    max-height: 138px;
    justify-content: space-between;
}

.article_intro__header {
    font-size: 18px;
    font-family: "Manrope Semibold", sans-serif;
    line-height: 22px;
}

.article_intro__text {
    font-family: "Manrope Thin", sans-serif;
    font-size: 14px;
    line-height: 24px;
    overflow: hidden;
}

.article_intro__meta {
    display: flex;
    font-family: "Manrope Light", sans-serif;
    font-size: 12px;
    color: #a3a3a3;
    justify-content: space-between;
    margin-bottom: -4px;
    position: relative;
}

.article_intro__meta:before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 30px;
    bottom: 17px;
    background: linear-gradient(0deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
}

.article_indicator_views {
    position: relative;
    letter-spacing: 3px;
}

.article_indicator_views:before {
    display: block;
    content: "";
    position: absolute;
    left: -33px;
    top: -3px;
    width: 25px;
    height: 18px;
    -webkit-mask-image: url(/static_new/images/view.svg);
    -webkit-mask-size: cover;
    background: #a3a3a3;
}

.default_pagination {
    margin-bottom: 50px;
}

.default_pagination ul {
    display: flex;
}

.default_pagination li span,
.default_pagination li a {
    width: 55px;
    height: 55px;
    text-decoration: none;
    display: block;
    text-align: center;
    color: #000;
    font-family: "Manrope Semibold", sans-serif;
    line-height: 55px;
}

.default_pagination li.active a,
.default_pagination li.active span {
    color: #fff;
    background: #ff9600;
}

.default_pagination li.pointer a,
.default_pagination li.pointer span {
    color: #000;
    background: #f2f2f2;
}

h1.results-header {
    font-family: "Manrope Bold", sans-serif;
    font-size: 45px;
    margin: 50px 0;
    max-width: 700px;
    line-height: 54px;
}

.results-header span {
    color: #ff9600;
}

.search-results h2 {
    font-family: "Manrope Bold", sans-serif;
    font-size: 24px;
}

.search-results-categories {
    background: #f5f5f5;
    height: 140px;
    margin: 0 -50px;
    padding: 0 50px;
}

.search-results-categories .results {
    font-family: "Manrope Bold", sans-serif;
    font-size: 24px;
    color: #000;
    line-height: 70px;
}

.search-results-categories .tags_filter__item {
    height: 40px;
    border-radius: 20px;
    color: #000;
    font-family: "Manrope Medium", sans-serif;
    font-size: 18px;
    border: 1px #e5e5e5 solid;
    padding: 0 20px;
    display: inline-block;
    line-height: 40px;
    text-decoration: none;
    background: #fff;
}

.search-results-categories .tags_filter__item.active {
    border: 1px #e5e5e5 solid;
    background: #ff9600;
    color: #fff;
}

.block-sort {
    font-family: "Manrope Light", sans-serif;
    font-size: 14px;
    border-bottom: 1px #e5e5e5 solid;
    display: flex;
    max-width: 700px;
    padding: 30px 0;
}

.block-sort .tags_filter__header {
    padding-right: 15px;
}

.block-sort a.tags_filter__item {
    margin-right: 15px;
    text-decoration: none;
    border-bottom: 1px dashed #b8b8b8;
    color: #000;
}

.block-sort a.tags_filter__item.active {
    color: #ff9600;
    border-bottom: none;
}

.toggle-comments {
    text-decoration: none;
    color: #707070;
    border: 1px #cccccc solid;
    padding: 2px 8px;
    border-radius: 4px;
    display: inline-block;
    margin: 0 9px 50px 0;
    font-size: 16px;
}

.counters {
    position: absolute;
    right: 0;
}

#player {
    margin-top: 8px;
}
#player:after {
    display: table;
    content: "";
    clear: both;
}

#play {
    background: url(/static_new/js/jwplayer/skin/controlbar/player_azan_button.png) no-repeat center;
    border: none;
    display: block;
    width: 24px;
    height: 29px;
    float: left;
    cursor: pointer;
    outline: none;
}
#play.paused {
    background: url(/static_new/js/jwplayer/skin/controlbar/pauseButton.png) no-repeat center;
}

#volume {
    width: 225px;
    height: 5px;
    margin: 12px 0 0 7px;
    position: relative;
    cursor: pointer;
    float: left;
}

#volume:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #ebebeb;
}

#volume span {
    display: block;
    height: inherit;
    position: relative;
    z-index: 2;
    background-color: #ff9600;
    cursor: inherit;
}

.ask_form {
margin: 0 -50px 0 -50px;
    padding: 35px 50px;
    background: #f5f5f5;
}
.ask_form__header {
font-family: "Manrope Bold", sans-serif;
    font-size: 40px;
max-width: 700px;
margin-bottom: 20px;
}

.ask_form__text {
    font-family: "Manrope Regular", sans-serif;
    font-size: 14px;
max-width: 700px;
line-height: 28px;
margin-bottom: 20px;


}
.ask_form input {
height:50px;
width: 470px;
    font-family: "Manrope Regular", sans-serif;
    font-size: 24px;
    border: #e5e5e5 1px solid;
    border-radius: 4px;
margin-bottom: 19px;
padding: 0 18px;
}
.ask_form textarea {
height:257px;
width: 662px;
    font-family: "Manrope Regular", sans-serif;
    font-size: 24px;
    border: #e5e5e5 1px solid;
    border-radius: 4px;
margin-bottom: 19px;
padding: 9px 18px;

}

.ask_form input[type=checkbox] {
height:20px;
width: 20px;
    font-family: "Manrope Regular", sans-serif;
    font-size: 24px;
    border: #e5e5e5 1px solid;
    border-radius: 4px;
margin-bottom: 19px;
padding: 0 18px;
position: absolute;
    margin: 5px 2px;
}

.ask_form input[type=checkbox] + label  {
    font-family: "Manrope Light", sans-serif;
    font-size: 12px;
margin-left: 27px;
}

.ask_form button {
height:50pxpx;
width: 165px;
background: #ff9600;
color: #fff;
    font-family: "Manrope Regular", sans-serif;
    font-size: 24px;
    border: none;
    border-radius: 4px;
margin: 19px 0;
}
.ask_form__hide {
color: #000;
    text-decoration: none;
    position: absolute;
    right: 17px;
    top: 10px;
    font-size: 24px;
    font-family: "Manrope Bold", sans-serif;
}
.ask_form_opener {
    text-decoration: none;
    color: #000;
    border: 1px #000 solid;
    padding: 4px 8px;
    border-radius: 4px;
    margin: 50px 0 35px;
    display: inline-block;
}


.subscribe {
    height: 38px;
    padding: 15px 0;
}

.subscribe_button {
    float: right;
    background-image: none;
    background-color: rgb(52, 178, 158);
    background-position: 0% 0%;
    background-repeat: repeat;
    background-size: auto;
    border: none;
    height: 38px;
    position: absolute;
    top: 0;
    right: 0;
}

.subscribe_button span {
    font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

.subscribe_button span:before {
    content: '\00a0';
    display: inline-block;
    vertical-align: middle;
}

.subscribe_button span:after {
    content: '\00a0';
    display: inline-block;
    vertical-align: middle;
}

.subscribe_email {
    width: 100%;
}

.subscribe_email input {
    float: left;
    border: 1px solid #a3a3a3;
    background: 0 0;
    width: 100%;
    height: 38px;
    margin: 0;
    box-sizing: border-box;
    padding: 6px 8px;
}
.subscribe_label {
    font-size: 12px;
    font-weight: bold;
    color: #373737;
    line-height: 2;
    font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif;
}
.slider {
position: relative;
    /*height: 422px;*/
}

.slider:after {
    content: "";
    display: table;
    clear: both;
}
.slider li img,
.slider-nav li img{
width: 100%;
}

.flex-direction-nav {
position: relative;
}

.sidebar-calendar {
    padding: 0px 45px 5px 45px;
}
.sidebar-banner img {
display:block;
}

.p-error_container {
  margin-top: 88px;
}

.p-error {
  text-align: center;
}
.p-error .logo {
  margin: 0 auto;
}
.p-error .logo__image {
    display: block;
    width: 230px;
    height: 50px;
    margin: 0 auto;
}
.p-error .logo .logo__text {
  margin-top: 5px;
  font-size: 14px;
  line-height: 15px;
}
.p-error .p-error__num {
  margin: 110px 0 55px;
  font-size: 180px;
  line-height: 120px;
  color: #545558;
}
.p-error .p-error__help_link {
  margin: 1.5em 0 0;
}
.p-error .p-error__help_link a {
  color: #6699cc;
  text-decoration: underline;
}


.form-search {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding: 4px 14px 4px 4px;
  margin: 0;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  border-radius: 17px;
  background: #ebeae5;
}

.form-search .search-query {
    border: 0;
    margin-right: 2px;
    width: 257px;
    height: 24px;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
input.search-query {
    padding-right: 14px;
    padding-right: 4px \9;
    padding-left: 14px;
    padding-left: 4px \9;
    margin-bottom: 0;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
.form-search .process {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: middle;
}
.form-search .search-query::-webkit-input-placeholder {
  font-style: italic;
  color: #d3d1c7;
  opacity: 1;
}
.form-search .search-query:-moz-placeholder {
  /* Firefox 18- */
  font-style: italic;
  color: #d3d1c7;
  opacity: 1;
}
.form-search .search-query::-moz-placeholder {
  /* Firefox 19+ */
  font-style: italic;
  color: #d3d1c7;
  opacity: 1;
}
.form-search .search-query:-ms-input-placeholder {
  font-style: italic;
  color: #d3d1c7;
  opacity: 1;
}

.sprite-lens, .form-search .process {
    background-position: 0 -1970px;
    height: 18px;
    width: 16px;
}
.form-search input:focus {
outline: 0;
}
