{% extends ApplicationBundle ~ "::layout.html.twig" %}

{% block title %}{% if currentSection.meta.title is not empty %}{{ currentSection.meta.title }}{% else %}Ислам Видео{% endif %}{% endblock %}
{% block meta_descr %}{% if currentSection.meta.descr is not empty %}{{ currentSection.meta.descr }}{% else %}Самые разнообразные мусульманские видео материалы: лекции об исламе, проповеди, удивительные истории принятия Ислама.{% endif %}{% endblock %}
{% block meta_keywords %}{% if currentSection.meta.keywords is not empty %}{{ currentSection.meta.keywords }}{% else %}ислам видео, принявшие ислам видео, видео про ислам, ислам видео лекции, проповеди ислама видео{% endif %}{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('static/javascripts/vendor/fancyBox/source/jquery.fancybox.css') }}">
    <script type="text/javascript" src="/static/javascripts/vendor/fancyBox/source/jquery.fancybox.js"></script>

    <script type="text/javascript">
        jQuery(function() {
            jQuery("[rel='video-gallery']").fancybox({
                maxWidth	: 800,
                maxHeight	: 600,
                fitToView	: false,
                width		: '70%',
                height		: '70%',
                autoSize	: false,
                closeClick	: false,
                openEffect	: 'none',
                closeEffect	: 'none',
                arrows: false,
                helpers: {
                    overlay: {
                        locked: false
                    }
                },
                beforeLoad: function() {
                    var hash = $(this.element).attr('id');
                    location.hash = hash;
                },
                beforeClose: function() {
                    location.hash = '';
                }

            });

            if (location.hash.length != 0) {
                $('a'+location.hash).trigger('click');
            }

            $(window).on('hashchange', function() {
                if (location.hash.length != 0) {
                    $('a'+location.hash).trigger('click');
                }
            });
        });
    </script>
    <div class="container content">

        <div class="row">
            <div class="span9">
                <h3 class="page-header">Видео</h3>
                <div class="clearfix" style="margin: 18px 0">
                    <div class="tags_filter pull-left">
                        <div class="tags_filter__items">
                            <a class="tags_filter__item" href="{{ path('video') }}">Все</a>
                            {% for section in sections %}
                                <a class="tags_filter__item {% if currentSection == section %}active{% endif %}" href="{{ path('video_section', { section_path:section.path }) }}">{{ section.title }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="gallery_list" style="width: 720px;">

                    {% for video in pagination %}
                        <a class="fancybox.iframe gallery_list__item" rel="video-gallery" href="//www.youtube.com/embed/{{ video.videoId }}?autoplay=1" id="{{ loop.index }}_{{ video.videoId }}">
                            <img class="gallery_list__item__image" src="//img.youtube.com/vi/{{ video.videoId }}/mqdefault.jpg" />
                            <div class="gallery_list__item__title">{{ video.title }}</div>
                        </a>
                    {% endfor %}
                </div>

                {{ knp_pagination_render(pagination, ApplicationBundle ~ ':Pagination:default.html.twig') }}

            </div>

            <div class="span3">

                {% render(controller(ApplicationBundle ~ ':Default:recentNews')) %}
                {% render(controller(ApplicationBundle ~ ":Banners:right1")) %}

                {#<div class="panel_bordered sidebar_margin">#}
                    {#<div id="hypercomments_mix"></div>#}
                    {#<script type="text/javascript">#}
                        {#_hcwp = window._hcwp || [];#}
                        {#_hcwp.push({widget:"Mixstream", widget_id: 11350, template: "index", filter:"last",limit:5 ,default_filter:"last"});#}
                        {#(function() {#}
                            {#if("HC_LOAD_INIT" in window)return;#}
                            {#HC_LOAD_INIT = true;#}
                            {#var lang = (navigator.language || navigator.systemLanguage || navigator.userLanguage ||  "en").substr(0, 2).toLowerCase();#}
                            {#var hcc = document.createElement("script"); hcc.type = "text/javascript"; hcc.async = true;#}
                            {#hcc.src = ("https:" == document.location.protocol ? "https" : "http")+"://w.hypercomments.com/widget/hc/11350/"+lang+"/widget.js";#}
                            {#var s = document.getElementsByTagName("script")[0];#}
                            {#s.parentNode.insertBefore(hcc, s.nextSibling);#}
                        {#})();#}
                    {#</script>#}
                {#</div>#}

                <!-- Banner #4 -->
                <div class="iSlider" id="slider_01"></div>

                <!-- Banner #5 -->
                <div class="iSlider" id="slider_02"></div>
                <!-- Banner #6 -->
                {% render(controller(ApplicationBundle ~ ":Banners:right6")) %}

                {#<div class="panel_flat sidebar_margin">#}
                    {#<a href="http://www.irada.su" target="_blank"><img src="/static/banners/Banner_gif_01-13-4.gif" /></a>#}
                {#</div>#}
            </div>
        </div>

    </div>
{% endblock%}
