{% extends '::layout.html.twig' %}

{% block title %}Админка | Пазлы{% endblock %}
{% block body %}

<div ng-app="puzzle" ng-controller="puzzleCtrl">
	<center>
		<table>
			<tr>
				<td valign="top">
                    Поздравительный текст<br/>
					<input type="text" data-ng-model="congrat"/><br/>
                    Загрузить картинку<br/>
                    <input type="file" nv-file-select uploader="uploader" class="btn"/><br/>
                    Или вставить ссылку<br/>
                    <input type="text" id="puzzle-image" ng-model="image" ng-change="reWrite()"/><br/>
					<select ng-model="hor" required="required" ng-change="reWrite()">
						<option ng-repeat="x in arrQu" value"%%x%%">%%x%%</option>
					</select>
					<select ng-model="ver" required="required" ng-change="reWrite()">
						<option ng-repeat="x in arrQu" value"%%x%%">%%x%%</option>
					</select>
					<input type="button" class="btn" ng-click="reWrite()" value="Shuffle me" ng-disabled ="checked"/>
					<input type="checkbox" ng-model="checked">Tip!</input>
					<b><span id="countMoveNumber"></span></b>
					<br/>
					<span ng-model="finale" ng-show="finale"><center><b>%%congrat%%</b></center></span>
				</td>
			</tr>
			<tr>
				<td>
					<table ng-show="checked">
						<tr>
							<td>
								<table ng-show="checked">
									<tr>
										<td>
											<img ng-src="%%image%%" id="mozaicBgImage" ng-show="checked"/>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<table ng-hide="checked">
						<tr ng-repeat="(pIndex, paData) in trNumbersGoo" >
							<td ng-repeat="(inIndex, inData) in paData"
											ng-click="clickMy(pIndex, inIndex, inData)">
								<table>
									<tr>
										<td ng-style="getStyle(inData)"></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
<form action="./save/" method="post">
<textarea name="text" rows="30" cols="150" style="border:none;height:1px;margin:0;padding:0;overflow:hidden;">
<div id="copyToSite">
	<div ng-app="puzzle" ng-controller="puzzleCtrl">
		<table style="position: relative;">
			<tr>
				<td valign="top">
					<input type="button" ng-click="reWrite()" value="Shuffle me" ng-disabled ="checked"  class="shuffle"/>
					<input type="button" ng-model="checked">Tip!</input>
					<b><span id="countMoveNumber"></span></b>
					<br/>
					<span ng-model="finale" ng-show="finale" class="solved"><center><b>%%congrat%%</b></center></span>
				</td>
			</tr>
			<tr>
				<td>
					<table ng-show="checked">
						<tr>
							<td>
								<table ng-show="checked">
									<tr>
										<td>
											<img src="%%image%%" id="mozaicBgImage" ng-show="checked"/>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					<table ng-hide="checked">
						<tr ng-repeat="(pIndex, paData) in trNumbersGoo" >
							<td ng-repeat="(inIndex, inData) in paData"
											ng-click="clickMy(pIndex, inIndex, inData)">
								<table>
									<tr>
										<td ng-style="getStyle(inData)"></td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
	<link rel="stylesheet" type="text/css" href="css/styles.css"/>
	<script src="js/angular.min.js"></script>
	<script>
		var hor = %%hor%%;
		var ver = %%ver%%;
	</script>
	<script src="js/puzzleGameAnjiUser.js"></script>
</div>
</textarea>
    <br/>
    <button type="submit" class="btn">Создать статью</button>
</form>




	</center>


	<link rel="stylesheet" type="text/css" href="/bundles/scpuzzle/styles.css"/>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="/js/angular-file-upload.min.js"></script>
    {#<script src="/js/jquery.ui.widget.js"></script>#}
    {#<script src="/js/jquery.fileupload.js"></script>#}
    {#<script src="/js/jquery.fileupload-angular.js"></script>#}
    <script src="/bundles/scpuzzle/puzzleGameAnjiAdmin.js"></script>
</div>


{% endblock %}
