{% if articles is not empty %}
    <div class="panel_bordered sidebar_margin">
        <div class="panel_bordered__header">
            <div class="panel_bordered__header__title">популярные материалы</div>
        </div>

        <div class="w-blink w-popular">
        {% for article in articles %}
            {% set article_link %}
                {% if article.secondaryCategories[0].path is defined %}
                    {{ path('islam_today_sub_category_article', {category_path:article.primaryCategory.path, sub_category_path:article.secondaryCategories[0].path, article_path:article.path}) }}
                {% else %}
                    {{ path('islam_today_category_article', {category_path:article.primaryCategory.path, article_path:article.path}) }}
                {% endif %}
            {% endset %}
            {% set preview -%}
                {% render controller(ApplicationBundle ~':Preview:getUrl', {'article':article, 'typeId': 200}) %}
            {%- endset %}

            <div class="w-blink__items w-popular__items">
                <a href="{{ article_link }}" class="w-blink__item w-popular__item">
                    <img src="{{ preview }}" alt="{{ article.title }}" class="w-popular__item__image">
                                <span class="w-popular__item__text">
                                    {{ article.title }}
                                </span>
                </a>
            </div>
        {% endfor %}
        </div>
    </div>
{% endif %}