{% if articles is not empty %}
    <div class="b-related_articles">
        <div class="b-related_articles__heading">Читайте также</div>
        {% include '@IslamTodayApplication/New/Default/article_list.html.twig' with {'pagination' : articles} %}
    </div>
{% endif %}
