{% if articles is not empty %}
    <div class="article__more">
        <div class="article__more__heading">Смотрите также:</div>

        <ul class="article__more__list">
            {% for article in articles %}
                {% set article_link %}
                {% if article.secondaryCategories[0].path is defined %}
                    {{ path('islam_today_sub_category_article', {category_path:article.primaryCategory.path, sub_category_path:article.secondaryCategories[0].path, article_path:article.path}) }}
                {% else %}
                    {{ path('islam_today_category_article', {category_path:article.primaryCategory.path, article_path:article.path}) }}
                {% endif %}
                {% endset %}
                <li><a href="{{ article_link }}">{{ article.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endif %}