{% extends "@IslamTodayApplication/New/layout.html.twig" %}

{% block title %}{% if article.meta.title is not empty %}{{ article.meta.title }}{% else %}{{ article.title }}{% endif %}{% endblock %}
{% block meta_descr %}{% spaceless %}{% if article.meta.descr is not empty %}{{ article.meta.descr }}{% else %}{{ article.flatContent.flatContent | raw | striptags | slice(0, 200) }}{% endif %}{% endspaceless %}{% endblock %}
{% block meta_keywords %}{% if article.meta.keywords is not empty %}{{ article.meta.keywords }}{% endif %}{% endblock %}
{% block og %}
    <meta property="og:title" content="{{ article.title }}"/>
    <meta property="og:type" content="article"/>
    {#<meta property="og:url" content="https://islam-today.ru{{ path(app.request.attributes.get('_route'),     app.request.attributes.get('_route_params')) }}"/>#}
    <meta property="og:image" content="{{ articleImage }}"/>
    <meta property="og:description" content="{{ article.shortAnounce }}"/>

    <meta property="twitter:title" content="{{ article.title }}"/>
    <meta property="twitter:description" content="{{ article.shortAnounce }}"/>
    <meta property="twitter:card" content="summary_large_image"/>
    <meta property="twitter:image" content="{{ articleImage }}"/>
    <meta property="twitter:url" content="{{ app.request.uri }}"/>
{% endblock %}

{% block content %}
    <style>
        blockquote {
            padding: 5px 5px 5px 15px;
            margin: 0 0 20px;
            border-left: 5px solid #9bbfd4;
            background: #dee9ef;
            border-color: #9bbfd4;
            font-size: 19px;
            font-style: italic;
        }
    </style>
    <div class="main">
        {%- set article_link -%}
            {% if article.secondaryCategories[0].path is defined %}
                {{ path('islam_today_sub_category_article', {category_path:article.primaryCategory.path, sub_category_path:article.secondaryCategories[0].path, article_path:article.path}) }}
            {% else %}
                {{ path('islam_today_category_article', {category_path:article.primaryCategory.path, article_path:article.path}) }}
            {% endif %}
        {%- endset -%}
        <link href="http://m.islam-today.ru{{ article_link }}" rel="alternate">

        {% if article.secondaryCategories[0].id == 87 %}
            {% include 'IslamTodayApplicationBundle:Question:ask_form.html.twig' with {"text":"Мы предоставляем возможность нашим читателям поддерживать обратную связь с редакцией Islam-today. Авторитетные религиозные деятели специально для читателей сайта дают ответы на вопросы религиозного характера."} %}
        {% endif %}
        {% if article.primaryCategory.id == 21 %}
            {% include 'IslamTodayApplicationBundle:Question:ask_form.html.twig' with {"text":"Мы предоставляем возможность нашим читателям поддерживать обратную связь с редакцией Islam-today. Опытные психологи специально для читателей сайта дают ответы на ваши вопросы."} %}
        {% endif %}

        <div class="breadcrumbs">
            <a href="{{ path('islam_today_category', {category_path:article.primaryCategory.path}) }}">{{ article.primaryCategory.title }}</a>
            {% if article.secondaryCategories[0].path is defined %}
                / <a href="{{ path('islam_today_sub_category', {category_path:article.primaryCategory.path, sub_category_path:article.secondaryCategories[0].path}) }}">{{ article.secondaryCategories[0].title }}</a>
            {% endif %}
        </div>



        <div class="article">

            <div class="article__header">
                <h1 class="article__header">{{ article.title }}</h1>
                <div class="article__indicators">
                    <div class="article__date">{{ article.publishedAt | date('H:i') }} , {{ article.publishedAt | format_date('dd MMMM YYYY') }} </div>
                    <div class="article_indicator_views">{{ article.getViewCnt.cnt }}</div>
                </div>
            </div>


            <div class="article__text">
                {{ article.flatContent.flatContent | raw }}
            </div>

            <div class="article_poll">
                {% for question in article.questions %}
                    {{ render(controller('SCPollBundle:Default:vote', {'id': question.id} )) }}
                {% endfor %}
                {% if (article.questions | length) > 0 %}
                <div id="test-results-block" style="display:none;">
                    <div id="test-results"></div>
                    <button id="test-reset" data-id="{{ article.id }}">Начать заново</button>
                </div>
                {% endif %}
                {{ render(controller('SCPollBundle:Default:getIncludesFront', {"id": article.id })) }}
            </div>

            {{ render(controller('CrosswordBundle:Crossword:getCrossword', {article:article})) }}
            {{ render(controller('SCPuzzleBundle:Default:getPuzzle', {article:article})) }}

            {% if article.tags is not empty %}
                <div class="article__tags">
                    {#<span class="article__tags__title">Метки:</span>#}
                    <span class="article__tags__items">
                        {% for tag in article.tags %}
                            {% if tag.path is not empty %}
                                <a href="{{ path('islam_today_category', {category_path:tag.path}) }}">{{ tag.title }}</a>
                            {% endif %}
                        {% endfor %}
                  </span>
                </div>
            {% endif %}

            <div class="article__tags__items" style="font-size: 12px; margin-top: 15px;">Если вы нашли ошибку, выделите текст и нажмите Ctrl + Enter.</div>
            <script type="text/javascript" src="/static/javascripts/orp.js"></script>

            {{ render(controller("SCBannersBundle:Default:getBanner", {id: 8, style: 'text-align:center;', class:"baner" })) }}
        </div>

        {{ render(controller('IslamTodayApplicationBundle:Common:socialShare')) }}

        {{ render(controller('IslamTodayApplicationBundle:Articles:related', {excludeId: article.id})) }}

        {#        {{ render(controller("SCBannersBundle:Default:getBanner", {id: 9, style: 'text-align:center;', class:"baner" })) }}#}

        <a href="http://cackle.me" class="toggle-comments">Комментарии для сайта <b style="color:#4FA3DA">Cackl</b><b style="color:#F65077">e</b></a>
        <div class="comments" style="width:620px;height:0;overflow:hidden;">
            <div id="mc-container"></div>
            <script type="text/javascript">
                cackle_widget = window.cackle_widget || [];
                cackle_widget.push({widget: 'Comment', id: 29657});
                (function () {
                    var mc = document.createElement('script');
                    mc.type = 'text/javascript';
                    mc.async = true;
                    mc.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cackle.me/widget.js';
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(mc, s.nextSibling);
                })();
            </script>
            {#            <a id="mc-link" href="http://cackle.ru">Социальные комментарии <b style="color:#4FA3DA">Cackl</b><b style="color:#F65077">e</b></a>#}
        </div>
        {#        {{ render(controller("SCBannersBundle:Default:getBanner", {id: 10, style: 'text-align:center;', class:"baner" })) }}#}
    </div>
{% endblock %}
{% block rightSidebar %}{% endblock %}
