{% extends "@IslamTodayApplication/New/layout.html.twig" %}

{% block title %}{{ tag.title }} – полная информация на «Ислам сегодня»{% endblock %}

{% block meta_descr %}Все самое интересное на тему {{ tag.title }}. Самые актуальные статьи и новости на портале «Ислам сегодня».{% endblock %}
{% block meta_keywords %}{% endblock %}

{% block content %}

    <div class="main">
        {% if category.id == 87 %}
            {% include 'IslamTodayApplicationBundle:Question:ask_form.html.twig' with {"text":"Мы предоставляем возможность нашим читателям поддерживать обратную связь с редакцией Islam-today. Авторитетные религиозные деятели специально для читателей сайта дают ответы на вопросы религиозного характера."} %}
        {% endif %}
        {% if category.id == 21 %}
            {% include 'IslamTodayApplicationBundle:Question:ask_form.html.twig' with {"text":"Мы предоставляем возможность нашим читателям поддерживать обратную связь с редакцией Islam-today. Опытные психологи специально для читателей сайта дают ответы на ваши вопросы."} %}
        {% endif %}

        {% if tag is defined %}
            <h1 class="article__header">{{ tag.title }} – все новости и статьи по теме</h1>
        {% endif %}
        {% if category is defined %}
            <div class="breadcrumbs">
                <a href="{{ path('islam_today_category', {category_path:category.path}) }}">{{ category.title }}</a>
                {% if sub_category.path is defined %}
                    / <span>{{ sub_category.title }}</span>
                {% endif %}
            </div>
        {% endif %}

        {% include '@IslamTodayApplication/New/Default/article_list.html.twig' with {'pagination':pagination} %}

        {{ knp_pagination_render(pagination, 'IslamTodayApplicationBundle:Pagination:default.html.twig') }}

        {% if (sub_category.descr is defined) %}
            {% if (sub_category.descr is not empty) %}
                <div class="article article__smaller" style="margin-top: 65px;">
                    <div class="article__text text-grayed" id="text">
                        {{ sub_category.descr | raw }}
                    </div>
                </div>
            {% endif %}
        {% else %}
            {% if (category.descr is defined) and (category.descr is not empty) %}
                <div class="article article__smaller" style="margin-top: 65px;">
                    <div class="article__text text-grayed" id="text">
                        {{ category.descr | raw }}
                    </div>
                </div>
            {% endif %}
        {% endif %}

    </div>
{% endblock %}
{% block rightSidebar %}{% endblock %}
